@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/login2\.less}line{font-family:\000035}}
html,
body {
  width: 100%;
  height: 100%;
  min-height: 300px;
  min-width: 400px;
  font-family: 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', '黑体', Arial, sans-serif;
  font-size: 14px;
  background: #000000;
}
/******************************************导航**************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/login2\.less}line{font-family:\0000315}}
#navibar {
  height: 10%;
  color: white;
  border-bottom: 1px solid #444;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/login2\.less}line{font-family:\0000319}}
#navibar .navbar-header {
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/login2\.less}line{font-family:\0000322}}
#navibar div.navbar-header h1 {
  color: #FFF;
  margin: 0!important;
  height: 100%;
  line-height: 60px;
  font-size: 32px;
  font-family: '宋体 Bold';
}
/*******************************************登陆框*****************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/login2\.less}line{font-family:\0000332}}
.wrapper {
  width: 100%;
  height: 84%;
  background: url('../../images/poi/main/login_bg.png') no-repeat 99% center;
  background-size: 60% 110%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/login2\.less}line{font-family:\0000338}}
.left_part,
.right_part {
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/login2\.less}line{font-family:\0000342}}
.company-logo {
  background: -webkit-linear-gradient(left top, #ff0000, #0000ff);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(bottom right, #ff0000, #0000ff);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(bottom right, #ff0000, #0000ff);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to bottom right, #ff0000, #0000ff);
  /* 标准的语法（必须放在最后） */
  background-repeat: no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/login2\.less}line{font-family:\0000350}}
.login {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 400px;
  height: 300px;
  padding: 25px;
  background: #1a1a1a;
  border-radius: 10px;
  /*background-image:-webkit-linear-gradient(to bottom, #666666, #1a1a1a);*/
  /*background-image:linear-gradient(to bottom,#666666,#1a1a1a);*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/login2\.less}line{font-family:\0000364}}
.login .company-logo {
  height: 60px;
  padding: 10px 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/login2\.less}line{font-family:\0000368}}
.login button {
  background: #fff;
  color: black;
  font-weight: bold;
  font-size: 14px;
  opacity: 1!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/login2\.less}line{font-family:\0000376}}
.checkbox {
  color: white;
  letter-spacing: 1px;
}
/*****************************************底部**************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/login2\.less}line{font-family:\0000381}}
footer.bs-docs-footer {
  text-align: center;
  line-height: 40px;
  border-top: 1px solid #333;
  background-color: rgba(0, 0, 0, 0.78);
  color: white;
  height: 6%;
}
