html, body {
    width: 100%;
    height: 100%;
    min-width: 800px;
    /*min-height: 768px;*/
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "黑体", Arial, sans-serif;
}
.navbar-top {
    border-radius: 0px;
    margin-bottom: 10px;
}
.navbar-header a.logo {
    width: 300px;
    background: url("img/navi_logo.png") no-repeat center center;
}
.navbar-header span.platform {
    width: 150px;
    font-size: 24px;
}
.navbar-header span.system {
    padding-left: 0px;
}
.leftDiv{
    position: absolute;
    margin: 0;
    width: 38px;
    height: 100%;
    /*background-color: #1C2B36;*/
    /*border: 1px solid #e0e0e0;*/
    z-index:1000;

}
/*.leftDiv div a:visited{*/
   /*background-color: #1C2B36;*/
/*}*/
.rightDiv{
    position: absolute;
    padding: 0 0 0 20px;
    height: 100%;
    width: 100%;
    border: 1px solid #e0e0e0;
    z-index: 1;

}
.fragDiv {
    /*border-top: 1px solid #843534;*/
    /*height: 16%;*/
}
 #toolsDiv{
    cursor: move;
}

.clearfix:after{
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    /* 触发 hasLayout */
    zoom: 1;
}
#nav {
    width: 55px;
    background-color: #f4f5f6;
    overflow: hidden;
    height: 100%;
    z-index: 9999;
}
#nav li {
    position: relative;
    box-sizing: border-box;
    width: 20px;
    height: 55px;
    padding-top: 7px;
    text-align: center;
    cursor: pointer;
}
#nav .dirico {
    display: inline-block;
    width: 18px;
    height: 20px;
    /*margin: 0 18.5px;*/
}
.transit {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
#nav li .nav-txt {
    font-size: 12px;
    line-height: 12px;
    height: 12px;
    color: #737475;
}
#map{
    background-color: #F5F5F7;
}
.turnRight {
    background-image: url('../css/img/right.png');
}
.turnLeft{
    background-image: url('../css/img/left.png');
}
.fieldsLayer{
    background: url('button/fileds.png') no-repeat;
    width: 38px;
    height: 38px;
}
.referenceLayer{
    background: url('button/reference.png') no-repeat;
    width: 38px;
    height: 38px;
}
.divider-vertical {
  background: url('img/divideLine.png') no-repeat;
    width: 30px;
    height: 30px;
}