@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\0000321}}
body,
html {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\0000326}}
.wrapper {
  animation: bg-show 2s;
  -moz-animation: bg-show 2s;
  /* Firefox */
  -webkit-animation: bg-show 2s;
  /* Safari 和 Chrome */
  -o-animation: bg-show 2s;
  /* Opera */
}
/*********************rewrite default style**************************/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\0000333}}
strong {
  font-size: 60px;
  font-weight: 500;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\0000338}}
h1,
h2 {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 100;
  color: #555;
  line-height: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\0000345}}
h3 {
  font-size: 22px;
  font-weight: 700;
  color: #555;
  line-height: 30px;
}
/*************************login wrap box*************************/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\0000353}}
.wrapper .text {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\0000355}}
.wrapper .text h1 {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\0000359}}
.wrapper .description {
  margin: 20px 0 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\0000361}}
.wrapper .description p {
  opacity: 0.8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\0000367}}
.form-top {
  overflow: hidden;
  padding: 0 25px 0px 25px;
  background: #fff;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\0000374}}
.form-top-left {
  float: left;
  width: 75%;
  padding-top: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\0000378}}
.form-top-left h3 {
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\0000382}}
.form-top-right {
  float: left;
  width: 25%;
  padding-top: 20px;
  font-size: 66px;
  color: #4aaf51;
  line-height: 100px;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\0000391}}
input[type="text"],
input[type="password"],
textarea,
textarea.form-control {
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 50px;
  margin: 0;
  padding: 0 20px;
  vertical-align: middle;
  background: #f8f8f8;
  border: 3px solid #ddd;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 50px;
  color: #888;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\00003110}}
.form-bottom {
  padding: 25px 40px 30px 40px;
  background: #eee;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\00003115}}
.form-bottom form button.btn {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\00003118}}
.form-bottom form .input-error {
  border-color: #4aaf51;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\00003122}}
.warn-info {
  color: red;
  padding: 4px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\00003127}}
button.btn {
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 50px;
  margin: 0;
  padding: 0 20px;
  vertical-align: middle;
  background: #4aaf51;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 50px;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\00003143}}
.social-login h3 {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\00003146}}
.social-login-buttons {
  text-align: center;
  margin-top: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\00003150}}
.social-login-buttons span {
  color: white;
  font-size: 16px;
}
/************************* Media queries *************************/
@media (min-width: 768px) and (max-width: 991px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\00003162}}
  strong {
    font-size: 38px;
  }
}
@media (max-width: 767px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\00003168}}
  strong {
    font-size: 38px;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\00003171}}
  h1,
  h2 {
    font-size: 18px;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\00003172}}
  h3 {
    font-size: 18px;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\00003174}}
  .form-top-right {
    font-size: 38px;
  }
}
@media (max-width: 415px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\00003180}}
  strong {
    font-size: 28px;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\00003183}}
  h1,
  h2 {
    font-size: 14px;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\00003184}}
  h3 {
    font-size: 12px;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\00003186}}
  .form-top-right {
    font-size: 22px;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\00003190}}
  .form-top-left p {
    display: none;
  }
}
/************************** backstrecth style **************************/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\00003196}}
.backstretch {
  height: 100%;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\00003200}}
.backstretch img {
  -webkit-filter: blur(1px);
}
/******************* the transition effect for wrapper *******************/
@keyframes bg-show {
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\00003206}}
  from {
    opacity: 0;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Code\/WebApp\/less\/newlogin\.less}line{font-family:\00003207}}
  to {
    opacity: 1;
  }
}
