<div class="tab-pane" ng-controller="generalDataListCtrl">
    <div class="tab-header form-inline">
        <div class="btn-group btn-group-justified">
            <label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'workWait'" ng-click="">待作业</label>
            <label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'submitWait'" ng-click="">待提交</label>
            <label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'submitDone'" ng-click="">已提交</label>
        </div>
    </div>

    <div class="boot-Table">
        <div class="table-header">
            <div style="margin: 10px" class="btn-group pull-right">
                <button class="btn btn-default" type="button" name="refresh" ng-click="refreshData()" title="刷新"><i class="glyphicon glyphicon-refresh icon-refresh"></i></button>
                <div class="btn-group dropdown" uib-dropdown auto-close="outsideClick">
                    <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="true">
                        <i class="glyphicon glyphicon-th icon-th"></i> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
                        <li ng-repeat="item in cols" role="menuitem"><label style="padding: 3px 20px;"><input type="checkbox" value="{{item.field}}" ng-model='item.show'> {{item.title}}</label></li>
                    </ul>
                </div>
            </div>
            <div class="btn-group pull-right input-group" style="margin: 10px 0">
                <div class="btn-group dropdown" uib-dropdown>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="true">
                            {{radio_select}} <span class="caret"></span>
                        </button>
                    </span>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
                        <li ng-model="radio_select" uib-btn-radio="'全局搜索'" role="menuitem"><a href="#">全局搜索</a></li>
                        <li ng-repeat="item in cols" ng-show="item.show" ng-model="$parent.radio_select" uib-btn-radio="'{{item.title}}'" role="menuitem"><a href="#">{{item.title}}</a></li>
                    </ul>
                </div>
                <div class="pull-right search">
                    <input ng-model="search_text" class="form-control" type="text" placeholder="关键词搜索...">
                </div>
            </div>
        </div>
        <table ng-table-dynamic="tableParams with cols" ng-table="tableParams" class="table table-bordered table-striped">
            <tbody>
                <tr ng-repeat="row in $data">
                    <td ng-repeat="col in $columns" ng-bind-html="col.getValue?col.getValue(this,row):row[col.field]"></td>
                </tr>
                <tr style="text-align: center" ng-show="!$data.length"><td colspan="13">没有一条数据!!!</td></tr>
            </tbody>
        </table>
    </div>

</div>