<div class="fm-component" ng-controller="zoneLinkController">
    <div class="title">
        Zone线
        <span class="label label-info">{{zoneLinkData.pid}}</span>
    </div>
    <div class="content scroll-styled dark" style="height:90%;">
        <form name="zoneLinkForm">
            <div class="fm-panel">
                <div class="content">
                    <ul class="fm-ul fm-ul-form">
                        <li>
                            <div><label>种别</label></div>
                            <div>
                                <select ng-model="zoneLinkData.kind"
                                        ng-options="value.id as value.label for value in kind">
                                </select>
                            </div>
                        </li>
                        <li>
                            <div><label>形态</label></div>
                            <div>
                                <select ng-model="zoneLinkData.form"
                                        ng-options="value.id as value.label for value in form">
                                </select>
                            </div>
                        </li>
                        <li>
                            <div><label>比例尺</label></div>
                            <div>
                                <select ng-model="zoneLinkData.scale"
                                        ng-options="value.id as value.label for value in scale" disabled="disabled">
                                </select>
                            </div>
                        </li>
                        <li>
                            <div><label>图幅号</label></div>
                            <div>
                                <input type="text" ng-model="zoneLinkData.meshId" disabled="disabled">
                            </div>
                        </li>
                        <li>
                            <div><label>Link长度</label></div>
                            <div class="form-inline">
                                <input type="text" ng-model="zoneLinkData.length" disabled="disabled">m
                                <!--<label>&nbsp;m</label>-->
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>