<div class="fm-component" ng-controller="zoneFaceController">
    <div class="title">
        Zone面
        <span class="label label-info">{{zoneFaceData.pid}}</span>
    </div>
    <div class="content scroll-styled dark" style="height:90%;">
        <form name="zoneFaceForm">
            <div class="fm-panel">
                <div class="title">
                    <div>基础属性</div>
                </div>
                <div class="content">
                    <ul class="fm-ul fm-ul-form">
                        <li>
                            <div><label>区划号码</label></div>
                            <div>
                                <input type="text" class="fm-control" ng-model="zoneFaceData.regionId"
                                       disabled="disabled">
                            </div>
                        </li>
                        <li>
                            <div><label>图幅号</label></div>
                            <div>
                                <input type="text" class="fm-control" ng-model="zoneFaceData.meshId"
                                       disabled="disabled">
                            </div>
                        </li>
                        <li>
                            <div><label>面积</label></div>
                            <div>
                                <input type="text" class="fm-control" ng-model="zoneFaceData.area" disabled="disabled"
                                       >㎡
                                <!--<label style="font-size: 18px">&nbsp;㎡</label>-->
                            </div>
                        </li>
                        <li>
                            <div><label>周长</label></div>
                            <div>
                                <input type="text" class="fm-control" ng-model="zoneFaceData.perimeter"
                                       disabled="disabled">m
                                <!--<label style="font-size: 16px"></label>-->
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>

