body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:31px;
  top:30px;
  width:269px;
  height:350px;
}
#u0_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:279px;
  height:360px;
}
#u1 {
  position:absolute;
  left:2px;
  top:167px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:37px;
  top:270px;
  width:248px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:48px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:31px;
  top:64px;
  width:269px;
  height:43px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:43px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:75px;
  top:72px;
  width:70px;
  height:28px;
  font-size:12px;
  color:#1E1E1E;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:45px;
  top:38px;
  width:76px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u9 {
  position:absolute;
  left:0px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:35px;
  top:312px;
  width:260px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:243px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:260px;
  height:1px;
}
#u11 {
  position:absolute;
  left:209px;
  top:38px;
  width:76px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u12 {
  position:absolute;
  left:0px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:45px;
  top:146px;
  width:240px;
  height:25px;
  font-size:14px;
  color:#000000;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
}
#u14 {
  position:absolute;
  left:0px;
  top:4px;
  width:240px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:45px;
  top:117px;
  width:240px;
  height:26px;
  font-size:14px;
  color:#000000;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:26px;
}
#u16 {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:45px;
  top:171px;
  width:250px;
  height:26px;
  font-size:14px;
  color:#000000;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:26px;
}
#u18 {
  position:absolute;
  left:0px;
  top:5px;
  width:250px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:45px;
  top:199px;
  width:250px;
  height:26px;
  font-size:14px;
  color:#000000;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:26px;
}
#u20 {
  position:absolute;
  left:0px;
  top:5px;
  width:250px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:180px;
  top:72px;
  width:70px;
  height:28px;
  font-size:12px;
  color:#1E1E1E;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:200px;
  top:322px;
  width:50px;
  height:50px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u24 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:74px;
  top:324px;
  width:50px;
  height:50px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u26 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:52px;
  top:338px;
  width:12px;
  height:18px;
  color:#999999;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:18px;
}
#u28 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:132px;
  top:339px;
  width:12px;
  height:18px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:18px;
}
#u30 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:279px;
  top:33px;
  width:18px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
