<style type="text/css">
    .carTypeTip > .form-group > .btn-group > label {
        transition: all 0.5s;
        padding: 5px;
        border-radius: 0;
    }

    .arrow_right {
        position: absolute;
        background: url('../../../scripts/libs/timepicki/images/top_arr_dark.png') no-repeat;
        width: 18px;
        height: 10px;
        z-index: 3;
        right: -14px;
        top: 100px;
        transform: rotate(90deg);
    }
    .carTypeTip {
        width: 270px;
        display: none;
        padding: 10px;
        padding-bottom: 0;
        margin-top: 10px;
        /*border: 1px solid #FFF;*/
        box-shadow: 1px 1px 10px 0 #080808;
        background-color: #555;
        opacity: 1;
        font-size: 12px;
        color: #fff;
        border-radius: 3px;
        position: absolute;
        z-index: 1070;
        text-decoration: none;
        text-shadow: none;
        text-transform: none;
        letter-spacing: normal;
        word-break: normal;
        word-spacing: normal;
        word-wrap: normal;
        white-space: normal;
        -webkit-transition: margin .15s ease-in-out;
        -moz-transition: margin .15s ease-in-out;
    }

    .line-date {
        margin: auto -10px;
    }

    .slide-well {
        border: 1px solid #ddd;
        padding: 10px 5px;
        border-radius: 3px;
        background-color: #494949;
        height:200px;
        overflow-y: auto;
    }

    .date-well {
        width: 100%;
        border: 1px solid #FFF;
        border-radius: 4px;
        color: #FFF !important;
        font-size: 12px;
    }

    .date-title {
        font-size: 12px;
        margin: 2px;
    }

    .date-head {
        color: #FFF;
        padding: 4px;
        width: 100%;
    }
    .date-head a{
        color: #FFF;
        text-decoration: inherit;
    }
    .date-body {
        color: #FFF;
    }

    .input-group-btn > .icon-btn {
        height: 34px;
    }
    .full-width > label{
        background-color: #333;
        color: #FFF;
    }
    .time-select > .input-group > .seleted-span-addon {
        background-color: #FFFFFF;
        border: 0;
        padding: 0;
    }

    .datepicker thead tr:first-child th:hover, .datepicker tfoot tr th:hover {
        color: #000;
    }

    .datepicker table tr td.day:hover, .datepicker table tr td.day.focused {
        color: #000;
    }

    .datepicker table tr td span:hover {
        color: #000;
    }



    #carDiv::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background: transparent;
    }
    #carDiv::-webkit-scrollbar:hover {
        background: transparent;
    }
    #carDiv::-webkit-scrollbar-track {
        background: none;
    }
    #carDiv::-webkit-scrollbar-thumb {
        background: rgba(0,0,0,.18);
        border-color: transparent;
        width: 6px;
        border-radius: 3px;
    }
    #carDiv::-webkit-scrollbar-thumb:hover {
        background: rgba(0,0,0,.25);
    }
    #carDiv::-webkit-scrollbar-track:hover {
        background: transparent;
    }

    #checkallow{
        margin-top:3px;
    }

</style>
<div class="date-well" ng-controller="TollCarTypeController">
    <div class="date-head">
        <h3 class="date-title pull-left">车辆类型</h3>
        <div class="pull-right" style="display:inline-flex;color: #fff">
            <a style="cursor: pointer;"  ng-click="showPopover($event)">添加</a>
            <input  type="checkbox" id="checkallow" ng-model="checkValue" ng-checked="checkValue" ng-click="checkViche()" >允许
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="date-body">
        <div class="date-list" ng-repeat="item in carData">
            <div style="color:#ffffff;padding: 5px;" ng-bind="item.label">
            </div>
        </div>
    </div>
    <div class="carTypeTip" style="display: none;">
        <div class="pull-left" style="margin-top: -8px;color: #FFF;">车辆类型</div>
        <div class="pull-right" style="margin-top: -10px;">
            <button type="button" class="close" aria-label="Close" ng-click="hidePopover(this);"
                    style="color: #fff;opacity: 1;margin-top: -4px;margin-right: -8px;">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="clearfix"></div>
        <div class="line line-date"></div>
        <div class="form-group fix-time slide-well" id="carDiv" >
            <li ng-repeat="item in vehicleOptions" style=" list-style: none;color:#ffffff;">
            <input tabindex="1" style="float:right;margin-right: 10px" type="checkbox"
                   ng-checked="item.checked"
                   ng-click="carSelect(item,$event)"/>{{item.label}}
            </li>
        </div>
        <div class='arrow_right'>
        </div>
    </div>
</div>