<div ng-controller="TollGatePassageCtl">
    <div class="fm-component" >
        <div class="content" ng-repeat="passage in tollGateInfo.passages track by $index">
            <form>
              <div class="date-body">
                当收费方式为"ETC"时,不允许设置其他方式
              </div>
                <ul class="fm-ul fm-ul-form">
                    <li style="padding: 10px" ng-if="tollGateInfo.type == 0 ||tollGateInfo.type == 2 ||tollGateInfo.type == 3 ||tollGateInfo.type == 4 || tollGateInfo.type == 5 ||tollGateInfo.type == 6 ||tollGateInfo.type == 7">
                        <label>收费方式</label>
                        <div style="border-radius: 4px" class="block">
                            <label ng-repeat="(key, value) in chargeWay[$index]" class="col-md-5">
                                <input title="value.label" ng-checked="value.checked" fm-edit-view type="checkbox" value="{{value.id}}"
                                      ng-model="value.checked" ng-click="selectChargeType($parent.$index,value)"> {{value.label | limitTo : 3}}
                            </label>
                        </div>
                    </li>

                    <li ng-if="tollGateInfo.type == 1 ||tollGateInfo.type  == 8 ||tollGateInfo.type  == 9 ||tollGateInfo.type  == 10">
                        <label>领卡类型</label>
                        <div>
                            <select ng-model="passage.cardType" ng-change="changeCardType();" class="fm-control"
                                    ng-options="value.id as value.label for value in cardTypeObj">
                            </select>
                        </div>
                    </li>
                    <li>
                        <div class="date-well full-width">
                            <div class="date-head">
                                <label>车辆类型</label>
                                <div class="pull-right" style="display:inline-flex;color: #fff">
                                    <a style="cursor: pointer;"  ng-click="showPopover($event,$index)">添加</a>
                                    <input  type="checkbox" id="checkallow" ng-model="checkValue" ng-checked="isAllowed[$index]" ng-click="changeAllowed($index)" >允许
                                </div>
                            </div>
                            <div class="date-body full-width">
                                <div class="date-list col-md-6" ng-repeat="item in carData[$index] track by $index">
                                    <div ng-style="{'color':{true: 'blue', false: 'red'}[isAllowed[$parent.$index]]}" style="padding: 5px;" ng-bind="item.label"></div><i ng-style="{'color':{true: 'blue', false: 'red'}[isAllowed[$parent.$index]]}" style="cursor: pointer" class="glyphicon glyphicon-remove-circle" ng-click="carSelect(item)"></i>
                                </div>
                                <div class="clearfix"></div>
                                <div class="line"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <div class="carTypeTip tooltip-container" style="display: none;">
        <div class="pull-left" style="margin-top: -8px;color: #FFF;">车辆类型</div>
        <div class="pull-right" style="margin-top: -10px;">
            <button type="button" class="close" aria-label="Close" ng-click="closePopover($event);"
                    style="color: #fff;opacity: 1;margin-top: -4px;margin-right: -8px;">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="clearfix"></div>
        <div class="line line-date"></div>
        <div class="form-group fix-time tooltip-slide-well dark scroll-styled" id="carDiv" >
            <li ng-repeat="item in vehicleOptions" style=" list-style: none;color:#ffffff;">
                <input tabindex="1" style="float:right;margin-right: 10px" type="checkbox"
                       ng-checked="item.checked"
                       ng-click="carSelect(item,$event)"/>{{item.label}}
            </li>
        </div>
        <div class='tooltip-arrow-right'></div>
    </div>
</div>
