<div ng-controller="TollGateCtl">
    <div class="fm-component" >
        <div class="title">
            收费站
            <span class="label label-info">{{tollGateData.pid}}</span>
        </div>
        <div class="content">
            <div class="attr-img-container" ng-if="tollGateData.passages.length > 0">
                <img ng-src="../../../images/road/img/noimg.png" ng-if="!tollGateData.etcFigureCode" class="attr-img-show">
                <img ng-src="../../../images/road/etc/{{tollGateData.etcFigureCode}}.png" ng-if="tollGateData.etcFigureCode" class="attr-img-show">
                <!--<div class="picMapDesc" ng-bind="tollGateData.etcFigureCode"></div>-->
            </div>
            <form>
                <ul class="fm-ul fm-ul-form">
                    <li>
                        <label>进入线</label>
                        <div >
                            <input type="text" readonly class="fm-control  chosen-disabled" disabled ng-model="tollGateData.inLinkPid"/>
                        </div>
                    </li>
                    <li>
                        <label>进入点</label>
                        <div>
                            <input type="text" readonly class="fm-control chosen-disabled" disabled ng-model="tollGateData.nodePid"/>
                        </div>
                    </li>
                    <li>
                        <label>退出线</label>
                        <div>
                            <input type="text" readonly class="fm-control chosen-disabled" disabled ng-model="tollGateData.outLinkPid"/>
                        </div>
                    </li>
                    <li>
                        <label>通道总数</label>
                        <div>
                            <input type="text" readonly class="fm-control" ng-model="tollGateData.passageNum"/>
                        </div>
                    </li>
                    <li>
                        <label>ETC代码</label>
                        <div>
                            <input type="text" readonly ng-model="tollGateData.etcFigureCode" >
                        </div>
                    </li>
                    <li>
                        <label>收费类型</label>
                        <div>
                            <select ng-model="tollGateData.type" class="fm-control" ng-change="changeChargeType();"
                                    ng-options="value.id as value.label for value in tollTypeObj">
                            </select>
                        </div>
                    </li>
                    <li>
                        <label>是否跨省</label>
                        <div>
                            <label ng-repeat="(key, value) in locationFlagObj">
                                <input type="radio" value="{{key}}" ng-model="tollGateData.locationFlag"> {{value}}
                            </label>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
        <div class="content">
            <ul class="list-group list-group-lg m-b-none">
                <li class="list-group-item">
                    <div class="list-name">
                        <a ng-click="addItem('name')" class="fm-cursor">名称（共 {{nameGroup.length}} 组）</a>
                    </div>
                    <div class="list-add-icon" ng-click="addItem('name');">
                      <i class="glyphicon glyphicon-plus-sign"></i>
                    </div>
                    <div class="list-line"></div>
                </li>
                <li class="list-group-item">
                  <ul ng-repeat="namesItem in nameGroup | orderBy:'nameGrouppid'" class="list-group child-list-ul list-group-lg m-b-none">
                    <li class="list-group-item" ng-repeat="item in namesItem | orderBy:'nameId'">
                      <label class="control-label fm-cursor" ng-click="showDetail('name',$index ,namesItem,item.nameGroupid);" ng-bind="item.name"></label>
                      <i class="glyphicon glyphicon-remove-circle" ng-click="removeItem($index,'name',item)"></i>
                    </li>
                  </ul>
                </li>
            </ul>
        </div>
        <div class="content">
            <ul class="list-group list-group-lg m-b-none">
                <li class="list-group-item">
                    <div class="list-name">
                        <a ng-click="addItem('passage')" class="fm-cursor">通道信息（共 {{tollGateData.passages.length}} 条）</a>
                    </div>
                    <div class="list-line"></div>
                </li>
                <li class="list-group-item" ng-repeat="passagesItem in tollGateData.passages">
                    <label class="control-label fm-cursor" ng-click="showDetail('passage',$index);" ng-bind="cardTypeObj[passagesItem.cardType].name"></label>
                    <i class="glyphicon glyphicon-remove-circle" ng-click="removeItem($index,'passage')"></i>
                </li>
            </ul>
        </div>
    </div>
</div>
