
<div id="namesOfCrossDiv" ng-controller="namesController">
    <form name="nameCrossForm">
    <ul  class="list-group list-group-lg m-b-none" style="margin-bottom: 5px">

        <li class="list-group-item">
            <div><label class="control-label">名称组号</label></div>
            <div class="inline"><input type="text" ng-model="oridiData.nameGroupid" disabled/></div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">代码语言</label></div>
            <div class="inline">
                <select  ng-model="oridiData.langCode"
                        ng-options="value.id as value.label for value in langCodeOptions">
                </select>
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <label class="control-label">名称内容</label>
            </div>
            <div class="inline">
                <input type="text" ng-model="oridiData.name" ng-blur="diverName(oridiData.nameGroupid,oridiData.name)">
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">名称发音</label></div>
            <div class="inline"><input type="text" ng-model="oridiData.phonetic"></div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">名称来源</label></div>
            <div class="radio inline" style="text-align: left">
                <label>
                    <input type="radio" name="originOfName{{$index}}" value=0 ng-model="oridiData.srcFlag">
                    未定义
                </label>
                <label>
                    <input type="radio" name="originOfName{{$index}}" value=1 ng-model="oridiData.srcFlag">
                    翻译
                </label>
            </div>
        </li>
    </ul>
    </form>
</div>