<div class="fm-component" ng-controller="rdCrossController">
    <div class="title">
        道路路口
        <span class="label label-info">{{rdCrossData.pid}}</span>
    </div>
    <div class="content scroll-styled dark" style="height:90%;">
        <form name="rdCrossForm">
            <div class="fm-panel">
                <div class="content">
                    <ul class="fm-ul fm-ul-form">
                        <li>
                            <label class="control-label">信号灯</label>
                            <div class="radio inline" style="text-align: left">
                                <label>
                                    <input type="radio" name="crossOrMan" value=0 ng-model="rdCrossData.signal">
                                    无
                                </label>
                                <label>
                                    <input type="radio" name="crossOrMan" value=1 ng-model="rdCrossData.signal">
                                    路口
                                </label>
                                <label>
                                    <input type="radio" name="crossOrMan" value=2 ng-model="rdCrossData.signal">
                                    行人
                                </label>
                            </div>
                        </li>
                        <li>
                            <label class="control-label">路口类型</label>
                            <div class="radio inline" style="text-align: left">
                                <label>
                                    <input type="radio" name="easyOrHard" value=0 ng-model="rdCrossData.type">
                                    简单
                                </label>
                                <label>
                                    <input type="radio" name="easyOrHard" value=1 ng-model="rdCrossData.type">
                                    复合
                                </label>
                            </div>
                        </li>
                        <li>
                            <label class="control-label">电子眼</label>
                            <div class="radio inline" style="text-align: left">
                                <label>
                                    <input type="radio" name="electRoeye" value=0 ng-model="rdCrossData.electroeye">
                                    未调查
                                </label>
                                <label>
                                    <input type="radio" name="electRoeye" value=1 ng-model="rdCrossData.electroeye">
                                    无
                                </label>
                                <label>
                                    <input type="radio" name="electRoeye" value=2 ng-model="rdCrossData.electroeye">
                                    有
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="fm-panel">
                <div class="title">
                    <div>组成Link（共 <span ng-bind="rdCrossData.links.length">0</span> 条）</div>
                </div>
                <div class="content">
                    <ul class="fm-ul fm-ul-form" ng-repeat="cItem in rdCrossData.links">
                        <li>
                            <label>Link{{$index+1}}号码</label>
                            <div>
                                <input type="text" class="fm-control" ng-model="cItem.linkPid" disabled/>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="fm-panel">
                <div class="title">
                    <div>组成Node（共 <span ng-bind="rdCrossData.nodes.length">0</span> 条）</div>
                </div>
                <div class="content">
                    <ul class="fm-ul fm-ul-form" ng-repeat="cItem in rdCrossData.nodes">
                        <li ng-if="cItem.isMain == 1">
                            <label>主点号码</label>
                            <div>
                                <input type="text" class="fm-control chosen-disabled" ng-model="cItem.nodePid" disabled/>
                            </div>
                        </li>
                        <li ng-if="cItem.isMain == 0">
                            <label>Node{{$index+1}}号码</label>
                            <div>
                                <input type="text" class="fm-control" ng-model="cItem.nodePid" disabled/>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="fm-panel">
                <div class="content">
                    <ul class="list-group list-group-lg m-b-none">
                        <li class="list-group-item">
                            <div class="list-name">
                                <a ng-click="addItem('name')" class="fm-cursor">名称（共 {{nameGroup.length}} 组）</a>
                            </div>
                            <div class="list-add-icon" ng-click="addItem('name');">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                            </div>
                            <div class="list-line"></div>
                        </li>
                        <li class="list-group-item">
                            <ul ng-repeat="namesItem in nameGroup | orderBy:'nameGrouppid'" class="list-group child-list-ul list-group-lg m-b-none">
                                <li class="list-group-item" ng-repeat="item in namesItem">
                                    <label class="control-label fm-cursor" ng-click="showCrossNames($index ,namesItem,item.nameGroupid);" ng-bind="item.name"></label>
                                    <i class="glyphicon glyphicon-remove-circle" ng-click="removeItem($index,item)"></i>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

        </form>
    </div>
</div>
