body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:53px;
  width:302px;
  height:377px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:377px;
}
#u1 {
  position:absolute;
  left:2px;
  top:180px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:495px;
  top:53px;
  width:305px;
  height:241px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:241px;
}
#u3 {
  position:absolute;
  left:2px;
  top:112px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
