<div class="fm-component" ng-controller="electronicEyeCtl">
    <div class="title">
        电子眼PID
        <span class="label label-info">{{electronicEyeData.pid}}</span>
    </div>
    <div class="content scroll-styled dark" style="height:90%;">
        <div class="fm-panel">
            <div class="content">
                <ul class="fm-ul fm-ul-form">
                    <li>
                        <label class="control-label">关联线</label>
                        <div>
                            <input type="text" class="chosen-disabled" disabled ng-model="electronicEyeData.linkPid"/>
                        </div>
                    </li>
                    <li>
                        <label class="control-label">来源标识</label>
                        <div>
                            <select ng-model="electronicEyeData.srcFlag" class="chosen-disabled"
                                    ng-options="value.id as value.label for value in srcFlagOption" disabled>
                            </select>
                        </div>
                    </li>
                    <li>
                        <label class="control-label">电子眼方位</label>
                        <div>
                            <label>
                                <input type="checkbox" ng-checked="electronicEyeData.locationLeft == 1" ng-click="changeLocationLeft();">
                                左
                            </label>
                            <label>
                                <input type="checkbox" ng-checked="electronicEyeData.locationRight == 1" ng-click="changeLocationRight();">
                                右
                            </label>
                            <label>
                                <input type="checkbox" ng-checked="electronicEyeData.locationTop == 1" ng-click="changeLocationTop();">
                                上
                            </label>
                        </div>
                    </li>
                    <li>
                        <label class="control-label">电子眼类型</label>
                        <div>
                            <select ng-model="electronicEyeData.kind"
                                    ng-options="value.id as value.label for value in elecEyeType" ng-change="changeElecType(electronicEyeData.kind);">
                            </select>
                        </div>
                    </li>
                    <li>
                        <label class="control-label">作用方向</label>
                        <div>
                            <select ng-model="electronicEyeData.direct"
                                    ng-options="value.id as value.label for value in directArray">
                            </select>
                        </div>
                    </li>
                    <li>
                        <label class="control-label">限速值</label>
                        <div>
                            <input type="text" ng-model="electronicEyeData.speedLimit" ng-class="{true:'chosen-disabled'}[!electronicEyeData.isSpeedlimit]" ng-if="electronicEyeData.isSpeedlimit" placeholder="千米/小时" objectmodel="electronicEyeData.speedLimit" maxlength="5" fm-input-control/>
                        </div>
                    </li>
                    <li>
                        <label class="control-label">违章高发地</label>
                        <div>
                            <label>
                                <input type="radio" value=0 ng-class="{true:'chosen-disabled'}[electronicEyeData.highViolation !=0]" ng-model="electronicEyeData.highViolation" disabled>
                                未调查
                            </label>
                            <label>
                                <input type="radio" value=1 ng-class="{true:'chosen-disabled'}[electronicEyeData.highViolation !=1]" ng-model="electronicEyeData.highViolation" disabled>
                                是
                            </label>
                            <label>
                                <input type="radio" value=2 ng-class="{true:'chosen-disabled'}[electronicEyeData.highViolation !=2]" ng-model="electronicEyeData.highViolation" disabled>
                                否
                            </label>
                        </div>
                    </li>
                    <li>
                        <label class="control-label" style="top:-12px;position:relative;">验证标识</label>
                        <div>
                            <label>
                                <input type="radio" value=0 ng-model="electronicEyeData.verifiedFlag">
                                未验证
                            </label>
                            <label>
                                <input type="radio" value=1 ng-model="electronicEyeData.verifiedFlag">
                                验证正确
                            </label>
                            <label>
                                <input type="radio" value=2 ng-model="electronicEyeData.verifiedFlag">
                                验证错误
                            </label>
                        </div>
                    </li>
                    <li>
                        <label class="control-label">照射角度</label>
                        <div>
                            <input type="text" ng-model="electronicEyeData.angle" class="chosen-disabled" disabled/>
                        </div>
                    </li>
                    <li>
                        <label class="control-label">图幅号码</label>
                        <div>
                            <input type="text" ng-model="electronicEyeData.meshId" class="chosen-disabled" disabled/>
                        </div>
                    </li>
                    <li>
                        <label class="control-label">创建日期</label>
                        <div>
                            <input type="text" class="chosen-disabled" ng-model="electronicEyeData.creationDate" disabled/>
                        </div>
                    </li>
                    <li>
                        <label class="control-label">电子眼坐标</label>
                        <div>
                            ({{electronicEyeData.geometry.coordinates.join(',')}})
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="fm-panel" ng-if="electronicEyeData.parts.length != 0">
            <div class="d-box-title">配对关系</div>
            <span class="d-title-icon" ng-click="deletePairBond();">
                <i class="glyphicon glyphicon-remove-sign"></i>
            </span>
            <div class="content">
                <ul class="fm-ul fm-ul-form">
                    <li>
                        <label class="control-label">配对组号</label>
                        <div>
                            <input type="text" class="chosen-disabled" ng-model="electronicEyeData.parts[0].groupId" disabled/>
                        </div>
                    </li>
                    <li>
                        <label class="control-label">电子眼号</label>
                        <div>
                            <input type="text" style="width:80%;" class="chosen-disabled" ng-model="elecPartPid" disabled/>
                            <span class="glyphicon glyphicon-map-marker fm-cursor" ng-click="findPartElecLocation(elecPartPid);" title="点击查询该电子眼信息"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
