<style>
    #pedestrianDiv {
        border: 1px solid #FBFBFB;
    }

</style>
<div id="pedestrianDiv">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal" method="get">
                <div class="form-group">
                    <label class="col-sm-4 control-label">DICI城市类型</label>

                    <div class="col-sm-8">
                        <div class="radio">
                            <label>
                                <input type="radio" name="diciTypeRadio" value="0" ng-model="naviData.diciType">
                                不应用
                            </label>
                            <label>
                                <input type="radio" name="diciTypeRadio" value="1" ng-model="naviData.diciType">
                                全要素
                            </label>
                            <label>
                                <input type="radio" name="diciTypeRadio" value="2" ng-model="naviData.diciType">
                                简化版
                            </label>
                        </div>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">人行便道标记</label>

                    <div class="col-sm-8">
                        <div class="radio">
                            <label>
                                <input type="radio" name="sideWalkFlagRadio" value="0" ng-model="naviData.sideWalkFlag">
                                未采集
                            </label>
                            <label>
                                <input type="radio" name="sideWalkFlagRadio" value="1" ng-model="naviData.sideWalkFlag">
                                有
                            </label>
                            <label>
                                <input type="radio" name="sideWalkFlagRadio" value="2" ng-model="naviData.sideWalkFlag">
                                无
                            </label>
                        </div>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">人行阶梯标记</label>

                    <div class="col-sm-8">
                        <div class="radio">
                            <label>
                                <input type="radio" name="walkStairFlagRadio" value="0"
                                       ng-model="naviData.walkStairFlag">
                                未采集
                            </label>
                            <label>
                                <input type="radio" name="walkStairFlagRadio" value="1"
                                       ng-model="naviData.walkStairFlag">
                                有
                            </label>
                            <label>
                                <input type="radio" name="walkstairFlagRadio" value="2"
                                       ng-model="naviData.walkStairFlag">
                                无
                            </label>
                        </div>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">行人步行</label>

                    <div class="col-sm-8">
                        <div class="radio">
                            <label>
                                <input type="radio" name="walkFlagRadio" value="0" ng-model="naviData.walkFlag">
                                未调查
                            </label>
                            <label>
                                <input type="radio" name="walkFlagRadio" value="1" ng-model="naviData.walkFlag">
                                允许
                            </label>
                            <label>
                                <input type="radio" name="walkFlagRadio" value="2" ng-model="naviData.walkFlag">
                                禁止
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel-group" id="sideWalk" style="margin: 0px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    人行便道
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#sideWalkDiv">
                        <span class="glyphicon glyphicon-chevron-down" style="float: left"></span>
                    </a>
                    <span class="glyphicon glyphicon-minus-sign"
                          style="float: right;color: rgb(255, 0, 0);"
                          ng-click="minusSideWalk()" ></span>
                    <span class="glyphicon glyphicon-plus-sign"
                          style="float: right;color: rgb(255, 0, 0);"
                          ng-click="addSideWalk()"></span>
                </h4>

            </div>
            <div id="sideWalkDiv" class="panel-collapse collapse">
                <div class="panel-body" style="min-height: 100px;height:300px;overflow-y: auto;">
                    <div ng-if="naviData.sideWalkData!=null||naviData.sideWalkData!=undefined">
                        <form class="form-horizontal" method="get">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">位置关系</label>

                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="naviData.sideWalkData.sidewalkLoc">
                                        <option value="0">无</option>
                                        <option value="1">右侧</option>
                                        <option value="2">中间</option>
                                        <option value="3">右侧+中间</option>
                                        <option value="4">左侧</option>
                                        <option value="5">右侧+左侧</option>
                                        <option value="6">左侧+中间</option>
                                        <option value="7">右侧+左侧+中间</option>
                                        <option value="8">混合</option>
                                    </select>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">隔离方式</label>

                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="naviData.sideWalkData.dividerType">
                                        <option value="0">未调查</option>
                                        <option value="1">高度差隔离(马路涯)</option>
                                        <option value="2">物理栅栏隔离</option>
                                        <option value="3">划线隔离</option>
                                        <option value="4">无隔离</option>
                                    </select>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">作业方向</label>

                                <div class="col-sm-9">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="workDirRadio" value="0"
                                                   ng-model="naviData.sideWalkData.workDir">
                                            未调查
                                        </label>
                                        <label>
                                            <input type="radio" name="workDirRadio" value="1"
                                                   ng-model="naviData.sideWalkData.workDir">
                                            顺
                                        </label>
                                        <label>
                                            <input type="radio" name="workDirRadio" value="2"
                                                   ng-model="naviData.sideWalkData.workDir">
                                            逆
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">处理标识</label>

                                <div class="col-sm-9">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="processFlagRadio" value="0"
                                                   ng-model="naviData.sideWalkData.processFlag">
                                            程序赋
                                        </label>
                                        <label>
                                            <input type="radio" name="processFlagRadio" value="1"
                                                   ng-model="naviData.sideWalkData.processFlag">
                                            手工赋
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">采集标识</label>

                                <div class="col-sm-9">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="captureFlagRadio" value="0"
                                                   ng-model="naviData.sideWalkData.captureFlag">
                                            未采集
                                        </label>
                                        <label>
                                            <input type="radio" name="captureFlagRadio" value="1"
                                                   ng-model="naviData.sideWalkData.captureFlag">
                                            外业确认
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="humanLadder" style="margin: 0px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    人行阶梯
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#humanLadderDiv">
                        <span class="glyphicon glyphicon-chevron-down" style="float: left"></span>
                    </a>
                    <span class="glyphicon glyphicon-minus-sign"
                          style="float: right;color: rgb(255, 0, 0);"
                          ng-click="minusStairWalk()"></span>
                    <span class="glyphicon glyphicon-plus-sign"
                          style="float: right;color: rgb(255, 0, 0);"
                          ng-click="addStairWalk()"></span>
                </h4>

            </div>
            <div id="humanLadderDiv" class="panel-collapse collapse">
                <div class="panel-body" style="min-height: 100px;height:300px;overflow-y: auto;">
                    <div ng-if="naviData.walkStairData!=null||naviData.walkStairData!=undefined">
                        <form class="form-horizontal" method="get">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">位置关系</label>

                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="naviData.walkStairData.stairLoc">
                                        <option value="0">无</option>
                                        <option value="1">右侧</option>
                                        <option value="2">中间</option>
                                        <option value="3">右侧+中间</option>
                                        <option value="4">左侧</option>
                                        <option value="5">右侧+左侧</option>
                                        <option value="6">左侧+中间</option>
                                        <option value="7">右侧+左侧+中间</option>
                                    </select>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">升降标识</label>

                                <div class="col-sm-9">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="stairFlagRadio" value="0"
                                                   ng-model="naviData.walkStairData.stairFlag">
                                            未调查
                                        </label>
                                        <label>
                                            <input type="radio" name="stairFlagRadio" value="1"
                                                   ng-model="naviData.walkStairData.stairFlag">
                                            上坡
                                        </label>
                                        <label>
                                            <input type="radio" name="stairFlagRadio" value="2"
                                                   ng-model="naviData.walkStairData.stairFlag">
                                            下坡
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">作业方向</label>

                                <div class="col-sm-9">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="workDirRadio" value="0"
                                                   ng-model="naviData.walkStairData.workDir">
                                            未调查
                                        </label>
                                        <label>
                                            <input type="radio" name="workDirRadio" value="1"
                                                   ng-model="naviData.walkStairData.workDir">
                                            顺
                                        </label>
                                        <label>
                                            <input type="radio" name="workDirRadio" value="2"
                                                   ng-model="naviData.walkStairData.workDir">
                                            逆
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">采集标识</label>

                                <div class="col-sm-9">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="captureFlagRadio" value="0"
                                                   ng-model="naviData.walkStairData.captureFlag">
                                            未采集
                                        </label>
                                        <label>
                                            <input type="radio" name="captureFlagRadio" value="1"
                                                   ng-model="naviData.walkStairData.captureFlag">
                                            外业确认
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
