
<style>
    #pedestrianDiv {
        border: 1px solid #FBFBFB;
    }

</style>
<div id="pedestrianDiv">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal" method="get">
                <div class="form-group">
                    <label class="col-sm-4 control-label">人行便道标记</label>

                    <div class="col-sm-8">
                        <div class="radio">
                            <label>
                                <input type="radio" name="trailerLimited" value="limited" ng-model="formData.limited">
                                未采集
                            </label>
                            <label>
                                <input type="radio" name="trailerLimited" value="limit" ng-model="formData.limit">
                                有
                            </label>
                            <label>
                                <input type="radio" name="trailerLimited" value="limit" ng-model="formData.limit">
                                无
                            </label>
                        </div>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">人行阶梯标记</label>

                    <div class="col-sm-8">
                        <div class="radio">
                            <label>
                                <input type="radio" name="trailerLimited" value="limited" ng-model="formData.limited">
                                未采集
                            </label>
                            <label>
                                <input type="radio" name="trailerLimited" value="limit" ng-model="formData.limit">
                                有
                            </label>
                            <label>
                                <input type="radio" name="trailerLimited" value="limit" ng-model="formData.limit">
                                无
                            </label>
                        </div>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">行人步行</label>

                    <div class="col-sm-8">
                        <div class="radio">
                            <label>
                                <input type="radio" name="trailerLimited" value="limited" ng-model="formData.limited">
                                未调查
                            </label>
                            <label>
                                <input type="radio" name="trailerLimited" value="limit" ng-model="formData.limit">
                                允许
                            </label>
                            <label>
                                <input type="radio" name="trailerLimited" value="limit" ng-model="formData.limit">
                                禁止
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel-group" id="sideWalk" style="margin: 0px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                   人行便道
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#sideWalkDiv">
                        <span class="glyphicon glyphicon-chevron-down" style="float: left"></span>
                    </a>
                    <span class="glyphicon glyphicon-minus-sign" style="float: right;color: rgb(255, 0, 0);"></span>
                    <span class="glyphicon glyphicon-plus-sign" style="float: right;color: rgb(255, 0, 0);"></span>
                </h4>

            </div>
            <div id="sideWalkDiv" class="panel-collapse collapse">
                    <div class="panel-body" style="min-height: 100px;height:300px;overflow-y: auto;">
                        <form class="form-horizontal" method="get">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">位置关系</label>

                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="">
                                        <option value="0">无</option>
                                        <option value="1">右侧</option>
                                        <option value="2">中间</option>
                                        <option value="3">右侧+中间</option>
                                        <option value="4">左侧</option>
                                        <option value="5">右侧+左侧</option>
                                        <option value="6">左侧+中间</option>
                                        <option value="7">右侧+左侧+中间</option>
                                        <option value="8">混合</option>
                                    </select>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">隔离方式</label>

                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="">
                                        <option value="0">未调查</option>
                                        <option value="1">高度差隔离(马路涯)</option>
                                        <option value="2">物理栅栏隔离</option>
                                        <option value="3">划线隔离</option>
                                        <option value="4">无隔离</option>
                                    </select>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">作业方向</label>

                                <div class="col-sm-9">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="officalOrAlias" value="officalName"
                                                   ng-model="formData.officalName">
                                            未调查
                                        </label>
                                        <label>
                                            <input type="radio" name="upperOrLower" value="aliasName"
                                                   ng-model="formData.aliasName">
                                            顺
                                        </label>
                                        <label>
                                            <input type="radio" name="upperOrLower" value="noName"
                                                   ng-model="formData.noName">
                                            逆
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">处理标识</label>

                                <div class="col-sm-9">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="upperOrLower" value="upper"
                                                   ng-model="formData.upper">
                                            程序赋
                                        </label>
                                        <label>
                                            <input type="radio" name="upperOrLower" value="lower"
                                                   ng-model="formData.lower">
                                            手工赋
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">采集标识</label>

                                <div class="col-sm-9">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="upperOrLower" value="upper"
                                                   ng-model="formData.upper">
                                            未采集
                                        </label>
                                        <label>
                                            <input type="radio" name="upperOrLower" value="lower"
                                                   ng-model="formData.lower">
                                            外业确认
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="humanLadder" style="margin: 0px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                   人行阶梯
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#humanLadderDiv">
                        <span class="glyphicon glyphicon-chevron-down" style="float: left"></span>
                    </a>
                    <span class="glyphicon glyphicon-minus-sign" style="float: right;color: rgb(255, 0, 0);"></span>
                    <span class="glyphicon glyphicon-plus-sign" style="float: right;color: rgb(255, 0, 0);"></span>
                </h4>

            </div>
            <div id="humanLadderDiv" class="panel-collapse collapse">
                    <div class="panel-body" style="min-height: 100px;height:300px;overflow-y: auto;">
                        <form class="form-horizontal" method="get">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">位置关系</label>

                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="">
                                        <option value="0">无</option>
                                        <option value="1">右侧</option>
                                        <option value="2">中间</option>
                                        <option value="3">右侧+中间</option>
                                        <option value="4">左侧</option>
                                        <option value="5">右侧+左侧</option>
                                        <option value="6">左侧+中间</option>
                                        <option value="7">右侧+左侧+中间</option>
                                    </select>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">升降标识</label>

                                <div class="col-sm-9">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="officalOrAlias" value="officalName"
                                                   ng-model="formData.officalName">
                                            未调查
                                        </label>
                                        <label>
                                            <input type="radio" name="upperOrLower" value="aliasName"
                                                   ng-model="formData.aliasName">
                                            上坡
                                        </label>
                                        <label>
                                            <input type="radio" name="upperOrLower" value="noName"
                                                   ng-model="formData.noName">
                                            下坡
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">作业方向</label>

                                <div class="col-sm-9">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="upperOrLower" value="upper"
                                                   ng-model="formData.upper">
                                            未调查
                                        </label>
                                        <label>
                                            <input type="radio" name="upperOrLower" value="lower"
                                                   ng-model="formData.lower">
                                            顺
                                        </label>
                                        <label>
                                            <input type="radio" name="upperOrLower" value="lower"
                                                   ng-model="formData.lower">
                                            逆
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">采集标识</label>

                                <div class="col-sm-9">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="upperOrLower" value="upper"
                                                   ng-model="formData.upper">
                                            未采集
                                        </label>
                                        <label>
                                            <input type="radio" name="upperOrLower" value="lower"
                                                   ng-model="formData.lower">
                                            外业确认
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>
