
<style>
    #realTimeDiv {
        border: 1px solid #FBFBFB;
    }
</style>
<div id="realTimeDiv">
    <div class="panel-group" id="wideRTIC" style="margin: 0px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    互联网RTIC信息（共1条）
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#wideRTICDiv">
                        <span class="glyphicon glyphicon-chevron-down" style="float: left"></span>
                    </a>
                    <span class="glyphicon glyphicon-minus-sign" style="float: right;color: rgb(255, 0, 0);"></span>
                    <span class="glyphicon glyphicon-plus-sign" style="float: right;color: rgb(255, 0, 0);"></span>
                </h4>

            </div>
            <div id="wideRTICDiv" class="panel-collapse collapse">
                <div class="panel-body" style="min-height: 100px;height:300px;overflow-y: auto;">
                    <form class="form-horizontal" method="get">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">RTIC代码</label>

                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="submit" class="btn btn-default">新增</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">RTIC等级</label>

                            <div class="col-sm-9">
                                <select class="form-control" ng-model="">
                                    <option value="0">无</option>
                                    <option value="1">高速</option>
                                    <option value="2">城市高速</option>
                                    <option value="3">干线道路</option>
                                    <option value="4">其他道路</option>
                                </select>
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">RTIC方向</label>

                            <div class="col-sm-9">
                                <select class="form-control" ng-model="">
                                    <option value="0">无</option>
                                    <option value="1">顺方向</option>
                                    <option value="2">逆方向</option>
                                </select>
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">上下行 标识</label>

                            <div class="col-sm-9">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="upperOrLower" value="upper"
                                               ng-model="formData.upper">
                                        上行
                                    </label>
                                    <label>
                                        <input type="radio" name="upperOrLower" value="lower"
                                               ng-model="formData.lower">
                                        下行
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">RTIC域类型</label>

                            <div class="col-sm-9">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="upperOrLower" value="upper"
                                               ng-model="formData.upper">
                                        狭域
                                    </label>
                                    <label>
                                        <input type="radio" name="upperOrLower" value="lower"
                                               ng-model="formData.lower">
                                        中域
                                    </label>
                                    <label>
                                        <input type="radio" name="upperOrLower" value="lower"
                                               ng-model="formData.lower">
                                        广域
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="carRTIC" style="margin: 0px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    车厂RTIC信息（共1条）
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#carRTICDiv">
                        <span class="glyphicon glyphicon-chevron-down" style="float: left"></span>
                    </a>
                    <span class="glyphicon glyphicon-minus-sign" style="float: right;color: rgb(255, 0, 0);"></span>
                    <span class="glyphicon glyphicon-plus-sign" style="float: right;color: rgb(255, 0, 0);"></span>
                </h4>

            </div>
            <div id="carRTICDiv" class="panel-collapse collapse in">
                <div class="panel-body" style="min-height: 100px;height:300px;overflow-y: auto;">
                    <form class="form-horizontal" method="get">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">RTIC代码</label>

                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="submit" class="btn btn-default">新增</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">RTIC等级</label>

                            <div class="col-sm-9">
                                <select class="form-control" ng-model="">
                                    <option value="0">无</option>
                                    <option value="1">高速</option>
                                    <option value="2">城市高速</option>
                                    <option value="3">干线道路</option>
                                    <option value="4">其他道路</option>
                                </select>
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">RTIC方向</label>

                            <div class="col-sm-9">
                                <select class="form-control" ng-model="">
                                    <option value="0">无</option>
                                    <option value="1">顺方向</option>
                                    <option value="2">逆方向</option>
                                </select>
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">上下行 标识</label>

                            <div class="col-sm-9">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="upperOrLower" value="upper"
                                               ng-model="formData.upper">
                                        上行
                                    </label>
                                    <label>
                                        <input type="radio" name="upperOrLower" value="lower"
                                               ng-model="formData.lower">
                                        下行
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">RTIC域类型</label>

                            <div class="col-sm-9">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="upperOrLower" value="upper"
                                               ng-model="formData.upper">
                                        狭域
                                    </label>
                                    <label>
                                        <input type="radio" name="upperOrLower" value="lower"
                                               ng-model="formData.lower">
                                        中域
                                    </label>
                                    <label>
                                        <input type="radio" name="upperOrLower" value="lower"
                                               ng-model="formData.lower">
                                        广域
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
