<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>FastMap道路编辑系统</title>

    <link rel="stylesheet" type="text/css" href="js/lib/bootstrap-3.3.5/css/bootstrap.css"/>
    <link rel="stylesheet" href="js/lib/ui-layout/ui-layout.css">
    <link rel="stylesheet" href="js/lib/ng-table/1.0.0/ng-table.css">
    <link rel="stylesheet" href="js/lib/leaflet-0.7.3/leaflet.css">
    <link rel="stylesheet" type="text/css" href="js/lib/timepicki/css/timepicki.css">
    <link rel="stylesheet" type="text/css" href="js/lib/bootstrap-datepicker/css/datepicker3.css">
    <link rel="stylesheet" type="text/css" href="js/lib/sweet-alert/css/sweet-alert.css">
    <link rel="stylesheet" type="text/css" href="js/lib/icheck-1.x/skins/all.css">
    <link rel="stylesheet" href="css/editor.css">
    <script src="js/lib/leaflet-0.7.3/leaflet-src.js"></script>
    <script src="js/fastmap/fastmapapi.js"></script>
</head>
<body ng-controller="RoadEditController">
<div ui-layout="{flow:'row',dividerSize:'0'}" ui-layout-loaded>
    <div id="fm-topContainer" ui-layout-container size="50px">
        <div class="fm-navi-brand">
            <a href="#">
                <strong>FastMap 道路编辑系统</strong>
            </a>
        </div>
        <div class="fm-navi-left">
            <ul id="fm-navi-tabControl">
                <li><a ng-class="{1:'selected'}[isTipsPanel]" ng-click="changeLeftDisplay('tipsPanel')">成果</a></li>
                <li><a ng-class="{2:'selected'}[isTipsPanel]" ng-click="changeLeftDisplay('scenePanel')">场景</a></li>
                <li><a ng-class="{3:'selected'}[isTipsPanel]" ng-click="changeLeftDisplay('layerPanel')">图层</a></li>
            </ul>
        </div>
        <ul class="fm-navi-right" style="width:auto">
            <li class="fm-message-normal">
                <a href="#" title="登陆人员" class="" style="color:#fff">admin <span class="lnk-message">5</span><i
                        id="arrow"></i></a>

                <div class="userInfo">
                    <div style="border-bottom: 1px solid #e5e5e5;padding:10px;">
                        <img src="css/img/header.png" style="width: 32px;height: 32px">
                    </div>
                    <div style="border-bottom: 1px solid #e5e5e5;padding:10px; ">
                        <ul>
                            <li><a href="#">个人资料</a></li>
                            <li><a href="#">消息中心<span style="color:red">（5）</span></a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <a href="selectPro.html" title="返回" class="glyphicon glyphicon-share" style="color:#fff;top: -1px;"></a>
            </li>
            <li>
                <a href="login.html" title="退出" class="glyphicon glyphicon-log-out" style="color:#fff;top: -1px;"></a>
            </li>
        </ul>
    </div>
    <div ui-layout-container>
        <div ui-layout="{flow:'column',dividerSize:'0',disableToggle:true}">
            <div class="fm-panel-layersURL dark scroll-styled" ui-layout-container size="250px" min-size="250px" id="test" style="padding: 2px 0px;">
                <div ng-include="layersURL"></div>
            </div>
            <div ui-layout-container>
                <div ui-layout="{flow:'row',dividerSize:'0'}">
                    <div ui-layout-container id="map" style="background-color:#FFF;width: 100%;height: 100%;position: absolute;"></div>
                    <div id="toolsDiv" style="left:5px;top:5px;height: 40px;position: absolute;z-index:100;background-color: transparent">
                        <div class="btn-toolbar" style="margin-left: 0px">
                            <div ng-include="selectShapeURL" style="float: left"></div>
                            <div style="float: left"><span class="divider-vertical"></span></div>
                            <div ng-include="addShapeURL" style="float: left;"></div>
                            <div id="modifyToolsDiv" ng-include="modifyToolURL" style="float: left"></div>
                        </div>
                    </div>
                </div>
                <div ng-class="{true:'suspend',false:'suspend_hide'}[suspendFlag]">
                    <div  style="margin-top: -20px"><span class="glyphicon glyphicon-remove-sign" style="color: #ffffff;cursor: pointer" ng-click="changeSuspendShow()"></span></div>

                    <div  ng-include="suspendObjURL" class="scroll-styled" style="overflow-y: auto;height: 100%;">
                    </div>
                </div>

                <div ng-class="{false:'fm-panel-sm',true:'fm-panel'}[panelFlag]" style="overflow: hidden;">
                    <div ng-class="{true:'fm-panel-arrow',false:'fm-panel-arrow-jy'}[arrowFlag]" class="output-console" style="display: none">
                        <a class="fm-panel-controlArrowLeftAndRight" ng-click="changeWidthOfPanel()" href="#"
                           style="position: absolute;top: 50%;margin-top: -20px;cursor: pointer;">
                            <span></span>
                        </a>
                    </div>
                    <div style="padding-left: 15px;height: 100%;">
                        <div ng-include="objectEditURL" class="scroll-styled" ng-class="{true:'fm-panel-object',false:'fm-panel-object-jz'}[objectFlag]">
                        </div>
                        <div style="width: 290px;bottom: 0px;position:absolute;border-color: #e7e7e7;z-index:10 ">
                            <div id="fm-attrOption-btnGroup" class="btn-group btn-group-justified output-console" style="margin-top: 10px;display: none;" role="group" aria-label="...">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-xs" ng-click="save()"><a href="#" data-toggle="tab"  style="font-size: 10px;">保 存</a>
                                    </button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-xs" ng-click="delete()"><a href="#" data-toggle="tab"   style="font-size: 10px;">删 除</a>
                                    </button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-xs" ng-click="cancel()"><a href="#" data-toggle="tab" style="font-size: 10px;">取 消</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="output-console" ng-class="{'fm-out-error':outErrorArr[0],'fm-out-error-sx':outErrorArr[1],'fm-out-error-xl':outErrorArr[2],'fm-out-error-xl-sx':outErrorArr[3]}" style="overflow: hidden;display: none;">
                    <div style="text-align: center;margin-top: -15px;width: 100%;cursor: pointer;height: 15px;">
                        <a class="fm-panel-controlArrowUpAndDown" ng-click="changeOutOrErrorStyle()"><span></span></a>
                    </div>
                    <div style="height: 100%;padding-top: 30px"  ng-class="{true:'fm-out-error-url',false:'fm-out-error-url-sx'}[outErrorUrlFlag]">
                        <ul id="fm-out-error-inspectAndWrongTab" style="height: 30px;background-color: #404040;opacity: 0.95;margin-bottom: 0px;margin-top: -30px">
                            <li style="font-size: 10px">
                                <div class="btn-group btn-group-justified" style="width: 150px" role="group" aria-label="">
                                    <div class="btn-group" role="group">
                                        <button id="liout" type="button" class="btn btn-xs selected" ng-click="showTab('outPut')">输出结果</button>
                                    </div>
                                    <div class="btn-group" role="group" style="border-left: 1px solid #404040;border-right: 1px solid #404040">
                                        <button  id="lierror" type="button" class="btn btn-xs "  ng-click="showTab('errorCheck')">检查结果</button>
                                    </div>
                                </div>
                            </li>
                            <li id="fm-error-checkErrorLi" style="width:60%;display: none;">
                                <div class="fm-error-num-well">
                                    共 <span class="pic-num" ng-bind="checkTotal">1</span> 项错误
                                </div>
                                <div class="fm-error-pull-right">
                                    第 <span class="pic-num" ng-bind="itemsByPage">1</span> 页 |
                                    共 <span class="pic-total" ng-bind="checkTotalPage">1</span> 页
                                    <div class="fm-error pull-right btn-group" style="margin-left: 2px">
                                        <button class="btn btn-default btn-xs pic-pre" ng-click="picPre()" disabled>
                                            <<
                                        </button>
                                        <button class="btn btn-default btn-xs pic-next" ng-click="picNext()">
                                            >>
                                        </button>
                                    </div>
                                </div>
                            </li>
                            <li style="float:right">
                                <button id="immediatelyCheck" class="btn btn-xs" style="display: none;" ng-click="showTab('getCheck')">刷新检查</button>
                                <button id="errorClear" style=" width: 60px" ng-click="empty()" class="btn btn-xs">清 空</button>
                            </li>
                        </ul>
                        <div id="inwTabContent" class="tab-content" style="height: 100%;width: 100%">
                            <div id="fm-outPut-inspectDiv" style="height:100%;">
                                <div ng-include="outputTab" style="height:100%;"></div>
                            </div>
                            <div id="fm-error-wrongDiv" style="height:100%;display: none;">
                                <div ng-include="errorCheckTab" style="height:100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="popoverTips" class="Fm-sub-panel normal" style="background-color: transparent;padding-top: 40px;padding-left: 0px;padding-right: 0px;padding-bottom: 0px;">
            <div style="background-color:#303030;opacity: 1;width: 100%;height: 100%;padding: 10px;">
                <div ng-include="dataTipsURL" style="width:100%;"></div>
            </div>
        </div>
    </div>
</div>
<div id='tooltip' class="tooltipclass"></div>
<div id="dataTipsOriginModal" style="display:none">
    <div class="modal-header">
        <div class="pull-right" id="fullPicBtn" ng-click="showFullPic();" title="全屏">
            <span class="glyphicon glyphicon-fullscreen"></span>
        </div>
        <button id="tipsImgClose" type="button" class="close"
                data-dismiss="modal" aria-hidden="true" title="关闭">
            &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
            图片
        </h4>
    </div>
    <div class="modal-body">
        <div class="switch-left" ng-click="switchPic(0);">
            <img src="css/img/left.png">
        </div>
        <div id="imgContainer"> 
            <img id="dataTipsOriginImg" src=""/> 
        </div>
        <div class="switch-right" ng-click="switchPic(1);">
            <img src="css/img/right.png">
        </div>
        <div id="imgPage">{{imgPageNow}}/{{imgAllPage}}</div>
    </div>
</div>
<div id="fullScalePic" ng-click="hideFullPic();"><img src=""></div>
<div ng-show="showLoading" id="loadingAnimate" class="show-animation" ng-include="'js/tepl/svgLoading.html'"></div>
<script type="text/javascript" data-main="js/mainOfEditor" src="js/lib/require/require.js"></script>
</body>
</html>