<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" type="text/css" href="js/lib/bootstrap-3.3.5/css/bootstrap.css"/>
    <link rel="stylesheet" href="js/lib/ui-layout/ui-layout.css">
    <link rel="stylesheet" href="js/lib/ng-table/1.0.0/ng-table.css">
    <link rel="stylesheet" href="js/lib/leaflet-0.7.3/leaflet.css">
    <link rel="stylesheet" href="css/main.css">

    <style>

        .ui-layout-container {
            display: inline-block;

        }
    </style>
    <script src="js/lib/leaflet-0.7.3/leaflet-src.js"></script>
    <script src="js/fastmap/fastmapapi.js"></script>
</head>
<body ng-controller="generalController" style="min-width: 1024px">


<div id="parentId" ui-layout="{ flow:'row', dividerSize:'6',disableToggle:'false'}">

    <div ui-layout-container size="10%" style="overflow: hidden; ">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">FM 道路录入系统</a>
            </div>
            <div>
            </div>
        </nav>
    </div>
    <div ui-layout-container>

        <div ui-layout="{flow:'column',dividerSize:'6'}">
            <div ui-layout-container size="20%">
                <div>
                    <div class="leftDiv">
                        <div class="fragDiv">
                            <span title="参考图层" class="glyphicon glyphicon-stats" style=" line-height: 60px"
                                  ng-click="changeLayers('referenceLayers')"></span>
                        </div>
                        <div class="fragDiv">
                            <span title="现场成果" class="glyphicon glyphicon-stats" style=" line-height: 60px"
                                  ng-click="changeLayers('resultLayers')"></span>
                        </div>
                    </div>
                    <div class="rightDiv">
                        <div ng-include="layersURL"></div>
                    </div>
                </div>

            </div>
            <div ui-layout-container>

                <div ui-layout="{flow:'row',dividerSize:'6'}">

                    <div ui-layout-container size="65%">
                        <div id="map" style="width: 100%;height: 100%;position: absolute;">
                            <div id="toolsDiv"
                                 style="width: 200px;height: 30px;position: relative;z-index:4">
                                <div>
                                    <div ng-include="selectShapeURL"></div>
                                </div>


                            </div>
                            <div id="toolsDiv1"
                                 style="width: 200px;height: 30px;position: relative;z-index:4;left: 150px">
                                <div class="btn-group btn-group-sm" style="width: 100%;">
                                  <div ng-include="addShapeURL"></div>
                                </div>
                            </div>
                            <div id="popoverTips" style="position:relative;display:none;z-index:4;">
                                <div>
                                    <div ng-include="dataTipsURL"></div>
                                </div>
                            </div>
                            <div id="popToolBar" style="position: relative;top:0px;left:400px;z-index: 4;">
                                <div>
                                    <div ng-include="modifyToolURL"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div ui-layout-container style="overflow: hidden">
                        <ul id="inspectAndWrongTab" class="nav nav-tabs">
                            <li><a href="#inspectDiv" data-toggle="tab" ng-click="showTab('outPut')">
                                输出结果</a>
                            </li>
                            <li class="active"><a href="#wrongDiv" data-toggle="tab" ng-click="showTab('errorCheck')">错误检查</a>
                            </li>
                            <div style="float: right;">
                                <button style="top:10px;">立即检查</button>
                                <button style="top:10px;" ng-click="empty()">清空</button>
                            </div>
                        </ul>

                        <div id="inwTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="inspectDiv">
                                <div ng-include="outputTab"  ui-sref-opt="{reload:true}"></div>
                            </div>
                            <div class="tab-pane fade in active" id="wrongDiv">
                                <div ng-include="errorCheckTab"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ui-layout-container size="15%">
                <div ng-include="objectEditURL"></div>
                <div style="padding-bottom: 0px;">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-click="save()">保存</button>
                        <button type="button" class="btn btn-default" ng-click="delete()">删除</button>
                        <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" data-main="js/main" src="js/lib/require/require.js"></script>
</body>
</html>