<div class="fm-component" ng-controller="crfInterCtrl">
    <div class="title">
        CRF交叉点PID
        <span class="label label-info">{{crfInterData.pid}}</span>
    </div>
    <div class="content scroll-styled dark" style="height:90%;">
        <from name="crfInterForm">
            <div class="fm-panel" >
                <div class="title">
                    <div>组成Link（共 <span ng-bind="crfInterData.links.length">0</span> 条）</div>
                </div>
                <div class="content">
                    <div ng-repeat="cItem in crfInterData.links" class="blackTheme module-box">
                        <ul class="fm-ul fm-ul-form">
                            <li >
                                <label>Link号码</label>
                                <div>
                                    <input type="text" class="fm-control" ng-model="cItem.linkPid" disabled/>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="fm-panel" >
                <div class="title">
                    <div>组成Node（共 <span ng-bind="crfInterData.nodes.length">0</span> 条）</div>
                </div>
                <div class="content">
                    <div ng-repeat="cItem in crfInterData.nodes" class="blackTheme module-box">
                        <ul class="fm-ul fm-ul-form">
                            <li >
                                <label>Node号码</label>
                                <div>
                                    <input type="text" class="fm-control" ng-model="cItem.linkPid" disabled/>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </from>
    </div>
</div>
