body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:30px;
  width:100px;
  height:40px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:80px;
  top:190px;
  width:100px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:130px;
  top:70px;
  width:0px;
  height:120px;
}
#u4_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:134px;
}
#u5 {
  position:absolute;
  left:-50px;
  top:52px;
  width:100px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:30px;
  top:280px;
  width:260px;
  height:200px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:200px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:256px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:317px;
  top:20px;
  width:1023px;
  height:967px;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1023px;
  height:967px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:1019px;
  word-wrap:break-word;
}
