<style>
    .detailUlCss2 {
        width: 40px;
        cursor: pointer;
        margin-bottom: 0;
        background-color: #ffffff;
        box-shadow: 0 0 10px #93bbff;
        text-align: center;
        border-radius: 3px;
    }
    .detailUlCss2 > li {
        border-bottom: 1px solid #d2e1ff;
        list-style: none;
        background-color: #ffffff;
        font-size: 12px;
        height: 20px;
        line-height: 20px;
        color: #182848;
    }
    .detailUlCss2 > li:hover {
        background-color:  rgba(88, 150, 255, 0.1);
    }
</style>
<div>
    <ul class="list-group detailUlCss2" style="margin-bottom: 20px">
        <li>
            <img src="../../../../../images/newPoi/toolIcon/open-tool.png">
        </li>
        <li style="height: 30px;line-height: 30px">
            <img src="../../../../../images/newPoi/toolIcon/quickToolIcon/add-poi.png">
        </li>
        <li style="height: 30px;line-height: 30px">
            <img src="../../../../../images/newPoi/toolIcon/quickToolIcon/autoregistration.png">
        </li>
        <li style="height: 30px;line-height: 30px">
            <img src="../../../../../images/newPoi/toolIcon/quickToolIcon/add-link.png">
        </li>
        <li style="height: 30px;line-height: 30px">
            <img src="../../../../../images/newPoi/toolIcon/quickToolIcon/add-node.png">
        </li>
        <li style="height: 30px;line-height: 30px">
            <img src="../../../../../images/newPoi/toolIcon/quickToolIcon/add-overpass.png">
        </li>
        <li style="height: 30px;line-height: 30px">
            <img src="../../../../../images/newPoi/toolIcon/quickToolIcon/add-crossing.png">
        </li>
        <li style="height: 30px;line-height: 30px">
            <img src="../../../../../images/newPoi/toolIcon/quickToolIcon/add-traffic-lights.png">
        </li>
        <li style="height: 30px;line-height: 30px">
            <img src="../../../../../images/newPoi/toolIcon/quickToolIcon/add-lane-information.png">
        </li>
        <li style="height: 30px;line-height: 30px">
            <img src="../../../../../images/newPoi/toolIcon/quickToolIcon/add-traffic.png">
        </li>
        <li style="height: 30px;line-height: 30px">
            <img src="../../../../../images/newPoi/toolIcon/quickToolIcon/newTool.png">
        </li>
        <li>
            <img src="../../../../../images/newPoi/toolIcon/switch-tool.png">
        </li>
    </ul>
    <ul class="list-group detailUlCss2">
        <li>
            全部
        </li>
        <li>
            20
        </li>
        <li>
            2000
        </li>
        <li>
            <img src="../../../../../images/newPoi/toolIcon/page-left-active.png">
        </li>
        <li>
            <img src="../../../../../images/newPoi/toolIcon/page-right-active.png">
        </li>
    </ul>
</div>
