<style>
    .trafficPic{
        /*float: left;*/
        transition: all 0.5s;
        /*border-radius: 50%;*/

    }
    .trafficPic > img{
        text-align: center;
        cursor: pointer;
        margin: 15px;
        transition: all 0.5s;
        /*border-radius: 50%;*/
    }
    .trafficPic > .active{
        box-shadow: 0px 0px 7px 4px #9d9d9d;
    }
    #addDirectOfConnexityDiv {
        /*background-color: #000;*/
        opacity: 1;
        width: 100%;
    }

    #addDirectOfConnexityDiv ul {
        /*background-color: #000;*/
        list-style: none;
        /*padding:5px;*/
        overflow: hidden;
    }

    #addDirectOfConnexityDiv ul > li {
        background-color: transparent;
    }
</style>
<div ng-controller="addDirectOfConnexityController" id="addDirectOfConnexityDiv">
    <ul class="list-group list-group-lg m-b-none">
        <li class="list-group-item">
            <div><label class="control-label" style="color: #fff">修改车信</label></div>
        </li>
        <li class="list-group-item">
            <div  class="trafficPic">
                <img  ng-repeat="addItem in addRdLancdData"
                      ng-src="./css/1301/1301_0_{{addItem.id}}.svg"
                      ng-click="selectLaneInfo(addItem,$index)">
            </div>
        </li>

    </ul>


</div>