<style>
    .list-group-item {
        position: relative;
        display: block;
        padding: 1px 15px;
        margin-bottom: -1px;
        background-color: #000;
        border: 1px solid #ddd;
    }

    #walkstairDiv {
        background-color: #000;
        opacity: 1;
        padding: 10px 5px;
        width: 100%;
        z-index: 20;
    }

    #walkstairDiv ul {
        background-color: #000;
        list-style: none;
        padding:5px;
        overflow: hidden;
    }

    #walkstairDiv ul > li {
        background-color: #000;
    }

    #walkstairDiv ul > li > div > input {
        color: #F3F6FA;
        background-color: #000;
        border: none;
    }

    #walkstairDiv ul > li > div > select {
        color: #F3F6FA;
        background-color: #000;
        margin-left: -3px;
        border: 1px none;
    }

    #walkstairDiv ul > li > div:first-child {
        display: inline-block;
        width: 80px;
    }

    #walkstairDiv ul > li > label {
        color: #F3F6FA;
        font-weight: normal;
    }

    #walkstairDiv ul > li > div > label {
        color: #F3F6FA;
        font-weight: normal;
    }

    .inline {
        display: inline-block !important;
        /*width: 70%;*/
        text-align: left;
    }

    .m-b-none {
        margin-bottom: 0 !important;
    }

    .form-horizontal .control-label {
        text-align: center;
    }

    .radio {
        margin-bottom: 0px;
        margin-top: 0px;
    }

</style>
<div ng-controller="walkstairController" id="walkstairDiv">
    <ul class="list-group list-group-lg m-b-none">
        <li class="list-group-item">
            <div>
                <a ng-click="addStairWalk()" style="cursor: pointer">添加人行阶梯</a>
            </div>
        </li>
    </ul>
    <ul ng-repeat="walkItem in walkstairData" class="list-group list-group-lg m-b-none" style="margin-bottom: 5px">

        <li class="list-group-item">
            <div><label class="control-label">位置关系</label></div>
            <div class="inline">
                <select  ng-model="walkItem.stairLoc" ng-options="value.id as value.label for value in walkstairLocoptions">
                    <option>--</option>
                </select>
                   <span class="glyphicon glyphicon-remove-sign"
                         style="float: right;color: darkgray;right: 0px;margin-top: 5px;position: absolute"
                         ng-click="minusStairWalk($index)">
                   </span>
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">升降标识</label></div>
            <div class="radio inline" style="text-align: left">
                <label>
                    <input type="radio" name="stairFlagRadio" value=0 ng-model="walkItem.stairFlag">
                    未调查
                </label>
                <label>
                    <input type="radio" name="stairFlagRadio" value=1 ng-model="walkItem.stairFlag">
                    上坡
                </label>
                <label>
                    <input type="radio" name="stairFlagRadio" value=2 ng-model="walkItem.stairFlag">
                    下坡
                </label>
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">作业方向</label></div>
            <div class="radio inline" style="text-align: left">
                <label>
                    <input type="radio" name="workDirRadio" value=0 ng-model="walkItem.workDir">
                    未调查
                </label>
                <label>
                    <input type="radio" name="workDirRadio" value=1 ng-model="walkItem.workDir">
                    顺
                </label>
                <label>
                    <input type="radio" name="workDirRadio" value=2 ng-model="walkItem.workDir">
                    逆
                </label>
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">采集标识</label></div>
            <div class="radio inline" style="text-align: left">
                <label>
                    <input type="radio" name="captureFlagRadio" value=0 ng-model="walkItem.captureFlag">
                    未采集
                </label>
                <label>
                    <input type="radio" name="captureFlagRadio" value=1 ng-model="walkItem.captureFlag">
                    外业确认
                </label>
            </div>
        </li>
    </ul>
</div>