<style>
    .list-group-item {
        position: relative;
        display: block;
        padding: 1px 15px;
        margin-bottom: -1px;
        background-color: #000;
        border: 1px solid #ddd;
    }

    #oridinarySpeedDiv {
        background-color: #000;
        opacity: 1;
        padding: 10px 5px;
        width: 100%;
        z-index: 20;
    }

    #oridinarySpeedDiv ul {
        background-color: #000;
        list-style: none;
        padding:5px;
        overflow: hidden;
    }

    #oridinarySpeedDiv ul > li {
        background-color: #000;
    }

    #oridinarySpeedDiv ul > li > div > input {
        color: #F3F6FA;
        background-color: #000;
        border: none;
    }

    #oridinarySpeedDiv ul > li > div > select {
        color: #F3F6FA;
        background-color: #000;
        margin-left: -3px;
        border: 1px none;
    }

    #oridinarySpeedDiv ul > li > div:first-child {
        display: inline-block;
        width: 80px;
    }

    #oridinarySpeedDiv ul > li > label {
        color: #F3F6FA;
        font-weight: normal;
    }

    #oridinarySpeedDiv ul > li > div > label {
        color: #F3F6FA;
        font-weight: normal;
    }

    .inline {
        display: inline-block !important;
        /*width: 70%;*/
        text-align: left;
    }

    .m-b-none {
        margin-bottom: 0 !important;
    }

    .form-horizontal .control-label {
        text-align: center;
    }

    .radio {
        margin-bottom: 0px;
        margin-top: 0px;
    }
</style>
<div ng-controller="oridanarySpeedCintroller" id="oridinarySpeedDiv">
    <ul class="list-group list-group-lg m-b-none">
        <li class="list-group-item">
            <div>
                <a ng-click="addrdCrossName()" style="cursor: pointer">修改方向</a>
            </div>
        </li>
    </ul>
    <ul class="list-group list-group-lg m-b-none" ng-repeat="oridiData in speedLimitsData" ng-if="oridiData.speedType===0" style="margin-bottom: 5px">
        <li class="list-group-item">
            <div><label class="control-label">限速类型</label></div>
            <div class="inline">
                <select ng-model="oridiData.speedType"
                        ng-options="value.id as value.label for value in speedTypeOption">
                    <option>--</option>
                </select>
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">顺向速度</label></div>
            <div class="inline">
                    <input type="text"
                           placeholder="0530" id="fromSpeed"
                           ng-model="oridiData.fromSpeedLimit">
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">逆向速度</label></div>
            <div class="inline">
                <input type="text"
                       placeholder="0530" id="toSpeed"
                       ng-model="oridiData.toSpeedLimit">
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">顺向来源</label></div>
            <div class="inline">
                <select ng-model="oridiData.fromLimitSrc"
                        ng-options="value.id as value.label for value in fromLimitSrcOption">
                    <option>--</option>
                </select>
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">逆向来源</label></div>
            <div class="inline">
                <select ng-model="oridiData.toLimitSrc"
                        ng-options="value.id as value.label for value in fromLimitSrcOption">
                    <option>--</option>
                </select>
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">等级赋值</label></div>
            <div class="radio inline" style="text-align: left">
                <label>
                    <input type="radio" name="speedClassWorkRadio" value=0 ng-model="oridiData.speedClassWork">
                    手工
                </label>
                <label>
                    <input type="radio" name="speedClassWorkRadio" value=1 ng-model="oridiData.speedClassWork">
                    程序
                </label>
            </div>
        </li>
    </ul>
</div>
