<style>
    .list-group-item {
        position: relative;
        display: block;
        padding: 1px 15px;
        margin-bottom: -1px;
        /*background-color: #000;*/
        border: 1px solid #ddd;
    }

    #traffiLimitedDiv {
        /*background-color: #000;*/
        opacity: 1;
        padding: 10px 5px;
        width: 100%;
        z-index: 20;
    }

    #traffiLimitedDiv ul {
        /*background-color: #000;*/
        list-style: none;
        padding:5px;
        overflow: hidden;
    }

    #traffiLimitedDiv ul > li {
        background-color: transparent;
    }

    #traffiLimitedDiv ul > li > div > input {
        color: #F3F6FA;
        background-color: #000;
        border: none;
    }

    #traffiLimitedDiv ul > li > div > select {
        color: #F3F6FA;
        background-color: #000;
        margin-left: -3px;
        border: 1px none;
    }

    #traffiLimitedDiv ul > li > div:first-child {
        display: inline-block;
        width: 150px;
    }

    #traffiLimitedDiv ul > li > label {
        color: #F3F6FA;
        font-weight: normal;
    }

    #traffiLimitedDiv ul > li > div > label {
        color: #F3F6FA;
        font-weight: normal;
    }
    .m-b-none {
        margin-bottom: 0 !important;
    }

</style>
<div id="traffiLimitedDiv" ng-controller="limitedController">
    <ul class="list-group list-group-lg m-b-none">
        <li class="list-group-item">
            <div >
                <a ng-click="addLimit()" style="cursor: pointer">普通限制信息</a>
            </div>
        </li>
    </ul>
    <ul class="list-group list-group-lg m-b-none" >
        <li class="list-group-item" ng-repeat="limitItem in linkLimitData.limits">
            <div ng-repeat="typeItem in typeOptions|filter:limitItem.type " ng-click="showOrdinaryInfo(limitItem)"><label class="control-label">{{typeItem.label}}</label></div>
        </li>
    </ul>
    <ul class="list-group list-group-lg m-b-none">
        <li class="list-group-item">
            <div >
                <a ng-click="addLimitTruck()" style="cursor: pointer">卡车限制信息</a>
            </div>
        </li>
    </ul>
    <ul class="list-group list-group-lg m-b-none" >
        <li class="list-group-item" ng-repeat="truckItem in linkLimitData.limitTrucks">
            <div ng-repeat="dirItem in limitDirOptions|filter:truckItem.limitDir " ng-click="showTrcukInfo(truckItem)"><label class="control-label">{{dirItem.label}}</label></div>
        </li>
    </ul>

</div>