<style>
    .checkboxThree {
        width: 81px;
        height: 25px;
        background: #333;
        margin: 10px 40px;

        border-radius: 50px;
        position: relative;
    }
    .checkboxThree:before {
        content: '是';
        position: absolute;
        top: 3px;
        left: 6px;
        height: 2px;
        color: #26ca28;
        font-size: 16px;
    }
    .checkboxThree input {
        position: absolute;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    /**
     * Create the text for the off position
     */
    .checkboxThree:after {
        content: '否';
        position: absolute;
        top: 3px;
        left: 50px;
        height: 2px;
        color: #ddd;
        font-size: 16px;
    }
    .checkboxThree label {
        display: block;
        width: 32px;
        height: 20px;
        border-radius: 50px;

        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        -ms-transition: all .5s ease;
        transition: all .5s ease;
        cursor: pointer;
        position: absolute;
        top: 3px;
        z-index: 5;
        left: 3px;
        background: #ddd;
    }

    /**
     * Create the checkbox event for the label
     */
    .checkboxThree input[type=checkbox]:checked + label {
        left: 50px;
        background: #26ca28;
    }
</style>
<div id="otherDiv" ng-controller="otherController">
    <div class="panel-group" id="normalProperty" style="margin: 0px;">
        <div class="panel panel-default">
            <div class="panel-body" style="overflow-y: auto;">
                <div class="list-group">
                    <div class="list-group-item">
                        <form class="form-horizontal" method="get">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">
                                    道路形态<a href="#myModal"  class="glyphicon glyphicon-plus-sign" style="float: right;color: rgb(192,192,192);text-decoration:none;outline: none;" data-toggle="modal"></a>
                                </label>
                                <div class="col-sm-8">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12 control-label">
                                    <label class="col-sm-4 control-label" ng-repeat="item in newFromOfWRoadDate">
                                        <span class="text-primary">{{item.name}}</span><span class="glyphicon glyphicon-remove btn-danger" ng-click="deleteroadtype($index)"></span>
                                    </label>
                                </label>
                            </div>
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel" aria-hidden="true" >
                                <div class="modal-dialog" style="width:400px;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close"
                                                    data-dismiss="modal" aria-hidden="true">
                                                &times;
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">
                                                道路形态添加
                                            </h4>
                                        </div>
                                        <div class="modal-body" >
                                            名称
                                            <select class="form-control" id="roadtypename">
                                                <option value="0">未调查</option>
                                                <option value="1">无属性</option>
                                                <option value="2">其他</option>
                                                <option value="10">IC</option>
                                                <option value="11">JCT</option>
                                                <option value="12">SA</option>
                                                <option value="13">PA</option>
                                                <option value="14">全封闭道路</option>
                                                <option value="15">匝道</option>
                                                <option value="16">跨线天桥</option>
                                                <option value="17">跨线地道</option>
                                                <option value="18">私道</option>
                                                <option value="20">步行街</option>
                                                <option value="21">过街天桥</option>
                                                <option value="22">公交专用道</option>
                                                <option value="23">自行车道</option>
                                                <option value="24">跨线立交桥</option>
                                                <option value="30">桥</option>
                                                <option value="31">隧道</option>
                                                <option value="32">立交桥</option>
                                                <option value="33">环岛</option>
                                                <option value="33">环岛</option>
                                                <option value="33">环岛</option>
                                                <option value="34">辅路</option>
                                                <option value="35">掉头口</option>
                                                <option value="36">POI连接路</option>
                                                <option value="37">提右</option>
                                                <option value="38">提左</option>
                                                <option value="39">主辅路入口</option>
                                                <option value="43">窄道路</option>
                                                <option value="48">主路</option>
                                                <option value="49">侧道</option>
                                                <option value="50">交叉点内道路</option>
                                                <option value="51">未定义交通区域</option>
                                                <option value="52">区域内道路</option>
                                                <option value="53">停车场出入口连接路</option>
                                                <option value="54">停车场出入口虚拟连接路</option>
                                                <option value="57">Highway对象外JCT</option>
                                                <option value="60">风景路线</option>
                                                <option value="80">停车位引导道路</option>
                                                <option value="81">停车位引导道路</option>
                                                <option value="82">虚拟提左提右</option>
                                            </select>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">关闭
                                            </button>
                                            <button type="button" class="btn btn-primary" ng-click="saveroadname()">
                                                保存
                                            </button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal -->
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">辅助标志</label>
                                <div class="col-sm-8">
                                    <select class="form-control" ng-model="roadlinkData.auxiFlag" ng-options="value.id as value.label for value in auxiFlagoption"><!-- 没有auxiFlag-->
                                        <option >--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">特殊交通</label>

                                <div class="col-sm-8">
                                    <div class="btn-group" id="specialTrafficdiv" style="border-radius: 10px;border: 1px solid #2aabd2;  ">
                                        <button class="btn btn-default" style="border-radius: 15px; width: 60px;height: 20px; font-size: 10px; padding: 0px;border: 0px;outline: none;" id="specialbtn0" ng-click="checkSpecialTraffic(0)" ng-model="roadlinkData.specialTraffic">否</button>
                                        <button class="btn btn-default" style="border-radius: 15px;width: 60px;height: 20px;font-size: 10px;padding: 0px;border: 0px;outline: none;" id="specialbtn1" ng-click="checkSpecialTraffic(1)" ng-model="roadlinkData.specialTraffic">是</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">是否高架</label>

                                <div class="col-sm-8">
                                    <div id="isViaductdiv" class="btn-group" style="border-radius: 10px;border: 1px solid #2aabd2;">
                                        <button class="btn btn-default" style="border-radius: 15px; width: 60px;height: 20px; font-size: 10px; padding: 0px;border: 0px;outline: none;" id="button0" ng-click="changecheck(0)" ng-model="roadlinkData.isViaduct">否</button>
                                        <button class="btn btn-default" style="border-radius: 15px;width: 60px;height: 20px;font-size: 10px;padding: 0px;border: 0px;outline: none;" id="button1" ng-click="changecheck(1)" ng-model="roadlinkData.isViaduct">是</button>
                                        <button class="btn btn-default" style="border-radius: 15px;width: 60px;height: 20px;font-size: 10px;padding: 0px;border: 0px;outline: none;" id="button2" ng-click="changecheck(2)" ng-model="roadlinkData.isViaduct">未调查</button>
                                    </div>
                              </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">铺设状态</label>

                                <div class="col-sm-8">
                                    <div class="btn-group" id="paveStatusdiv" style="border-radius: 10px;border: 1px solid #2aabd2;  ">
                                        <button class="btn btn-default" style="border-radius: 15px; width: 60px;height: 20px; font-size: 10px; padding: 0px;border: 0px;outline: none;" id="paveStatusbtn0" ng-click="checkPaveStatus(0)" ng-model="roadlinkData.paveStatus">铺设</button>
                                        <button class="btn btn-default" style="border-radius: 15px;width: 60px;height: 20px;font-size: 10px;padding: 0px;border: 0px;outline: none;" id="paveStatusbtn1" ng-click="checkPaveStatus(1)" ng-model="roadlinkData.paveStatus">未铺设</button>
                                    </div>
                                    <!--<div class="radio">-->
                                        <!--<label>-->
                                            <!--<input type="radio" name="paveStatusRadio" value="0"-->
                                                   <!--ng-model="roadlinkData.paveStatus">-->
                                            <!--铺设-->
                                        <!--</label>-->
                                        <!--<label>-->
                                            <!--<input type="radio" name="paveStatusRadio" value="1"-->
                                                   <!--ng-model="roadlinkData.paveStatus">-->
                                            <!--未铺设-->
                                        <!--</label>-->
                                    <!--</div>-->
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">收费信息</label>

                                <div class="col-sm-8">
                                    <select class="form-control" ng-model="roadlinkData.tollInfo" ng-options="value.id as value.label for value in toolinfoOption">
                                        <option>--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">收费标准</label><!-- 没有feeStd-->
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="0" ng-model="roadlinkData.feeStd">
                                </div>
                                <div class="col-sm-2" style=" padding-top: 3px;">元/每公里</div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">计费标示</label>

                                <div class="col-sm-8">

                                    <div id="adasFlagdiv" class="btn-group" style="border-radius: 10px;border: 1px solid #2aabd2;">
                                        <button class="btn btn-default" style="border-radius: 15px; width: 60px;height: 20px; font-size: 10px; padding: 0px;border: 0px;outline: none;" id="adasFlagbtn0" ng-click="checkAdasFlag(0)" ng-model="roadlinkData.adasFlag">不应用</button>
                                        <button class="btn btn-default" style="border-radius: 15px;width: 60px;height: 20px;font-size: 10px;padding: 0px;border: 0px;outline: none;" id="adasFlagbtn1" ng-click="checkAdasFlag(1)" ng-model="roadlinkData.adasFlag">人工</button>
                                        <button class="btn btn-default" style="border-radius: 15px;width: 60px;height: 20px;font-size: 10px;padding: 0px;border: 0px;outline: none;" id="adasFlagbtn2" ng-click="checkAdasFlag(2)" ng-model="roadlinkData.adasFlag">程序</button>
                                    </div>
                                    <!--<div class="radio">-->
                                        <!--<label>&lt;!&ndash; 没有feeFlag&ndash;&gt;-->
                                            <!--<input type="radio" name="feeFlagRadio" value="0"-->
                                                   <!--ng-model="roadlinkData.adasFlag">-->
                                            <!--不应用-->
                                        <!--</label>-->
                                        <!--<label>-->
                                            <!--<input type="radio" name="feeFlagRadio" value="1"-->
                                                   <!--ng-model="roadlinkData.adasFlag">-->
                                            <!--人工-->
                                        <!--</label>-->
                                        <!--<label>-->
                                            <!--<input type="radio" name="feeFlagRadio" value="2"-->
                                                   <!--ng-model="roadlinkData.adasFlag">-->
                                            <!--程序-->
                                        <!--</label>-->
                                    <!--</div>-->
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">区域标识</label>

                                <div class="col-sm-8"><!-- 没有systemId-->
                                    <input type="text" class="form-control" placeholder="0" ng-model="roadlinkData.systemId">
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">查分产品ID</label>
                                <div class="col-sm-8">
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <input id="difGroupIdText" type="text" class="form-control" value="0" ng-model="roadlinkData.difGroupId">
                                        </div>
                                        <div class="col-sm-3">
                                            <button type="button" class="btn btn-default" ng-click="qkdifGroupId()">清空</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">LINK长度</label><!-- 不知道link长度是哪个-->

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="0" ng-model="roadlinkData.length" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">图幅编号</label><!-- 不知道图幅编号是哪个-->

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="0" ng-model="roadlinkData.meshId" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">起点号码</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="0" ng-model="roadlinkData.sNodePid" value="roadlinkData.sNodePid" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">终点号码</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="0" ng-model="roadlinkData.eNodePid" value="roadlinkData.eNodePid">
                                </div>
                            </div>

                            <div class="panel-group" id="zoneLeftOrRight" style="margin: 0px;">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            普通限速 共（<span ng-if="roadlinkData!=undefined">{{speedOfPopLength}}</span>）个
                                            <a data-toggle="collapse" data-parent="#accordion"
                                               href="#ptOrRightDiv">
                                                <span class="glyphicon glyphicon-chevron-down" style="float: left"></span>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="ptOrRightDiv" class="panel-collapse collapse in">
                                        <div class="panel-body" style="min-height: 100px;height:300px;overflow-y: auto;">
                                            <div class="list-group" ng-repeat="speeditem in roadlinkData.speedlimits">
                                                <div ng-if="speeditem.speedType===0">
                                                    <div class="list-group-item">
                                                        <form class="form-horizontal" method="get">
                                                            <div class="form-group">
                                                                <label class="col-sm-4 control-label">限速类型</label>
                                                                <div class="col-sm-8">
                                                                    <select class="form-control" ng-model="speeditem.speedType" ng-options="value.id as value.label for value in speedTypeOption">
                                                                        <option >--</option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="col-sm-4 control-label">顺向限速</label>
                                                                <div class="col-sm-8">
                                                                    <input type="text" class="form-control" placeholder="0530" ng-model="speeditem.fromSpeedLimit">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-4 control-label">逆向限速</label>
                                                                <div class="col-sm-8">
                                                                    <input type="text" class="form-control" placeholder="0530" ng-model="speeditem.toSpeedLimit">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-4 control-label">顺向限速来源</label>
                                                                <div class="col-sm-8">
                                                                    <select class="form-control" ng-model="speeditem.fromLimitSrc" ng-options="value.id as value.label for value in fromLimitSrcOption">
                                                                        <option>--</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-4 control-label">逆向限速来源</label>
                                                                <div class="col-sm-8">
                                                                    <select class="form-control" ng-model="speeditem.toLimitSrc" ng-options="value.id as value.label for value in fromLimitSrcOption">
                                                                        <option>--</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-4 control-label">等级赋值标记</label>

                                                                <div class="col-sm-8">
                                                                    <div class="btn-group" id="speedClassWorkdiv{{$index}}" style="border-radius: 10px;border: 1px solid #2aabd2;  ">
                                                                    <span ng-if="speeditem.speedClassWork==0">
                                                                        <button class="btn btn-primary" style="border-radius: 15px; width: 60px;height: 20px; font-size: 10px; padding: 0px;border: 0px;outline: none;" id="speedClassWorkbtn0_{{$index}}" ng-click="checkspeedClassWork(0,speeditem,$index)" ng-model="speeditem.speedClassWork">手工</button>
                                                                        <button class="btn btn-default" style="border-radius: 15px; width: 60px;height: 20px; font-size: 10px; padding: 0px;border: 0px;outline: none;" id="speedClassWorkbtn1_{{$index}}" ng-click="checkspeedClassWork(1,speeditem,$index)" ng-model="speeditem.speedClassWork">程序</button>
                                                                    </span>
                                                                     <span ng-if="speeditem.speedClassWork==1">
                                                                         <button class="btn btn-default" style="border-radius: 15px; width: 60px;height: 20px; font-size: 10px; padding: 0px;border: 0px;outline: none;" id="speedClassWorkbtn0_{{$index}}" ng-click="checkspeedClassWork(0,speeditem,$index)" ng-model="speeditem.speedClassWork">手工</button>
                                                                         <button class="btn btn-primary" style="border-radius: 15px; width: 60px;height: 20px; font-size: 10px; padding: 0px;border: 0px;outline: none;" id="speedClassWorkbtn1_{{$index}}" ng-click="checkspeedClassWork(1,speeditem,$index)" ng-model="speeditem.speedClassWork">程序</button>
                                                                    </span>
                                                                    </div>
                                                                    <!--<div class="radio">-->
                                                                    <!--<label>-->
                                                                    <!--<input type="radio" name="speedClassWordRadio" value="0"-->
                                                                    <!--ng-model="speeditem.speedClassWork">-->
                                                                    <!--手工-->
                                                                    <!--</label>-->
                                                                    <!--<label>-->
                                                                    <!--<input type="radio" name="speedClassWordRadio" value="1"-->
                                                                    <!--ng-model="speeditem.speedClassWork">-->
                                                                    <!--程序-->
                                                                    <!--</label>-->
                                                                    <!--</div>-->
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="panel-group" id="loadProperty" style="margin: 0px;">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            条件限速 共（<span ng-if="roadlinkData!=undefined"> {{speedOfConLength}}</span>）个
                                            <a data-toggle="collapse" data-parent="#accordion"
                                               href="#tjOrRightDiv">
                                                <span class="glyphicon glyphicon-chevron-down" style="float: left"></span>
                                            </a>
                                                <span class="glyphicon glyphicon-plus-sign" style="float: right;color: rgb(192,192,192);"
                                                      ng-click="addSpeedLimit()"></span>
                                        </h4>
                                    </div>
                                    <div id="tjOrRightDiv" class="panel-collapse collapse in">
                                        <div class="panel-body" style="min-height: 100px;height:300px;overflow-y: auto;">
                                            <div class="list-group" ng-repeat="item in roadlinkData.speedlimits">
                                                <div ng-if="item.speedType===3">
                                                    <div class="list-group-item">
                                                        <form class="form-horizontal" method="get">
                                                            <div class="form-group">
                                                                <label class="col-sm-4 control-label">限速类型</label>

                                                                <div class="col-sm-8">
                                                                    <select class="form-control" ng-model="item.speedType"  ng-options="value.id as value.label for value in speedTypeOption">
                                                                        <option>--</option>
                                                                    </select>
                                                                </div>
                                                                                <span class="glyphicon glyphicon-minus-sign"
                                                                                      style="float: right;color: rgb(192,192,192);margin-top: -45px"
                                                                                      ng-click="minusSpeedlimit($index)"></span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-4 control-label">限速条件</label>

                                                                <div class="col-sm-8">
                                                                    <select class="form-control" ng-model="item.speedDependent" ng-options="value.id as value.label for value in speedDependentOption">
                                                                        <option>--</option>

                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-4 control-label">顺向限速</label>
                                                                <div class="col-sm-8">
                                                                    <input type="text" class="form-control" placeholder="0530" ng-model="item.fromSpeedLimit">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-4 control-label">逆向限速</label>
                                                                <div class="col-sm-8">
                                                                    <input type="text" class="form-control" placeholder="0530" ng-model="item.toSpeedLimit">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-4 control-label">顺向限速来源</label>
                                                                <div class="col-sm-8">
                                                                    <select class="form-control" ng-model="item.fromLimitSrc" ng-options="value.id as value.label for value in fromLimitSrcOption">
                                                                        <option>--</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-4 control-label">逆向限速来源</label>
                                                                <div class="col-sm-8">
                                                                    <select class="form-control" ng-model="item.toLimitSrc" ng-options="value.id as value.label for value in fromLimitSrcOption">
                                                                        <option>--</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-4 control-label">时间段</label>
                                                                <div class="col-sm-8">
                                                                    <div class="row">
                                                                        <div class="col-sm-5">
                                                                            <input type="text" class="form-control" ng-model="item.timeDomain">
                                                                        </div>
                                                                        <div class="col-sm-5">
                                                                            <button type="submit" class="btn btn-default">时间控件</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</div>
