<style>
    .list-group-item {
        position: relative;
        display: block;
        padding: 1px 15px;
        margin-bottom: -1px;
        border: 1px solid #ddd;
    }

    #pedestrianDiv {
        opacity: 1;
        width: 100%;
    }

    #pedestrianDiv ul {
        list-style: none;
        overflow: hidden;
    }

    #pedestrianDiv ul > li {
        background-color: transparent;
        border-right: none;
        border-left: none;
    }

    #pedestrianDiv ul > li > div > input {
        color: #F3F6FA;
        background-color: #000;
        border: none;
    }

    #pedestrianDiv ul > li > div > select {
        color: #F3F6FA;
        background-color: #000;
        margin-left: -3px;
        border: 1px none;
    }

    #pedestrianDiv ul > li > div:first-child {
        display: inline-block;
        width: 80px;
    }

    #pedestrianDiv ul > li > label {
        color: #F3F6FA;
        font-weight: normal;
    }

    #pedestrianDiv ul > li > div > label {
        color: #F3F6FA;
        font-weight: normal;
    }

    .inline {
        display: inline-block !important;
        /*width: 70%;*/
        text-align: left;
    }

    .m-b-none {
        margin-bottom: 0 !important;
    }

    .radio {
        margin-bottom: 0px;
        margin-top: 0px;
    }

</style>
<div id="pedestrianDiv" ng-controller="pedestrianNaviController">
    <ul class="list-group list-group-lg m-b-none">
        <li class="list-group-item">
            <div><label class="control-label" >DICI城市类型</label></div>
            <div class="radio inline" style="text-align: left">
                <label>
                    <input type="radio" name="diciTypeRadio" value=0 ng-model="naviData.diciType">
                    不应用
                </label>
                <label>
                    <input type="radio" name="diciTypeRadio" value=1 ng-model="naviData.diciType">
                    全要素
                </label>
                <label>
                    <input type="radio" name="diciTypeRadio" value=2 ng-model="naviData.diciType">
                    简化版
                </label>
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label" >人行便道标记</label></div>
            <div class="radio inline" style="text-align: left">
                <label>
                    <input type="radio" name="sideWalkFlagRadio" value=0 ng-model="naviData.sidewalkFlag">
                    未采集
                </label>
                <label>
                    <input type="radio" name="sideWalkFlagRadio" value=1 ng-model="naviData.sidewalkFlag">
                    有
                </label>
                <label>
                    <input type="radio" name="sideWalkFlagRadio" value=2 ng-model="naviData.sidewalkFlag">
                    无
                </label>
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label" >人行阶梯标记</label></div>
            <div class="radio inline" style="text-align: left">
                <label>
                    <input type="radio" name="walkStairFlagRadio" value=0 ng-model="naviData.walkstairFlag">
                    未采集
                </label>
                <label>
                    <input type="radio" name="walkStairFlagRadio" value=1 ng-model="naviData.walkstairFlag">
                    有
                </label>
                <label>
                    <input type="radio" name="walkStairFlagRadio" value=2 ng-model="naviData.walkstairFlag">
                    无
                </label>
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label" >行人步行</label></div>
            <div class="radio inline" style="text-align: left">
                <label>
                    <input type="radio" name="walkFlagRadio" value=0 ng-model="naviData.walkFlag">
                    未调查
                </label>
                <label>
                    <input type="radio" name="walkFlagRadio" value=1 ng-model="naviData.walkFlag">
                    允许
                </label>
                <label>
                    <input type="radio" name="walkFlagRadio" value=2 ng-model="naviData.walkFlag">
                    禁止
                </label>
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <label class="control-label">人行便道</label>
            </div>
            <div class="inline">
                <span>(<a ng-click="showSidewalk()" ng-if="naviData!=undefined" style="cursor: pointer">{{naviData.sidewalks.length}}</a>)个</span>

            </div>
        </li>
        <li class="list-group-item">
            <div>
                <label class="control-label">人行阶梯</label>
            </div>
            <div class="inline">
                <span>(<a ng-click="showWalkstair()" ng-if="naviData!=undefined" style="cursor: pointer">{{naviData.walkstairs.length}}</a>)个</span>

            </div>
        </li>
    </ul>
</div>
