
<style>
    .list-group-item {
        position: relative;
        display: block;
        padding: 1px 15px;
        margin-bottom: -1px;
        /*background-color: #000;*/
        border: 1px solid #ddd;
    }

    #realTimeDiv {
        /*background-color: #000;*/
        opacity: 1;
        padding: 10px 5px;
        width: 100%;
        z-index: 20;
    }

    #realTimeDiv ul {
        /*background-color: #000;*/
        list-style: none;
        padding:5px;
        overflow: hidden;
    }

    #realTimeDiv ul > li {
        background-color: transparent;
    }

    #realTimeDiv ul > li > div > input {
        color: #F3F6FA;
        background-color: #000;
        border: none;
    }

    #realTimeDiv ul > li > div > select {
        color: #F3F6FA;
        background-color: #000;
        margin-left: -3px;
        border: 1px none;
    }

    #realTimeDiv ul > li > div:first-child {
        display: inline-block;
        width: 150px;
    }

    #realTimeDiv ul > li > label {
        color: #F3F6FA;
        font-weight: normal;
    }

    #realTimeDiv ul > li > div > label {
        color: #F3F6FA;
        font-weight: normal;
    }
    .m-b-none {
        margin-bottom: 0 !important;
    }
</style>
<div id="realTimeDiv" ng-controller="realtimeTrafficController">
    <ul class="list-group list-group-lg m-b-none">
        <li class="list-group-item">
            <div >
                <a ng-click="addIntRtic()" style="cursor: pointer">互联网RTIC信息（共<span ng-if="rticData!=undefined">{{rticData.intRtics.length}}</span>条）</a>
            </div>
        </li>
    </ul>
    <ul class="list-group list-group-lg m-b-none" >
        <li class="list-group-item" ng-repeat="item in rticData.intRtics">
            <div ng-click="showRticsInfo(item)"><label class="control-label">{{item.code}}</label>
                <span class="glyphicon glyphicon-remove-sign" style="float: right;color: darkgray;float: right;padding: 4px;" ng-click="minusIntRtic($index)"></span>
            </div>
        </li>
    </ul>

    <ul class="list-group list-group-lg m-b-none">
        <li class="list-group-item">
            <div >
                <a ng-click="addCarRtic()" style="cursor: pointer">车厂RTIC信息（共<span ng-if="linkData!=undefined">{{linkData.rtics.length}}</span>条）</a>
            </div>
        </li>
    </ul>
    <ul class="list-group list-group-lg m-b-none" >
        <li class="list-group-item" ng-repeat="cItem in linkData.rtics">
            <div ng-click="showCarInfo(cItem)"><label class="control-label">{{cItem.code}}</label>
                <span class="glyphicon glyphicon-remove-sign" style="float: right;color: darkgray;float: right;padding: 4px;" ng-click="minusCarRtic($index)"></span>
            </div>
        </li>
    </ul>

    <!--<div class="panel-group" id="wideRTIC" style="margin: 0px;">-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading">-->
                <!--<h4 class="panel-title">-->
                    <!--互联网RTIC信息（共<span ng-if="rticData!=undefined">{{rticData.intRtics.length}}</span>条）-->
                    <!--<a data-toggle="collapse" data-parent="#accordion"-->
                       <!--href="#wideRTICDiv">-->
                        <!--<span class="glyphicon glyphicon-chevron-down" style="float: left"></span>-->
                    <!--</a>-->

                    <!--<span class="glyphicon glyphicon-plus"-->
                          <!--style="float: right;color: darkgray;"-->
                          <!--ng-click="addIntRtic()"></span>-->
                <!--</h4>-->

            <!--</div>-->
            <!--<div id="wideRTICDiv" class="panel-collapse collapse in">-->
                <!--<div class="panel-body">-->
                    <!--<div class="list-group-item" ng-repeat=" item in rticData.intRtics">-->
                        <!--<div class="list-group-item">-->
                            <!--<form class="form-horizontal" method="get">-->
                                <!--<div class="form-group">-->
                                    <!--<label class="col-sm-3 control-label">RTIC代码</label>-->

                                    <!--<div class="col-sm-9">-->
                                        <!--<div class="row">-->
                                            <!--<div class="col-sm-6">-->
                                                <!--<input type="text" class="form-control" ng-model="item.code" readonly>-->
                                            <!--</div>-->
                                            <!--<div class="col-sm-6">-->
                                                <!--<button type="submit" class="btn btn-default">新增</button>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                   <!--<span class="glyphicon glyphicon-remove-sign"-->
                                         <!--style="float: right;color: darkgray;margin-top: -45px"-->
                                         <!--ng-click="minusIntRtic($index)"></span>-->
                                <!--</div>-->
                                <!--<div class="line line-dashed b-b line-lg pull-in"></div>-->
                                <!--<div class="form-group">-->
                                    <!--<label class="col-sm-3 control-label">RTIC等级</label>-->

                                    <!--<div class="col-sm-9">-->
                                        <!--<select class="form-control" ng-model="item.rank">-->
                                            <!--<option value="0">无</option>-->
                                            <!--<option value="1">高速</option>-->
                                            <!--<option value="2">城市高速</option>-->
                                            <!--<option value="3">干线道路</option>-->
                                            <!--<option value="4">其他道路</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="line line-dashed b-b line-lg pull-in"></div>-->
                                <!--<div class="form-group">-->
                                    <!--<label class="col-sm-3 control-label">RTIC方向</label>-->

                                    <!--<div class="col-sm-9">-->
                                        <!--<select class="form-control" ng-model="item.rticDr">-->
                                            <!--<option value="0">无</option>-->
                                            <!--<option value="1">顺方向</option>-->
                                            <!--<option value="2">逆方向</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="line line-dashed b-b line-lg pull-in"></div>-->
                                <!--<div class="form-group">-->
                                    <!--<label class="col-sm-3 control-label">上下行 标识</label>-->

                                    <!--<div class="col-sm-9">-->
                                        <!--<div id="updownFlagdiv{{$index}}" class="btn-group" style="border-radius: 10px;border: 1px solid #2aabd2;">-->
                                            <!--<button class="btn btn-default" style="border-radius: 15px; width: 60px;height: 20px; font-size: 10px; padding: 0px;border: 0px;outline: none;" id="updownFlag0_{{$index}}" ng-click="checkupdownFlag(0,item,$index)" ng-model="item.updownFlag">上行</button>-->
                                            <!--<button class="btn btn-default" style="border-radius: 15px;width: 60px;height: 20px;font-size: 10px;padding: 0px;border: 0px;outline: none;" id="updownFlag1_{{$index}}" ng-click="checkupdownFlag(1,item,$index)" ng-model="item.updownFlag">下行</button>-->
                                        <!--</div>-->
                                        <!--&lt;!&ndash;<div class="radio">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<label>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<input type="radio" name="updownFlagRadio" value="0"&ndash;&gt;-->
                                                       <!--&lt;!&ndash;ng-model="item.updownFlag">&ndash;&gt;-->
                                                <!--&lt;!&ndash;上行&ndash;&gt;-->
                                            <!--&lt;!&ndash;</label>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<label>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<input type="radio" name="updownFlagRadio" value="1"&ndash;&gt;-->
                                                       <!--&lt;!&ndash;ng-model="item.updownFlag">&ndash;&gt;-->
                                                <!--&lt;!&ndash;下行&ndash;&gt;-->
                                            <!--&lt;!&ndash;</label>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="line line-dashed b-b line-lg pull-in"></div>-->
                                <!--<div class="form-group">-->
                                    <!--<label class="col-sm-3 control-label">RTIC域类型</label>-->

                                    <!--<div class="col-sm-9">-->
                                        <!--<div id="rangeTypediv{{$index}}" class="btn-group" style="border-radius: 10px;border: 1px solid #2aabd2;">-->
                                            <!--<button class="btn btn-default" style="border-radius: 15px; width: 60px;height: 20px; font-size: 10px; padding: 0px;border: 0px;outline: none;" id="rangeType0_{{$index}}" ng-click="checkrangeType(0,item,$index)" ng-model="item.rangeType">未调查</button>-->
                                            <!--<button class="btn btn-default" style="border-radius: 15px;width: 60px;height: 20px;font-size: 10px;padding: 0px;border: 0px;outline: none;" id="rangeType1_{{$index}}" ng-click="checkrangeType(1,item,$index)" ng-model="item.rangeType">上坡</button>-->
                                            <!--<button class="btn btn-default" style="border-radius: 15px;width: 60px;height: 20px;font-size: 10px;padding: 0px;border: 0px;outline: none;" id="rangeType2_{{$index}}" ng-click="checkrangeType(2,item,$index)" ng-model="item.rangeType">下坡</button>-->
                                        <!--</div>-->
                                        <!--&lt;!&ndash;<div class="radio">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<label>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<input type="radio" name="rangeTypeRadio" value="0"&ndash;&gt;-->
                                                       <!--&lt;!&ndash;ng-model="item.rangeType">&ndash;&gt;-->
                                                <!--&lt;!&ndash;狭域&ndash;&gt;-->
                                            <!--&lt;!&ndash;</label>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<label>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<input type="radio" name="rangeTypeRadio" value="1"&ndash;&gt;-->
                                                       <!--&lt;!&ndash;ng-model="item.rangeType">&ndash;&gt;-->
                                                <!--&lt;!&ndash;中域&ndash;&gt;-->
                                            <!--&lt;!&ndash;</label>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<label>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<input type="radio" name="rangeTypeRadio" value="2"&ndash;&gt;-->
                                                       <!--&lt;!&ndash;ng-model="item.rangeType">&ndash;&gt;-->
                                                <!--&lt;!&ndash;广域&ndash;&gt;-->
                                            <!--&lt;!&ndash;</label>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</form>-->

                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="panel-group" id="carRTIC" style="margin: 0px;">-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading">-->
                <!--<h4 class="panel-title">-->
                    <!--车厂RTIC信息（共<span ng-if="linkData!=undefined">{{linkData.rtics.length}}</span>条）-->
                    <!--<a data-toggle="collapse" data-parent="#accordion"-->
                       <!--href="#carRTICDiv">-->
                        <!--<span class="glyphicon glyphicon-chevron-down" style="float: left"></span>-->
                    <!--</a>-->

                    <!--<span class="glyphicon glyphicon-plus"-->
                          <!--style="float: right;color: darkgray;"-->
                          <!--ng-click="addCarRtic()"></span>-->
                <!--</h4>-->

            <!--</div>-->
            <!--<div id="carRTICDiv" class="panel-collapse collapse in">-->
                <!--<div class="panel-body">-->
                    <!--<div class="list-group" ng-repeat="cItem in linkData.rtics">-->
                        <!--<div class="list-group-item">-->
                            <!--<form class="form-horizontal" method="get">-->
                                <!--<div class="form-group">-->
                                    <!--<label class="col-sm-3 control-label">RTIC代码</label>-->

                                    <!--<div class="col-sm-9">-->
                                        <!--<div class="row">-->
                                            <!--<div class="col-sm-6">-->
                                                <!--<input type="text" class="form-control" ng-model="cItem.code" readonly>-->
                                            <!--</div>-->
                                            <!--<div class="col-sm-6">-->
                                                <!--<button type="submit" class="btn btn-default">新增</button>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                  <!--<span class="glyphicon glyphicon-remove-sign"-->
                                        <!--style="float: right;color: darkgray;margin-top: -45px"-->
                                        <!--ng-click="minusCarRtic($index)"></span>-->
                                <!--</div>-->
                                <!--<div class="line line-dashed b-b line-lg pull-in"></div>-->
                                <!--<div class="form-group">-->
                                    <!--<label class="col-sm-3 control-label">RTIC等级</label>-->

                                    <!--<div class="col-sm-9">-->
                                        <!--<select class="form-control" ng-model="cItem.rank" ng-options="value.id as value.label for value in rankoption">-->
                                            <!--<option>--</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="line line-dashed b-b line-lg pull-in"></div>-->
                                <!--<div class="form-group">-->
                                    <!--<label class="col-sm-3 control-label">RTIC方向</label>-->

                                    <!--<div class="col-sm-9">-->
                                        <!--<select class="form-control" ng-model="cItem.rticDir" ng-options="value.id as value.label for value in rticDroption">-->
                                            <!--<option >--</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="line line-dashed b-b line-lg pull-in"></div>-->
                                <!--<div class="form-group">-->
                                    <!--<label class="col-sm-3 control-label">上下行 标识</label>-->

                                    <!--<div class="col-sm-9">-->
                                        <!--<div id="rticsupdownFlagdiv{{$index}}" class="btn-group" style="border-radius: 10px;border: 1px solid #2aabd2;">-->
                                            <!--<button class="btn btn-default" style="border-radius: 15px; width: 60px;height: 20px; font-size: 10px; padding: 0px;border: 0px;outline: none;" id="rticsupdownFlag0_{{$index}}" ng-click="checkrticsupdownFlag(0,cItem,$index)" ng-model="cItem.updownFlag">上行</button>-->
                                            <!--<button class="btn btn-default" style="border-radius: 15px;width: 60px;height: 20px;font-size: 10px;padding: 0px;border: 0px;outline: none;" id="rticsupdownFlag1_{{$index}}" ng-click="checkrticsupdownFlag(1,cItem,$index)" ng-model="cItem.updownFlag">下行</button>-->
                                        <!--</div>-->
                                        <!--&lt;!&ndash;<div class="radio">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<label>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<input type="radio" name="updownFlagRadio" value="0"&ndash;&gt;-->
                                                       <!--&lt;!&ndash;ng-model="cItem.updownFlag">&ndash;&gt;-->
                                                <!--&lt;!&ndash;上行&ndash;&gt;-->
                                            <!--&lt;!&ndash;</label>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<label>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<input type="radio" name="updownFlagRadio" value="1"&ndash;&gt;-->
                                                       <!--&lt;!&ndash;ng-model="cItem.updownFlag">&ndash;&gt;-->
                                                <!--&lt;!&ndash;下行&ndash;&gt;-->
                                            <!--&lt;!&ndash;</label>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="line line-dashed b-b line-lg pull-in"></div>-->
                                <!--<div class="form-group">-->
                                    <!--<label class="col-sm-3 control-label">RTIC域类型</label>-->

                                    <!--<div class="col-sm-9">-->
                                        <!--<div id="rticsrangeTypediv{{$index}}" class="btn-group" style="border-radius: 10px;border: 1px solid #2aabd2;">-->
                                            <!--<button class="btn btn-default" style="border-radius: 15px; width: 60px;height: 20px; font-size: 10px; padding: 0px;border: 0px;outline: none;" id="rticsrangeType0_{{$index}}" ng-click="checkrticsrangeType(0,item,$index)" ng-model="cItem.rangeType">未调查</button>-->
                                            <!--<button class="btn btn-default" style="border-radius: 15px;width: 60px;height: 20px;font-size: 10px;padding: 0px;border: 0px;outline: none;" id="rticsrangeType1_{{$index}}" ng-click="checkrticsrangeType(1,item,$index)" ng-model="cItem.rangeType">上坡</button>-->
                                            <!--<button class="btn btn-default" style="border-radius: 15px;width: 60px;height: 20px;font-size: 10px;padding: 0px;border: 0px;outline: none;" id="rticsrangeType2_{{$index}}" ng-click="checkrticsrangeType(2,item,$index)" ng-model="cItem.rangeType">下坡</button>-->
                                        <!--</div>-->
                                        <!--&lt;!&ndash;<div class="radio">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<label>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<input type="radio" name="rangeTypeRadio" value="0"&ndash;&gt;-->
                                                       <!--&lt;!&ndash;ng-model="cItem.rangeType">&ndash;&gt;-->
                                                <!--&lt;!&ndash;狭域&ndash;&gt;-->
                                            <!--&lt;!&ndash;</label>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<label>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<input type="radio" name="rangeTypeRadio" value="1"&ndash;&gt;-->
                                                       <!--&lt;!&ndash;ng-model="cItem.rangeType">&ndash;&gt;-->
                                                <!--&lt;!&ndash;中域&ndash;&gt;-->
                                            <!--&lt;!&ndash;</label>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<label>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<input type="radio" name="rangeTypeRadio" value="2"&ndash;&gt;-->
                                                       <!--&lt;!&ndash;ng-model="cItem.rangeType">&ndash;&gt;-->
                                                <!--&lt;!&ndash;广域&ndash;&gt;-->
                                            <!--&lt;!&ndash;</label>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</form>-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
