<style>

    #zoneProperDiv {
        border: 1px solid #FBFBFB;

    }

</style>
<div id="zoneProperDiv" ng-controller="zonePeopertyController">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal" method="get">
                <div class="form-group">
                    <label class="col-sm-3 control-label">开发状态</label>

                    <div class="col-sm-9">
                        <div id="developStatediv" class="btn-group" style="border-radius: 10px;border: 1px solid #2aabd2;">
                            <button class="btn btn-default" style="border-radius: 15px; width: 60px;height: 20px; font-size: 10px; padding: 0px;border: 0px;outline: none;" id="developStatebtn0" ng-click="checkdevelopState(0)" ng-model="zoneData.developState">非详细</button>
                            <button class="btn btn-default" style="border-radius: 15px;width: 60px;height: 20px;font-size: 10px;padding: 0px;border: 0px;outline: none;" id="developStatebtn1" ng-click="checkdevelopState(1)" ng-model="zoneData.developState">详细</button>
                            <button class="btn btn-default" style="border-radius: 15px;width: 60px;height: 20px;font-size: 10px;padding: 0px;border: 0px;outline: none;" id="developStatebtn2" ng-click="checkdevelopState(2)" ng-model="zoneData.developState">未验证</button>
                        </div>
                        <!--<div class="radio">-->
                            <!--<label>-->
                                <!--<input type="radio" name="developStateRadio" value="0" ng-model="zoneData.developState">-->
                                <!--非详细-->
                            <!--</label>-->
                            <!--<label>-->
                                <!--<input type="radio" name="developStateRadio" value="1" ng-model="zoneData.developState">-->
                                <!--详细-->
                            <!--</label> <label>-->
                            <!--<input type="radio" name="developStateRadio" value="2" ng-model="zoneData.developState">-->
                            <!--未验证-->
                        <!--</label>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">城市道路</label>

                    <div class="col-sm-9">
                        <div id="urbandiv" class="btn-group" style="border-radius: 10px;border: 1px solid #2aabd2;">
                            <button class="btn btn-default" style="border-radius: 15px; width: 60px;height: 20px; font-size: 10px; padding: 0px;border: 0px;outline: none;" id="urbanbtn0" ng-click="checkurban(0)" ng-model="zoneData.urban">否</button>
                            <button class="btn btn-default" style="border-radius: 15px;width: 60px;height: 20px;font-size: 10px;padding: 0px;border: 0px;outline: none;" id="urbanbtn1" ng-click="checkurban(1)" ng-model="zoneData.urban">是</button>
                        </div>
                        <!--<div class="radio">-->
                            <!--<label>-->
                                <!--<input type="radio" name="urbanRadio" value="0" ng-model="zoneData.urban">-->
                                <!--否-->
                            <!--</label>-->
                            <!--<label>-->
                                <!--<input type="radio" name="urbanRadio" value="1" ng-model="zoneData.urban">-->
                                <!--是-->
                            <!--</label>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">DICI城市类型</label>

                    <div class="col-sm-9">

                        <div id="diciTypediv" class="btn-group" style="border-radius: 10px;border: 1px solid #2aabd2;">
                            <button class="btn btn-default" style="border-radius: 15px; width: 60px;height: 20px; font-size: 10px; padding: 0px;border: 0px;outline: none;" id="diciTypebtn0" ng-click="checkdiciType(0)" ng-model="zoneData.diciType">不应用</button>
                            <button class="btn btn-default" style="border-radius: 15px;width: 60px;height: 20px;font-size: 10px;padding: 0px;border: 0px;outline: none;" id="diciTypebtn1" ng-click="checkdiciType(1)" ng-model="zoneData.diciType">全要素</button>
                            <button class="btn btn-default" style="border-radius: 15px;width: 60px;height: 20px;font-size: 10px;padding: 0px;border: 0px;outline: none;" id="diciTypebtn2" ng-click="checkdiciType(2)" ng-model="zoneData.diciType">简化版</button>
                        </div>

                        <!--<div class="radio">-->
                            <!--<label>-->
                                <!--<input type="radio" name="theoryOrActual" value="0" ng-model="zoneData.diciType">-->
                                <!--不应用-->
                            <!--</label>-->
                            <!--<label>-->
                                <!--<input type="radio" name="theoryOrActual" value="1" ng-model="zoneData.diciType">-->
                                <!--全要素-->
                            <!--</label>-->
                            <!--<label>-->
                                <!--<input type="radio" name="theoryOrActual" value="2" ng-model="zoneData.diciType">-->
                                <!--简化版-->
                            <!--</label>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">左区划号码</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="0530" ng-model="zoneData.leftRegionId">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">右区划号码</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="0530" ng-model="zoneData.rightRegionId">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel-group" id="zoneLeftOrRight" style="margin: 0px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    zone（共<span ng-if="zoneData!=undefined">{{zoneData.zones.length}}</span>条）
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#zoneLeftOrRightDiv">
                        <span class="glyphicon glyphicon-chevron-down" style="float: left"></span>
                    </a>
                </h4>

            </div>
            <div id="zoneLeftOrRightDiv" class="panel-collapse collapse in">

                <div class="panel-body" style="min-height: 100px;height:300px;overflow-y: auto;">
                    <div class="list-group" ng-repeat="item in zoneData.zones">
                        <div class="list-group-item">
                            <form class="form-horizontal" method="get">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">zone</label>

                                    <div class="col-sm-9">
                                        <div class="row">
                                            <label class="col-sm-4 control-label">区划号码</label>

                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" placeholder="0530" ng-model="item.regionId">
                                            </div>


                                        </div>
                                        <div class="line line-dashed b-b line-lg pull-in"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"></label>

                                    <div class="col-sm-9">
                                        <div class="row">
                                            <label class="col-sm-4 control-label">Zone类型</label>

                                            <div class="col-sm-8">
                                                <select class="form-control" ng-model="item.type" ng-options="value.id as value.label for value in typeoption">
                                                    <option>--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="line line-dashed b-b line-lg pull-in"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"></label>

                                    <div class="col-sm-9">
                                        <div class="row">
                                            <label class="col-sm-4 control-label">Link左右</label>

                                            <div class="col-sm-8">
                                                <div id="sidediv{{$index}}" class="btn-group" style="border-radius: 10px;border: 1px solid #2aabd2;">
                                                    <button class="btn btn-default" style="border-radius: 15px; width: 60px;height: 20px; font-size: 10px; padding: 0px;border: 0px;outline: none;" id="side0_{{$index}}" ng-click="checkside(0,sideitem,$index)" ng-model="item.side">左</button>
                                                    <button class="btn btn-default" style="border-radius: 15px;width: 60px;height: 20px;font-size: 10px;padding: 0px;border: 0px;outline: none;" id="side1_{{$index}}" ng-click="checkside(1,sideitem,$index)" ng-model="item.side">右</button>
                                                </div>
                                                <!--<div class="radio">-->
                                                    <!--<label>-->
                                                        <!--<input type="radio" name="sideRadio" value="0"-->
                                                               <!--ng-model="item.side">-->
                                                        <!--左-->
                                                    <!--</label>-->
                                                    <!--<label>-->
                                                        <!--<input type="radio" name="sideRadio" value="1"-->
                                                               <!--ng-model="item.side">-->
                                                        <!--右-->
                                                    <!--</label>-->
                                                <!--</div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg pull-in"></div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>