<style>

    div {
        -webkit-font-smoothing: antialiased;
        line-height: 1.42857143;
        color: #58666e;
        /*background-color: transparent;*/
        margin-right: 0px;
    }
    .list-group-item {
        position: relative;
        display: block;
        margin-bottom: -1px;
        /*background-color: #000;*/
        border: 1px solid #ddd;
        padding:0px;
    }

    #zoneProperDiv {
        opacity: 1;
        padding: 10px 5px;
        width: 100%;
        z-index: 20;
    }

    #zoneProperDiv ul {
        /*background-color: #000;*/
        list-style: none;
        overflow: hidden;
    }

    #zoneProperDiv ul > li {
        background-color: transparent;
    }

    #zoneProperDiv ul > li > div > input {
        color: #F3F6FA;
        background-color: #000;
        border: none;
        width:170px;
        margin-left: -3px;
        padding-left: 5px;
        border-radius: 4px;
        margin-top: 5px;
    }

    #zoneProperDiv ul > li > div > select {
        color: #F3F6FA;
        /*background-color: #000;*/
        margin-left: -3px;
        border: 1px none;
    }

    #zoneProperDiv ul > li > div:first-child {
        display: inline-block;
        width: 80px;
    }

    #zoneProperDiv ul > li > label {
        color: #F3F6FA;
        font-weight: normal;
    }

    #zoneProperDiv ul > li > div > label {
        color: #F3F6FA;
        font-weight: normal;
    }
    .m-b-none {
        margin-bottom: 0 !important;
    }
    .inline {
        display: inline-block !important;
        /*width:100px;*/
        text-align: left;
    }

    .radio {
        margin-bottom: 0px;
        margin-top: 0px;
    }

</style>
<div id="zoneProperDiv" ng-controller="zonePeopertyController">
    <ul  class="list-group list-group-lg m-b-none">
        <li class="list-group-item">
            <div><label class="control-label">开发状态</label></div>
            <div class="radio inline" style="text-align: left">
                        <!--<div id="developStatediv" class="btn-group" style="border-radius: 10px;border: 1px solid #2aabd2;">-->
                            <!--<button class="btn btn-default" style="border-radius: 15px; width: 60px;height: 20px; font-size: 10px; padding: 0px;border: 0px;outline: none;" id="developStatebtn0" ng-click="checkdevelopState(0)" ng-model="zoneData.developState">非详细</button>-->
                            <!--<button class="btn btn-default" style="border-radius: 15px;width: 60px;height: 20px;font-size: 10px;padding: 0px;border: 0px;outline: none;" id="developStatebtn1" ng-click="checkdevelopState(1)" ng-model="zoneData.developState">详细</button>-->
                            <!--<button class="btn btn-default" style="border-radius: 15px;width: 60px;height: 20px;font-size: 10px;padding: 0px;border: 0px;outline: none;" id="developStatebtn2" ng-click="checkdevelopState(2)" ng-model="zoneData.developState">未验证</button>-->
                        <!--</div>-->
                <label>
                    <input type="radio" name="developStateRadio" value="0" ng-model="zoneData.developState">
                    非详细
                </label>
                <label>
                    <input type="radio" name="developStateRadio" value="1" ng-model="zoneData.developState">
                    详细
                </label>
                <label>
                    <input type="radio" name="developStateRadio" value="2" ng-model="zoneData.developState">
                    未验证
                </label>
            </div>
            </li>
            <li class="list-group-item">
                <div><label class="control-label">城市道路</label></div>

                <div class="radio inline" style="text-align: left">
                        <!--<div id="urbandiv" class="btn-group" style="border-radius: 10px;border: 1px solid #2aabd2;">-->
                            <!--<button class="btn btn-default" style="border-radius: 15px; width: 60px;height: 20px; font-size: 10px; padding: 0px;border: 0px;outline: none;" id="urbanbtn0" ng-click="checkurban(0)" ng-model="zoneData.urban">否</button>-->
                            <!--<button class="btn btn-default" style="border-radius: 15px;width: 60px;height: 20px;font-size: 10px;padding: 0px;border: 0px;outline: none;" id="urbanbtn1" ng-click="checkurban(1)" ng-model="zoneData.urban">是</button>-->
                        <!--</div>-->
                        <div class="radio">
                            <label>
                                <input type="radio" name="urbanRadio" value="0" ng-model="zoneData.urban">
                                否
                            </label>
                            <label>
                                <input type="radio" name="urbanRadio" value="1" ng-model="zoneData.urban">
                                是
                            </label>
                        </div>
                    </div>
                </li>
                <!--<div class="form-group">-->
                    <!--<label class="col-sm-3 control-label">DICI城市类型</label>-->

                    <!--<div class="col-sm-9">-->

                        <!--<div id="diciTypediv" class="btn-group" style="border-radius: 10px;border: 1px solid #2aabd2;">-->
                            <!--<button class="btn btn-default" style="border-radius: 15px; width: 60px;height: 20px; font-size: 10px; padding: 0px;border: 0px;outline: none;" id="diciTypebtn0" ng-click="checkdiciType(0)" ng-model="zoneData.diciType">不应用</button>-->
                            <!--<button class="btn btn-default" style="border-radius: 15px;width: 60px;height: 20px;font-size: 10px;padding: 0px;border: 0px;outline: none;" id="diciTypebtn1" ng-click="checkdiciType(1)" ng-model="zoneData.diciType">全要素</button>-->
                            <!--<button class="btn btn-default" style="border-radius: 15px;width: 60px;height: 20px;font-size: 10px;padding: 0px;border: 0px;outline: none;" id="diciTypebtn2" ng-click="checkdiciType(2)" ng-model="zoneData.diciType">简化版</button>-->
                        <!--</div>-->

                        <!--&lt;!&ndash;<div class="radio">&ndash;&gt;-->
                            <!--&lt;!&ndash;<label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<input type="radio" name="theoryOrActual" value="0" ng-model="zoneData.diciType">&ndash;&gt;-->
                                <!--&lt;!&ndash;不应用&ndash;&gt;-->
                            <!--&lt;!&ndash;</label>&ndash;&gt;-->
                            <!--&lt;!&ndash;<label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<input type="radio" name="theoryOrActual" value="1" ng-model="zoneData.diciType">&ndash;&gt;-->
                                <!--&lt;!&ndash;全要素&ndash;&gt;-->
                            <!--&lt;!&ndash;</label>&ndash;&gt;-->
                            <!--&lt;!&ndash;<label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<input type="radio" name="theoryOrActual" value="2" ng-model="zoneData.diciType">&ndash;&gt;-->
                                <!--&lt;!&ndash;简化版&ndash;&gt;-->
                            <!--&lt;!&ndash;</label>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="line line-dashed b-b line-lg pull-in"></div>-->
        <li class="list-group-item">
            <div><label class="control-label">左区划号码</label></div>

            <div class="inline" style="text-align: left">
                <input type="text" placeholder="0530" ng-model="zoneData.leftRegionId">
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">右区划号码</label></div>

            <div class="inline" style="text-align: left">
                  <input type="text" placeholder="0530" ng-model="zoneData.rightRegionId">
            </div>
        </li>
     </ul>


    <ul class="list-group list-group-lg m-b-none">
        <li class="list-group-item">
            <div  class="inline" style="text-align: left;width: 120px;">
                    zone（共<span ng-if="zoneData!=undefined">{{zoneData.zones.length}}</span>条）
            </div>
        </li>
    </ul>
    <ul class="list-group list-group-lg m-b-none" >
        <li class="list-group-item" ng-repeat="item in zoneData.zones">
            <div  ng-click="showZoneWin(item)"><label class="control-label">0530{{item.regionId}}</label></div>
        </li>
    </ul>
</div>