<div class="fm-panel" ng-controller="RoadNameCtl">
 	<div class="title">道路名作业</div>
    <!-- <div class="fm-panel"> -->
    	<div class="table-header" style="margin:10px 13px 10px 5px">
       		<button type="button" class="btn btn-shape" ng-click="openSubModal('search')">查询 </button>
            <button type="button" class="btn btn-shape" ng-click="openSubModal('add')">新增 </button>
            <button type="button" class="btn btn-shape" ng-click="openSplitSubModal('split')">拆分</button>
        	<button type="button" class="btn btn-shape" ng-click="openSubModal('check')" ng-show="!checkRunning">检查</button>
			<button type="button" class="btn btn-shape" disabled ng-show="checkRunning">检查中...</button>
			<button type="button" class="btn btn-shape" ng-click="openSubModal('checkResult')">检查结果查看 </button>
	        <div class="pull-right btn-group dropdown" sytle="position:fixed;right:0px;width:100%;" uib-dropdown on-toggle="toggled(open)" auto-close="outsideClick">
	            <button type="button" class="btn dropdown-toggle btn-xs btn-shape" style="height:33px;width:50px;" uib-dropdown-toggle aria-haspopup="true" aria-expanded="true">
	                <i class="glyphicon glyphicon-th icon-th"></i> <span class="caret"></span>
	            </button>
	            <ul class="dropdown-menu dropdown-menu-right fm-dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
	                <li ng-repeat="col in cols">
	                    <label class="checkbox-inline">
	                        <input type="checkbox" ng-model-options="{getterSetter: true}" ng-model="col.show"/> {{col.title}}
	                    </label>
	                </li>
	            </ul>
	        </div>
        </div>
        <div class="content fm-table-content fm-fitsize dark scroll-styled" style="top:80px;bottom: 50px">
            <script type="text/ng-template" id="headerCheckbox.html">
                 <input type="checkbox" ng-model="checkboxes.checked" class="select-all" value=""/>
            </script>
            <table ng-table-dynamic="tableParams with cols" class="table table-condensed table-bordered poi-list">
                <colgroup>
                    <col ng-repeat="col in cols | filter:{show: true}" width="{{col.width || '100px'}}"/>
                </colgroup>
                <tr ng-repeat="row in $data" ng-dblClick="openEditPanel(row,$index)" ng-class="{true:'tr-backcolor',false:''}[row.checked]">
                    <td ng-repeat="col in $columns" ng-switch="col.field">
                              <input ng-switch-when="selector" type="checkbox" ng-model="row.checked" />
                        <p class="text-ellipsis" title="{{row[col.field]}}" ng-bind-html="col.getValue?col.getValue(this,row):row[col.field]"></p>
                    </td>
                </tr>
                <tr class="text-center" ng-show="!$data.length"><td colspan="{{(cols | filter: {show: true}).length}}" ng-bind="loadTableDataMsg"></td></tr>
            </table>
        </div>
		<div ng-show="editPanel" drag class="div-float" style="top:20px;left:20px;width:800px;border-radius:5px;">
	        <button type="button"  class="close" style="padding:0px 4px;font-size:28px;color:white;opacity:1;" ng-click="closeEditPanel()" title="关闭"><span>&times;</span></button>
	        <button type="button"  drag-handle class="close fa fa-arrows" style="padding:7px;font-size:16px;color:white;opacity:1;" title="拖拽"></button>
	        <div ng-include="roadNameEditPanelTpl"></div>
	    </div>
	    <div ng-show="subModal" drag class="div-float" style="top:80px;left:120px;min-width:600px;max-width:800px;border-radius:5px;">
	        <button type="button" class="close" style="padding:0px 4px;font-size:28px;color:white;opacity:1;" ng-click="closeSubModal()"><span>&times;</span></button>
	        <button type="button"  drag-handle class="close fa fa-arrows" style="padding:7px;font-size:16px;color:white;opacity:1;" title="拖拽"></button>
	        <div ng-include="subModalTpl"></div>
	    </div>
	    <div ng-show="splitSubModal" class="div-float" style="top:80px;left:120px;border-radius:5px;">
	        <button type="button" class="close" style="padding:0px 4px;font-size:28px;color:white;opacity:1;" ng-click="closeSplitSubModal()"><span>&times;</span></button>
	        <div ng-include="splitSubModalTpl"></div>
	    </div>
    </div>
<!-- </div> -->