<div class="fm-panel" ng-controller="SplitSubModalCtl" style="margin:0px;width:330px;">
	<button type="button" class="close" style="padding:0px 4px;" ng-click="closeSubModal()"><span>&times;</span></button>
    <div class="title">选择要检查的数据</div>
    <div class="content" >
        <div style="height:200px;">
			<ul class="fm-ul fm-ul-form">
                <li>
                    <label>检查的数据为:</label>
                    <div class="block">
                        <div>
                                <label>
                                    <input fm-edit-view type="radio" name="indoor" value="3" ng-model="poi.indoor">
                                    选中的数据
                                </label>
                                </br>
                                </br>
                                </br>
                                <label>
                                    <input fm-edit-view type="radio" name="indoor" value="0" ng-model="poi.indoor">
                                    所有的数据
                                </label>
                            </div>
                    </div>
                </li>
            </ul>
        </div>
        <div style="border-bottom: 1px solid #ddd;"></div>
        <div style="text-align:right;">
            <button type="button" class="btn btn-main" ng-disabled="running" ng-click="doChoice()">确定</button>
        </div>
    </div>
</div>