<div class="nameOfBraDiv" ng-controller="namesOfBranchCtrl">
   <!--<div class="panel-heading font-bold" style="text-align: center;top: 0px;z-index: 999;width: 100%;height: 40px;opacity: .8;background-color: #404040;color: #fff;">-->
        <!--分歧-->
        <!--<div class="btn-group d-radio-btn" data-toggle="buttons">-->
          <!--<label ng-class="{'active':$index==0,'btn btn-primary btn-xs':true}" ng-bind="branchPid">-->
          <!--</label>-->
        <!--</div>-->
    <!--</div>-->
    <div style="height:50px">
        <form class="form-horizontal" method="get">
            <div class="panel panel-default " style="background-color: transparent;border:0;">
                <div class="panel-heading font-bold" style=" border:0;height: 100%; background-color: transparent;color:#FFF;">
                    分歧
                    <label ng-class="{'active':$index==0,'btn btn-primary btn-xs':true}" ng-bind="branchPid">
                    </label>
                </div>
            </div>
        </form>
    </div>

    <div id="picMapShow">
        <img id="picMapImg" ng-src="{{arrowMapShow}}">
        <img id="picModalImg" ng-src="{{patternCodeSrc}}" alt="无此模式图">
        <div id="picMapDesc" ng-bind="diverObj.details[0].arrowCode"></div>
    </div>
    <form name="nameBranchForm">
    <!--begin 模式图信息-->
    <div class="module-fix-box">
        <div id="detailChart" class="panel-collapse col-sm-12 collapse in" aria-expanded="true">
            <div class="d-group">
                <div class="d-name">进入线：</div>
                <div class="d-value">
                    <input type="text" class="d-input rounded" placeholder="入" ng-model="diverObj.inLinkPid">
                </div> 
            </div>
            <div class="d-group">
                <div class="d-name">退出线：</div>
                <div class="d-value">
                    <input type="text" class="d-input rounded" placeholder="出" ng-model="diverObj.outLinkPid">
                </div> 
            </div>
            <div class="d-group info-group">
                <div class="d-name">关系类型：</div>
                <div class="d-value">
                    <div class="btn-group d-radio-btn" data-toggle="buttons" style="z-index:0">
                      <label ng-class="{'btn-primary':item.code==diverObj.relationshipType,'btn-default':item.code!=diverObj.relationshipType,'btn btn-sm relation-type':true}" ng-repeat="item in relationType" ng-click="switchRelType(item.code)">
                        <input type="radio" name="relationType" value="{{item.code}}" autocomplete="off" data-relation-type="{{item.code}}">{{item.label}}
                      </label>
                    </div>
                </div> 
            </div>
            <div class="d-group">
                <div class="d-name">分歧类型：</div>
                <div class="d-value">
                    <select class="rounded d-input" ng-change="changeBranchType(diverObj.details[0].branchType);" ng-model="diverObj.details[0].branchType" ng-options="value.id as value.label for value in branchTypeOptions" ></select>
                </div> 
            </div>
            <div class="d-group">
                <div class="d-name">箭头图号：</div>
                <div class="d-value">
                    <div ng-show="diverObj.details[0].branchType != 3">
                        <input type="text" class="rounded d-input form-pic-input" placeholder="箭头图代码" ng-model="diverObj.details[0].arrowCode" ng-keydown="showPicSelect()">
                    </div>
                    <div ng-show="diverObj.details[0].branchType == 3">
                        <input type="text" class="rounded d-input form-pic-input" placeholder="箭头图代码" ng-model="diverObj.details[0].arrowCode" ng-keydown="showPicSelect()" data-toggle="tooltip" data-placement="top" title="3D分歧箭头图号必须e或c开头">
                    </div>
                    <div class="pic-show" ng-show="showImgData">
                        <div class="option-hide">
                            <button type="button" class="close" aria-label="Close" ng-click="hidePicSelect($event)">
                                <span aria-hidden="true" class="glyphicon glyphicon-remove-sign"></span>
                            </button>
                        </div>
                        <div class="pic-show-well">
                            <div class="img-well" ng-repeat="picture in pictures" ng-click="selectPicCode(picture.fileName,picture.fileContent)">
                                <img class="show-img" ng-src="{{picture.fileContent}}" title="{{picture.fileName}}">
                                <div class="img-describe">{{picture.fileName}}</div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="pull-left num-well">
                            第 <span class="pic-num" ng-bind="picNowNum">1</span> 页 |
                            共 <span class="pic-total" ng-bind="picTotal">1</span> 页
                        </div>
                        <div class="pic-show-btn pull-right">
                            <div class="pull-right btn-group">
                                <button class="btn btn-default btn-xs pic-pre" ng-click="picPre()" disabled><<</button>
                                <button class="btn btn-default btn-xs pic-next" ng-click="picNext()">>></button>
                            </div>
                        </div>
                        <div class="pic-loading" ng-bind="loadText">loading...</div>
                    </div>
                </div>
            </div>
            <div class="d-group">
                <div class="d-name">模式图号：</div>
                <div class="d-value">
                    <div ng-show="diverObj.details[0].branchType != 3">
                        <div ng-bind="diverObj.details[0].patternCode" class="show-val"></div>
                    </div>
                    <div ng-show="diverObj.details[0].branchType == 3">
                        <input type="text" class="d-input" placeholder="模式图号" ng-model="diverObj.details[0].patternCode" ng-change="changePatternCode()" data-toggle="tooltip" data-placement="top" title="3D分歧模式图号必须5或8开头"/>
                    </div>
                </div>
            </div>
            <div class="d-group">
                <div class="d-name">出口编号：</div>
                <div class="d-value">
                    <input type="text" class="d-input rounded" placeholder="出口编号" ng-model="diverObj.details[0].exitNum">
                </div> 
            </div>
            <div class="d-group">
                <div class="d-name">箭头标志：</div>
                <div class="d-value">
                    <div class="btn-group d-radio-btn" data-toggle="buttons" style="z-index:0">
                      <label ng-class="{'btn-primary':item.code==diverObj.details[0].arrowFlag,'btn-default':item.code!=diverObj.details[0].arrowFlag,'btn btn-sm arrow-pic-flag':true}" ng-repeat="item in arrowPicFlag" ng-click="switchArrowType(item.code)">
                        <input type="radio" name="arrowPicFlag" autocomplete="off" data-relation-type="{{item.code}}">{{item.label}}
                      </label>
                    </div>
                </div> 
            </div>
            <div class="d-group">
                <div class="d-name">设施类型：</div>
                <div class="d-value">
                    <select class="rounded d-input"  ng-model="diverObj.details[0].estabType" ng-options="value.id as value.label for value in estabTypeOptions" ></select>
                </div> 
            </div>
            <div class="d-group">
                <div class="d-name">名称种别：</div>
                <div class="d-value">
                    <select class="d-input" ng-model="diverObj.details[0].nameKind" ng-options="value.id as value.label for value in nameKindOptions" >
                    </select>
                </div> 
            </div>
            <div class="d-group">
                <div class="d-name">声音方向：</div>
                <div class="d-value">
                    <select class="d-input" ng-model="diverObj.details[0].voiceDir" ng-options="value.id as value.label for value in voiceDirOptions" >
                    </select>
                </div> 
            </div>
            <div class="d-group">
                <div class="d-name">向导代码：</div>
                <div class="d-value">
                    <select class="d-input" ng-model="diverObj.details[0].guideCode" ng-options="value.id as value.label for value in guideCodeOptions" >
                    </select>
                </div> 
            </div>
        </div>
    </div>
    </form>
    <!--end 模式图信息-->
    <!--begin 名称信息-->
    <div ng-if="diverObj.details[0].branchType != 3">
        <div class="module-box show-detail-title" ng-click="showDetail(0);">
            <div class="box-head font-bold">
                名称信息（共 <span ng-bind="diverObj.details[0].names.length"></span> 条）
            </div>
        </div>
    </div>
    <!--end 名称信息-->
    <!--begin 经过线-->
    <div class="module-box show-detail-title" ng-click="showDetail(1);">
        <div class="box-head font-bold">
             经过线 （共 <span ng-bind="diverObj.vias.length"></span> 条）
        </div>
    </div>
    <!--end 经过线-->
</div>