<div class="fm-component" ng-controller="luFaceCtrl">
    <div class="title">
        土地利用面
        <span class="label label-info">{{luFaceData.pid}}</span>
    </div>
    <div class="content scroll-styled dark" style="height:90%;">
        <form name="luFaceForm">
            <div class="fm-panel">
                <div class="content">
                    <ul class="fm-ul fm-ul-form">
                        <li>
                            <label>FACE种别</label>
                            <div>
                                <select ng-model="luFaceData.kind"
                                        ng-options="value.id as value.label for value in kind">
                                </select>
                            </div>
                        </li>
                        <li>
                            <label>FACE面积</label>
                            <div>
                                <input type="text" class="fm-control" ng-model="luFaceData.area"
                                       disabled="disabled">
                            </div>
                        </li>
                        <li>
                            <label>FACE周长</label>
                            <div>
                                <input type="text" disabled class="fm-control chosen-disabled" ng-model="luFaceData.perimeter">
                            </div>
                        </li>
                        <li>
                            <label>图幅号</label>
                            <div>
                                <input type="text" disabled class="fm-control chosen-disabled" ng-model="luFaceData.meshId">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="fm-panel">
                <div class="content">
                    <ul class="list-group list-group-lg m-b-none">
                        <li class="list-group-item">
                            <div class="list-name">
                                <a ng-click="addItem()" class="fm-cursor">名称（共 {{nameGroup.length}} 组）</a>
                            </div>
                            <div class="list-add-icon" ng-click="addItem('name');">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                            </div>
                            <div class="list-line"></div>
                        </li>
                        <li class="list-group-item">
                            <ul ng-repeat="namesItem in nameGroup | orderBy:'nameGrouppid'" class="list-group child-list-ul list-group-lg m-b-none">
                                <li class="list-group-item" ng-repeat="item in namesItem  | orderBy:'pid'">
                                    <label class="control-label fm-cursor" ng-click="showDetail($index ,namesItem,item.nameGroupid);" ng-bind="item.name"></label>
                                    <i class="glyphicon glyphicon-remove-circle" ng-click="removeItem($index,item)"></i>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
        <!--begin 名称组-->
	    <!-- <div class="module-box show-detail-title" style="clear: both" ng-click="showDetail();">
	        <div class="box-head font-bold">
	            名称信息（共<span ng-bind="luFaceData.faceNames.length"></span> 条）
	        </div>
	    </div> -->
        <div class="clearfix"></div>
    	<!--end 名称组-->
        <div class="fm-panel" style="margin-top: 10px">
            <ul class="fm-ul fm-ul-form">
                <li ng-if="isBatch">
                    <label>批量处理</label>
                    <div class="batchButtonGroup">
                        <a href="#" ng-click="setUrban()" class="zocial batchButton" title="为目标BUA面内的道路赋 ZoneID">赋 Urban</a>
                        <a href="#" ng-click="deleteUrban()" class="zocial batchButton" title="为目标BUA面内的道路删除 ZoneID">删除 Urban</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>