<div class="btn-group" ng-controller="addShapeCtrl">
    <div class="btn-group">
        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">点 <span class="caret"></span></button>
        <ul class="dropdown-menu shape-well" role="menu">
            <div class="btn-group btn-group-sm" style="margin: 0px 2px;">
                <button type="button" class="btn btn-shape" ng-click="addShape('RDNODE')">RDNODE</button>
                <button type="button" class="btn btn-shape" ng-click="addShape('RWNODE')">RWNODE</button>
                <button type="button" class="btn btn-shape" ng-click="addShape('ADNODE')">ADNODE</button>
                <button type="button" class="btn btn-shape" ng-click="addShape('ZONENODE')">ZONENODE</button>
            </div>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">线 <span class="caret"></span></button>
        <ul class="dropdown-menu shape-well" role="menu">
            <div class="btn-group btn-group-sm" style="margin: 0px 2px;">
                <button type="button" class="btn btn-shape" ng-click="addShape('RDLINK')">RDLINK</button>
                <button type="button" class="btn btn-shape" ng-click="addShape('RWLINK')">RWLINK</button>
                <button type="button" class="btn btn-shape" ng-click="addShape('ADLINK')">ADLINK</button>
                <button type="button" class="btn btn-shape" ng-click="addShape('ZONELINK')">ZONELINK</button>
            </div>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">面 <span class="caret"></span></button>
        <ul class="dropdown-menu shape-well" role="menu">
            <div class="btn-group btn-group-sm" style="margin: 0px 2px;">
                <button type="button" class="btn btn-shape" ng-click="addShape('ADFACE')">ADFACE</button>
                <button type="button" class="btn btn-shape" ng-click="addShape('ZONEFACE')">ZONEFACE</button>
            </div>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">关系 <span class="caret"></span></button>
        <ul class="dropdown-menu shape-well" role="menu">
            <div class="btn-group btn-group-sm" style="margin: 0px 2px;">
                <button type="button" class="btn btn-shape" ng-click="addShape('RDCROSS')">路口</button>
                <button type="button" class="btn btn-shape" ng-click="addShape('RDSPEEDLIMIT')">限速</button>
                <button type="button" class="btn btn-shape" ng-click="addShape('RDRESTRICTION')">交限</button>
                <button type="button" class="btn btn-shape" ng-click="addShape('RDLANECONNEXITY')">车信</button>
                <button type="button" class="btn btn-shape" ng-click="addShape('RDGSC')">立交</button>
                <button type="button" class="btn btn-shape" ng-click="addShape('BRANCH_3D')">3D分歧</button>
                <button type="button" class="btn btn-shape" ng-click="addShape('BRANCH_HIGHWAY')">高速分歧</button>
                <button type="button" class="btn btn-shape" ng-click="addShape('BRANCH_SERIESBRANCH')">连续分歧</button>
                <button type="button" class="btn btn-shape" ng-click="addShape('BRANCH_SIGNBOARDNAME')">方向看板</button>
                <button type="button" class="btn btn-shape" ng-click="addShape('BRANCH_BIGCROSSSCHEMATIC')">大路口交叉点模式图</button>
                <button type="button" class="btn btn-shape" ng-click="addShape('BRANCH_NORMALROAD')">普通道路方向</button>
                <button type="button" class="btn btn-shape" ng-click="addShape('BRANCH_REALIMAGE')">实景图</button>
                <button type="button" class="btn btn-shape" ng-click="addShape('BRANCH_SIGNASREAL')">实景看板</button>
            </div>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">点要素 <span class="caret"></span></button>
        <ul class="dropdown-menu shape-well" role="menu">
            <div class="btn-group btn-group-sm" style="margin: 0px 2px;">
                <button type="button" class="btn btn-shape" ng-click="addShape('IXPOI')">IXPOI</button>
                <button type="button" class="btn btn-shape" ng-click="addShape('ADADMIN')">ADADMIN</button>
            </div>
        </ul>
    </div>
</div>