<div class="btn-group" ng-controller="selectShapeCtrl">
    <button type="button" class="btn btn-xs btn-default" ng-click="selectShape('node')">点</button>
    <button type="button" class="btn btn-xs btn-default" ng-click="selectShape('link')">线</button>
    <button type="button" class="btn btn-xs btn-default" ng-click="selectShape('face')">面</button>
    <button type="button" class="btn btn-xs btn-default" ng-click="selectShape('relation')">关系</button>
    <button type="button" class="btn btn-xs btn-default" ng-click="selectShape('tips')">Tips</button>
    <button type="button" class="btn btn-xs btn-default" ng-click="selectShape('point')">点要素</button>
</div>