<div ng-controller="OilStationCtl">
    <div ng-show="propertyType=='deep'">
        <div class="fm-panel" >
            <div class="content" style="padding-bottom: 30px;">
                <ul class="fm-ul fm-ul-form">
                    <li>
                        <label>支付方式</label>
                        <div class="block">
                            <label ng-repeat="(key, value) in paymentML" ng-if="true">
                                <input type="checkbox" value="{{key}}" ng-model="gasstation.payment[key]"> {{value}}
                            </label>
                            <label ng-repeat="(key, value) in paymentHM" ng-if="">
                                <input type="checkbox" value="{{key}}" ng-model="gasstation.payment[key]"> {{value}}
                            </label>
                        </div>
                    </li>
                    <li>
                        <label>附属服务</label>
                        <div class="block">
                            <label ng-repeat="(key, value) in serviceML" ng-if="true">
                                <input type="checkbox" value="{{key}}" ng-model="gasstation.service[key]"> {{value}}
                            </label>
                            <label ng-repeat="(key, value) in serviceHM" ng-if="">
                                <input type="checkbox" value="{{key}}" ng-model="gasstation.service[key]"> {{value}}
                            </label>
                        </div>
                    </li>
                    <li>
                        <label>汽油</label>
                        <div class="block">
                            <label ng-repeat="(key, value) in oilType">
                                <input type="checkbox" value="{{key}}" ng-model="gasstation.oilType[key]"> {{value}}
                            </label>
                        </div>
                    </li>
                    <li>
                        <label>甲醇汽油</label>
                        <div class="block">
                            <label ng-repeat="(key, value) in mgType">
                                <input type="checkbox" value="{{key}}" ng-model="gasstation.mgType[key]"> {{value}}
                            </label>
                        </div>
                    </li>
                    <li>
                        <label>乙醇汽油</label>
                        <div class="block">
                            <label ng-repeat="(key, value) in egType">
                                <input type="checkbox" value="{{key}}" ng-model="gasstation.egType[key]"> {{value}}
                            </label>
                        </div>
                    </li>
                    <li>
                        <label>柴油</label>
                        <div class="block">
                            <label ng-repeat="(key, value) in fuelTypeML" ng-if="true">
                                <input type="checkbox" value="{{key}}" ng-model="gasstation.fuelType[key]"> {{value}}
                            </label>
                            <label ng-repeat="(key, value) in fuelTypeHM" ng-if="">
                                <input type="checkbox" value="{{key}}" ng-model="gasstation.fuelType[key]"> {{value}}
                            </label>
                        </div>
                    </li>
                    <li>
                        <label>营业时间</label>
                        <div><input type="text" class="fm-control" ng-model="gasstation.openHour"/></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

