<div ng-controller="rdLaneTopoCtrl">
    <div ui-layout="{flow:'column',dividerSize:'0'}" ui-layout-loaded>
        <div ui-layout-container>
            <div ui-layout="{flow:'row',dividerSize:'0',disableToggle:true}">
                <div ui-layout-container>
                    <div ui-layout="{flow:'column',dividerSize:'0',disableToggle:true}">

                        <div ui-layout-container class="fm-no-scroll">
                            <div id="topoMap"
                                 style="background-color:#FFF;width: 100%;height: 100%;position: absolute;"></div>
                            <div class="btn-group btn-group-justified fm-btn-group"
                                 style="bottom:5px;left:250px;width:300px;position: absolute;">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn" ng-click="doSave()">
                                        <i class="glyphicon glyphicon-floppy-disk"></i> 保 存
                                    </button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn" ng-click="doDelete()">
                                        <i class="glyphicon glyphicon-plus"></i> 创 建
                                    </button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn" ng-click="doCancel()">
                                        <i class="glyphicon glyphicon-floppy-remove"></i> 关 闭
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>