<div class="fm-component" ng-controller="ClmCtl">
    <div class="title">
        详细车道
        <span class="label label-info">{{clmData.pid}}</span>
    </div>
    <div class="content scroll-styled dark" style="height:90%;">
        <div class="attr-img-container">
          <div class="col-md-12 lane-top-container">
            <label class="col-md-3">车道总数</label>
            <div class="col-md-9">
              <span class="range-min">0</span>
              <input type="range" name="range" min="0" max="16" step="1" ng-model="laneLength" ng-change="changeCarLane();" tooltip-placement="top" uib-tooltip="{{clmData.laneInfos.length}}"/>
              <span class="range-max">16</span>
            </div>
          </div>
          <div class="lane-img-container" ng-style="laneStyle">
            <div class="roadside-left"></div>
            <div class="lane-driveway" ng-class="{'lane-driveway animated-fast fadeInRight':true,'active':laneIndex == $index}" ng-repeat="item in clmData.laneInfos track by $index">
              <span class="top">{{$index + 1}}</span>
              <div class="middle" ng-click="showLaneDirect($event,$index,item.arrowDir);">
                <img ng-src="../../../images/road/1301/1301_0_{{item.arrowDir}}.svg" style="width:30px;height:30px;"/>
              </div>
              <span class="bottom" ng-click="removeLane($index);" ng-if="clmData.laneInfos.length!=1">
                <i class="glyphicon glyphicon-remove"></i>
              </span>
            </div>
            <div class="roadside-left"></div>
          </div>
        </div>
        <form name="baseForm" style="margin-top:60px;">
            <div class="fm-panel">
                <div class="content">
                    <ul class="fm-ul fm-ul-form">
                        <li>
                            <label>道路线</label>
                            <div>
                                <input type="text" ng-model="laneInfo.pid" disabled/>
                            </div>
                        </li>
                        <li>
                            <label>中央隔离带</label>
                            <div>
                                <select ng-model="laneInfo.centerDivider"
                                        ng-options="value.id as value.label for value in laneDividerObj">
                                </select>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
        <form name="detailForm">
            <div class="fm-panel">
                <div class="content">
                    <ul class="fm-ul fm-ul-form">
                        <li>
                            <label>车道标识</label>
                            <div>
                                <input type="text" ng-model="laneInfo.laneForming"/>
                            </div>
                        </li>
                        <li>
                            <label>车道类型</label>
                            <div>
                                <select ng-model="laneInfo.laneType" ng-click="changeLaneType();"
                                        ng-options="value.id as value.label for value in laneTypeObj">
                                </select>
                            </div>
                        </li>
                        <li>
                            <label>车道限宽</label>
                            <div>
                                <input type="text" ng-model="laneInfo.width" class="input-addon-left"/>
                                <span class="input-addon-right"> 米 </span>
                            </div>
                        </li>
                        <li>
                            <label>车道限高</label>
                            <div>
                                <input type="text" ng-model="laneInfo.restrictHeight" class="input-addon-left"/>
                                <span class="input-addon-right"> 米 </span>
                            </div>
                        </li>
                        <li>
                            <label>车道限速</label>
                            <div>
                                <input type="text" ng-if="clmData.laneDir == 2" ng-model="laneInfo.fromMaxSpeed"/>
                                <input type="text" ng-if="clmData.laneDir == 3" ng-model="laneInfo.toMaxSpeed"/>
                            </div>
                        </li>
                        <li>
                            <label>车道隔离带</label>
                            <div>
                                <select ng-model="laneInfo.laneDivider"
                                        ng-options="value.id as value.label for value in laneDividerObj">
                                </select>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
        <form ng-if="laneInfo.laneType == 11">
            <ul class="fm-ul fm-ul-form">
                <li>
                    <label>车道方向</label>
                    <div>
                        <label>
                          <input type="radio" ng-model="laneInfo.conditions[0].direction" value="1" name="laneDirGroup"/> 无
                        </label>
                        <label>
                          <input type="radio" ng-model="laneInfo.conditions[0].direction" value="2" name="laneDirGroup"/> 顺
                        </label>
                        <label>
                          <input type="radio" ng-model="laneInfo.conditions[0].direction" value="3" name="laneDirGroup"/> 逆
                        </label>
                    </div>
                </li>
                <li>
                  <label class="date-time-title">车道时间段</label>
                </li>
                <li>
                    <div ng-include="dateURL" class="muti-date" data-type="1" date-str='{{laneInfo.conditions[0].directionTime}}' style="width:100%;"></div>
                </li>
                <li>
                    <div class="date-well full-width">
                        <div class="date-head">
                            <label>车辆类型</label>
                            <div class="pull-right" style="display:inline-flex;color: #fff">
                                <a style="cursor: pointer;"  ng-click="showPopover($event)">添加</a>
                                <input  type="checkbox" id="checkallow" ng-model="checkValue" ng-checked="checkValue" ng-click="checkViche()" >允许
                            </div>
                        </div>
                        <div class="date-body full-width">
                            <div class="date-list col-md-6" ng-repeat="item in carData track by $index">
                                <div style="color:#ffffff;padding: 5px;" ng-bind="item.label">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="line"></div>
                        </div>
                    </div>
                </li>
                <li>
                  <label class="date-time-title">车辆时间段</label>
                </li>
                <li data-type="1">
                    <div ng-include="dateDoubleURL" class="muti-date" data-type="1" date-str='{{laneInfo.conditions[0].vehicleTime}}' style="width:100%;"></div>
                </li>
            </ul>
        </form>
        <!-- <form name="detailForm">
            <div class="fm-panel">
                <div class="content">
                    <ul class="list-group list-group-lg m-b-none">
                        <li class="list-group-item">
                            <div class="list-name">
                                <a ng-click="addItem()" class="fm-cursor">车道（共 {{clmData.laneInfos[laneIndex].conditions.length}} 条）</a>
                            </div>
                            <div class="list-line"></div>
                        </li>
                        <li class="list-group-item" ng-repeat="lanesItem in clmData.laneInfos[laneIndex].conditions">
                            <label class="control-label fm-cursor" ng-click="showDetail($index);" ng-bind="lanesItem.lanePid"></label>
                            <i class="glyphicon glyphicon-remove-circle" ng-click="removeItem($index)"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </form> -->
    </div>
    <div ng-class="{'carTypeTip tooltip-container animated-fast':true,'fadeInRight':showLaneSelect,'fadeOutRight':!showLaneSelect}" style="display: none;">
        <div class="pull-left" style="margin-top: -8px;color: #FFF;">第{{laneIndex+1}}车道</div>
        <div class="pull-right" style="margin-top: -10px;">
            <button type="button" class="close" aria-label="Close" ng-click="showLaneDirect($event,-1);"
                    style="color: #fff;opacity: 1;margin-top: -4px;margin-right: -8px;">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="clearfix"></div>
        <div class="line line-date"></div>
        <div class="form-group fix-time tooltip-slide-well dark scroll-styled">
            <li ng-repeat="item in laneDirectArray" ng-class="{'lane-libs':true,'active':selectLaneActive == item}" ng-click="selectLaneDir(item,$index);">
                <img ng-src="../../../images/road/1301/1301_0_{{item}}.svg"/>
            </li>
        </div>
        <div class='tooltip-arrow-right'></div>
    </div>
    <div class="carTip tooltip-container" style="display: none;">
        <div class="pull-left" style="margin-top: -8px;color: #FFF;">车辆类型</div>
        <div class="pull-right" style="margin-top: -10px;">
            <button type="button" class="close" aria-label="Close" ng-click="showPopover($event);"
                    style="color: #fff;opacity: 1;margin-top: -4px;margin-right: -8px;">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="clearfix"></div>
        <div class="line line-date"></div>
        <div class="form-group fix-time tooltip-slide-well dark scroll-styled" id="carDiv" >
            <li ng-repeat="item in vehicleOptions" style=" list-style: none;color:#ffffff;">
                <input tabindex="1" style="float:right;margin-right: 10px" type="checkbox"
                       ng-checked="item.checked"
                       ng-click="carSelect(item,$event)"/>{{item.label}}
            </li>
        </div>
        <div class='tooltip-arrow-right'></div>
    </div>
</div>
