<style>
    .trafficPic{
        /*float: left;*/
        transition: all 0.5s;
        border-radius: 50%;

    }
    .trafficPic > img{
        text-align: center;
        cursor: pointer;
        margin: 15px;
        transition: all 0.5s;
        border-radius: 50%;
    }
    .trafficPic > .active{
        box-shadow: 0px 0px 7px 4px #9d9d9d;
    }
</style>
<div ng-controller="addDirectOfRestController">
    <ul class="list-group list-group-lg m-b-none">
        <li class="list-group-item">
            <div><label class="control-label">增加交限</label></div>
        </li>
        <li class="list-group-item">
            <div class="trafficPic ">
                <img  ng-repeat="addItem in addLimitedData" ng-if="addItem.flag===false" ng-src="./css/limitM/{{addItem.id}}.png" ng-click="selectTip(addItem,$event)">
            </div>
            <div class="trafficPic ">
                <img  ng-repeat="addItems in addLimitedData" ng-if="addItems.flag===true" ng-src="./css/limitM/{{addItems.id}}.png" ng-click="selectTip(addItems,$event)">
            </div>
        </li>
        <!--<li class="list-group-item"  style="text-align: end">-->
            <!---->
        <!--</li>-->
    </ul>
    <div style="padding: 5px 10px;text-align: right">
        <button type="button" class="btn btn-primary btn-xs" style="width: 60px;text-align: center" ng-click="addTips()">
        增 加
    </button>
    </div>

</div>