<style>
    .fm-tabs a.tab{
        padding: 6px 10px;
        background-color: #555555;
    }
    .fm-tabs a.tab.active{
        color: #fff;
        border-bottom: 1px solid rgba(255, 255, 255, .8);
        background-color: #313131;
        transition: all .3s;
    }
    .tableOdd{
        background-color: #313131;
    }
    .handleCheck .table-bordered > thead > tr > th,
    .handleCheck .table-bordered > thead > tr > td {
        white-space: nowrap;
    }
    .itemName{
        width:120px;
    }
</style>
<div class="fm-panel handleCheck" ng-controller="BeginCheckPanelCtrl">
    <div class="title">执 行 检 查</div>
    <div class="content">
        <div class="fm-tabs" style="margin-left: -5px;">
            <a ng-if="[1,8,9,10].indexOf(currentSubTaskType)==-1" href="#" class="tab" ng-class="{0:'active'}[batchType]" ng-click="switchBatchType(0)">POI检查</a>
            <a ng-if="[0,5,6,7].indexOf(currentSubTaskType)==-1" href="#" class="tab" ng-class="{1:'active'}[batchType]" ng-click="switchBatchType(1)">道路检查</a>
        </div>
        <div style="postion:relative;min-height: 200px;" class="container-fluid">
            <div style="width: 100%;position: absolute; text-align: center;font-size: 16px;font-weight: bold" ng-show="dataLoading" class="row dataLoading">数据加载中...</div>
            <div ng-show="!dataLoading" class="row">
                <div class="scroll-styled" style="width: 40%;float: left">
                    <table class="table table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th>选择</th>
                            <th>检查类型</th>
                            <th>检查范围</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="!searchBoxData || searchBoxData.length == 0">
                            <td colspan="3" class="text-center">暂时无数据!!!</td>
                        </tr>
                        <tr ng-class-odd="'tableOdd'" ng-repeat="item in searchBoxData">
                            <td><input ng-click="batchSelect($index)" ng-model="item.checked" type="checkbox" /></td>
                            <td style="cursor: pointer" ng-click="getCheckItem($index)" ng-bind="item.suiteName"></td>
                            <td ng-click="getCheckItem($index)" ng-bind="item.suiteRange"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="scroll-styled" style="width: 58%;float: right;min-height: 200px;max-height: 320px;padding: 0 10px 0 0">
                    <table class="table table-bordered table-condensed" style="min-width:800px">
                        <thead>
                        <tr>
                            <th>选择</th>
                            <th>检查项</th>
                            <th>检查描述</th>
                            <th>检查等级</th>
                            <th>前置依赖</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="!searchBoxData[currentBoxIndex].rules || searchBoxData[currentBoxIndex].rules.length == 0">
                            <td colspan="5" class="text-center">无数据!!!</td>
                        </tr>
                        <tr ng-class-odd="'tableOdd'" ng-repeat="item in searchBoxData[currentBoxIndex].rules">
                            <td><input ng-model="item.checked" type="checkbox" /></td>
                            <td title="{{item.ruleName}}" class="itemName">{{item.ruleName.length>12?item.ruleName.substr(0,12)+'...':item.ruleName}}</td>
                            <td title="{{item.ruleDesc}}">{{item.ruleDesc.length>42?item.ruleDesc.substr(0,42)+'...':item.ruleDesc}}</td>
                            <td>{{item.ruleLevel}}</td>
                            <td>{{item.depends?item.depends:'(无)'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div ng-show="!dataLoading" class="row" style="text-align:center;padding: 10px 0 15px 0;">
                <button type="button" class="btn btn-main" ng-disabled="running" ng-click="doExecute()">执 行 检 查</button>
            </div>
        </div>
    </div>
</div>
