<div class="fm-panel" ng-controller="BeginCheckPanelCtrl" style="margin:0px;">
    <div class="title">执行检查</div>
    <div class="content">
        <form name="outerForm" class="tab-form-demo">
            <uib-tabset active="activeForm">
                <uib-tab index="0" heading="道路检查">
                    <ng-form name="nestedForm">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="checkbox" class="fm-control" ng-model="model.name" />
                        </div>
                    </ng-form>
                </uib-tab>
                <uib-tab index="1" heading="POI检查">
                    Some Tab Content
                </uib-tab>
            </uib-tabset>
        </form>
        <!-- <div>后台检查:</div>
        <div class="row scroll-styled dark" style="max-height: 200px;margin:5px;">
            <label ng-repeat="item in tipList" class="col-md-4">
                <input type="checkbox" name="tipList" ng-model="selectedTips[item.id]" ng-value="item.id"> {{item.name}}
            </label>
        </div> -->
        <!-- 进度条 -->
        <div class="progress fm-progress" style="margin:8px;">
            <div class="progress-bar progress-bar-info progress-bar-striped fm-progress-bar" ng-style="{'width': progress + '%'}"></div>
        </div>
        <div style="text-align:center;">
            <button type="button" ng-disabled="running" class="btn btn-main" ng-click="doExecute()">执 行</button>
        </div>
    </div>
</div>
