body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:400px;
  top:44px;
  width:200px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:400px;
  top:80px;
  width:240px;
  height:33px;
  color:#FF0000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:33px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:70px;
  top:44px;
  width:269px;
  height:350px;
}
#u4_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:279px;
  height:360px;
}
#u5 {
  position:absolute;
  left:2px;
  top:167px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:76px;
  top:284px;
  width:248px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:48px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:70px;
  top:78px;
  width:269px;
  height:43px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:43px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:168px;
  top:86px;
  width:70px;
  height:28px;
  font-size:12px;
  color:#1E1E1E;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:84px;
  top:52px;
  width:106px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:26px;
}
#u13 {
  position:absolute;
  left:0px;
  top:5px;
  width:106px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:74px;
  top:326px;
  width:260px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:243px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:260px;
  height:1px;
}
#u15 {
  position:absolute;
  left:248px;
  top:52px;
  width:76px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u16 {
  position:absolute;
  left:0px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:84px;
  top:131px;
  width:240px;
  height:26px;
  font-size:14px;
  color:#000000;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:26px;
}
#u18 {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:151px;
  top:163px;
  width:43px;
  height:38px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
}
#u20 {
  position:absolute;
  left:2px;
  top:11px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:213px;
  top:157px;
  width:44px;
  height:48px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:48px;
}
#u22 {
  position:absolute;
  left:2px;
  top:16px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:239px;
  top:336px;
  width:50px;
  height:50px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u24 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:112px;
  top:338px;
  width:50px;
  height:50px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u26 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:90px;
  top:352px;
  width:12px;
  height:18px;
  color:#999999;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:18px;
}
#u28 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:170px;
  top:353px;
  width:12px;
  height:18px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:18px;
}
#u30 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:319px;
  top:46px;
  width:18px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
