<style>
    .sceneLayerPanel ul{
        list-style-type: none;
        padding-left: 0px;
    }

    .sceneLayerPanel ul > li {
        list-style-type: none;
        margin-top: 10px;
    }

    .sceneLayerPanel ul > li {
        margin-left: 10px;
    }

    .sceneLayerPanel ul > li label {
        color: #FFF;
    }

    .sceneLayerPanel ul > li input {
        cursor: pointer;
    }

    .sceneLayerPanel ul > li > a {
        color: #FFF;
        cursor: pointer;;
    }

    .sceneLayerPanel ul > li:hover > a {
        color: rgba(255, 255, 255, 0.5);
    }

    .sceneLayerPanel ul > li:hover > label {
        color: rgba(255, 255, 255, 0.5);
    }
</style>
<div ng-controller="sceneLayersController" class="sceneLayerPanel">
    <div style="background-color: rgb(64,64,64);padding: 5px 10px;">
        <label style="font-size:18px;color:#FFF;margin-bottom: 0;letter-spacing: 3px">
            <i style="font-size: 16px;" class="glyphicon glyphicon-wrench"></i> 场景设置
        </label>
    </div>
    <ul>
        <li><label>场景选择</label></li>
        <li>
            <ul style="padding-left: 10px">
                <li ng-repeat="scene in scenceArr">
                    <input tabindex="1" style="float:right;margin-right: 10px" type="radio" ng-checked="scene.selected" ng-click="showScene(scene,$event)" />
                    <label style="font-weight: bold;">{{scene.label}}</label>
                </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><label>关系</label></li>
        <li>
            <ul style="padding-left: 10px" >
                <li ng-repeat="item in items" ng-if="item.options.id!=='rdrtic'">
                    <a style="float:right;margin-right: 10px" class="glyphicon" ng-class="{true:'glyphicon-check',false:'glyphicon-unchecked'}[item.options.visible]" ng-click="showLayers(item,$event)"></a>
                    <label style="font-weight: bold;">{{item.options.layername}}</label>
                </li>
            </ul>
        </li>
    </ul>
    <!-- 参考图层设置 -->
    <div class="sceneLayerPanel">
        <div style="background-color: rgb(64,64,64);padding: 5px 10px;">
            <label style="font-size:18px;color:#FFF;margin-bottom: 0;letter-spacing: 3px">
                <i style="font-size: 16px;" class="glyphicon glyphicon-wrench"></i> 图层设置
            </label>
        </div>
        <ul>
            <li><label>图层选择</label></li>
            <li ng-repeat="item in layers">
                <ul style="padding-left: 10px" >
                    <li ng-if="item.options.singleselect===true">
                        <input tabindex="1" style="float:right;margin-right: 10px" type="radio" ng-checked="item.options.visible" ng-click="showLayers(item,$event)"/>
                        <label style="font-weight: bold;">{{item.options.layername}}</label>
                    </li>
                    <li ng-if="item.options.singleselect!==true">
                        <a style="float:right;margin-right: 10px" class="glyphicon" ng-class="{true:'glyphicon-check',false:'glyphicon-unchecked'}[item.options.visible]" ng-click="showLayers(item,$event)"></a>
                        <label style="font-weight: bold;">{{item.options.layername}}</label>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>