<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>FastMap设施编辑系统</title>
        <link href="../../../favicon.ico" rel="icon" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/bootstrap-3.3.5/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/bootstrap-3.3.5/css/bootstrap-theme.css"/>
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/ui-layout/ui-layout.css">
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/leaflet-0.7.3/leaflet.css">
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/sweet-alert-upgrade/sweetalert.css">
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/angular-chosen/chosen.css"/>
        <link rel="stylesheet" type="text/css" href="../../../styles/imeep/editor.css">
        <link rel="stylesheet" type="text/css" href="../../../styles/imeep/editor-road.css">
        <link rel="stylesheet" type="text/css" href="../../../styles/imeep/animate.min.css">
        <script src="../../../scripts/libs/leaflet-0.7.3/leaflet-src.js"></script>
        <script type="text/javascript" src="../Application.js"></script>
        <script type="text/javascript" src="../../../scripts/fastmap/fastmap.js"></script>
        <script type="text/javascript" src="../../../scripts/fastmap/fastmap-util.js"></script>
        <script type="text/javascript" src="../../../scripts/dataApi/dataModel-poi-new.js"></script>
        <script type="text/javascript" src="../../../scripts/dataApi/dataApi-new.js"></script>
        <script src="loadMapApi.js"></script>
        <script src="loadUikit.js"></script>
        <script src="loadCanvasFeature.js"></script>
    </head>
    <body ng-controller="EditorCtl">
        <div ui-layout="{flow:'column',dividerSize:'0'}" ui-layout-loaded>
            <div ui-layout-container class="fm-banner animated fadeInLeft" size="50px">
                <div class="banner-top"><a><strong>FM</strong></a></div>
                <div class="banner-center">
                    <div ng-class="{1:'selected'}[selectedTool]" ng-click="changeEditTool('tipsPanel')">
                        <a><i title="成果" class="glyphicon glyphicon-home"></i></a>
                    </div>
                    <div ng-class="{2:'selected'}[selectedTool]" ng-click="changeEditTool('scenePanel')">
                        <a><i title="场景" class="glyphicon glyphicon-facetime-video"></i></a>
                    </div>
                </div>
                <div class="banner-bottom">
                    <div><a><i title="用户" class="glyphicon glyphicon-user"></i></a></div>
                    <div><a><i title="退出" class="glyphicon glyphicon-log-out"></i></a></div>
                </div>
            </div>
            <div ui-layout-container class="fm-list-panel">
                <div ui-layout="{flow:'column',dividerSize:'0',disableToggle:true}">
                    <div class="fm-container fm-col animated fadeInLeft fm-left-datalist dark scroll-styled" ui-layout-container size="250px" min-size="250px">
                        <div class="fm-project-switch" ng-if="showTab">
                            <a href="#" ng-class="{'tab col-sm-6': true, 'active': projectType == 1}" ng-click="changeProject(1)">POI作业</a>
                            <a href="#" ng-class="{'tab col-sm-6': true, 'active': projectType == 2}" ng-click="changeProject(2)">道路作业</a>
                        </div>
                        <!--<div class="title">
                            <i class="glyphicon glyphicon-list"></i> POI数据
                        </div>-->
                        <div class="left-container">
                            <!--左侧数据列表-->
                            <div ng-include="poiDataListTpl"></div>
                        </div>
                    </div>
                    <div ui-layout-container class="fm-no-scroll">
                        <div ui-layout="{flow:'row',dividerSize:'0'}">
                            <div ui-layout-container id="map" style="background-color:#FFF;width: 100%;height: 100%;position: absolute;">

                            </div>
                            <div id="toolsDiv" style="left:5px;top:5px;height: 40px;position: absolute;z-index:1;background-color: transparent">
                                <div class="btn-toolbar" style="margin-left: 0px">
                                    <div ng-include="selectShapeURL" style="float: left"></div>
                                    <div ng-include="selectPoiURL" style="float: left"></div>
                                    <div ng-include="addShapeURL" style="float: left;"></div>
                                    <div ng-include="modifyToolURL" style="float: left"></div>
                                </div>
                            </div>
                            <div id="zoomLevelBar" class="div_float"></div>
                        </div>
                        <div class="fm-editor-panel" ng-class="{'fm-editor-panel-sm':!hideEditorPanel,'fm-editor-panel-normal':hideEditorPanel,'fm-editor-panel-disappear':disappearEditorPanel}">
                            <div class="fm-editor-arrow">
                                <a ng-class="{false:'fm-panel-controlArrowLeft',true:'fm-panel-controlArrowRight'}[hideEditorPanel]" ng-click="changePanelShow('right')" href="#">
                                    <span></span>
                                </a>
                            </div>
                            <div ng-include="generalBaseTpl"></div>
                            <div style="bottom: 0px;position:absolute;width: 300px;right: 0px;z-index: 100;">
                                <div class="btn-group btn-group-justified">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-xs fm-btn" ng-click="save()">
                                            <i class="glyphicon glyphicon-floppy-disk"></i> 保 存
                                        </button>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-xs fm-btn" ng-click="delete()">
                                            <i class="glyphicon glyphicon-trash"></i> 删 除
                                        </button>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-xs fm-btn" ng-click="cancel()">
                                            <i class="glyphicon glyphicon-floppy-remove"></i> 取 消
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div ng-class="{'fm-console-panel fm-option-bar':true,'fm-console-hide':hideConsole,'fm-console-whole-width':wholeWidth}">
                            <div ng-include="consoleDeskTpl"></div>
                        </div>
                        <div ng-class="{true:'popoverTips animated-fast fadeInLeft',false:'popoverTips animated-fast fadeOutLeft'}[showPopoverTips]">
                            <div ng-include="poiPopoverTipsTpl" class="tipsPanel"></div>
                            <!--<div class="tipsPanel">
                                <div ng-include="poiPopoverTipsTpl" style="width:100%;"></div>
                            </div>-->
                        </div>

                    </div>
                    <div id='tooltip' class="tooltipclass"></div>
                </div>
            </div>
            <!--全屏-->
            <div ng-class="{true:'full-screen-img-panel animated-fast zoomIn',false:'full-screen-img-panel animated-fast zoomOut'}[showFullScreen]" ng-show="showFullScreen" ng-click="closeFullScreen();">
                <span class="pull-right">
                    <i class="glyphicon glyphicon-remove-sign close-tips-ico" ng-click="closeFullScreen();"></i>
                </span>
                <img ng-src="{{pImageNow.originUrl}}"/>
            </div>
        </div>
        <div ng-show="showLoading" id="loadingAnimate" class="show-animation" ng-include="'svgLoading.html'"></div>
        <script type="text/javascript" data-main="editor-require" src="../../../scripts/libs/require/require.js"></script>
    </body>
</html>