<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>FastMap一体化编辑平台</title>
        <link href="../../../images/favicon.ico" rel="icon" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/bootstrap-3.3.5/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/bootstrap-3.3.5/css/bootstrap-theme.css"/>
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/ui-layout/ui-layout.css">
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/leaflet-0.7.3/leaflet.css">
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/leaflet-0.7.3/plugins/Control.MiniMap.css">
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/sweet-alert-upgrade/sweetalert.css">
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/angular-chosen/chosen.css"/>
        <link rel="stylesheet" type="text/css" href="../../../styles/imeep/editor.css">
        <link rel="stylesheet" type="text/css" href="../../../styles/imeep/editor-road.css">
        <link rel="stylesheet" type="text/css" href="../../../styles/imeep/animate.min.css">
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/z-tree/css/zTreeStyle.css">
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/timepicki/css/timepicki.css">
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/font-awesome-4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/bootstrap-datepicker/css/datepicker3.css">
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/srs/srs.css">
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/select2/css/select2.css">
        <script src="../../../scripts/libs/leaflet-0.7.3/leaflet-src.js"></script>
        <script src="../../../scripts/libs/leaflet-0.7.3/plugins/wicket.js"></script>
        <script src="../../../scripts/libs/leaflet-0.7.3/plugins/Control.MiniMap.js"></script>
        <script type="text/javascript" src="../Application.js"></script>
        <script type="text/javascript" src="../../../scripts/fastmap/fastmap.js"></script>
        <script type="text/javascript" src="../../../scripts/fastmap/fastmap-util.js"></script>
        <script type="text/javascript" src="../../../scripts/dataApi/dataApi-poi.js"></script>
        <script type="text/javascript" src="../../../scripts/dataApi/dataApi-road.js"></script>
        <script type="text/javascript" src="../../../scripts/dataApi/dataApi-canvasFeature.js"></script>
        <script type="text/javascript" src="../../../scripts/utils/Utils.js"></script>
        <script src="loadMapApi.js"></script>
        <script src="loadUikit.js"></script>
    </head>
    <body ng-controller="EditorCtl">
        <div ui-layout="{flow:'row',dividerSize:'0'}" ui-layout-loaded>
        <div ui-layout-container size="40px">
            <div class="fm-top" style="left:0px;width:60px;text-align:center;">
                <img src="../../../images/main/fm-logo.png">
            </div>
            <div class="fm-top" style="left:60px;right:200px;position:fixed;min-width:1100px;">
                <div ng-include="editorToolbarTpl"></div>
            </div>
            <div class="fm-top" style="width:208px;right:0px;text-align:right;padding:0px 25px;position: fixed;" uib-dropdown auto-close="outsideClick " appendToOpenClass="fadeInDown">
                <button class="fm-top-right-btn profile" title="个人信息"></button>
                <button class="fm-top-right-btn notice dropdown dropdown-toggle" uib-dropdown-toggle title="我的消息" ng-click="historyMsg();">
                    <div ng-class="{'msg-alert animated':true,'wobble':systemMsg.length}" ng-if="systemMsg.length" ng-bind="systemMsg.length"></div>
                </button>
                <ul class="dropdown-menu dropdown-menu-right animated-fast msg-dropdown-menu" uib-dropdown-menu aria-labelledby="system-message">
                    <li>
                        <div class="msg-container">
                            <div class="msgContainerlist" ng-show="!showMsgDetail">
                                <div class="topmenu">
                                    <span ng-class="{'newMessage':true,'active':sysMsgType=='new'}" title="未读消息" ng-click="switchMsgType('new');"></span>
                                    <span ng-class="{'history':true,'active':sysMsgType=='his'}" title="已读消息" ng-click="switchMsgType('his');"></span>
                                </div>

                                <div class="msg-list">
                                    <div class="message-item" ng-if="!sysMsgItem.length">
                                        <p class="null-msg">
                                            当前无消息
                                        </p>
                                    </div>
                                    <div class="message-item" ng-repeat="item in sysMsgItem" ng-click="showDetailMsg(item.msgId);" title="{{item.msgContent}}">
                                        <p class="text-ellipsis">
                                            <strong ng-bind="item.msgTitle" ng-class="{true:'history'}[sysMsgType=='his']"></strong>
                                            <span ng-bind="item.msgContent"></span>
                                        </p>
                                        <div ng-class="{'status available':true,'inactive':sysMsgType=='his'}"></div>
                                    </div>
                                    <div class="msg-pagination" ng-if="sysMsgType=='his'">
                                        <ul uib-pagination items-per-page="5" max-size="5" total-items="totalItems" ng-model="currentPage" class="pagination" boundary-links="true" force-ellipses="true" ng-change="pageChanged(currentPage)" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                                    </div>
                                </div>
                            </div>

                            <div ng-class="{'detailview p1 animated-fast':true,'fadeIn':showMsgDetail,'fadeOutUp':!showMsgDetail}" ng-show="showMsgDetail">
                                <div class="profile-title animated-fast">
                                    <div id="close" ng-click="showDetailMsg(-1);" title="点击返回" class="animated-fast rollIn">
                                        <div ng-class="{'cy':true,'cy s1 s2 s3':showMsgDetail}"></div>
                                        <div ng-class="{'cy':true,'cx s1 s2 s3':showMsgDetail}"></div>
                                    </div>
                                    <p class="animated-fast fadeInUp" ng-bind="sysMsgObj.msgTitle"></p>
                                </div>
                                <div class="detail-messages" ng-bind="sysMsgObj.msgContent"></div>
                            </div>
                        </div>
                    </li>
                </ul>
                <button class="fm-top-right-btn logout" title="返回任务列表" ng-click="goback()"></button>
            </div>
        </div>
        <div ui-layout-container>
        <div ui-layout="{flow:'column',dividerSize:'0'}" ui-layout-loaded>
            <div ui-layout-container class="fm-banner animated fadeInLeft fm-no-scroll" size="60px">
                <div class="banner-top"><a><strong>FM</strong></a></div>
                <div class="banner-center">
                    <div ng-class="{1:'selected'}[selectedTool]" ng-click="changeEditTool('tipsPanel')">
                        <a tooltip-class="subTooltip" uib-tooltip="成　果" tooltip-trigger="mouseenter" tooltip-placement="right" tooltip-append-to-body=true><i title="成果" class="glyphicon glyphicon-home"></i></a>
                        <div ng-if="selectedTool == 1" class="fill-azure pin-left"></div>
                    </div>
                    <div ng-class="{2:'selected'}[selectedTool]" ng-click="changeEditTool('scenePanel')">
                        <a tooltip-class="subTooltip" uib-tooltip="场　景" tooltip-trigger="mouseenter" tooltip-placement="right" tooltip-append-to-body=true><i title="场景" class="glyphicon glyphicon-facetime-video"></i></a>
                        <div ng-if="selectedTool == 2" class="fill-azure pin-left"></div>
                    </div>
                </div>
            </div>
            <div ui-layout-container>
                <div ui-layout="{flow:'column',dividerSize:'0',disableToggle:true}">
                    <div ui-layout-container class="fm-container fm-col animated fadeInLeft" size="250px">
                        <div class="fm-tabs" ng-if="showTab" style="padding:0px;">
                            <a href="#" class="tab col-sm-6" ng-class="{1:'active'}[projectType]" ng-click="changeProject(1)">POI作业</a>
                            <a href="#" class="tab col-sm-6" ng-class="{2:'active'}[projectType]" ng-click="changeProject(2)">道路作业</a>
                        </div>
                        <div class="content">
                            <!--左侧数据列表-->
                            <div ng-include="dataListTpl"></div>
                        </div>
                    </div>
                    <div ui-layout-container class="fm-no-scroll">
                        <div ng-cloak id="map" ng-style="{backgroundColor:'#F0F4F8',width: '100%',height: '100%'}">
                            <div id="zoomLevelBar" class="div-float" style="bottom:5px;left:5px;width:100px;"></div>
                        </div>
                        <div ng-show="advancedTool!=null" class="div-float animated-fast fadeInDown" ng-style="{left:advancedTool=='check'?'12%':'25%',right:advancedTool=='check'?'12%':'25%'}" style="top:50px;left:30%;right: 30%;">
                            <button ng-show="advancedTool!=null" type="button" class="close ng-cloak" ng-click="closeAdvancedToolsPanel()"><span style="position: relative;right: 10px;top: 5px;">&times;</span></button>
                            <div ng-include="advancedToolPanelTpl"></div>
                        </div>
                        <!--右侧属性编辑面板-->
                        <div class="fm-foldable fm-col" ng-style="{top:'0px',width: '315px','right':{true: '0px', false: '-300px', 'none': '-315px'}[editorPanelOpened]}">
                            <div class="fm-fold-btn">
                                <a href="#" ng-class="{true: 'arrow-right', false: 'arrow-left'}[editorPanelOpened]" ng-click="editorPanelOpened=!editorPanelOpened">
                                </a>
                            </div>
                            <div ng-cloak class="fm-container fm-col"  ng-style="{width: '300px'}">
                                <div ng-include="attrTplContainer" class="fm-fitsize scroll-styled dark blackTheme" style="bottom: 25px;"></div>
                                <div style="bottom: 0px;position:absolute;width: 100%;">
                                    <div class="btn-group btn-group-justified fm-btn-group">
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-xs" ng-click="doSave()">
                                            <i class="glyphicon glyphicon-floppy-disk"></i> 保 存
                                            </button>
                                        </div>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-xs" ng-click="doDelete()">
                                            <i class="glyphicon glyphicon-trash"></i> 删 除
                                            </button>
                                        </div>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-xs" ng-click="doCancel()">
                                            <i class="glyphicon glyphicon-floppy-remove"></i> 取 消
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 二级属性片段 -->
                        <div class="fm-container fm-col" style="display: none" ng-style="{width:'300px',right:'301px',top: '0px','z-index':2,display: {true: 'block', false:'none'}[suspendPanelOpened]}">
                            <div style="padding: 5px;">
                                <button ng-click="subAttrTplContainerSwitch(false)" type="button" class="btn btn-xs">
                                <i class="glyphicon glyphicon-remove-circle"></i> 关 闭
                                </button>
                            </div>
                            <div  ng-include="subAttrTplContainer" class="fm-fitsize scroll-styled dark blackTheme" style="top: 32px;padding: 0px 0px;">
                            </div>
                        </div>
                        <!--下方输出信息面板-->
                        <div class="fm-foldable fm-row" style="height:255px;left:2px;width:auto;" ng-style="{'bottom':{true: '0px', false: '-240px'}[consolePanelOpened], right: {true: '302px', false: '2px', 'none': '2px'}[editorPanelOpened]}">
                            <div class="fm-fold-btn">
                                <a href="#" ng-class="{true: 'arrow-down', false: 'arrow-up'}[consolePanelOpened]" ng-click="consolePanelOpened=!consolePanelOpened">
                                </a>
                            </div>
                            <div class="fm-container fm-row" style="height:240px;">
                                <div ng-include="consoleDeskTpl"></div>
                            </div>
                        </div>
                        <!--上方输出信息面板-->
                        <div class="fm-foldable fm-row" style="height:100%;left:2px;width:auto;" ng-style="{'top':{true: '5px', false: '-1100px'}[workPanelOpened], right: {true: '302px', false: '2px', 'none': '2px'}[editorPanelOpened]}">
                            <div class="fm-container fm-row" style="height:100%;">
                            	<button type="button" class="close" ng-click="closeSpecialWorkPanelTpl()"><span style="position: relative;right: 10px;top: 5px;">&times;</span></button>
                                <div ng-include="specialWorkPanelTpl"></div>
                            </div>
                        </div>
                        <!-- <div class="fm-foldable fm-row" style="height:90%;left:2px;width:auto;" ng-style="{'top':{true: '29px', false: '-1100px'}[workPanelOpened], right: {true: '302px', false: '2px', 'none': '2px'}[editorPanelOpened]}">
                            <div class="fm-container fm-row" style="height:100%;">
                                <div ng-include="rdLaneTopoPanelTpl"></div>
                            </div>
                        </div> -->
                        <div ng-class="{true:'popoverTips animated-fast fadeInLeft',false:'popoverTips animated-fast fadeOutLeft'}[tipsPanelOpened]">
                            <div ng-include="tipsTplContainer" class="tipsPanel"></div>
                        </div>
                    </div>
                    <div id='tooltip' class="tooltipclass"></div>
                </div>
            </div>
            <!--全屏-->
            <div ng-class="{true:'full-screen-img-panel animated-fast zoomIn',false:'full-screen-img-panel animated-fast zoomOut'}[showFullScreen]" ng-show="showFullScreen" ng-click="closeFullScreen();">
                <span class="pull-right">
                <i class="glyphicon glyphicon-remove-sign close-tips-ico" ng-click="closeFullScreen();"></i>
                </span>
                <img ng-src="{{pImageNow.originUrl}}"/>
            </div>
        </div>
        </div>
        </div>

        <div ng-show="showLoading.flag" id="loadingAnimate" class="show-animation" ng-include="'svgLoading.html'"></div>
        <div id="dataTipsOriginModal" style="display:none" class="animated-fast zoomIn">
            <div ng-include="tipsPitureContainer" style="height: 100%;width: 100%"></div>
        </div>
        <div id="dataTipsVideoModal" style="display:none">
            <div ng-include="tipsVideoContainer" style="height: 100%;width: 100%"></div>
        </div>
         <div id="fullScalePic" ng-show="roadFullScreen" ng-click="hideFullPic();" style="display: none;" class="animated-fast zoomIn"><img ng-src="{{fullPhoto}}"></div>
        <!-- logMsg提示 -->
        <div class="log-message-container" ng-style="logMsgStyle">
          <div class="log-message animated-fast fadeInLeft" ng-repeat="msg in logMessage">
            {{msg.value}}
            <div class="log-message-remove" ng-click="msg.remove(msg);">
              <i class="glyphicon glyphicon-remove-sign"></i>
            </div>
          </div>
        </div>
        <!-- <div style="position:absolute;left:0;bottom:0;width:40px;height:40px;background-color:red;" ng-click="addLogMsg();"></div> -->
        <!-- 统一关系 -->
        <div ng-include="sameRelationShapTplContainer"></div>

        <script>
            document.write('<scri' + 'pt data-main="editor-require" src="../../../scripts/libs/require/require.js?' + new Date().getTime() + '" type="text/javascript"></s' + 'cript>');
        </script>
    </body>
</html>
