<style>

    .list-group-item {
        position: relative;
        display: block;
        padding: 1px 5px;
        margin-bottom: -1px;
        /*border: 1px solid #ddd;*/
        border: 0;
    }

    #basicDiv {
        opacity: 1;
        width: 100%;
    }

    #basicDiv ul {
        list-style: none;
        overflow: hidden;
        width: 100%;
        margin: 5px;
        border-radius: 4px;
    }

    #basicDiv ul > li {
        background-color: #555;
        border-right: none;
        border-left: none;
    }

    #basicDiv ul > li > div > input {
        color: #F3F6FA;
        width:170px;
        margin-left: -3px;
        padding-left: 5px;
        border-radius: 4px;
        margin-top: 5px;
        border: 1px solid #FFFFFF;
        border-style: ridge;
        background-color: #333;
    }

    #basicDiv ul > li > div > select {
        color: #F3F6FA;
        margin-left: -3px;
        width: 170px;
        border-radius: 4px;
        margin-top: 5px;
        border: 1px solid #FFFFFF;
        border-style: ridge;
        background-color: #333;
    }

    #basicDiv ul > li > div:first-child {
        display: inline-block;
        width: 80px;
    }

    #basicDiv ul > li > label {
        color: #F3F6FA;
        font-weight: normal;
    }

    #basicDiv ul > li > div > label {
        color: #F3F6FA;
        font-weight: normal;
    }
    #basicDiv ul > li > div > label>input[type="radio"] {
        margin-top: 3px
    }

    .inline {
        display: inline-block !important;
        /*width: 170px;*/
        text-align: left;
    }

    .m-b-none {
        margin-bottom: 0 !important;
    }

    .radio {
        margin-bottom: 0px;
        margin-top: 4px;
    }

    .checkboxli {
        /*background-color: #e4e4e4;*/
        border: 1px solid #aaa;
        border-radius: 4px;
        cursor: default;
        float: left;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
        padding: 0 5px;
        color: #fff;
    }

    .popover {
        width: 100%;
    }

    .popover-content {
        overflow-y: auto;
        height: 200px;
    }

</style>
<div id="basicDiv" ng-controller="adAdminController" >
    <div style="height:50px">
        <form class="form-horizontal" method="get">
            <div class="panel panel-default " style="background-color: transparent;border:0;">
                <div class="panel-heading font-bold" style=" border:0;height: 100%; background-color: transparent;color:#FFF;padding: 10px 15px;">
                    行政区划代表点
                    <span ng-if="brigeLinkArrays==null" class="label label-info" >{{adAdminData.regionId}}</span>
                </div>
            </div>
        </form>
    </div>
    <ul class="list-group list-group-lg m-b-none">
        <li class="list-group-item">
            <div  class="inline" style="text-align: left;width: 120px;">
                <a  style="cursor: pointer;color:#FFF;">基础属性</a>
            </div>
        </li>
    </ul>
    <ul class="list-group list-group-lg m-b-none">
        <li class="list-group-item">
            <div><label class="control-label">行政代码</label></div>
            <div class="inline"><input type="text" ng-model="adAdminData.adminId" />
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">扩展代码</label></div>
            <div class="inline"><input type="text" ng-model="adAdminData.extendId" />
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <label class="control-label">行政类型</label>
            </div>
            <div class="inline">
                <select  ng-model="adAdminData.adminType"
                         ng-options="value.id as value.label for value in adminType">

                </select>
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <label class="control-label">代表点标识</label>
            </div>
            <div class="inline">
                <select  ng-model="adAdminData.capital"
                         ng-options="value.id as value.label for value in capital">

                </select>
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">图符号码</label></div>
            <div class="inline"><input type="text" ng-model="adAdminData.meshId" />
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <label class="control-label">人口数量</label>
            </div>
            <div class="inline">
                <select  ng-model="adAdminData.population"
                         ng-options="value.id as value.label for value in population">
                </select>
            </div>
        </li>
    </ul>
    <ul class="list-group list-group-lg m-b-none">
        <li class="list-group-item">
            <div  class="inline" style="text-align: left;width: 120px;">
                <a ng-click="otherAdminName()" style="cursor: pointer;color:#FFF;">行政区划名称</a>
            </div>
        </li>
    </ul>
</div>
