<style>
    .addAdNode_false {
        background: url('../../images/road//button/dot_add.png') no-repeat;
        width: 32px;
        height: 32px;
    }

    .addAdNode_true {
        background: url('../../images/road//button/dot_add_selected.png') no-repeat;
        width: 32px;
        height: 32px;
    }

    .addAdLink_false {
        background: url('../../images/road//button/line_add.png') no-repeat;
        width: 32px;
        height: 32px;
    }

    .addAdLink_true {
        background: url('../../images/road//button/line_add_selected.png') no-repeat;
        width: 32px;
        height: 32px;
    }

    .addAdAdmin_false {
        background: url('../../images/road//button/adAdmin_add.png') no-repeat;
        width: 32px;
        height: 32px;
    }

    .addAdAdmin_true {
        background: url('../../images/road//button/adAdmin_add_selected.png') no-repeat;
        width: 32px;
        height: 32px;
    }
    .addAdFace_false {
        background: url('../../images/road//button/adAdFace_add.png') no-repeat;
        width: 32px;
        height: 32px;
    }

    .addAdFace_true {
        background: url('../../images/road//button/adAdFace_add_selected.png') no-repeat;
        width: 32px;
        height: 32px;
    }

    #fm-addShapContainer>button:focus{
        outline: none;
    }
    .btn-shape{
        color: #fff;
        background-color: #7F7F7F;
        border: 1px solid #494949;
    }
    .btn-shape:hover{
        border: 1px solid #494949;
    }
    .shape-well{
        min-width: 367px;
        background-color: #494949;
        text-align: center;
        opacity: .9;
    }
</style>
<div id="fm-addShapContainer" ng-controller="addAdShapeController" class="btn-group btn-group-sm dropdown" style="width: 100%;">
    <button type="button" class="btn addAdNode_{{classArr[4]}}" id="addNode" ng-click="addShape('adNode',4,$event)"
            title="新增点+"></button>
    <button type="button" class="btn addAdLink_{{classArr[5]}}" id="addAdLink" ng-click="addShape('adLink',5,$event)"
            title="新增线"></button>
    <button type="button" class="btn addAdAdmin_{{classArr[6]}} dropdown-toggle"  ng-click="addShape('adAdmin',6,$event)"
            title="新增行政区划代表点">
    </button>
    <button type="button" class="btn addAdFace_{{classArr[7]}}" id="addPolygon"  ng-click="addShape('adFace',7,$event)"
            title="新增polygon">
    </button>

</div>
