<style>
    .addNode_false {
        background: url('../../images/road//button/dot_add.png') no-repeat;
        width: 32px;
        height: 32px;
    }

    .addNode_true {
        background: url('../../images/road//button/dot_add_selected.png') no-repeat;
        width: 32px;
        height: 32px;
    }

    .addLink_false {
        background: url('../../images/road//button/line_add.png') no-repeat;
        width: 32px;
        height: 32px;
    }

    .addLink_true {
        background: url('../../images/road//button/line_add_selected.png') no-repeat;
        width: 32px;
        height: 32px;
    }

    .addRelation_false {
        background: url('../../images/road//button/relation_add.png') no-repeat;
        width: 32px;
        height: 32px;
    }

    .addRelation_true {
        background: url('../../images/road//button/relation_add_selected.png') no-repeat;
        width: 32px;
        height: 32px;
    }

    #fm-addShapContainer>button:focus{
        outline: none;
    }
    .btn-shape{
        color: #fff;
        background-color: #7F7F7F;
        border: 1px solid #494949;
    }
    .btn-shape:hover{
        border: 1px solid #494949;
    }
    .shape-well{
        min-width: 367px;
        background-color: #494949;
        text-align: center;
        opacity: .9;
    }
</style>
<div id="fm-addShapContainer" ng-controller="addAdShapeController" class="btn-group btn-group-sm dropdown" style="width: 100%;">
    <button type="button" class="btn addNode_{{classArr[4]}}" id="addNode" ng-click="addShape('node',4,$event)"
            title="新增点+"></button>
    <button type="button" class="btn addLink_{{classArr[5]}}" id="addLink" ng-click="addShape('adLink',5,$event)"
            title="新增线"></button>
    <button type="button" class="btn addRelation_{{classArr[6]}} dropdown-toggle"  ng-click="addShape('adAdmin',6,$event)"
            title="新增行政区划代表点">
    </button>
    <button type="button" class="btn addLink_{{classArr[7]}}" id="addPolygon"  ng-click="addShape('adFace',7,$event)"
            title="新增polygon">
    </button>

</div>
