
<div id="basicDiv" ng-controller="adAdminController" >
    <div style="height:50px">
        <form class="form-horizontal" method="get">
            <div class="panel panel-default " style="background-color: transparent;border:0;">
                <div class="panel-heading font-bold" style=" border:0;height: 100%; background-color: transparent;color:#FFF;padding: 10px 15px;">
                    行政区划代表点
                    <span ng-if="brigeLinkArrays==null" class="label label-info" >{{adAdminData.regionId}}</span>
                </div>
            </div>
        </form>
    </div>
    <form name="adAdminForm">
    <ul class="list-group list-group-lg m-b-none">
        <li class="list-group-item">
            <div class="btn-group btn-group-justified" style="width: 150px" role="group"
                 aria-label="">
                <div class="btn-group" role="group">
                    <button id="liout" type="button" ng-class="{'btn btn-xs selected':isbase==true,'btn btn-xs ':isbase==false}"
                            ng-click="clickBasic(true)">
                        基础属性
                    </button>
                </div>
                <div class="btn-group" role="group"
                     style="border-left: 1px solid #404040;border-right: 1px solid #404040">
                    <button id="lierror" type="button"  ng-class="{'btn btn-xs':isbase==true,'btn btn-xs selected':isbase==false}"
                            ng-click="clickBasic(false)"> 层级关系
                    </button>
                </div>
            </div>
            <div class="list-line"></div>
        </li>
        <li class="list-group-item" >
            <div><label class="control-label">行政代码</label></div>
            <div class="inline"><input type="text" ng-model="adAdminData.adminId" maxlength="6"/>
            </div>
        </li>
        <li class="list-group-item" >
            <div><label class="control-label">扩展代码</label></div>
            <div class="inline"><input type="text" ng-model="adAdminData.extendId" maxlength="4" />
            </div>
        </li>
        <li class="list-group-item" >
            <div>
                <label class="control-label">行政类型</label>
            </div>
            <div class="inline">
                <select  ng-model="adAdminData.adminType"
                         ng-options="value.id as value.label for value in adminType">

                </select>
            </div>
        </li>
        <li class="list-group-item" >
            <div>
                <label class="control-label">代表点标识</label>
            </div>
            <div class="inline">
                <select  ng-model="adAdminData.capital"
                         ng-options="value.id as value.label for value in capital">

                </select>
            </div>
        </li>
        <li class="list-group-item" >
            <div><label class="control-label">图符号码</label></div>
            <div class="inline"><input type="text" ng-model="adAdminData.meshId" />
            </div>
        </li>
        <li class="list-group-item" >
            <div><label class="control-label">人口数量</label></div>
            <div class="inline">
                <input type="text" ng-model="adAdminData.population" style="width: 140px"/>
                <label>万人</label>
            </div>
        </li>
    </ul>
    <ul class="list-group list-group-lg m-b-none">
        <li class="list-group-item">
            <div  class="inline" style="text-align: left;width: 120px;">
                <a ng-click="otherAdminName()" style="cursor: pointer;color:#FFF;">行政区划名称</a>
            </div>
        </li>
        <li class="list-group-item" ng-if="adAdminData.names.length>0">
            <div  ng-click="otherAdminName()" style="cursor: pointer;width: 180px"><label style="padding-left: 15px;padding-top: 5px;cursor: pointer;width:160px" class="control-label" ng-repeat="item in adAdminData.names">{{item.name}}</label>
            </div>
        </li>
    </ul>
    </form>
</div>
