
<div id="rdNodediv"  ng-controller="adFaceController" >
    <div style="height:50px">
        <form class="form-horizontal" method="get">
            <div class="panel panel-default " style="background-color: transparent;border:0;">
                <div class="panel-heading font-bold" style=" border:0;height: 100%; background-color: transparent;color:#FFF;padding: 10px 15px;">
                    行政区划面
                    <span ng-if="brigeLinkArrays==null" class="label label-info" >{{adFaceData.pid}}</span>
                </div>
            </div>
        </form>
    </div>
    <form name="adFaceForm">
    <ul class="list-group list-group-lg m-b-none">
        <li class="list-group-item">
            <div ><label class="control-label">区划号码</label></div>
            <div class="inline" style="text-align: left">
                <input type="text"  ng-model="adFaceData.regionId" disabled="disabled">
            </div>
        </li>
        <li class="list-group-item">
            <div ><label class="control-label">图幅号</label></div>
            <div class="inline" style="text-align: left">
                <input type="text"  ng-model="adFaceData.meshId" disabled="disabled">
            </div>
        </li>
        <li class="list-group-item">
            <div ><label class="control-label">面积</label></div>
            <div class="inline" style="text-align: left">
                <input type="text"  ng-model="adFaceData.area" disabled="disabled" style="width: 140px">
                <label style="font-size: 18px">&nbsp;㎡</label>
            </div>
        </li>
        <li class="list-group-item">
            <div ><label class="control-label">周长</label></div>
            <div class="inline" style="text-align: left">
                <input type="text"  ng-model="adFaceData.perimeter" disabled="disabled"style="width: 140px">
                <label style="font-size: 16px">&nbsp;m</label>
            </div>
        </li>
    </ul>
    </form>
</div>
