<div class="fm-component" ng-controller="SeCtl">
    <div class="title">
        分叉口提示
        <span class="label label-info">{{seData.pid}}</span>
    </div>
    <div class="content scroll-styled dark" style="height:90%;">
        <form name="rdGscForm">
            <div class="fm-panel">
                <div class="content">
                    <ul class="fm-ul fm-ul-form">
                        <li>
                            <label class="control-label">进入线</label>
                            <div>
                                <input type="text" ng-model="seData.inLinkPid"/>
                            </div>
                        </li>
                        <li>
                            <label class="control-label">进入点</label>
                            <div>
                                <input type="text" ng-model="seData.nodePid"/>
                            </div>
                        </li>
                        <li>
                            <label class="control-label">退出线</label>
                            <div>
                                <input type="text" ng-model="seData.outLinkPid"/>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>
