body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:11px;
  width:960px;
  height:520px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:520px;
}
#u1 {
  position:absolute;
  left:2px;
  top:252px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:560px;
  width:960px;
  height:992px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:992px;
}
#u3 {
  position:absolute;
  left:2px;
  top:488px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
