<div ng-controller="FileUploadCtl" nv-file-drop="" uploader="uploader">
    <div class="tab-header">
        图片上传
        <span class="upload-option-group pull-right">
            <button class="btn btn-primary upload-btn upload-add" title="选择文件" type="button">
                <span class="glyphicon glyphicon-plus-sign"></span>
                <input type="file" nv-file-select="" uploader="uploader" multiple  />
            </button>
            <button type="button" class="btn btn-primary upload-btn upload-img" title="全部上传" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span>
            </button>
            <button type="button" class="btn btn-primary upload-btn upload-cancel" title="全部取消" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span>
            </button>
            <button type="button" class="btn btn-primary upload-btn upload-remove" title="移除全部" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                <span class="glyphicon glyphicon-remove-circle"></span>
            </button>
        </span>
    </div>
    <div>
        <table class="table table-bordered table-hover table-striped navi-table">
            <thead>
            <tr>
                <th>名称</th>
                <th ng-show="uploader.isHTML5">大小</th>
                <th ng-show="uploader.isHTML5" width="50%">进度</th>
                <th width="7%">状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in uploader.queue">
                <td class="nowrap-text">
                    <strong>{{ item.file.name }}</strong>
                    <!--<div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>-->
                </td>
                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                <td ng-show="uploader.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar progress-bar-striped" role="progressbar" ng-style="{ 'width': item.progress + '%' }">
                            {{item.progress}}%
                        </div>
                    </div>
                </td>
                <td class="text-center">
                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td nowrap>
                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                        <span class="glyphicon glyphicon-upload"></span> 上传
                    </button>
                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> 取消
                    </button>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                        <span class="glyphicon glyphicon-trash"></span> 移除
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
