<div ng-controller="resumeCtl">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th ng-repeat="item in theadInfo">
                    {{item}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="checkResult.length == 0" class="no-records-found">
                <td colspan="{{theadInfo.length}}" class="text-center">没有找到匹配的记录</td>
            </tr>
            <tr ng-repeat="item in checkResult">
                <td>{{item.id}}</td>
                <td>{{item.code}}</td>
                <td>{{item.err}}</td>
                <td>{{item.operate}}</td>
                <td>{{item.poi}}</td>
            </tr>
        </tbody>
    </table>
</div>
