body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:752px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:450px;
  top:65px;
  width:200px;
  height:32px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:30px;
  width:269px;
  height:300px;
}
#u2_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:279px;
  height:310px;
}
#u3 {
  position:absolute;
  left:2px;
  top:142px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:54px;
  top:200px;
  width:113px;
  height:25px;
  font-size:14px;
  color:#000000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
}
#u5 {
  position:absolute;
  left:0px;
  top:4px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:50px;
  top:64px;
  width:269px;
  height:43px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:43px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:64px;
  top:38px;
  width:114px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
}
#u9 {
  position:absolute;
  left:0px;
  top:5px;
  width:114px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:54px;
  top:254px;
  width:260px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:243px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:260px;
  height:1px;
}
#u11 {
  position:absolute;
  left:227px;
  top:38px;
  width:76px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u12 {
  position:absolute;
  left:0px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:64px;
  top:117px;
  width:234px;
  height:57px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:21px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:21px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:225px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:21px;
  width:229px;
  height:31px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:31px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:225px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:64px;
  top:171px;
  width:234px;
  height:25px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:20px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:225px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:150px;
  top:72px;
  width:70px;
  height:28px;
  font-size:12px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:65px;
  top:198px;
  width:233px;
  height:54px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:49px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:49px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:224px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:380px;
  top:130px;
  width:372px;
  height:281px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:281px;
}
#u27 {
  position:absolute;
  left:2px;
  top:132px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:219px;
  top:268px;
  width:50px;
  height:50px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u29 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:92px;
  top:270px;
  width:50px;
  height:50px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u31 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:70px;
  top:284px;
  width:12px;
  height:18px;
  color:#999999;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:18px;
}
#u33 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:150px;
  top:285px;
  width:12px;
  height:18px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:18px;
}
#u35 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:299px;
  top:33px;
  width:18px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:572px;
  top:280px;
  width:31px;
  height:33px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:33px;
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
