<div ng-controller="PoiDataListCtl">
    <div class="btn-group btn-group-justified" role="group" style="padding:5px;">
        <div class="btn-group" role="group">
            <button class="btn btn-xs btn-purple" ng-class="{1: 'active'}[dataListType]" ng-click="changeDataList(1)">待作业</button>
        </div>
        <div class="btn-group" role="group">
            <button class="btn btn-xs btn-purple" ng-class="{2: 'active'}[dataListType]" ng-click="changeDataList(2)">待提交</button>
        </div>
        <div class="btn-group" role="group">
            <button class="btn btn-xs btn-purple" ng-class="{3: 'active'}[dataListType]" ng-click="changeDataList(3)">已提交</button>
        </div>
    </div>
    <div>
        <div>
            <span class="fm-list-filter" uib-dropdown on-toggle="toggled(open)" auto-close="outsideClick">
            <button type="button" class="btn dropdown-toggle btn-xs fm-xs-btn" uib-dropdown-toggle aria-haspopup="true" aria-expanded="true">
            <i class="glyphicon glyphicon-th icon-th"></i> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu fm-dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li ng-repeat="col in cols">
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model-options="{getterSetter: true}" ng-model="col.show"/> {{col.title}}
                    </label>
                </li>
            </ul>
            </span>
        </div>
        <div class="table-search fm-inline fm-list-dropdown">
            <div class="btn-group" uib-dropdown is-open="status.isopen">
                <button type="button" class="btn btn-xs dropdown-toggle fm-xs-btn fm-group-btn" uib-dropdown-toggle ng-disabled="disabled">
                {{radio_select}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu fm-dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li ng-model="radio_select" uib-btn-radio="'名称'" ng-click="changeSearchType('name');" role="menuitem"><a href="#" class="dropdown-menu-name">名称</a></li>
                    <li ng-model="radio_select" uib-btn-radio="'PID'" ng-click="changeSearchType('pid');" role="menuitem"><a href="#" class="dropdown-menu-name">PID</a></li>
                </ul>
            </div>
            <input class="fm-search-control" type="text" ng-model="filters[searchType]" placeholder="搜索"/>
        </div>
    </div>
    <div class="table-container dark scroll-styled">
        <table ng-table-dynamic="tableParams with cols" class="table table-bordered table-condensed poi-list">
            <colgroup>
            <col ng-repeat="col in cols | filter:{show: true}" width="{{col.width || '100'}}"/>
            </colgroup>
            <tr ng-repeat="row in $data" ng-click="selectData(row,$index)" ng-class="{true:'active'}[itemActive == $index]">
                <td ng-repeat="col in $columns">
                    <p title="{{row[col.field]}}" ng-bind-html="col.getValue?col.getValue(this,row):row[col.field]"></p>
                </td>
            </tr>
            <tr class="text-center" ng-show="!$data.length"><td colspan="{{(cols | filter: {show: true}).length}}" ng-bind="poiListTableMsg"></td></tr>
        </table>
    </div>
</div>