<div ng-controller="chargingPoleCtl" style="min-width:420px;margin-bottom:20px;">
    <uib-accordion-group panel-class="panel-default" is-open="ctrl.open">
        <uib-accordion-heading>
            <div class="form-inline">
                <span style="font-weight:bold;">专有信息</span>
                <div  class="form-group" style="margin:0px 20px;">
                    <span class="label label-danger" style="padding:4px 15px;" ng-show="">无</span>
                </div>
                <div class="form-group form-inline pull-right">
                    <div class="form-group" style="margin:0px 20px;">
                        <img src="/WebApp/images/poi/icon/prompt.png">
                    </div>
                    <i class="glyphicon" ng-class="{'glyphicon-chevron-up': ctrl.open, 'glyphicon-chevron-down': !ctrl.open}"></i>
                </div>
            </div>
        </uib-accordion-heading>
        <div class="panel-bady" style="margin:-15px;">
            <table class="table property-table" style="border:0px;">
                <tr>
                    <td width="20%">分组号</td>
                    <td width="30%" >
                        <input ng-model="charging.groupId" type="text" maxLength="20" class="form-control input-sm" id="charging-groupid" readonly>
                    </td>
                    <td width="20%">充电桩编号</td>
                    <td width="30%">
                        <input ng-model="charging.plotNum" type="text" class="form-control input-sm" id="charging-plotnum">
                    </td>
                </tr>
                <tr>
                    <td>设备生产商</td>
                    <td colspan="3">
                        <input ng-model="charging.manufacturer" type="text" class="form-control input-sm" id="charging-manufacturer" required>
                    </td>
                </tr>
                <tr>
                    <td>出厂编号</td>
                    <td colspan="3">
                        <input ng-model="charging.factoryNum" type="text" class="form-control input-sm" id="charging-factorynum">
                    </td>
                </tr>
                <tr>
                    <td>产品型号</td>
                    <td colspan="3">
                        <input ng-model="charging.productNum" type="text" class="form-control input-sm" id="charging-productnum">
                    </td>
                </tr>
                <tr>
                    <td width="20%">泊位号码</td>
                    <td width="30%">
                        <input ng-model="charging.parkingNum" type="text" class="form-control input-sm" id="charging-parkingnum">
                    </td>
                    <td width="20%">楼层</td>
                    <td width="30%">
                        <input ng-model="charging.floor" type="number"  min="-5" maxLength="6"
                               class="form-control input-sm" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"
                               id="charging-floor">
                    </td>
                </tr>
                <tr>
                    <td>支付方式</td>
                    <td id="charging-payment" colspan="3">
                    	<div ng-repeat="(key, value) in chargingPayment"  class="col-sm-4" style="padding:0px"><input type='checkbox' value="{{key}}" ng-model="charging.payment[key]">{{value}}</div>
                    </td>
                </tr>
                <tr>
                    <td>充电模式</td>
                    <td id="charging-mode" colspan="3">
                        <div ng-repeat="(key,value) in chargingMode" class="col-sm-6" style="padding:0px"><input type='radio' value="{{key}}" ng-model="charging.mode"> {{value}}</div>
                    </td>
                </tr>
                <tr>
                    <td>位置类型</td>
                    <td id="charging-locationtype" colspan="3">
                    	<div ng-repeat="(key,value) in locationtype" class="col-sm-6" style="padding:0px"><input type='radio' value="{{key}}" ng-model="charging.locationType"> {{value}}</div>
                    </td>
                </tr>
                <tr>
                    <td>电流类型</td>
                    <td id="charging-acdc" colspan="3">
                    	<div ng-repeat="(key,value) in chargingAcdc" class="col-sm-6" style="padding:0px"><input type='radio' value="{{key}}" ng-model="charging.acdc"> {{value}}</div>
                    </td>
                </tr>
                <tr>
                    <td>插头类型</td>
                    <td id="charging-plugType" colspan="3">
                    	<div ng-repeat="(key, value) in chargingPlugType" class="col-sm-6" style="padding:0px"><input type='checkbox' value="{{key}}" ng-model="charging.plugType[key]"> {{value}}</div>
                    </td>
                </tr>
                <tr>
                    <td width="20%">充电功率</td>
                    <td width="30%">
                        <input ng-model="charging.power" type="text" class="form-control input-sm" id="charging-power" >
                    </td>
                    <td width="20%">充电电压</td>
                    <td width="30%">
                        <input type="text" ng-model="charging.voltage" class="form-control input-sm" id="charging-voltage" >
                    </td>
                </tr>
                <tr>
                    <td width="20%">充电电流</td>
                    <td width="30%">
                        <input ng-model="charging.current" type="text" class="form-control input-sm" id="charging-current">
                    </td>
                    <td width="20%">充电价格</td>
                    <td width="30%">
                        <input ng-model="charging.prices" type="text" class="form-control input-sm" id="charging-prices">
                    </td>
                </tr>
                <tr>
                    <td width="20%">同组桩数</td>
                    <td width="30%" >
                        <input ng-model="charging.count" type="text" class="form-control input-sm" id="charging-count" readonly>
                    </td>
                    <td width="20%">充电口数</td>
                    <td width="30%">
                        <input ng-model="charging.plugNum" type="number"  min="0" maxLength="6"
                               class="form-control input-sm" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"
                               id="charging-plugNum">
                    </td>
                </tr>
                <tr>
                    <td >开放状态</td>
                    <td id="charging-openType" colspan="3">
                        <div class="row" style="margin:0px">
                        	<div ng-repeat="(key, value) in chargingOpenType" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0px;color:green" ng-if="key == 1" style="padding:0px;color:green">
                                <input type="checkbox" value="{{key}}" ng-model="charging.openType[key]" ng-click="changeOpenType($event)">{{value}}
                            </div>
                        	<div ng-repeat="(key, value) in chargingOpenType" class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding:0px" ng-if="key != 1">
                                <input type="checkbox" value="{{key}}" ng-model="charging.openType[key]" ng-click="changeOpenType($event)">{{value}}
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding:0px">
                            	<select
                                    ng-model="selectedKind"
                                    ng-options="value as lable.chainName for (value, lable) in chargeChainObj"
                                    chosen ng-change="kindChange($event, this)" style="width: 80%;">
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>服务状态</td>
                    <td id="charging-availableState" colspan="3">
                        <div ng-repeat="(key,value) in chargingAvailableState" class="col-sm-6" style="padding:0px"><input type='radio' value="{{key}}" ng-model="charging.availableState"> {{value}}</div>
                    </td>
                </tr>

            </table>
        </div>
    </uib-accordion-group>
</div>