body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:48px;
  top:23px;
  width:652px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:652px;
  height:37px;
}
#u1 {
  position:absolute;
  left:2px;
  top:10px;
  width:648px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:150px;
  top:109px;
  width:390px;
  height:121px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:121px;
}
#u3 {
  position:absolute;
  left:2px;
  top:52px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:740px;
  top:70px;
  width:570px;
  height:218px;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:218px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:566px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:740px;
  top:298px;
  width:570px;
  height:100px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:100px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:566px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:48px;
  top:420px;
  width:1192px;
  height:600px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:600px;
}
#u9 {
  position:absolute;
  left:2px;
  top:292px;
  width:1188px;
  visibility:hidden;
  word-wrap:break-word;
}
