body{
    margin: 0;
    height: 100%;
    overflow: hidden;
}
.wrapper{
    animation: bg-show 2s;
    -moz-animation: bg-show 2s;	/* Firefox */
    -webkit-animation: bg-show 2s;	/* Safari å’Œ Chrome */
    -o-animation: bg-show 2s;	/* Opera */
}
/*********************rewrite default style**************************/
strong {
    font-size: 68px;
    font-weight: 500;
}

h1, h2 {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}
h3 {
    font-size: 22px;
    font-weight: 700;
    color: #555;
    line-height: 30px;
}
/*************************login wrap box*************************/
.wrapper .text {
    color: #fff;
}
.wrapper .text h1 { color: #fff; }

.wrapper .description {
    margin: 20px 0 10px 0;
}
.wrapper .description p { opacity: 0.8; }
.form-box { margin-top: 35px; }
.form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: #fff;
    -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
    text-align: left;
}
.form-top-left {
    float: left;
    width: 75%;
    padding-top: 25px;
}
.form-top-left h3 { margin-top: 0; }
.form-top-right {
    float: left;
    width: 25%;
    padding-top: 20px;
    font-size: 66px;
    color: #4aaf51;
    line-height: 100px;
    text-align: right;
}
input[type="text"], input[type="password"], textarea, textarea.form-control {
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #f8f8f8;
    border: 3px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
.form-bottom {
    padding: 25px 25px 30px 25px;
    background: #eee;
    -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
    text-align: left;
}
.form-bottom form button.btn {
    width: 100%;
}
.form-bottom form .input-error {
    border-color: #4aaf51;
}
.warn-info{
    color: red;
    padding: 4px 0;
    padding: 4px 0;
}
button.btn {
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #4aaf51;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
.social-login {
    margin-top: 35px;
}
.social-login h3 {
    color: #fff;
}
.social-login-buttons {
    text-align: center;
    margin-top: 25px;
}
.social-login-buttons span{
    color: white;
    font-size: 16px;
}

/************************* Media queries *************************/

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {
    strong{
        font-size: 38px;
    }
}

@media (max-width: 767px) {
    strong{
        font-size: 38px;
    }
    h1, h2 { font-size: 18px; }
    h3 {
        font-size: 18px;}
    .form-top-right{
        font-size: 38px;
    }

}
@media (max-width: 415px) {
    strong{
        font-size: 28px;
    }
    h1, h2 { font-size: 14px; }
    h3 {
        font-size: 12px;}
    .form-top-right{
        font-size: 22px;
    }

    .form-top-left p{
        display: none;
    }
}

/************************** backstrecth style **************************/
.backstretch {
    height: 100%;
    width: 100%;
}
.backstretch img{
    -webkit-filter: blur(1px)
}
/******************* the transition effect for wrapper *******************/
@keyframes bg-show
{
    from {opacity: 0;}
    to {opacity: 1;}
}

