html, body {
    font-family: 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', '黑体', Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
}

a, a:active, a:link, a:visited {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

.fm-banner {
    width: 50px;
    background-color: #222;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.fm-banner div {
    padding: 15px 0px;
    text-align: center;
}

.fm-banner .banner-center {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0;
    margin-top: 20px;
}

.fm-list-panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    left: 50px;
}

.text-success {
    color: #34B734;
}

.text-muted {
    color: #A2A2A2;
}

.fm-banner .banner-center div.selected {
    background-color: #313131;
}

.fm-banner .banner-bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.fm-panel-arrow {
    text-align: center;
    cursor: pointer;
    height: 15px;
}

a.fm-panel-controlArrowUp>span {
    background: url("../../images/road/img/arrow-up.png") no-repeat;
    margin-top: 3px;
    height: 10px;
    width: 20px;
    position: absolute;
    margin-left: -10px;
    transition: all 0s;
}

a.fm-panel-controlArrowDown>span {
    background: url("../../images/road/img/arrow-down.png") no-repeat;
    margin-top: 3px;
    height: 10px;
    width: 20px;
    position: absolute;
    margin-left: -10px;
    transition: all 0s;
}

a.fm-panel-controlArrowUp, a.fm-panel-controlArrowDown {
    background-color: #404040;
    opacity: 0.95;
    display: inline-block;
    width: 40px;
    height: 15px;
    text-align: center;
    transition: all 0s;
}


/**************************************nnade***************************************************/

.fm-container {
    background-color: #313131;
    font-size: 12px;
    position: absolute;
    border: 1px solid #555;
    overflow-y: auto;
    z-index: 1;
}

.fm-container.fm-col {
    height: 100%;
}

.fm-container.fm-row {
    width: 100%;
}

.fm-container.fm-lvl1 {
    opacity: 0.9;
}

.fm-container.fm-lvl2 {
    opacity: 0.8;
}

.fm-container.fm-lvl3 {
    opacity: 0.7;
}

.fm-container > div.title {
    background-color: rgb(64, 64, 64);
    padding: 12px 8px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    color: #fff;
    font-weight: bold;
}

.fm-container > div.content {
    overflow: auto;
    padding: 5px;
}

.fm-tabs {
    background-color: rgb(64, 64, 64);
    padding: 0px 8px;
}

.fm-tabs a.tab {
    color: #ccc;
    font-weight: bold;
    text-decoration: none;
    padding: 6px 5px;
    display: inline-block;
    text-align: center;
}

.fm-tabs a.tab:hover {
    color: #fff;
}

.fm-tabs a.tab.active {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .8);
    background-color: #313131;
    transition: all .3s;
}

.fm-panel {
    opacity: 1;
    margin: 5px 5px 0px;
    color: #fff;
    background-color: #555;
    border-radius: 4px;
}

.fm-panel > div.title {
    padding: 6px 8px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.fm-panel > div.content {
    padding: 5px;
    overflow: auto;
}

ul.fm-ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

ul.fm-ul > li {
    border: none;
    padding: 3px 15px;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

ul.fm-ul > li label, ul.fm-ul > li div {
    display: inline-block;
    margin: 0px;
}

ul.fm-ul-form > li > label {
    color: #F3F6FA;
    font-weight: normal;
    width: 25%;
}

ul.fm-ul-form > li > div {
    width: 70%;
}

ul.fm-ul-form > li > div.block {
    border: 1px solid gray;
}

ul.fm-ul-form > li > div > label {
    margin: 2px 5px;
}

ul.fm-ul-list > li > label {
    color: #F3F6FA;
    font-weight: normal;
    width: 70%;
}

ul.fm-ul-list > li > div:first-child {
    color: #F3F6FA;
    font-weight: normal;
    width: 75%;
}

ul.fm-ul-list > li > div:last-child {
    width: 20%;
}

input.fm-control {
    width: 100%;
    color: #F3F6FA;
    padding: 1px 5px;
    border-radius: 4px;
    border: 1px ridge #FFFFFF;
    background-color: #333;
}

input.fm-control.ng-dirty {
    background-color: #307BA3;
}

select.fm-control {
    width: 100%;
    color: #F3F6FA;
    padding: 1px 5px;
    border-radius: 4px;
    border: 1px ridge #FFFFFF;
    background-color: #333;
}

select.fm-control.ng-dirty {
    background-color: #307BA3;
}

textarea.fm-control {
    width: 100%;
    color: #F3F6FA;
    padding: 1px 5px;
    border-radius: 4px;
    border: 1px ridge #FFFFFF;
    background-color: #333;
}

textarea.fm-control.ng-dirty {
    background-color: #307BA3;
}

label.fm-control {
    margin: 2px 5px;
}

label > input[type='radio'], label > input[type='checkbox'] {
    vertical-align: middle;
    margin: 3px 0px;
    line-height: 12px;
}

.fm-inline > * {
    display: inline-block;
}

.tel-code {
    width: 50px !important;
}

.tel-number {
    width: 100px !important;
}

.tel-cellphone {
    width: 162px !important;
}

.fm-btn {
    border: 1px solid #aaa;
}

.fm-no-scroll {
    overflow-y: hidden;
}


/************************* 图片资源 ******************************/

.icon_3d {
    background-image: url('../../images/poi/icon/3D.png');
    width: 24px;
    height: 24px;
}

.icon_car {
    background-image: url('../../images/poi/icon/poi_car.png');
    width: 24px;
    height: 24px;
}

.icon_rmb {
    background-image: url('../../images/poi/icon/poi_rmb.png');
    width: 24px;
    height: 24px;
}


/******************************** 文件上传 **************************************/

.upload-option-group {
    position: relative;
    margin-top: -4px;
}

.upload-btn {
    position: relative;
    z-index: 1;
    padding: 2px;
    font-size: 15px;
    line-height: 20px;
    margin: -3px 5px;
    float: right;
}

.dom-hide {
    display: none !important;
}

.upload-add {
    border-radius: 4px;
    overflow: hidden;
    text-decoration: none;
    text-indent: 0;
    cursor: pointer;
}

.upload-add input {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.nowrap-text {
    white-space: nowrap;
}

.fm-upload-ico {
    background-color: rgba(154, 205, 50, 0);
    border: 0;
    float: left;
    padding: 3px;
    cursor: pointer;
}

.fm-upload-ico[disabled] {
    color: #8c8787;
}

.fm-upload-list {
    padding: 0 !important;
}

.fm-progress {
    height: 3px;
    margin-bottom: 0;
}

.fm-progress-bar {
    border-right: 5px solid rgb(13, 194, 248);
}

.fm-flag-ico {
    /*position: absolute;*/
    right: 10px;
}

.fm-flag-ico > .glyphicon-ok {
    color: #34B734;
}

.fm-flag-ico > .glyphicon-remove {
    color: #FF3252;
}

.fm-uploder-file-name {
    width: 140px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fm-uploder-file-option {
    /*position: absolute;*/
    right: 42px;
}

.fm-uploder-file-flag {
    width: 50px;
    text-align: center;
    top: -8px;
    position: relative;
}


/**************************控制台************************/

.fm-console-panel {
    bottom: 237px;
    position: absolute;
}

.fm-console-show {
    margin-bottom: 0;
}

.fm-console-hide {
    margin-bottom: -237px;
}

.fm-option-bar {
    width: auto;
    bottom: 237px;
    left: 0;
    right: 300px;
    border-radius: 5px 5px 0px 0px;
    transition: all .2s ease-in-out;
}

.fm-console-table {
    color: #ffffff;
    margin-top: 5px;
}

.fm-console-table > tbody > tr > td {
    padding: 0px 3px;
    line-height: 2;
}

.fm-console-content {
    height: 200px;
}

.fm-console-table-p {
    margin: 0;
}

.full-width {
    width: 100%;
}

.fm-editor-panel {
    height: 100%;
    position: absolute;
    right: 0px;
    background-color: transparent;
    border: none;
}

.fm-editor-panel-normal {
    width: 315px;
}

.fm-editor-panel-sm {
    width: 15px;
}

.fm-editor-arrow {
    width: 15px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.fm-editor-arrow a.fm-panel-controlArrowLeft>span {
    background: url("../../images/road/img/arrow-left.png");
}

.fm-editor-arrow a.fm-panel-controlArrowRight>span {
    background: url("../../images/road/img/arrow-right.png");
}

a.fm-panel-controlArrowLeft, a.fm-panel-controlArrowRight {
    background-color: #404040;
    opacity: 0.95;
    display: inline-block;
    width: 15px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
}

a.fm-panel-controlArrowLeft>span, a.fm-panel-controlArrowRight>span {
    display: inline-block;
    width: 10px;
    height: 20px;
    margin-top: 10px;
}


/**********tips style**********/

.popoverTips {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    overflow-y: hidden;
    width: 250px;
    height: 100%;
    background-color: transparent;
    padding: 42px 0 0px 0;
    opacity: 0;
}

.popoverTips > div.tipsPanel {
    height: 100%;
    background-color: #313131;
    /*opacity: 0.9;*/
    padding: 10px;
}


/*fadeIn animte*/

.animated-fast {
    -webkit-animation-duration: .2s !important;
    animation-duration: .2s !important;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


/*重写了部分angular-chosen的样式*/

.chosen-container {
    font-size: 12px;
    margin-top: 5px;
}

.chosen-container .chosen-results {
    max-height: 120px;
}

.chosen-container-single .chosen-default {
    color: #F3F6FA;
    background-color: #333;
}

.chosen-container-single .chosen-single {
    padding: 0px 5px;
    color: #F3F6FA;
    background-image: linear-gradient(#333 100%, #333 100%);
    box-shadow: 0px 1px 0px #333 inset;
}

.chosen-container .chosen-drop {
    background-color: #333;
}

.chosen-container .chosen-results {
    color: #F3F6FA;
}

.chosen-container-active.chosen-with-drop .chosen-single {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #333), color-stop(80%, #333));
    color: #F3F6FA;
}

.chosen-container .chosen-results li {
    padding: 2px 6px;
}

.chosen-container .chosen-results li.no-results {
    color: #F3F6FA;
    background: #333;
}

.chosen-container-active.chosen-with-drop .chosen-single {
    background-image: linear-gradient(#333 100%, #333 100%);
    box-shadow: 0px 1px 0px #333 inset;
}


/*********************tips**********************/

.tips-title {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.tips-title > label {
    color: #fff;
}

.panel-tips {
    -webkit-font-smoothing: antialiased;
    line-height: 1.42857143;
    background-color: #555;
    margin-bottom: 0;
    width: 100%;
}

.tips-img {
    width: 57px;
    height: 57px;
    margin: 0;
    float: left;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.tips-panel {
    border: 1px solid #595959;
}

.tips-middle {
    margin-top: 10px;
    float: left;
    width: 100%;
    color: #fff;
}

.tips-info {
    margin: 3px 0;
}

.tips-close > .close {
    color: #fff;
}

#poiTipsOriginImg {
    width: 100%;
}

.switch-left > span {
    background: url("../../../images/road/img/left.png");
    height: 40px;
    width: 40px;
    position: absolute;
}

.switch-left > img {
    position: absolute;
    background-color: #e5e5e5;
    height: 43px;
    width: 27px;
    padding: 5px;
    margin-top: 30%;
}

.switch-right > img {
    position: absolute;
    background-color: #e5e5e5;
    height: 43px;
    width: 27px;
    padding: 5px;
    margin-top: 30%;
    right: 15px;
}


/*********************floatMenu**********************/

.floatMenu {
    display: none;
    list-style-type: none;
}

.floatMenu>li {
    /*position:absolute;*/
    left: 200px;
    top: 300px;
    padding: 8px;
    text-align: center;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: blueviolet;
    cursor: pointer;
    z-index: 1000;
}

.floatMenu>li:hover {
    color: blueviolet;
    background-color: #00FF33;
}

.floatMenu>li>a {
    font-size: 16px;
    color: #FFF;
}


/* ---------------------滚动条-------------------------------------------------- */

.scroll-styled::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: transparent;
}

.scroll-styled::-webkit-scrollbar:hover {
    background: transparent;
}

.scroll-styled::-webkit-scrollbar-track {
    background: none;
}

.scroll-styled::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .18);
    border-color: transparent;
    width: 6px;
    border-radius: 3px;
}

.scroll-styled::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, .25);
}

.scroll-styled::-webkit-scrollbar-track:hover {
    background: transparent;
}

.dark .scroll-styled::-webkit-scrollbar-thumb, .dark.scroll-styled::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .18);
}

.dark .scroll-styled::-webkit-scrollbar-thumb:hover, .dark.scroll-styled::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, .25);
}