<div class="fm-component" ng-controller="adFaceController">
    <div class="title">
        行政区划面
        <span class="label label-info">{{adFaceData.pid}}</span>
    </div>
    <div class="content scroll-styled dark" style="height:90%;">
        <form name="adFaceForm">
            <div class="fm-panel">
                <div class="content">
                    <ul class="fm-ul fm-ul-form">
                        <li>
                           <label>区划号码</label>
                            <div>
                                <input type="text" ng-model="adFaceData.regionId" disabled="disabled">
                            </div>
                        </li>
                        <li>
                            <label>图幅号</label>
                            <div>
                                <input type="text" ng-model="adFaceData.meshId" disabled="disabled">
                            </div>
                        </li>
                        <li>
                            <label>面积</label>
                            <div>
                                <input type="text" ng-model="adFaceData.area" disabled="disabled">&nbsp;㎡
                            </div>
                        </li>
                        <li>
                            <label>周长</label>
                            <div>
                                <input type="text" ng-model="adFaceData.perimeter" disabled="disabled">&nbsp;m
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>

    </div>
</div>
