
<div id="rdNodediv"  ng-controller="adLinkController" >
    <div style="height:50px">
        <form class="form-horizontal" method="get">
            <div class="panel panel-default " style="background-color: transparent;border:0;">
                <div class="panel-heading font-bold" style=" border:0;height: 100%; background-color: transparent;color:#FFF;padding: 10px 15px;">
                    行政区划线
                    <span ng-if="brigeLinkArrays==null" class="label label-info" >{{adLinkData.pid}}</span>
                </div>
            </div>
        </form>
    </div>
    <form name="adLinkForm">
    <ul class="list-group list-group-lg m-b-none">
        <li class="list-group-item">
            <div ><label class="control-label">种别</label></div>
            <div class="inline" style="text-align: left">
                <select  ng-model="adLinkData.kind"
                         ng-options="value.id as value.label for value in kind" >
                </select>
            </div>
        </li>
        <li class="list-group-item">
            <div ><label class="control-label">形态</label></div>
            <div class="inline" style="text-align: left">
                <select  ng-model="adLinkData.form"
                         ng-options="value.id as value.label for value in form" >
                </select>
            </div>
        </li>
        <li class="list-group-item">
            <div ><label class="control-label">比例尺</label></div>
            <div class="inline" style="text-align: left">
                <select  ng-model="adLinkData.scale"
                         ng-options="value.id as value.label for value in scale" disabled="disabled">
                </select>
            </div>
        </li>

        <li class="list-group-item">
            <div ><label class="control-label">图幅号</label></div>
            <div class="inline" style="text-align: left">
                <input type="text"  ng-model="adLinkData.meshId" disabled="disabled">
            </div>

        </li>
        <li class="list-group-item">
            <div ><label class="control-label">Link长度</label></div>
            <div class="inline" style="text-align: left">
                <input type="text"  ng-model="adLinkData.length" disabled="disabled" style="width: 140px">
                <label style="font-size: 16px">&nbsp;m</label>
            </div>

        </li>
    </ul>
    </form>
</div>
