<style>
    div {
        -webkit-font-smoothing: antialiased;
        line-height: 1.42857143;
        /*color: #0f096e;*/
        color: #58666e;
        /*background-color: transparent;*/
        margin-right: 0px;
    }

    .list-group-item {
        position: relative;
        display: block;
        padding: 1px 15px;
        margin-bottom: -1px;
        /*border: 1px solid #ddd;*/
        border: 0;
    }

    #rdNodediv {
        /* background-color: #000;*/
        opacity: 1;
        width: 100%;
    }

    #rdNodediv ul {
        /*background-color: #000;*/
        list-style: none;
        /*padding:5px;*/
        overflow: hidden;
        width: 97%;
        float: left;
        margin: 5px;
        border-radius: 4px;
    }

    #rdNodediv ul > li {
        background-color: #555;
        color: #FFF;

    }

    #rdNodediv ul > li > div > input {
        color: #F3F6FA;
        width:170px;
        margin-left: -3px;
        padding-left: 5px;
        border-radius: 4px;
        margin-top: 5px;
        border: 1px solid #FFFFFF;
        border-style: ridge;
        background-color: #333;
    }



    #rdNodediv ul > li > div > select {
        color: #F3F6FA;
        margin-left: -3px;
        width:170px;
        border-radius: 4px;
        margin-top: 5px;
        border: 1px solid #FFFFFF;
        border-style: ridge;
        background-color: #333;
    }

    #rdNodediv ul > li > div:first-child {
        display: inline-block;
        width: 80px;
    }

    #rdNodediv ul > li > label {
        color: #F3F6FA;
        font-weight: normal;
    }

    #rdNodediv ul > li > div > label {
        color: #F3F6FA;
        font-weight: normal;
    }

    .inline {
        display: inline-block !important;
        /*width: 70%;*/
        text-align: left;
    }

    .m-b-none {
        margin-bottom: 0 !important;
        border-radius:4px;
    }

    .form-horizontal .control-label {
        text-align: center;
    }

    .radio {
        margin-bottom: 0px;
        margin-top: 0px;
    }


    .checkboxli {
        background-color: #333;
        border: 1px solid #aaa;
        border-radius: 4px;
        cursor: default;
        float: left;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
        padding: 0 5px;
        color:#FFF;
    }

</style>
<div id="rdNodediv"  ng-controller="adNodeController" >
    <div style="height:50px">
        <form class="form-horizontal" method="get">
            <div class="panel panel-default " style="background-color: transparent;border:0;">
                <div class="panel-heading font-bold" style=" border:0;height: 100%; background-color: transparent;color:#FFF;padding: 10px 15px;">
                    行政区划点
                    <span ng-if="brigeLinkArrays==null" class="label label-info" >{{adNodeData.pid}}</span>
                </div>
            </div>
        </form>
    </div>
    <ul class="list-group list-group-lg m-b-none">
        <li class="list-group-item">
            <div ><label class="control-label">种别</label></div>
            <div class="inline" style="text-align: left" ng-repeat="item in kind | filter:{id:adNodeData.kind}">
                <input type="text" ng-model="item.label" disabled="disabled">
            </div>

        </li>

        <li class="list-group-item">
            <div ><label class="control-label">形态</label></div>
            <div class="inline" style="text-align: left">
                <select  ng-model="adNodeData.form"
                         ng-options="value.id as value.label for value in form" >
                </select>
            </div>
        </li>

        <li class="list-group-item">
            <div ><label class="control-label">图幅号</label></div>
            <div class="inline" style="text-align: left">
                <input type="text"  ng-model="adNodeData.meshId" disabled="disabled">
            </div>

        </li>

    </ul>
</div>
