<div class="fm-component" ng-controller="zoneNodeController">
    <div class="title">
        Zone点
        <span class="label label-info" >{{zoneNodeData.pid}}</span>
    </div>
    <div class="content scroll-styled dark" style="height:90%;">
        <from name="zoneNodeForm">
            <div class="fm-panel" >
                <div class="content">
					<ul class="fm-ul fm-ul-form">
						<li>
							<label>种 别</label>
							<div>
								<select  ng-model="zoneNodeData.kind"
										 ng-options="value.id as value.label for value in kind" >
								</select>
							</div>
						</li>
		                <li>
		                    <label>形 态</label>
		                    <div>
		                        <select  ng-model="zoneNodeData.form"
		                                 ng-options="value.id as value.label for value in form" >
		                        </select>
		                    </div>
		                </li>
		                <li>
		                    <label>图幅号</label>
		                    <div>
		                        <input type="text"  ng-model="zoneNodeData.meshId" class="chosen-disabled" disabled>
		                    </div>
		                </li>
		            </ul>
                </div>
            </div>
        </from>
    </div>
</div>
