<div class="fm-component" ng-controller="zoneFaceController">
    <div class="title">
        Zone面
        <span class="label label-info">{{zoneFaceData.pid}}</span>
    </div>
    <div class="content scroll-styled dark" style="height:90%;">
        <form name="zoneFaceForm">
            <div class="fm-panel">
                <div class="content">
                    <ul class="fm-ul fm-ul-form">
                        <li>
                            <label>区划号码</label>
                            <div>
                                <input type="text" class="fm-control" ng-model="zoneFaceData.regionId" disabled="disabled">
                            </div>
                        </li>
                        <li>
                            <label>图幅号</label>
                            <div>
                                <input type="text" class="fm-control" ng-model="zoneFaceData.meshId"
                                       disabled="disabled">
                            </div>
                        </li>
                        <li>
                            <label>面积</label>
                            <div>
                                <input type="text" class="fm-control" ng-model="zoneFaceData.area" disabled="disabled">㎡
                            </div>
                        </li>
                        <li>
                            <label>周长</label>
                            <div>
                                <input type="text" class="fm-control" ng-model="zoneFaceData.perimeter" disabled="disabled">m
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>

