body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:41px;
  top:20px;
  width:100px;
  height:40px;
  color:#1E1E1E;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1810px;
  top:410px;
  width:630px;
  height:321px;
  color:#1E1E1E;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:321px;
}
#u3 {
  position:absolute;
  left:2px;
  top:152px;
  width:626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1810px;
  top:75px;
  width:618px;
  height:315px;
  color:#1E1E1E;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:315px;
}
#u5 {
  position:absolute;
  left:2px;
  top:150px;
  width:614px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:596px;
  top:113px;
  width:670px;
  height:513px;
  color:#1E1E1E;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:513px;
}
#u7 {
  position:absolute;
  left:2px;
  top:248px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1208px;
  top:75px;
  width:592px;
  height:540px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:540px;
}
#u9 {
  position:absolute;
  left:2px;
  top:262px;
  width:588px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1440px;
  top:120px;
  width:390px;
  height:20px;
  color:#1E1E1E;
}
#u10_seg0 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:20px;
  height:14px;
}
#u10_seg1 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:390px;
  height:20px;
}
#u10_seg2 {
  position:absolute;
  left:360px;
  top:-10px;
  width:20px;
  height:40px;
}
#u10_seg3 {
  position:absolute;
  left:360px;
  top:10px;
  width:34px;
  height:20px;
}
#u11 {
  position:absolute;
  left:155px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:160px;
  top:20px;
  width:256px;
  height:130px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:130px;
}
#u13 {
  position:absolute;
  left:2px;
  top:1px;
  width:252px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:705px;
  top:692px;
  width:795px;
  height:242px;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:242px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:791px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:41px;
  top:692px;
  width:100px;
  height:40px;
  color:#1E1E1E;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:212px;
  top:692px;
  width:478px;
  height:242px;
  color:#1E1E1E;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:242px;
}
#u19 {
  position:absolute;
  left:2px;
  top:17px;
  width:474px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:178px;
  top:204px;
  width:428px;
  height:146px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:146px;
}
#u21 {
  position:absolute;
  left:2px;
  top:65px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:204px;
  top:1000px;
  width:230px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:213px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:230px;
  height:1px;
}
#u23 {
  position:absolute;
  left:216px;
  top:980px;
  width:55px;
  height:16px;
  color:#1E1E1E;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:476px;
  top:972px;
  width:280px;
  height:128px;
  color:#1E1E1E;
  text-align:left;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:128px;
}
#u26 {
  position:absolute;
  left:2px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:829px;
  top:972px;
  width:206px;
  height:85px;
  color:#1E1E1E;
  text-align:left;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:85px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:202px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:306px;
  top:1010px;
  width:110px;
  height:87px;
  font-size:11px;
  color:#1E1E1E;
  text-align:left;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:306px;
  top:1030px;
  width:110px;
  height:17px;
  color:#1E1E1E;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:17px;
}
#u32 {
  position:absolute;
  left:2px;
  top:0px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:306px;
  top:976px;
  width:105px;
  height:24px;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
}
#u34 {
  position:absolute;
  left:0px;
  top:4px;
  width:105px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:208px;
  top:1138px;
  width:66px;
  height:16px;
  color:#1E1E1E;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:296px;
  top:1138px;
  width:51px;
  height:14px;
  font-size:11px;
  color:#1E1E1E;
}
#u38 {
  position:absolute;
  left:16px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u37_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u39 {
  position:absolute;
  left:338px;
  top:1138px;
  width:59px;
  height:14px;
  font-size:11px;
  color:#1E1E1E;
}
#u40 {
  position:absolute;
  left:16px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u39_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u41 {
  position:absolute;
  left:476px;
  top:1138px;
  width:280px;
  height:79px;
  color:#1E1E1E;
  text-align:left;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:79px;
}
#u42 {
  position:absolute;
  left:2px;
  top:24px;
  width:276px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:212px;
  top:1254px;
  width:68px;
  height:16px;
  color:#1E1E1E;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:304px;
  top:1254px;
  width:51px;
  height:14px;
  font-size:11px;
  color:#1E1E1E;
}
#u46 {
  position:absolute;
  left:16px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u45_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u47 {
  position:absolute;
  left:348px;
  top:1254px;
  width:59px;
  height:14px;
  font-size:11px;
  color:#1E1E1E;
}
#u48 {
  position:absolute;
  left:16px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u47_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u49 {
  position:absolute;
  left:390px;
  top:1254px;
  width:51px;
  height:14px;
  font-size:11px;
  color:#1E1E1E;
}
#u50 {
  position:absolute;
  left:16px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u49_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u51 {
  position:absolute;
  left:472px;
  top:1250px;
  width:280px;
  height:83px;
  color:#1E1E1E;
  text-align:left;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:83px;
}
#u52 {
  position:absolute;
  left:2px;
  top:26px;
  width:276px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:802px;
  top:1138px;
  width:206px;
  height:85px;
  color:#1E1E1E;
  text-align:left;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:85px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:202px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:808px;
  top:1250px;
  width:206px;
  height:85px;
  color:#1E1E1E;
  text-align:left;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:85px;
}
#u56 {
  position:absolute;
  left:2px;
  top:18px;
  width:202px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:41px;
  top:1430px;
  width:100px;
  height:40px;
  color:#1E1E1E;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u58 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:230px;
  top:1420px;
  width:258px;
  height:89px;
  color:#1E1E1E;
  text-align:left;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:89px;
}
#u60 {
  position:absolute;
  left:2px;
  top:4px;
  width:254px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:440px;
  top:20px;
  width:400px;
  height:135px;
  color:#1E1E1E;
  text-align:left;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:135px;
}
#u62 {
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  word-wrap:break-word;
}
