<div ng-controller="poiHeaderCtrl">
    <!--<div>-->
    <!--<div style="display: inline-block">-->
    <!--<select>-->
    <!--<option value ="aaaa">博泰嘉华大厦</option>-->
    <!--<option value ="saab">中国数码港大厦</option>-->
    <!--<option value="opel">广汽丰田专卖店</option>-->
    <!--<option value="audi">中国石化加油站</option>-->
    <!--<option value="vw">双鹤药业</option>-->
    <!--</select>-->
    <!--</div>-->
    <!--<div style="display: inline-block">-->
    <!--<span><</span>-->
    <!--<span>30</span>-->
    <!--<span>></span>-->
    <!--</div>-->

    <!--<div style="display: inline-block">-->
    <!--<span>已完成</span>-->
    <!--<span>30/100</span>-->

    <!--</div>-->

    <!--<div style="display: inline-block" ng-click="showPoiList()">-->
    <!--<img src="../../../../images/png/22.png">-->
    <!--</div>-->
    <!--</div>-->
    <div>
        <select>
            <option value="aaaa">名称poi</option>
            <option value="saab">分类poi</option>
            <option value="opel">FID</option>
        </select>
        <input type="text" placeholder="输入点击回车进行搜索......">
    </div>
</div>

