<div class="poiLeftPanel_container" ng-controller="poiLeftPanelCtrl">
    <div class="poiLeftPanel">
        <div class="poiLeftPanel_son_div">
            <div class="poiLeftPanel_top_first">
                <div class="poiLeftPanel_line">
                    <div class="poiLeftPanel_universally">
                        <img src="../../../../images/newPoi/leftPanelIcon/icon-add.png">
                    </div>
                    <div class="poiLeftPanel_div_name poiLeftPanel_universally poiLeftPanel_intercepted">
                        <strong>博泰嘉华酒店四维图新</strong>
                    </div>
                </div>
                <div class="poiLeftPanel_line">
                    <div class="poiLeftPanel_universally">
                        <strong>审核状态：</strong>
                        <span>已作业</span>
                    </div>
                    <div class="poiLeftPanel_universally" style="float: right">
                        <strong>鲜度认证：</strong>
                        <span>否</span>
                    </div>
                </div>
            </div>
            <div class="poiLeftPanel_top_second">
                <div class="poiLeftPanel_line">
                    <div class="poiLeftPanel_div_type poiLeftPanel_universally poiLeftPanel_intercepted">
                        <strong>
                        分类：
                        </strong>
                        <span>博泰嘉华酒店四维图新</span>
                    </div>
                </div>
                <div class="poiLeftPanel_line">
                    <div class="poiLeftPanel_universally">
                        <strong>3D标识：</strong>
                        <span>否</span>
                    </div>
                </div>
            </div>
            <div class="poiLeftPanel_top_third">
                <div class="poiLeftPanel_line">
                    <div class="poiLeftPanel_universally">
                        <strong>2015-10-26 09:32:10</strong>
                    </div>
                </div>
                <div class="poiLeftPanel_line">
                    <div class="poiLeftPanel_universally">
                        <strong>重要POI：</strong>
                        <span>否</span>
                    </div>
                </div>
            </div>
            <img src="../../../../images/newPoi/leftPanelIcon/icon-back-left.png" class="poiLeftPanel_div_img"
                 ng-click="closeLeftPanel()">
        </div>
        <div class="poiLeftPanel_img_show_container">
            <img src="../../../../images/newPoi/leftPanelIcon/icon-close.png">
            <div style="width: 540px;height: 360px;overflow: auto;text-align: center;line-height: 359px">
                <img ng-src="{{bigImgSrc.src}}" img-show ng-style="bigImgStyle">
            </div>
        </div>
    </div>
    <div class="poiLeftPanel_operate">
        <select class="form-control poiLeftPanel_select">
            <option>当前作业季</option>
            <option>全部</option>
        </select>
        <select class="form-control poiLeftPanel_select">
            <option>全貌</option>
            <option>水牌</option>
            <option>名称</option>
            <option>名片</option>
            <option>英文名</option>
        </select>
        <div style="display: inline-block;float: right">
            <img src="../../../../images/newPoi/leftPanelIcon/icon-left.png" ng-click="rotateBigImg(-90)" style="padding-right: 10px">
            <img src="../../../../images/newPoi/leftPanelIcon/icon-right.png" ng-click="rotateBigImg(90)" style="padding-right: 10px">
            <img src="../../../../images/newPoi/leftPanelIcon/button-zengjia.png">
        </div>
    </div>
    <div class="poiLeftPanel_Thumbnails">
        <div class="poiLeftPanel_Thumbnails_div" ng-repeat="item in imgSrcList" ng-style="{'margin-right':$index !== 3 ? '12px' : '0'}" ng-click="changeBigImg(item)">
            <img ng-src="{{item.src}}">
        </div>
        <div class="poiLeftPanel_Thumbnails_left" ng-click="lastImg()">

        </div>
        <div class="poiLeftPanel_Thumbnails_right" ng-click="nextImg()">

        </div>
    </div>
</div>
