<!--右侧属性编辑面板-->
<div class="poiRightPanel_container" ng-controller="poiRightPanelCtrl">
    <div class="poiRightPanel_header">
        <img src="../../../../images/newPoi/leftPanelIcon/icon-back-right.png" class="poiRightPanel_div_img"
             ng-click="closeRightPanel()">
        <div class="poiRightPanel_header_desc">
            <strong>POI</strong>
            <strong class="poiRightPanel_header_desc_strong">42322323</strong>
            <img src="../../../../images/newPoi/rightPanelIcon/icon-check-pending.png">
        </div>
        <div class="poiRightPanel_header_img">
            <img src="../../../../images/newPoi/rightPanelIcon/icon-save.png">
            <img src="../../../../images/newPoi/rightPanelIcon/icon-delete.png">
        </div>
    </div>
    <div ng-style="rightPanelHeight" class="scroll_style">
        <div class="poiRightPanel_fold" ng-click="basicOpen()">
            <strong>
                基本属性
            </strong>
            <img ng-src="{{basicOpenFlag?'../../../../images/newPoi/rightPanelIcon/icon-right-open.png':'../../../../images/newPoi/rightPanelIcon/icon-right-close.png'}}">
        </div>
        <ul class="list-group detailUlCss" ng-style="{'display': basicOpenFlag ? 'block': 'none'}">
            <li>
                <div class="blockDescLiDiv">
                    <span>FID</span>
                </div>
                <span>110105-NH-752</span>
            </li>
            <li>
                <div class="blockDescLiDiv">
                    <span>PID</span>
                </div>
                <span>30497</span>
            </li>
            <li>
                <div class="blockDescLiDiv">
                    <span>名称</span>
                </div>
                <input class="form-control poiRightPanel_Input" type="text"/>
            </li>
            <li>
                <div class="blockDescLiDiv">
                    <span>地址</span>
                </div>
                <input class="form-control poiRightPanel_Input" type="text"/>
            </li>
            <li ng-repeat="item in phoneList">
                <div class="blockDescLiDiv">
                    <span>{{$index === 0 ?'电话':''}}</span>
                </div>
                <input class="form-control poiRightPanel_Input" type="text" style="width: 48px"/>
                <input class="form-control poiRightPanel_Input" type="text" style="width: 84px"/>
                <img src="../../../../images/newPoi/rightPanelIcon/button-delete.png" style="padding-left: 8px" ng-click="deletePhone($index)">
                <img src="../../../../images/newPoi/rightPanelIcon/button-add.png" ng-click="addPhone()" ng-show="$index === 0">
            </li>
            <li>
                <div class="blockDescLiDiv">
                    <span>邮编</span>
                </div>
                <input class="form-control poiRightPanel_Input" type="text" style="width: 135px;"/>
            </li>
            <li>
                <div class="blockDescLiDiv">
                    <span>分类</span>
                </div>
                <select class="form-control poiRightPanel_select">
                    <option>1323233</option>
                    <option>221212</option>
                    <option>33434</option>
                    <option>4212</option>
                    <option>5444</option>
                </select>
            </li>
            <li>
                <div class="blockDescLiDiv">
                    <span>品牌</span>
                </div>
                <select class="form-control poiRightPanel_select">
                    <option>132323</option>
                    <option>221212</option>
                    <option>33434</option>
                    <option>4212</option>
                    <option>5444</option>
                </select>
            </li>
            <li>
                <div class="blockDescLiDiv">
                    <span>等级</span>
                </div>
                <input type="radio" name="optionsRadios" value="option1" id="test" checked class="radio_diy_class"/>
                <label for="test">
                    <span>选项1</span>
                </label>
                <input type="radio" name="optionsRadios" value="option2" id="test1" class="radio_diy_class"/>
                <label for="test1" style="padding-left: 20px">
                    <span>选项2</span>
                </label>
            </li>
            <li>
                <div class="blockDescLiDiv">
                    <span>卡车</span>
                </div>
                <input type="radio" name="truck" value="truck1" id="truck1" checked class="radio_diy_class"/>
                <label for="truck1">
                    <span>非</span>
                </label>
                <input type="radio" name="truck" value="truck2" id="truck2" class="radio_diy_class"/>
                <label for="truck2" style="padding-left: 27px">
                    <span>仅</span>
                </label>
                <input type="radio" name="truck" value="truck3" id="truck3" class="radio_diy_class"/>
                <label for="truck3" style="padding-left: 27px">
                    <span>卡+小汽车</span>
                </label>
            </li>
            <li>
                <div class="blockDescLiDiv">
                    <span>24小时</span>
                </div>
                <input type="radio" name="hour" value="hour1" id="hour1" checked class="radio_diy_class"/>
                <label for="hour1">
                    <span>是</span>
                </label>
                <input type="radio" name="hour" value="hour2" id="hour2" class="radio_diy_class"/>
                <label for="hour2" style="padding-left: 27px">
                    <span>否</span>
                </label>
                <input type="radio" name="hour" value="hour3" id="hour3" class="radio_diy_class"/>
                <label for="hour3" style="padding-left: 27px">
                    <span>未调查</span>
                </label>
            </li>
            <li>
                <div class="blockDescLiDiv">
                    <span>内部POI</span>
                </div>
                <input type="radio" name="within" value="within1" id="within1" checked class="radio_diy_class"/>
                <label for="within1">
                    <span>外部</span>
                </label>
                <input type="radio" name="within" value="within2" id="within2" class="radio_diy_class"/>
                <label for="within2" style="padding-left: 15px">
                    <span>内部</span>
                </label>
            </li>
            <li>
                <div class="blockDescLiDiv">
                    <span>关联Link</span>
                </div>
                <span>323234345</span>
            </li>
            <li style="height: 60px">
                <div class="blockDescLiDiv" style="vertical-align: top">
                    <span>备注</span>
                </div>
                <textarea class="form-control poiRightPanel_area" type="text" rows=2></textarea>
            </li>
        </ul>
        <div class="poiRightPanel_fold" ng-click="depthOpen()">
            <strong>
                深度信息
            </strong>
            <img ng-src="{{depthOpenFlag?'../../../../images/newPoi/rightPanelIcon/icon-right-open.png':'../../../../images/newPoi/rightPanelIcon/icon-right-close.png'}}">
        </div>
        <ul class="list-group detailUlCss" ng-style="{'display': depthOpenFlag ? 'block': 'none'}">
            <li style="height: 90px">
                <div class="blockDescLiDiv">
                    <span>信用卡</span>
                </div>
                <input type="checkbox" name="card" value="card" id="card" checked class="radio_diy_class"/>
                <label for="card">
                    <span>不支持</span>
                </label>
                <input type="checkbox" name="card" value="card1" id="card1" class="radio_diy_class"/>
                <label for="card1" style="padding-left: 8px">
                    <span>VISA</span>
                </label>
                <input type="checkbox" name="card" value="card2" id="card2" class="radio_diy_class"/>
                <label for="card2" style="padding-left: 18px">
                    <span>万事达</span>
                </label>
                <div class="blockDescLiDiv">
                    <span>类型</span>
                </div>
                <input type="checkbox" name="card" value="card3" id="card3" class="radio_diy_class"/>
                <label for="card3">
                    <span>大来</span>
                </label>
                <input type="checkbox" name="card" value="card4" id="card4" class="radio_diy_class"/>
                <label for="card4" style="padding-left: 20px">
                    <span>日本国际信用卡</span>
                </label>
                <div class="blockDescLiDiv">
                </div>
                <input type="checkbox" name="card" value="card5" id="card5" class="radio_diy_class"/>
                <label for="card5">
                    <span>银联</span>
                </label>
                <input type="checkbox" name="card" value="card6" id="card6" class="radio_diy_class"/>
                <label for="card6" style="padding-left: 20px">
                    <span>美国运通</span>
                </label>
            </li>
            <li>
                <div class="blockDescLiDiv">
                    <span>停车信息</span>
                </div>
                <select class="form-control poiRightPanel_select">
                    <option>132323</option>
                    <option>221212</option>
                    <option>33434</option>
                    <option>4212</option>
                    <option>5444</option>
                </select>
            </li>
            <li>
                <div class="blockDescLiDiv">
                    <span>人均消费</span>
                </div>
                <input class="form-control poiRightPanel_Input" type="text"/>
            </li>
            <li style="height: 60px">
                <div class="blockDescLiDiv" style="vertical-align: top">
                    <span>营业时间</span>
                </div>
                <textarea class="form-control poiRightPanel_area" type="text" rows=2></textarea>
            </li>
        </ul>
        <div class="poiRightPanel_fold" ng-click="fatherAndSonOpen()">
            <strong>
                父子关系
            </strong>
            <img ng-src="{{fatherAndSonOpenFlag?'../../../../images/newPoi/rightPanelIcon/icon-right-open.png':'../../../../images/newPoi/rightPanelIcon/icon-right-close.png'}}">
        </div>
        <ul class="list-group detailUlCss" ng-style="{'display': fatherAndSonOpenFlag ? 'block': 'none'}">
            <li>
                <div class="blockDescLiDiv">
                    <span>父POI</span>
                </div>
                <input class="form-control poiRightPanel_Input" type="text"/>
            </li>
            <li ng-repeat="item in sonPoi">
                <div class="blockDescLiDiv">
                    <span>{{$index === 0 ?'子POI':''}}</span>
                </div>
                <input class="form-control poiRightPanel_Input" type="text" style="width: 136px"/>
                <img src="../../../../images/newPoi/rightPanelIcon/button-delete.png" style="padding-left: 8px" ng-click="deleteSonPoi($index)">
                <img src="../../../../images/newPoi/rightPanelIcon/button-add.png" ng-click="addSonPoi()" ng-show="$index === 0">
            </li>
        </ul>
        <div class="poiRightPanel_fold" ng-click="sameOpen()">
            <strong>
                同一关系
            </strong>
            <img ng-src="{{sameOpenFlag?'../../../../images/newPoi/rightPanelIcon/icon-right-open.png':'../../../../images/newPoi/rightPanelIcon/icon-right-close.png'}}">
        </div>
        <ul class="list-group detailUlCss" ng-style="{'display': sameOpenFlag ? 'block': 'none'}">
            <li style="height: 60px">
                <div class="blockDescLiDiv" style="vertical-align: top">
                    <span>同一关系POI</span>
                </div>
                <textarea class="form-control poiRightPanel_area" type="text" rows=2></textarea>
            </li>
        </ul>
    </div>
</div>
