<div style="display: inline-block">
    <div style="width: 40px; height:40px;background-color:#f7ca77">
        <a href="javascript:void(0);"
           style="width:100%;height:100%; display:inline-block;background:url('../../../../images/png/login.png')">
        </a>
    </div>

    <div style="width: 40px; height:40px;background-color:#f7ca77">
        <a href="javascript:void(0);"
           style="width:100%;height:100%; display:inline-block;background:url('../../../../images/png/list.png')">
        </a>
    </div>

    <div style="width: 40px; height:40px;background-color:#f7ca77">
        <a href="javascript:void(0);"
           style="width:100%;height:100%; display:inline-block;background:url('../../../../images/png/t1.png')">
        </a>
    </div>

    <div style="width: 40px; height:40px;background-color:#f7ca77">
        <a href="javascript:void(0);"
           style="width:100%;height:100%; display:inline-block;background:url('../../../../images/png/t2.png')">
        </a>
    </div>
    <div style="width: 40px; height:40px;background-color:#f7ca77">
        <a href="javascript:void(0);"
           style="width:100%;height:100%; display:inline-block;background:url('../../../../images/png/t3.png')">
        </a>
    </div>
    <div style="width: 40px; height:40px;background-color:#f7ca77">
        <a href="javascript:void(0);"
           style="width:100%;height:100%; display:inline-block;background:url('../../../../images/png/t4.png')">
        </a>
    </div>
    <div style="width: 40px; height:40px;background-color:#f7ca77">
        <a href="javascript:void(0);"
           style="width:100%;height:100%; display:inline-block;background:url('../../../../images/png/t5.png')">
        </a>
    </div>
    <div style="width: 40px; height:40px;background-color:#f7ca77">
        <a href="javascript:void(0);"
           style="width:100%;height:100%; display:inline-block;background:url('../../../../images/png/t6.png')">
        </a>
    </div>
    <div style="width: 40px; height:40px;background-color:#f7ca77">
        <a href="javascript:void(0);"
           style="width:100%;height:100%; display:inline-block;background:url('../../../../images/png/t7.png')">
        </a>
    </div>
    <div style="width: 40px; height:40px;background-color:#f7ca77">
        <a href="javascript:void(0);"
           style="width:100%;height:100%; display:inline-block;background:url('../../../../images/png/t8.png')">
        </a>
    </div>
    <div style="width: 40px; height:40px;background-color:#f7ca77">
        <a href="javascript:void(0);"
           style="width:100%;height:100%; display:inline-block;background:url('../../../../images/png/t9.png')">
        </a>
    </div>
    <div style="width: 40px; height:40px;background-color:#f7ca77">
        <a href="javascript:void(0);"
           style="width:100%;height:100%; display:inline-block;background:url('../../../../images/png/t10.png')">
        </a>
    </div>
    <div style="width: 40px; height:40px;background-color:#f7ca77">
        <a href="javascript:void(0);"
           style="width:100%;height:100%; display:inline-block;background:url('../../../../images/png/t1.png')">
        </a>
    </div>



</div>