<div style="height:100%;bottom: 25px;background-color: #f1f4f6">
    <div style="height: 45px;background-color: #cfcfcf">
        <p>
            <span style="font-size: 18px">限速PID</span>
            <span style="font-size: 15px">202000023</span>
            <span ><a style="background: url('../../../../images/png/del.png')"></a></span>
            <span ><a style="background: url('../../../../images/png/save.png')"></a></span>
        </p>
    </div>
    <div style="height:100%;background: url('../../../../images/png/rlist.png') no-repeat">

    </div>
</div>
