<div ng-controller="poiHeaderCtrl">
    <!--<div>-->
    <!--<div style="display: inline-block;top: 50%">-->
    <!--<select>-->
    <!--<option value ="aaaa">点限速(5)</option>-->
    <!--<option value ="saab">车信(2)</option>-->
    <!--<option value="opel">高速分歧(1)</option>-->
    <!--<option value="audi">交限(4)</option>-->
    <!--<option value="vw">立交(6)</option>-->
    <!--</select>-->
    <!--</div>-->
    <!--<div style="display: inline-block">-->
    <!--<span><</span>-->
    <!--<span>30</span>-->
    <!--<span>></span>-->
    <!--</div>-->

    <!--<div style="display: inline-block">-->
    <!--<span>已完成</span>-->
    <!--<span>30/100</span>-->

    <!--</div>-->

    <!--<div style="display: inline-block" ng-click="showPoiList()">-->
    <!--<img src="../../../../images/png/22.png">-->
    <!--</div>-->
    <!--</div>-->
    <div>
        <select>
            <option value="aaaa">名称road</option>
            <option value="saab">分类road</option>
            <option value="opel">PID</option>
        </select>
        <input type="text" placeholder="输入点击回车进行搜索......">
    </div>
</div>

