body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:410px;
  top:37px;
  width:330px;
  height:113px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:113px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:80px;
  top:37px;
  width:269px;
  height:350px;
}
#u2_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:279px;
  height:360px;
}
#u3 {
  position:absolute;
  left:2px;
  top:167px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:86px;
  top:277px;
  width:248px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:48px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:80px;
  top:71px;
  width:269px;
  height:43px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:43px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:185px;
  top:79px;
  width:70px;
  height:28px;
  font-size:12px;
  color:#1E1E1E;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:94px;
  top:45px;
  width:136px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:26px;
}
#u11 {
  position:absolute;
  left:0px;
  top:5px;
  width:136px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:258px;
  top:45px;
  width:76px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u13 {
  position:absolute;
  left:0px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:94px;
  top:150px;
  width:240px;
  height:35px;
  font-size:14px;
  color:#000000;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:35px;
}
#u15 {
  position:absolute;
  left:0px;
  top:2px;
  width:240px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:94px;
  top:124px;
  width:240px;
  height:26px;
  font-size:14px;
  color:#000000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:26px;
}
#u17 {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:84px;
  top:271px;
  width:258px;
  height:48px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:48px;
}
#u19 {
  position:absolute;
  left:2px;
  top:16px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:255px;
  top:325px;
  width:50px;
  height:50px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u21 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:128px;
  top:327px;
  width:50px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:106px;
  top:341px;
  width:12px;
  height:18px;
  color:#999999;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:18px;
}
#u25 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:186px;
  top:342px;
  width:12px;
  height:18px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:18px;
}
#u27 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:329px;
  top:39px;
  width:18px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
