<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>FastMap设施预处理系统</title>
        <link href="../../scripts/libs/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="../../scripts/libs/bootstrap-3.3.5/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <link href="../../styles/poi/main.css" rel="stylesheet" type="text/css"/>
        <link href="../../scripts/libs/select2/css/select2.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="../../scripts/fastmap/fastmap.js"></script>
        <script type="text/javascript" src="../../scripts/fastmap/fastmap-util.js"></script>
        <script type="text/javascript" src="../../scripts/dataApi/common/dataApi-ajax.js"></script>
        <script type="text/javascript" src="../../scripts/dataApi/dataModel-poi.js"></script>
        <script type="text/javascript" data-main="../../scripts/uikits/poibase/mainEditor-require" src="../../scripts/libs/require/require.js"></script>

    </head>
    <body ng-controller="mainEditorCtl">
        <div class="container-fluid" style="margin-bottom:50px;">
            <div class="row-fluid">
                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-container">
                    <div class="row-fluid">
                        <div id="imgContainer" data-toolbar="#imgTools" class="content-box col-xs-6 col-sm-6 col-md-6 col-lg-6" style="border-right-width: 0px; height: 501px; display: block;">
                        </div>
                        <div id="mapContainer" class="content-box col-xs-6 col-sm-6 col-md-6 col-lg-6" style="height: 501px;">
                        </div>
                    </div>
                    <div ng-include="optionBarTpl"></div>
                </div>
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-container">
                    <uib-accordion close-others="false">
                        <div ng-include="baseInfoTpl"></div>
                        <div ng-include="deepInfoTpl"></div>
                    </uib-accordion>
                    <button class="btn btn-primary" ng-click="doSave()">保 存</button>
                    <button class="btn btn-warning" ng-click="nextPoi()">下一个</button>
                </div>
            </div>
        </div>
    </body>
</html>