<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>FastMap设施预处理系统</title>
    <link href="../../scripts/libs/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../scripts/libs/bootstrap-3.3.5/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../styles/poi/main.css" rel="stylesheet" type="text/css"/>
    <link href="../../styles/poi/rowEditor.css" rel="stylesheet" type="text/css"/>
    <link href="../../scripts/libs/select2/css/select2.css" rel="stylesheet" type="text/css"/>
    <link href="../../scripts/libs/leaflet-0.7.3/leaflet.css" rel="stylesheet" type="text/css"/>
    <link href="../../scripts/libs/leaflet-0.7.3/plugins/draw/leaflet.draw.css" rel="stylesheet" type="text/css" />
    <link href="../../scripts/libs/leaflet-0.7.3/plugins/leaflet-search.src.css" rel="stylesheet" type="text/css" />
    <link href="../../scripts/libs/leaflet-0.7.3/plugins/leaflet-check.src.css" rel="stylesheet" type="text/css" />
    <link href="../../scripts/libs/angular-chosen/chosen-spinner.css" rel="stylesheet" type="text/css"/>
    <link href="../../scripts/libs/angular-chosen/chosen.css" rel="stylesheet" type="text/css"/>
    <link href="../../styles/poi/showBox.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../scripts/fastmap/fastmap.js"></script>
    <script type="text/javascript" src="../../scripts/fastmap/fastmap-util.js"></script>
    <script type="text/javascript" src="../../scripts/dataApi/dataModel-poi.js"></script>
    <script type="text/javascript" src="../../scripts/uikits/poibase/leafletRelated-poi.js"></script>
    <script type="text/javascript" data-main="../../scripts/uikits/poibase/mainEditor-require" src="../../scripts/libs/require/require.js"></script>

</head>
<body ng-controller="mainEditorCtl" style="overflow-y:hidden;">
<div class="container-fluid" style="margin-bottom:50px;">
    <div class="row-fluid">
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-container" my-resize>
            <div class="row-fluid">
                <div id="imgContainer" ng-show="isShowImages" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 content-box" style="border-right:0px;height: 500px;">
                    <show-box fm-data="poi.attachmentsImage" fm-deletable="deleteFlag"
                          fm-select="selectImg(index, item)" fm-click="clickImg(index, item)"
                          fm-before-delete="beforeDeleteImg(item)" fm-before-delete="afterDeleteImg(item)">
                        <div class="button button-default" style="margin:4px 10px;">
                            <div class="form-inline">
                                <div class="form-group">
                                    <select class="form-control input-sm" ng-model="imgTag.tagSelected" ng-options="x.key as x.value for x in tagKeyValue" ng-change="imageTagChange()"></select>
                                </div>
                                <div class="form-group pull-right" style="margin-top:5px;">
                                    <input type="radio" value="1" name="imageFilter" ng-click="imageFilterChange($event)" > 当前作业季
                                    <input type="radio" value="0" name="imageFilter" ng-click="imageFilterChange($event)" checked> 全部
                                </div>
                            </div>
                        </div>
                    </show-box>
                </div>
                <div class="col-xs-{{mapColumn}} col-sm-{{mapColumn}} col-md-{{mapColumn}} col-lg-{{mapColumn}} content-box" style="height: 500px;">
                    <div ng-include="mapTpl"></div>
                    <a id="mapLeftRight" ng-show="isShowArrow" href="javascript:void(0);" class="div_float image_ctl {{arrowStyle}}" ng-click="doLeftRight();"></a>
                    <div id="info" ng-include="poiInfoListTpl" ng-show="showRelatedPoiInfo" ng-style="infoStyle"></div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content-box" style="height: 300px;border-top: 0px;">
                    <div ng-include="optionBarTpl"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-container" my-resize>
            <uib-accordion close-others="false">
                <div ng-include="baseInfoTpl"></div>
                <div ng-include="deepInfoTpl"></div>
            </uib-accordion>
        </div>
    </div>
    <!--冲突数据-->
    <div ng-include="confusionDataTpl" class="drag-panel" ng-show="showConflictInfo" drag></div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container-fluid">
        <button type="button" class="btn btn-default navbar-btn navbar-left" id="prevBtn" onclick="prev()"><< 上一条</button>
        <p class="navbar-text" style="margin-left:100px;">第 <span id="dataIdx" style="color:red"></span> 条 共 <span id="dataCnt" style="color:blue"></span> 条 </p>
        <p class="navbar-text" id="qtMsg" style="margin-left:50px;color:red;"></p>
        <div class="navbar-form navbar-right">
            <div id="operateBtnGroup" class="form-group">
                <button type="button" ng-class="saveButClass" class="btn btn-primary func-btn" id="saveBtn" ng-click="doSave()">保 存</button>
                <button type="button" class="btn btn-success func-btn" id="addPoiBtn" ng-click="testQuery()">测 试</button>
                <button type="button" class="btn btn-success func-btn" id="addPoiBtn" onclick="doAddPoi()">新 增</button>
                <button type="button" class="btn btn-danger func-btn" id="deleteBtn" onclick="doDelete()">删 除</button>
                <button type="button" class="btn btn-info func-btn" id="restoreBtn" style="display:none" onclick="doRestore()">还 原</button>
                <button type="button" class="btn btn-warning func-btn" id="superviseBtn" style="display:none" onclick="doSupervise()">监 察</button>
                <button type="button" class="btn btn-warning func-btn" id="qualityCheckingBtn" style="display:none;" onclick="doQualityChecking()">质 检</button>
            </div>
            <button type="button" class="btn btn-default" id="nextBtn" style="margin-left: 50px;" ng-click="nextPoi()">下一条 >></button>
        </div>
    </div>
</nav>
</body>
</html>