<style>
    div {
        -webkit-font-smoothing: antialiased;
        line-height: 1.42857143;
        background-color: transparent;
        margin-right: 0px;
    }
    input[type="text"] {
        border: 1px solid #FFFFFF;
        border-style: ridge;
        color: #fff;
        background-color: #333;
    }
    label {
        font-weight: normal;
    }
.panel-body{
    padding: 0px 15px;
    background-color: #404040;
    color: #fff;
}
.panel{
    margin-bottom: 0px;
}
    #rdBranchDiv {
        /*border: 1px solid #FBFBFB;*/
        width: 100%;
        height: 100%;
        min-height: 300px;
        /*overflow-y: scroll;*/
        /* opacity: .8;
        background-color: #404040; */
        
    }

    .line-dashed {
        background-color: transparent;
        border-style: dashed !important;
        border-width: 0;
    }

    .b-b {
        border-bottom: 1px solid #dee5e7;
    }

    .line-lg {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .pull-in {
        margin-left: -15px;
        margin-right: -15px;
    }

    .col-centered {
        float: none;
        margin: 0 auto;
    }
    .form-horizontal .control-label{
        text-align: center;
    }
    .glyphicon-chevron-down{
        cursor: pointer;
    }
    .info-well{
        border: 1px solid #ccc;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 4px;
        margin-bottom: 10px;
    }
    .info-group{
        margin-right: 0 !important;
    }
    .info-remove{
        top: -10px;
        cursor: pointer;
        background-color: #fff;
        right: -102%;
        transition:all 0.5s;
        color: darkgray;
        font-size: 20px;
    }
    .info-remove:hover{
        color: #CC0000 !important
    }
    .info-option{
        /*background-color: #eee;*/
        padding: 5px;
        cursor: pointer;
        color: #fff;
        transition:all 0.5s;
        margin-bottom: 10px;
        /*margin-left: 1px;*/
        margin-top: -1px
    }
    .info-option:hover{
        color: #ffffff;
        background-color: #0099FF
    }
    .info-remove-ico{
        height: 24px;
        width: 24px;
        text-align: center;
        line-height: 1;
        font-weight: bolder;
        border-top-right-radius: 4px;
        margin-top: 0px;
    }
    .info-remove-ico:hover{
        background-color: #CC0000 !important;
        color: #fff;
    }
    .info-head-well{
        margin-right: -15px;
        margin-left: -15px;
        border-bottom: 1px solid #ddd;
        padding-left: 15px;
        border-top-right-radius: 4px;
        color: #fff;
        border-top-left-radius: 4px;
    }
    /*输入查询图片*/
    .pic-show{
        position: absolute;
        border: 1px solid #fff;
        z-index: 999;
        border-radius: 4px;
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 7px;
        background-color: #333;
        display: none;
        box-shadow: 4px 4px 7px 0px #777;    
        min-width: 70%;
        min-height: 193px;
    }
    .pic-show-well{
        min-width: 100%;
        min-height: 246px;
    }
    .img-well{
        float: left;
        padding: 3px;
        border: 1px solid #fff;
        border-radius: 4px;
        margin: 4px;
        cursor: pointer;
    }
    .show-img{
        width: 65px;
        height: 55px;
    }
    .num-well{
        margin-left:5px;
    }
    .pic-show-btn{
        margin-right: 5px;
    }
    .option-hide{
        position: absolute;
        right: -10px;
        background-color: #fff;
        border-radius: 50%;
        top: -13px;
    }
    .pic-loading{
        min-height: 270px;
        position: absolute;
        top: -1px;
        left: 1px;
        transition: all 0.5s;
        z-index: 9999999;
        background-color: rgba(0, 0, 0, 0.52);
        min-width: 100%;
        cursor: not-allowed;
        text-align: center;
        color: #fff;
        padding-top: 60%;
    }
    .img-describe{
        background-color: #777;
        color: #fff;
        font-size: 11px;
        text-align: center;
    }
    .glyphicon-chevron-down{
        color: #fff;
    }
    .module-box{
        border: 1px solid #FFF;
        padding: 10px;
        width: 97%;
        float: left;
        margin: 5px;
        border-radius: 4px;
        background-color: #555;
        /*opacity: 0.8;*/
    }
    .box-head{
        color: #fff;
    }
    .d-name{
        float: left;
        width: 30%;
        text-align: right;
        color: #fff;
    }
    .d-value{
        float: left;
        width: 69%;
        color: #fff;
    }
    .d-input{
        border: 1px solid #FFFFFF;
        border-style: ridge;
        background-color: #333;
        width: 100%;
        border-radius: 3px;
        color: #fff;
    }
    .d-group{
        margin-top:3px;
        float: left;
        width: 100%;
    }
    .d-title{
        float: left;
    }
    .d-radio-btn>label{
        height: 20px !important;
        line-height: 8px !important;
        border: 1px solid #FFF !important;
        padding-top: 4px;
    }
    .show-detail-title{
        cursor: pointer; 
        transition: all 0.3s; 
    }
    .show-detail-title:hover{
       background-color: #333;
    }
    /* 公用详细信息样式 */
    .detail-info-title{
        color: #fff;
        margin-bottom: 5px;
    }
    .detail-info-box{
        border-radius: 3px;
        border:1px solid #fff;
        float: left;
        padding: 8px;
        width: 100%;
        background-color: #555;
    }
    .split-line{
        border-top: 1px solid #fff;
        margin-left: -8px;
        margin-right: -8px;
        margin-top: 3px;
    }
</style>
<div id="nameOfBraDiv" ng-controller="namesOfBranchCtrl">
   <div class="panel-heading font-bold" style="text-align: center;top: 0px;z-index: 999;width: 100%;height: 40px;opacity: .8;background-color: #404040;color: #fff;">
        分歧
        <div class="btn-group d-radio-btn" data-toggle="buttons">
          <label ng-class="{'active':$index==0,'btn btn-primary btn-xs':true}" ng-bind="branchPid">
          </label>
        </div>
    </div>
    <div class="module-box">
        <div class="d-group">
            <div class="d-name">进入线：</div>
            <div class="d-value">
                <input type="text" class="d-input rounded" placeholder="入" ng-model="diverObj.inLinkPid">
            </div> 
        </div>
        <div class="d-group">
            <div class="d-name">退出线：</div>
            <div class="d-value">
                <input type="text" class="d-input rounded" placeholder="出" ng-model="diverObj.outLinkPid">
            </div> 
        </div>
        <div class="d-group info-group">
            <div class="d-name">关系类型：</div>
            <div class="d-value">
                <div class="btn-group d-radio-btn" data-toggle="buttons" style="z-index:0">
                  <label ng-class="{'btn-primary':item.code==relationCode,'btn-default':item.code!=relationCode,'btn btn-sm relation-type':true}" ng-repeat="item in relationType" ng-click="switchRelType(item.code)">
                    <input type="radio" name="relationType" ng-model="diverObj.relationshipType" value="{{item.code}}" autocomplete="off" data-relation-type="{{item.code}}">{{item.label}}
                  </label>
                </div>
            </div> 
        </div>
    </div>
    <!--begin 模式图信息-->
    <div class="module-box">
        <div class="box-head font-bold">
            <div class="d-title">详细信息</div>
            <a data-toggle="collapse" href="#detailChart" aria-expanded="true" class="pull-right">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
        </div>
        <div id="detailChart" class="panel-collapse col-sm-12 collapse in" aria-expanded="true">
            <div class="d-group">
                <div class="d-name">分歧类型：</div>
                <div class="d-value">
                    <select class="rounded d-input"  ng-model="branchType" ng-options="value.id as value.label for value in branchTypeOptions" ></select>
                </div> 
            </div>
            <div class="d-group">
                <div class="d-name">箭头图号：</div>
                <div class="d-value">
                    <input type="text" class="rounded d-input form-pic-input" placeholder="箭头图代码" ng-model="arrowCode" ng-keydown="showPicSelect()">
                    <div class="pic-show">
                        <div class="option-hide">
                            <button type="button" class="close" aria-label="Close" ng-click="hidePicSelect($event)">
                                <span aria-hidden="true" class="glyphicon glyphicon-remove-sign"></span>
                            </button>
                        </div>
                        <div class="pic-show-well">
                            <div class="img-well" ng-repeat="picture in pictures" ng-click="selectPicCode(picture.fileName,picture.fileContent)">
                                <img class="show-img" ng-src="{{picture.fileContent}}" title="{{picture.fileName}}">
                                <div class="img-describe">{{picture.fileName}}</div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="pull-left num-well">
                            第 <span class="pic-num" ng-bind="picNowNum">1</span> 页 | 
                            共 <span class="pic-total" ng-bind="picTotal">1</span> 页
                        </div>
                        <div class="pic-show-btn pull-right">
                            <div class="pull-right btn-group">
                                <button class="btn btn-default btn-xs pic-pre" ng-click="picPre()" disabled><<</button>
                                <button class="btn btn-default btn-xs pic-next" ng-click="picNext()">>></button>
                            </div>
                        </div>
                        <div class="pic-loading">loading...</div>
                    </div>
                </div> 
            </div>
            <div class="d-group">
                <div class="d-name">模式图号：</div>
                <div class="d-value">
                    <div ng-bind="patternCode"></div>
                </div> 
            </div>
            <div class="d-group">
                <div class="d-name">出口编号：</div>
                <div class="d-value">
                    <input type="text" class="d-input rounded" placeholder="出口编号" ng-model="exitNum">
                </div> 
            </div>
            <div class="d-group">
                <div class="d-name">箭头标志：</div>
                <div class="d-value">
                    <div class="btn-group d-radio-btn" data-toggle="buttons" style="z-index:0">
                      <label ng-class="{'btn-primary':item.code==arrowFlag,'btn-default':item.code!=arrowFlag,'btn btn-sm arrow-pic-flag':true}" ng-repeat="item in arrowPicFlag" ng-click="switchArrowType(item.code)">
                        <input type="radio" name="arrowPicFlag" autocomplete="off" data-relation-type="{{item.code}}">{{item.label}}
                      </label>
                    </div>
                </div> 
            </div>
            <div class="d-group">
                <div class="d-name">设施类型：</div>
                <div class="d-value">
                    <select class="rounded d-input"  ng-model="estabType" ng-options="value.id as value.label for value in estabTypeOptions" ></select>
                </div> 
            </div>
            <div class="d-group">
                <div class="d-name">名称种别：</div>
                <div class="d-value">
                    <select class="d-input" ng-model="nameKind" ng-options="value.id as value.label for value in nameKindOptions" >
                    </select>
                </div> 
            </div>
            <div class="d-group">
                <div class="d-name">声音方向：</div>
                <div class="d-value">
                    <select class="d-input" ng-model="voiceDir" ng-options="value.id as value.label for value in voiceDirOptions" >
                    </select>
                </div> 
            </div>
            <div class="d-group">
                <div class="d-name">向导代码：</div>
                <div class="d-value">
                    <select class="d-input" ng-model="guideCode" ng-options="value.id as value.label for value in guideCodeOptions" >
                    </select>
                </div> 
            </div>
        </div>
    </div>
    <!--end 模式图信息-->
    <!--begin 名称信息-->
    <div class="module-box show-detail-title" ng-click="showDetail(0);">
        <div class="box-head font-bold">
            名称信息（共 <span ng-bind="diverObj.details[0].names.length"></span> 条）
        </div>
    </div>
    <!--end 名称信息-->
    <!--begin 经过线-->
    <div class="module-box show-detail-title" ng-click="showDetail(1);">
        <div class="box-head font-bold">
             经过线 （共 <span ng-bind="diverObj.vias.length"></span> 条）
        </div>
    </div>
    <!--end 经过线-->
</div>