<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>FastMap设施编辑系统</title>
        <link href="../../../favicon.ico" rel="icon" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/bootstrap-3.3.5/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/bootstrap-3.3.5/css/bootstrap-theme.css"/>
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/ui-layout/ui-layout.css">
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/leaflet-0.7.3/leaflet.css">
        <link rel="stylesheet" type="text/css" href="../../../styles/imeep/editor.css">
        <link rel="stylesheet" type="text/css" href="../../../styles/imeep/animate.min.css">
        <script src="../../../scripts/libs/leaflet-0.7.3/leaflet-src.js"></script>
        <script type="text/javascript" src="../Application.js"></script>
        <script type="text/javascript" src="../../../scripts/fastmap/fastmap.js"></script>
        <script type="text/javascript" src="../../../scripts/fastmap/fastmap-util.js"></script>
        <script src="../editor/loadMapApi.js"></script>
        <script src="../editor/loadUikit.js"></script>
        <script src="../editor/loadCanvasFeature.js"></script>
    </head>
    <body ng-controller="TaskSelectionCtl">
        <div ui-layout="{flow:'column',dividerSize:'0'}" ui-layout-loaded>
            <div ui-layout-container class="fm-banner animated fadeInLeft" size="50px">
                <div class="banner-top"><a><strong>FM</strong></a></div>
                <div class="banner-center" style="margin-top: 0;">
                    <div><h4>任</h4></div>
                    <div><h4>务</h4></div>
                    <div><h4>设</h4></div>
                    <div><h4>置</h4></div>
                </div>
                <div class="banner-bottom">
                    <div><a><i title="用户" class="glyphicon glyphicon-user"></i></a></div>
                    <div><a><i title="退出" class="glyphicon glyphicon-log-out"></i></a></div>
                </div>
            </div>
            <div ui-layout-container>
                <div ui-layout="{flow:'row',dividerSize:'0',disableToggle:true}">
                    <div ui-layout-container size="35px" style="background-color: #222;padding:5px 10px;">
                        <div class="btn-group" role="group">
                            <button class="btn btn-xs btn-purple" ng-class="{'active': dataListType == 1}" ng-click="changeDataList(1)">日 一体化任务</button>
                            <button class="btn btn-xs btn-purple" ng-class="{'active': dataListType == 2}" ng-click="changeDataList(2)">日 POI任务</button>
                            <button class="btn btn-xs btn-purple" ng-class="{'active': dataListType == 3}" ng-click="changeDataList(3)">日 道路任务</button>
                            <button class="btn btn-xs btn-purple" ng-class="{'active': dataListType == 4}" ng-click="changeDataList(4)">月 POI任务</button>
                            <button class="btn btn-xs btn-purple" ng-class="{'active': dataListType == 5}" ng-click="changeDataList(5)">专项作业任务</button>
                        </div>
                    </div>
                    <div ui-layout-container>
                        <div ui-layout="{flow:'column',dividerSize:'0',disableToggle:true}">
                            <div ui-layout-container class="fm-container fm-col animated fadeInLeft" size="250px">
                                <div ui-layout="{flow:'column',dividerSize:'0',disableToggle:true}" class="dark scroll-styled">
                                    <div ui-layout-container size="36px" style="padding: 5px 5px;overflow:visible">
                                        <div class="btn-group" role="group">
                                            <div class="btn-group-vertical">
                                                <button class="btn btn-xs btn-purple" ng-class="{'active': taskStatus == 6}" ng-click="changeTaskStatus(6)" style="padding: 20px 5px;">全<br>部</button>
                                                <button class="btn btn-xs btn-purple" ng-class="{'active': taskStatus == 7}" ng-click="changeTaskStatus(7)" style="padding: 20px 5px;">开<br>启</button>
                                                <button class="btn btn-xs btn-purple" ng-class="{'active': taskStatus == 8}" ng-click="changeTaskStatus(8)" style="padding: 20px 5px;">关<br>闭</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div ui-layout-container>
                                        <div class="fm-panel" style="font-size:14px;margin-left:0px;">
                                            <div class="title"><label style="margin:0px;"><i class="glyphicon glyphicon-list"></i> 任务列表</label>
                                            <span style="float:right;">共 <span ng-bind="currentSubTaskList.length"></span> 条</span>
                                        </div>
                                        <div class="content" style="min-height: 217px;">
                                            <ul ng-if="currentSubTaskList&&!currentSubTaskList.length" class="fm-ul fm-ul-list">
                                                <li>暂时没有子任务数据</li>
                                            </ul>
                                            <ul class="fm-ul fm-ul-list">
                                                <li ng-repeat="item in currentSubTaskList">
                                                    <a href='javascript:void(0);' class="fm-table-long-text" ng-click="highlightGrid(item)" ng-bind="item.descp.length>10?$index+1+'. '+item.descp.substr(0,10)+'...':$index+1+'. '+item.descp"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ui-layout-container class="fm-no-scroll">
                            <div id="map" style="background-color:#FFF;width: 100%;height: 100%;position: absolute;"></div>
                            <div class="fm-editor-panel" ng-class="{false:'fm-editor-panel-sm',true:'fm-editor-panel-normal'}[hideEditorPanel]">
                                <div class="fm-editor-arrow">
                                    <a ng-class="{false:'fm-panel-controlArrowLeft',true:'fm-panel-controlArrowRight'}[hideEditorPanel]" ng-click="changePanelShow('right')" href="#" style="">
                                    <span></span>
                                    </a>
                                </div>
                                <div class="fm-container fm-col fm-lvl1" style="right:0px;width:300px;">
                                    <div class="fm-panel">
                                        <div class="title">任务信息</div>
                                        <div class="content" style="max-height: 300px;">
                                            <ul class="fm-ul fm-ul-list">
                                                <li>
                                                    <label>计划完成时间：</label>
                                                    <label ng-bind="getDateFormat()"></label>
                                                </li>
                                                <li>
                                                    <label>完成进度：</label>
                                                    <label>6%</label>
                                                </li>
                                                <li>
                                                    <label>........</label>
                                                    <label></label>
                                                </li>
                                                <li>
                                                    <div>
                                                        <img ng-src="../../../images/poi/icon/统计图.png"/>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div style="width:100%;text-align:center;position:absolute;bottom:26px;">
                                        <button type="button" ng-disabled="editorDisabled" ng-click="startEdit()" class="btn btn-sm" style="color:white;background: rgba(150,150,150,0.5);padding: 5px 12px">
                                        <i class="glyphicon glyphicon-edit"></i> 开始作业
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" data-main="taskSelection-require" src="../../../scripts/libs/require/require.js"></script>
    </body>
</html>
