<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>FastMap一体化编辑平台</title>
        <link href="../../../images/favicon.ico" rel="icon" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/bootstrap-3.3.5/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/bootstrap-3.3.5/css/bootstrap-theme.css"/>
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/ui-layout/ui-layout.css">
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/leaflet-0.7.3/leaflet.css">
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/sweet-alert-upgrade/sweetalert.css" />
        <link rel="stylesheet" type="text/css" href="../../../styles/imeep/editor.css">
        <link rel="stylesheet" type="text/css" href="../../../styles/imeep/animate.min.css">
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/font-awesome-4.6.3/css/font-awesome.min.css">
        <script src="../../../scripts/libs/leaflet-0.7.3/leaflet-src.js"></script>
        <script type="text/javascript" src="../Application.js"></script>
        <script type="text/javascript" src="../../../scripts/fastmap/fastmap.js"></script>
        <script type="text/javascript" src="../../../scripts/fastmap/fastmap-util.js"></script>
        <script src="../editor/loadMapApi.js"></script>
        <script src="../editor/loadUikit.js"></script>
        <script src="../editor/loadCanvasFeature.js"></script>
    </head>
    <body ng-controller="TaskSelectionCtl">
        <div ui-layout="{flow:'column',dividerSize:'0'}" ui-layout-loaded>
            <div ui-layout-container class="fm-banner animated fadeInLeft fm-no-scroll" size="50px">
                <div class="banner-top"><a><strong>FM</strong></a></div>
                <div class="banner-center">
                    <div tooltip-class="subTooltip" uib-tooltip="日 一体化任务" tooltip-trigger="mouseenter" tooltip-placement="right" tooltip-append-to-body=true ng-class="{1: 'selected'}[dataListType]" ng-click="changeDataList(1)">
                        <a><i class="fa fa-map-o fa-lg" aria-hidden="true"></i></i></a>
                    </div>
                    <div tooltip-class="subTooltip" uib-tooltip="日 POI任务" tooltip-trigger="mouseenter" tooltip-placement="right" tooltip-append-to-body=true ng-class="{2: 'selected'}[dataListType]" ng-click="changeDataList(2)">
                        <a><i class="fa fa-map-pin fa-lg" aria-hidden="true"></i></a>
                    </div>
                    <div tooltip-class="subTooltip" uib-tooltip="月 道路任务" tooltip-trigger="mouseenter" tooltip-placement="right" tooltip-append-to-body=true ng-class="{3: 'selected'}[dataListType]" ng-click="changeDataList(3)">
                        <a><i class="fa fa-road fa-lg" aria-hidden="true"></i></a>
                    </div>
                    <div tooltip-class="subTooltip" uib-tooltip="月 POI任务" tooltip-trigger="mouseenter" tooltip-placement="right" tooltip-append-to-body=true ng-class="{4: 'selected'}[dataListType]" ng-click="changeDataList(4)">
                        <a><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i></a>
                    </div>
                    <div tooltip-class="subTooltip" uib-tooltip="专项任务" tooltip-trigger="mouseenter" tooltip-placement="right" tooltip-append-to-body=true ng-class="{5: 'selected'}[dataListType]" ng-click="changeDataList(5)">
                        <a><i class="fa fa-pencil-square fa-lg" aria-hidden="true"></i></i></a>
                    </div>
                </div>
                <div class="banner-bottom">
                    <div><a href="javascript:void(0);"><i title="用户" class="glyphicon glyphicon-user"></i></a></div>
                    <div><a href="javascript:void(0);" onclick="App.Util.logout()"><i title="退出" class="glyphicon glyphicon-log-out"></i></a></div>
                </div>
            </div>
            <div ui-layout-container>
                <div ui-layout="{flow:'row',dividerSize:'0',disableToggle:true}">
                    <div ui-layout-container>
                        <div ui-layout="{flow:'column',dividerSize:'0',disableToggle:true}">
                            <div ui-layout-container class="fm-container fm-col animated fadeInLeft fm-no-scroll" size="250px">
                                <div class="fm-tabs" style="padding:0px;overflow: auto;">
                                    <a href="#" class="tab col-sm-4" ng-class="{6:'active'}[taskStatus]" ng-click="changeTaskStatus(6)"><i class="fa fa-th-large" aria-hidden="true"></i> 全部</a>
                                    <a href="#" class="tab col-sm-4" ng-class="{7:'active'}[taskStatus]" ng-click="changeTaskStatus(7)"><i class="fa fa fa-unlock" aria-hidden="true"></i> 开启</a>
                                    <a href="#" class="tab col-sm-4" ng-class="{8:'active'}[taskStatus]" ng-click="changeTaskStatus(8)"><i class="fa fa fa-lock" aria-hidden="true"></i> 关闭</a>
                                </div>
                                <div style="font-size:14px;color: white;padding: 10px 10px">
                                    <div class="title" style="border-bottom: 1px solid #ddd;padding: 5px 0">
                                        <label style="margin:0px;"><i class="fa fa-list" aria-hidden="true"></i> 任务列表</label>
                                        <span style="float:right;">共 <span ng-bind="currentSubTaskList.length"></span> 条</span>
                                    </div>
                                    <div class="content" style="min-height: 217px;padding: 5px 0;">
                                        <ul ng-if="currentSubTaskList&&!currentSubTaskList.length" class="fm-ul fm-ul-list">
                                            <li>暂时没有子任务数据</li>
                                            <!--<a tabindex="0" uib-tooltip="Test" class="btn btn-default"></a>-->
                                        </ul>
                                        <ul class="fm-ul fm-ul-list">
                                            <li ng-repeat="item in currentSubTaskList">
                                                <a href='javascript:void(0);' class="col-lg-11 text-ellipsis" ng-click="selectSubtask(item)" ng-bind="($index + 1) + ' . ' + item.name"></a>　
                                                <i ng-if="currentTaskData.subtaskId===item.subtaskId" class="fa fa-check col-lg-1" aria-hidden="true"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- -->
                            </div>

                        <div ui-layout-container>
                            <div id="map" style="background-color:#FFF;width: 100%;height: 100%;position: absolute;"></div>
                            <div class="fm-foldable fm-col fm-no-scroll" style="width: 315px;" ng-style="{'right':{true: '0px', false: '-300px', 'none': '-315px'}[infoPanelOpened]}">
                                <div class="fm-fold-btn">
                                    <a href="#" ng-class="{true: 'arrow-right', false: 'arrow-left'}[infoPanelOpened]" ng-click="infoPanelOpened=!infoPanelOpened">
                                    </a>
                                </div>
                                <div class="fm-container fm-col fm-lvl1 fm-no-scroll" style="right:0px;width:300px;padding:5px;">
                                    <div class="fm-panel">
                                        <div class="title"><i class="fa fa-list-alt" aria-hidden="true"></i> 任务概况</div>
                                        <div class="content" style="max-height: 300px;">
                                            <ul class="fm-ul fm-ul-list">
                                                <li>
                                                    <label style="text-indent: 15px">类　　型：</label>
                                                    <label title="{{dataStringType}}" class="text-ellipsis" ng-bind="dataStringType"></label>
                                                </li>
                                                <li>
                                                    <label style="text-indent: 15px">开　　始：</label>
                                                    <label ng-bind="getDiyDateFormat('start')"></label>
                                                </li>
                                                <li>
                                                    <label style="text-indent: 15px">结　　束：</label>
                                                    <label ng-bind="getDiyDateFormat('end')"></label>
                                                </li>
                                                <li>
                                                    <label style="text-indent: 15px">完成进度：</label>
                                                    <label ng-bind="getTaskProgresing()"></label>
                                                </li>
                                                <li>
                                                    <label style="letter-spacing: 1px;text-indent: 15px">作 业 季：</label>
                                                    <label ng-bind="getTaskSeason()"></label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- -->
                                    <div class="fm-panel">
                                        <div class="title"><i class="fa fa-bar-chart" aria-hidden="true"></i> 任务统计</div>
                                        <div class="content" style="max-height: 300px;">
                                            <ul class="fm-ul fm-ul-list">
                                                <li>
                                                    <div>
                                                        <!--<img ng-src="../../../images/temp/test-chart.png"/>-->
                                                        <highchart config="chartConfig"></highchart>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div style="text-align:center;position:absolute;left:5px;right:5px;bottom:26px;z-index: 10000">
                                    <button type="button" ng-disabled="currentTaskData.status == 0" ng-click="startEdit()" class="btn btn-sm" style="color:white;background: rgba(150,150,150,0.5);padding: 5px 12px;">
                                    <i class="glyphicon glyphicon-edit"></i> 开始作业
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" data-main="taskSelection-require" src="../../../scripts/libs/require/require.js"></script>
</body>
</html>