<div class="login_ui" ng-controller="poiLogin">
    <!--<div class="container login_part">-->
        <!--<div class="row">-->
            <!--<div class="col-md-5 col-md-offset-4 col-xs-5 col-xs-offset-4">-->
                <div class="company-logo" style="margin-left: -15px">
                    <img alt="四维图新" class="img-responsive" src="../../images/poi/main/navi_logo.png"/>
                </div>
                <form name="myForm" class="form-horizontal" novalidate>
                    <!-- username part -->
                    <div class="form-group has-feedback" ng-class="{'has-error':myForm.user.$invalid && myForm.user.$dirty && show_type!=3,'has-success':myForm.user.$valid && myForm.user.$dirty && show_type!=3}">
                        <input type="text" ng-model="username" name="user" class="form-control" required ng-pattern='/^[a-zA-z]/' minlength="3" maxlength="50" placeholder="用户名" autofocus />
                        <div style="color: red;padding: 5px 0" ng-show="myForm.user.$error&&(myForm.user.$dirty||show_type==3)&&show_error">
                            <div ng-show="myForm.user.$error.required">用户名不能为空</div>
                            <div ng-show="myForm.user.$error.minlength">用户名不能小于3位</div>
                            <div ng-show="myForm.user.$error.maxlength">用户名不能大于50位</div>
                            <div ng-show="myForm.user.$error.pattern">用户名必须是以英文字母开头</div>
                        </div>
                    </div>
                    <!-- password part -->
                    <div class="form-group has-feedback" ng-class="{'has-error':myForm.userpassword.$invalid && myForm.userpassword.$dirty && show_type!=3,'has-success':myForm.userpassword.$valid && myForm.userpassword.$dirty && show_type!=3}">
                        <input type="password" ng-model="pwd" name="userpassword" class="form-control" required minlength="6" maxlength="16" placeholder="密 码" />
                        <div style="color: red;padding: 5px 0" ng-show="myForm.userpassword.$error&&(myForm.userpassword.$dirty||show_type==3)&&show_error">
                            <div ng-show="myForm.userpassword.$error.required">密码不能为空</div>
                            <div ng-show="myForm.userpassword.$error.minlength">密码名不能小于5位</div>
                            <div ng-show="myForm.userpassword.$error.maxlength">密码名不能大于16位</div>
                        </div>
                    </div>
                    <!-- loginButton part -->
                    <div class="form-group">
                        <button ng-click="submitData('rowEditor')" ng-disabled='myForm.$invalid && show_type!=3' class="btn btn-primary btn-block" type="submit">登 录</button>
                    </div>
                </form>
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>