<link href="../../../images/favicon.ico" rel="icon" type="image/x-icon"/>
<link rel="stylesheet" type="text/css" href="../../../scripts/libs/bootstrap-3.3.5/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="../../../scripts/libs/bootstrap-3.3.5/css/bootstrap-theme.css"/>
<link rel="stylesheet" type="text/css" href="../../../scripts/libs/font-awesome-4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../../scripts/libs/leaflet-0.7.3/leaflet.css">

<link rel="stylesheet" type="text/css" href="../../../scripts/libs/sweet-alert-upgrade/sweetalert.css"/>
<style>
    .mapcontainer {
        height: 100%;
        width: 100%;
        position: absolute;
    }

    .openLeftPanel {
        position: absolute;
        left: 10px;
        top: 10px;
    }

    .arrow-right {
        background: url("../../../images/road/img/arrow-right.png") no-repeat center center;
        position: absolute;
        left: 0;
        top: 20px;
        width: 15px;
        height: 30px;
        border: 1px solid grey;
        border-left: 0;
    }

    .openRightPanel {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .right-property-right {
        background: url("../../../images/road/img/arrow-right.png") no-repeat center center;
        width: 15px;
        height: 30px;
        border: 1px solid grey;
        border-left: 0;
        display: inline-block;
        float: left;
        margin-top: 25px;
    }

    .userListStyle {
        position: absolute;
        top: 20px;
        z-index: 6;
        text-align: center;
        width: 90px
    }

    .userListStyle > ul {
        display: none;
    }

    .userListStyle:hover > ul {
        display: block;
    }

    #test12 {
        position: fixed;
        left: 50%;
        top: 50%;
        width: 600px;
        height: 340px;
        background: #000;
        color: #FFF;
        z-index: 10;
    }

    #test12:after {
        position: absolute;
        right: 0;
        bottom: 0;
        line-height: 1em;
        text-align: left;
        color: #888;
        font-size: 12px;
    }

    #test12-header {
        height: 30px;
        background: #5da5e6;
        cursor: move;
    }

    #test13 {
        position: fixed;
        right: 10px;
        bottom: 10px;
        width: 150px;
        height: 20px;
        background: #5da5e6;
        color: #FFF;
        z-index: 10;
    }

    #test13:after {
        position: absolute;
        right: 0;
        bottom: 0;
        line-height: 1em;
        text-align: left;
        color: #888;
        font-size: 12px;
    }

</style>

<div class="mapwapper container" ng-style="mapBackGround">
    <div id="map" class="mapcontainer"></div>
    <!--检查工具-->
    <div id="test12" drag ng-style="{'display':inspectToolShow && normalInspectToolScreen ? 'block' : 'none'}">
        <div drag-handle id="test12-header">
            <div style="float: right;cursor: pointer">
                <span ng-click="changeInspectToolScreen()">最小化</span>
                <span ng-click="closeInspectToolScreen()">关闭</span>
            </div>
        </div>
        test12
    </div>
    <div id="test13" drag ng-style="{'display':inspectToolShow && !normalInspectToolScreen ? 'block' : 'none'}">
        <div style="float: right;cursor: pointer">
            <span ng-click="changeInspectToolScreen()">最大化</span>
            <span ng-click="closeInspectToolScreen()">关闭</span>
        </div>
    </div>
    <!--右侧工具条-->
    <div class="userListStyle" ng-style="{'right':rightPanelFlag ? 300 : 20}">
        <img src="../../../images/png/login.png">
        <ul class="list-group">
            <li class="list-group-item">
                消息列表
            </li>
            <li class="list-group-item">
                批量导入
            </li>
            <li class="list-group-item">
                分屏显示
            </li>
            <li class="list-group-item" ng-click="showInspectTool()">
                检查
            </li>
            <li class="list-group-item">
                修改密码
            </li>
            <li class="list-group-item">
                意见反馈
            </li>
            <li class="list-group-item">
                退出
            </li>
        </ul>
    </div>
    <!--右侧属性编辑面板-->
    <div style="height: 100%;position: absolute;top: 0;right: 0;width: 300px;z-index: 5"
         ng-style="{'display':rightPanelFlag?'block':'none'}">
        <div ng-include src="rightPanelTemp" style="height: 100%">

        </div>
    </div>
    <img src="../../../images/newPoi/leftPanelIcon/icon-back-left.png" class="openRightPanel"
         ng-click="closeRightPanel()" ng-style="{'display':rightPanelFlag?'none':'block'}">

    <div class="right-property-left" ng-click="closeRightPanel()" ng-style="{'display':rightPanelFlag?'none':'block'}">

    </div>
    <!--左侧弹出栏-->
    <div style="height: 100%;position: absolute;top: 0;left: 0;width: 560px;z-index: 5"
         ng-style="{'display':leftPanelFlag?'block':'none'}">
        <div ng-include src="leftPanelTemp" style="height: 100%">

        </div>
    </div>
    <img src="../../../images/newPoi/leftPanelIcon/icon-back-right.png" class="openLeftPanel"
         ng-click="closeLeftPanel()" ng-style="{'display':leftPanelFlag?'none':'block'}">
</div>
