<link href="../../../images/favicon.ico" rel="icon" type="image/x-icon"/>
<link rel="stylesheet" type="text/css" href="../../../scripts/libs/bootstrap-3.3.5/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="../../../scripts/libs/bootstrap-3.3.5/css/bootstrap-theme.css"/>
<link rel="stylesheet" type="text/css" href="../../../scripts/libs/font-awesome-4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../../scripts/libs/leaflet-0.7.3/leaflet.css">
<link rel="stylesheet" type="text/css" href="../../../styles/imeep/editor_poi.css">
<link rel="stylesheet" type="text/css" href="../../../scripts/libs/sweet-alert-upgrade/sweetalert.css"/>
<style>
    .mapcontainer {
        height: 100%;
        width: 100%;
        position: absolute;
    }

    .openLeftPanel {
        position: absolute;
        left: 10px;
        top: 10px;
        box-shadow: 0 0 10px #93bbff;
    }
    .openRightPanel {
        position: absolute;
        right: 10px;
        top: 10px;
        box-shadow: 0 0 10px #93bbff;
    }
    .userListStyle {
        position: absolute;
        top: 10px;
        z-index: 6;
        text-align: center;
        padding-bottom: 10px;
    }
    .userListStyle > div > div {
        border-radius: 15px;
        height: 30px;
        width: 30px;
        background: url("../../../images/newPoi/toolIcon/user-normal.png") no-repeat;
        box-shadow: 0 0 10px #93bbff;
    }
    .userListStyle:hover > div > div{
        background: url("../../../images/newPoi/toolIcon/user-active.png") no-repeat;
    }

    .userListStyle > div > div + ul {
        display: none;
    }

    .userListStyle:hover > div > div + ul {
        width: 80px;
        position: absolute;
        z-index: 6;
        display: block;
        margin-left: -25px;
    }
    .taskToolStyle {
        box-shadow: 0 0 10px #93bbff;
        cursor: pointer;
        width: 30px;
        height: 30px;
        background-color: #ffffff;
        position: absolute;
        top: 50px;
        z-index: 5;
    }
    .taskToolStyle > div{
        margin-left: 6px;
        margin-top: 9px;
        width: 18px;
        height: 12px;
        background: url("../../../images/newPoi/toolIcon/taskList-normal.png") no-repeat;
    }
    .taskToolStyle:hover > div {
        background: url("../../../images/newPoi/toolIcon/taskList-active.png") no-repeat;
    }
    .sceneToolStyle {
        border-radius: 3px;
        box-shadow: 0 0 10px #93bbff;
        cursor: pointer;
        width: 30px;
        height: 30px;
        background-color: #ffffff;
        position: absolute;
        bottom: 10px;
        z-index: 5;
    }
    .sceneToolStyle > div{
        margin-left: 5px;
        margin-top: 6px;
        width: 20px;
        height: 18px;
        background: url("../../../images/newPoi/toolIcon/button-scene-normal.png") no-repeat;
    }
    .sceneToolStyle:hover > div {
        background: url("../../../images/newPoi/toolIcon/button-scene-active.png") no-repeat;
    }
    .poiPageStyle {
        cursor: pointer;
        position: absolute;
        z-index: 5;
    }
    #test12 {
        position: fixed;
        left: 50%;
        top: 50%;
        width: 600px;
        height: 340px;
        background: #000;
        color: #FFF;
        z-index: 10;
    }

    #test12:after {
        position: absolute;
        right: 0;
        bottom: 0;
        line-height: 1em;
        text-align: left;
        color: #888;
        font-size: 12px;
    }

    #test12-header {
        height: 30px;
        background: #5da5e6;
        cursor: move;
    }

    #test13 {
        position: fixed;
        right: 10px;
        bottom: 10px;
        width: 150px;
        height: 20px;
        background: #5da5e6;
        color: #FFF;
        z-index: 10;
    }

    #test13:after {
        position: absolute;
        right: 0;
        bottom: 0;
        line-height: 1em;
        text-align: left;
        color: #888;
        font-size: 12px;
    }

</style>

<div class="mapwapper container" ng-style="mapBackGround">
    <div id="map" class="mapcontainer"></div>
    <!--检查工具-->
    <div id="test12" drag ng-style="{'display':inspectToolShow && normalInspectToolScreen ? 'block' : 'none'}">
        <div drag-handle id="test12-header">
            <div style="float: right;cursor: pointer">
                <span ng-click="changeInspectToolScreen()">最小化</span>
                <span ng-click="closeInspectToolScreen()">关闭</span>
            </div>
        </div>
        test12
    </div>
    <div id="test13" drag ng-style="{'display':inspectToolShow && !normalInspectToolScreen ? 'block' : 'none'}">
        <div style="float: right;cursor: pointer">
            <span ng-click="changeInspectToolScreen()">最大化</span>
            <span ng-click="closeInspectToolScreen()">关闭</span>
        </div>
    </div>
    <!--右侧工具条 用户-->
    <div class="userListStyle" ng-style="{'right':rightPanelFlag ? 310 : 50}" ng-include src="rightUserToolTemp">
    </div>
    <!--右侧工具条 任务-->
    <div class="taskToolStyle" ng-style="{'right':rightPanelFlag ? 310 : 10}">
        <div></div>
    </div>
    <!--右侧工具条 场景-->
    <div class="sceneToolStyle" ng-style="{'right':rightPanelFlag ? 310 : 10}">
        <div></div>
    </div>
    <!--右侧工具条 poi分页+快捷工具-->
    <div class="poiPageStyle" ng-style="{'right':rightPanelFlag ? 310 : 10,'top':toolTop}" ng-include src="rightPoiPageTemp">

    </div>
    <!--右侧属性编辑面板-->
    <div style="height: 100%;position: absolute;top: 0;right: 0;width: 300px;z-index: 5"
         ng-style="{'display':rightPanelFlag?'block':'none'}">
        <div ng-include src="rightPanelTemp" style="height: 100%">

        </div>
    </div>
    <img src="../../../images/newPoi/toolIcon/button-open-right.png" class="openRightPanel"
         ng-click="closeRightPanel()" ng-style="{'display':rightPanelFlag?'none':'block'}">

    <!--左侧弹出栏-->
    <div style="height: 100%;position: absolute;top: 0;left: 0;z-index: 5"
         ng-style="{'display':leftPanelFlag?'block':'none'}">
        <div ng-include src="leftPanelTemp" style="height: 100%">

        </div>
    </div>
    <img src="../../../images/newPoi/toolIcon/button-open-left.png" class="openLeftPanel"
         ng-click="closeLeftPanel()" ng-style="{'display':leftPanelFlag?'none':'block'}">
</div>
