<div ng-controller="formOfWayController" id="formOfWayDiv">
    <div style="padding: 5px;color:#FFF;"><label class="control-label">改变道路形态</label></div>
    <div ng-repeat="addItem in fromOfWayOption">
                <span ng-if="addItem.isCheck==true" style="padding: 5px;color:#FFF;">
                    <input type="checkbox" checked="checked" ng-click="remove(addItem)" value="{{addItem.id}}">{{addItem.label}}</br>
                </span>
                <span ng-if="addItem.isCheck==false" style="padding: 5px;color:#FFF;">
                    <input type="checkbox" ng-click="getCheck(addItem)" value="{{addItem.id}}">{{addItem.label}}</br>
                </span>
    </div>
</div>