<style>
    .list-group-item {
        position: relative;
        display: block;
        padding: 1px 15px;
        margin-bottom: -1px;
        /*background-color: transparent;*/
        margin-right: 0px;
        border: 0;
    }

    #traffiLimitedDiv {
        /*background-color: #000;*/
        opacity: 1;
        padding: 10px 5px;
        width: 100%;
        z-index: 20;
    }

    #traffiLimitedDiv ul {
        /*background-color: #000;*/
        list-style: none;
        /*padding:5px;*/
        overflow: hidden;
        width: 97%;
        float: left;
        margin: 5px;
        border-radius: 4px;
    }

    #traffiLimitedDiv ul > li {
        background-color: #555;
    }

    #traffiLimitedDiv ul > li > div > input {
        color: #F3F6FA;
        border: 1px solid #FFFFFF;
        border-style: ridge;
        background-color: #333;
    }



    #traffiLimitedDiv ul > li > div > select {
        color: #F3F6FA;
        margin-left: -3px;
        border: 1px solid #FFFFFF;
        border-style: ridge;
        background-color: #333;
    }

    #traffiLimitedDiv ul > li > div:first-child {
        display: inline-block;
        width: 150px;
    }

    #traffiLimitedDiv ul > li > label {
        color: #F3F6FA;
        font-weight: normal;
    }

    #traffiLimitedDiv ul > li >i{
        color:#FFF;
        cursor: pointer;
    }

    #traffiLimitedDiv ul > li >i:hover{
        color:rgba(255,255,255,0.5);
    }

    #traffiLimitedDiv ul > li > div > label {
        color: #F3F6FA;
        font-weight: normal;
    }
    .m-b-none {
        margin-bottom: 0 !important;
    }
    .list-name{
        color:#FFF;
        margin:5px 0;
    }
    .list-line{
        border-bottom: 1px solid #9E9E9E;
        margin: 0 -15px;
    }
</style>
<div id="traffiLimitedDiv" ng-controller="limitedController">
    <ul class="list-group list-group-lg m-b-none" >
        <li class="list-group-item">
            <div class="list-name">
                <a ng-click="addLimit()" style="cursor: pointer;color: #ffffff;">普通限制信息</a>
            </div>
            <div class="list-line"></div>
        </li>
        <li class="list-group-item" ng-repeat="limitItem in linkLimitData.limits" >
            <div ng-repeat="typeItem in typeOptions|filter:limitItem.type " ng-click="showOrdinaryInfo(limitItem)" style="cursor: pointer;padding-left: 15px;"><label class="control-label" style="cursor: pointer;">{{typeItem.label}}</label></div>
            <i class="glyphicon glyphicon-remove-circle" ng-click="minusLimit($index)"></i>
        </li>
    </ul>
    <ul class="list-group list-group-lg m-b-none" >
        <li class="list-group-item">
            <div class="list-name">
                <a ng-click="addLimitTruck()" style="cursor: pointer;color: #ffffff;">卡车限制信息</a>
            </div>
            <div class="list-line"></div>
        </li>
        <li class="list-group-item" ng-repeat="truckItem in linkLimitData.limitTrucks">
            <div ng-repeat="dirItem in limitDirOptions|filter:truckItem.limitDir " ng-click="showTrcukInfo(truckItem)" style="cursor: pointer;padding-left: 15px;"><label class="control-label" style="cursor: pointer;">{{dirItem.label}}</label></div>
            <i class="glyphicon glyphicon-remove-circle"  ng-click="minusLimit($index)"></i>
        </li>
    </ul>

</div>