<style>
    .list-group-item {
        position: relative;
        display: block;
        padding: 1px 15px;
        margin-bottom: -1px;
        /*background-color: #000;*/
        /*border: 1px solid #ddd;*/
    }

    #truckLimitInfoDiv {
        opacity: 1;
        width: 100%;
        font-size: 12px;
    }

    #truckLimitInfoDiv ul {
        list-style: none;
        overflow: hidden;
        width: 97%;
        float: left;
        margin: 5px;
        border-radius: 4px;
    }

    #truckLimitInfoDiv ul > li {
        background-color: #555;
    }

    #truckLimitInfoDiv ul > li > div > input {
        color: #F3F6FA;
        width:170px;
        margin-left: -3px;
        padding-left: 5px;
        border-radius: 4px;
        margin-top: 5px;
        border: 1px solid #FFFFFF;
        border-style: ridge;
        background-color: #333;

    }

    #truckLimitInfoDiv ul > li > div > input.ng-dirty {
        color: #F3F6FA;
        width:170px;
        margin-left: -3px;
        padding-left: 5px;
        border-radius: 4px;
        margin-top: 5px;
        border: 1px ridge #FFFFFF;
        background-color: #307BA3;
    }

    #truckLimitInfoDiv ul > li > div > label>input[type="radio"]:checked.ng-dirty {
        -webkit-appearance: none;
        background: #307BA3;
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }

    #truckLimitInfoDiv ul > li > div > select {
        color: #F3F6FA;
        margin-left: -3px;
        width:170px;
        border-radius: 4px;
        border: 1px solid #FFFFFF;
        border-style: ridge;
        background-color: #333;
    }

    #truckLimitInfoDiv ul > li > div > select.ng-dirty {
        color: #F3F6FA;
        margin-left: -3px;
        width:170px;
        border-radius: 4px;
        margin-top: 5px;
        border: 1px ridge #FFFFFF;
        background-color: #307BA3;
    }
    #truckLimitInfoDiv ul > li > div:first-child {
        display: inline-block;
        width: 80px;
    }

    #truckLimitInfoDiv ul > li > label {
        color: #F3F6FA;
        font-weight: normal;
    }

    #truckLimitInfoDiv ul > li > div > label {
        color: #F3F6FA;
        font-weight: normal;
    }

    .inline {
        display: inline-block !important;
        /*width: 70%;*/
        text-align: left;
    }

    .m-b-none {
        margin-bottom: 0 !important;
    }

    .form-horizontal .control-label {
        text-align: center;
    }

    .radio {
        margin-bottom: 0px;
        margin-top: 0px;
    }

</style>
<div ng-controller="truckLimitInfoController" id="truckLimitInfoDiv" style="font-size: 12px">
    <form name="truckLimitForm">
    <ul class="list-group list-group-lg m-b-none">
        <li class="list-group-item">
            <div><label class="control-label">验证标识</label></div>
            <div class="radio inline" style="text-align: left">
                <label>
                    <input type="radio" name="truckFlag" value=0 ng-model="linkData.truckFlag">
                    是
                </label>
                <label>
                    <input type="radio" name="truckFlag" value=1 ng-model="linkData.truckFlag">
                    否
                </label>
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">限制方向</label></div>
            <div class="inline">
                <select  ng-model="truckLimit.limitDir" ng-options="value.id as value.label for value in limitDirOptions" ng-change="changeDirect(truckLimit.limitDir)">
                    <option>--</option>
                </select>
            </div>
        </li>
        <li class="list-group-item">
            <div ng-include="dateURL" class="muti-date" date-str='{{tItem.timeDomain}}' style="width:100%;padding: 5px;"></div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">拖挂车限制</label></div>
            <div class="radio inline" style="text-align: left">
                <label>
                    <input type="radio" name="resTrailerRadio" value=0 ng-model="truckLimit.resTrailer">
                    已验证
                </label>
                <label>
                    <input type="radio" name="resTrailerRadio" value=1 ng-model="truckLimit.resTrailer">
                    未验证
                </label>
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">车辆限重</label></div>
            <div class="inline">
                <input type="number"  placeholder="0" ng-model="truckLimit.resWeigh">
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">限制承重</label></div>
            <div class="inline">
                <input type="number" placeholder="0" ng-model="truckLimit.resAxleLoad">
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">限制轴数</label></div>
            <div class="inline">
                <input type="number"  placeholder="0" ng-model="truckLimit.resAxleCount">
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">拖挂车限制</label></div>
            <div class="radio inline" style="text-align: left">
                <label>
                    <input type="radio" name="resOutRadio" value=0 ng-model="truckLimit.resOut">
                    外埠
                </label>
                <label>
                    <input type="radio" name="resOutRadio" value=1 ng-model="truckLimit.resOut">
                    本埠
                </label>
                <label>
                    <input type="radio" name="resOutRadio" value=1 ng-model="truckLimit.resOut">
                    不应用
                </label>
            </div>
        </li>
    </ul>
    </form>
</div>