
<div id="traffiLimitedDiv" ng-controller="limitedController">
    <ul class="list-group list-group-lg m-b-none" >
        <li class="list-group-item">
            <div class="list-name">
                <a ng-click="addLimit()" style="cursor: pointer;color: #ffffff;">普通限制信息</a>
            </div>
            <div class="list-line"></div>
        </li>
        <li class="list-group-item" ng-repeat="limitItem in linkLimitData.limits" >
            <div ng-repeat="typeItem in typeOptions|filter:limitItem.type " ng-click="showOrdinaryInfo(limitItem)" style="cursor: pointer;padding-left: 15px;"><label class="control-label" style="cursor: pointer;">{{typeItem.label}}</label></div>
            <i class="glyphicon glyphicon-remove-circle" ng-click="minusLimit($index,0)"></i>
        </li>
    </ul>
    <ul class="list-group list-group-lg m-b-none" >
        <li class="list-group-item">
            <div class="list-name">
                <a ng-click="addLimitTruck()" style="cursor: pointer;color: #ffffff;">卡车限制信息</a>
            </div>
            <div class="list-line"></div>
        </li>
        <li class="list-group-item" ng-repeat="truckItem in linkLimitData.limitTrucks">
            <div ng-repeat="dirItem in limitDirOptions|filter:truckItem.limitDir " ng-click="showTrcukInfo(truckItem)" style="cursor: pointer;padding-left: 15px;"><label class="control-label" style="cursor: pointer;">{{dirItem.label}}</label></div>
            <i class="glyphicon glyphicon-remove-circle"  ng-click="minusLimit($index,1)"></i>
        </li>
    </ul>

</div>