<style>

    div {
        -webkit-font-smoothing: antialiased;
        line-height: 1.42857143;
        color: #58666e;
        /*background-color: transparent;*/
        margin-right: 0px;
    }
    .list-group-item {
        position: relative;
        display: block;
        padding: 1px 15px;
        margin-bottom: -1px;
        /*background-color: #000;*/
        /*border: 1px solid #ddd;*/
        border: 0;
    }

    #rdNameDiv {
        /*background-color: #000;*/
        opacity: 1;
        padding: 10px 5px;
        width: 100%;
        z-index: 20;
    }

    #rdNameDiv ul {
        /*background-color: #000;*/
        list-style: none;
        /*padding:5px;*/
        overflow: hidden;
        width: 97%;
        float: left;
        margin: 5px;
        border-radius: 4px;
    }

    #rdNameDiv ul > li {
        background-color: #555;
    }

    #rdNameDiv ul > li > div > input {
        color: #F3F6FA;
        border: 1px solid #FFFFFF;
        border-style: ridge;
        background-color: #333;
    }

    #rdNameDiv ul > li > div > select {
        color: #F3F6FA;
        margin-left: -3px;
        border: 1px solid #FFFFFF;
        border-style: ridge;
        background-color: #333;
    }

    #rdNameDiv ul > li > div:first-child {
        display: inline-block;
        width: 150px;
    }

    #rdNameDiv ul > li > label {
        color: #F3F6FA;
        font-weight: normal;
    }

    #rdNameDiv ul > li > div > label {
        color: #F3F6FA;
        font-weight: normal;
    }
    .m-b-none {
        margin-bottom: 0 !important;
    }
    .list-name{
        color:#FFF;
        margin:5px 0;
    }
    .list-line{
        border-bottom: 1px solid #9E9E9E;
        margin: 0 -15px;
    }
</style>
<div id="rdNameDiv" ng-controller="nameController" >
    <ul class="list-group list-group-lg m-b-none" >
        <li class="list-group-item">
            <div class="list-name">
                <a ng-click="addRdName()" style="cursor: pointer;color:#FFF;">道路名（共<span ng-if="linkData.names!=undefined">{{linkData.names.length}}</span>条）</a>
            </div>
            <div class='list-line'></div>
        </li>
        <li class="list-group-item" ng-repeat="cItem in linkData.names">
            <div ng-click="showNames(cItem)" style="cursor: pointer;">
                <label ng-if="cItem.name!=''" style="padding-top: 5px;cursor: pointer;" class="control-label">{{cItem.name}}</label>
                <label ng-if="cItem.name==''" style="padding-top: 5px;cursor: pointer;" class="control-label">{{cItem.nameGroupid}}</label>
                <span id="nameSpan{{$index}}" class="glyphicon glyphicon-remove-sign" style="padding-top:7px;float: right;color: darkgray;float: right;cursor:pointer;" ng-mouseover="changeColor($index)" ng-mouseleave="backColor($index)" ng-click="minusName($index)"></span>
            </div>
        </li>
    </ul>
</div>
