
<div id="realTimeDiv" ng-controller="realtimeTrafficController">
    <div class="fm-panel" >
        <div class="title">
            <div>
                <a ng-click="addIntRtic()" style="cursor: pointer;color:#FFF;">互联网RTIC信息（共<span ng-if="rticData!=undefined">{{rticData.intRtics.length}}</span>条）</a>
                <span title="显示场景" class="glyphicon glyphicon-transfer" style="padding-top:0px;float: right;color: darkgray;float: right;cursor:pointer;" ng-click="showScene(1)"></span>
            </div>
        </div>
        <div class="content">
            <ul class="fm-ul fm-ul-form">
                <li ng-repeat="item in rticData.intRtics track by $index">
                    <div ng-click="showRticsInfo(item)" style="cursor: pointer;">
                        <label style="padding-top: 5px;cursor: pointer;" class="control-label" ng-if="item.updownFlag == 0">上行 &nbsp;{{item.code}}</label>
                        <label style="padding-top: 5px;cursor: pointer;" class="control-label" ng-if="item.updownFlag == 1">下行 &nbsp;{{item.code}}</label>
                        <span id="rticSpan{{$index}}" class="glyphicon glyphicon-remove-sign" style="padding-top:7px;float: right;color: darkgray;float: right;cursor:pointer;" ng-mouseover="changeColor($index,1)" ng-mouseleave="backColor($index,1)" ng-click="minusIntRtic($index)"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="fm-panel" >
        <div class="title">
            <div>
                <a ng-click="addCarRtic()" style="cursor: pointer;color:#FFF;">车厂RTIC信息（共<span ng-if="linkData!=undefined">{{linkData.rtics.length}}</span>条）</a>
                <span title="显示场景" class="glyphicon glyphicon-transfer" style="padding-top:0px;float: right;color: darkgray;float: right;cursor:pointer;" ng-click="showScene(2)"></span>
            </div>
        </div>
        <div class="content">
            <ul class="fm-ul fm-ul-form">
                <li ng-repeat="cItem in linkData.rtics  track by $index">
                    <div ng-click="showCarInfo(cItem)" style="cursor: pointer;">
                        <label style="padding-top: 5px;cursor: pointer;" class="control-label" ng-if="cItem.updownFlag == 0">上行 &nbsp;{{cItem.code}}</label>
                        <label style="padding-top: 5px;cursor: pointer;" class="control-label" ng-if="cItem.updownFlag == 1">下行 &nbsp;{{cItem.code}}</label>
                        <span id="carSpan{{$index}}" class="glyphicon glyphicon-remove-sign" style="padding-top:7px;float: right;color: darkgray;float: right;cursor:pointer;" ng-mouseover="changeColor($index,2)" ng-mouseleave="backColor($index,2)" ng-click="minusCarRtic($index)"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="fm-panel" >
        <div class="title">
            <div>
                <a ng-click="addTmcLocation()" style="cursor: pointer;color:#FFF;">TMC信息（共<span ng-if="rticData!=undefined">{{rticData.tmclocations.length}}</span>条）</a>
                <span title="显示场景" class="glyphicon glyphicon-transfer" style="padding-top:0px;float: right;color: darkgray;float: right;cursor:pointer;" ng-click="showScene(3)"></span>
                <span title="框选" class="glyphicon glyphicon-collapse-up" style="margin-right: 5px;padding-top:0px;float: right;color: darkgray;float: right;cursor:pointer;" ng-click="selectTmcPoint();"></span>
                <!--<span title="点选" class="glyphicon glyphicon-record" style="padding-top:0px;float: right;color: darkgray;float: right;cursor:pointer;" ng-click="selectTmcPoint();"></span>-->
                <span title="自动追踪" ng-class='{"glyphicon": true,"glyphicon-check": autoTrack,"glyphicon-unchecked": !autoTrack}' style="margin-right: 5px;padding-top:0px;float: right;color: darkgray;float: right;cursor:pointer;" ng-click="linkOfTruck();"></span>
            </div>
        </div>
        <div class="content">
            <ul class="fm-ul fm-ul-form">
                <li ng-repeat="item in rticData.tmclocations track by $index">
                    <div style="cursor: pointer;">
                        <label style="padding-top: 5px;cursor: pointer;" class="control-label" ng-click="showTmcInfo(item)">{{item.pid}}</label>
                        <span id="tmcSpan{{$index}}" class="glyphicon glyphicon-remove-sign" style="padding-top:7px;float: right;color: darkgray;float: right;cursor:pointer;" ng-mouseover="changeColor($index,3)" ng-mouseleave="backColor($index,3)" ng-click="removeTmcLoc(item)"></span>
                        <span class="glyphicon glyphicon-pencil" style="margin-right: 5px;padding-top:7px;float: right;color: darkgray;float: right;cursor:pointer;" ng-click="motifyTmcLoc($index)"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="fm-panel" >
        <div class="title">
            <div>TMC层级关系</div>
        </div>
        <div class="fm-panel" >
            <treecontrol class="tree-dark" tree-model="tmcTreeData" expanded-nodes="expandedNodes" on-selection="showTreeSelected(node)">
                <span ng-if="node.type == 'TMCPOINT' || node.type == 'TMCLINE' || node.type == 'TMCAREA'" ng-class="{'glyphicon':true,'glyphicon glyphicon-map-marker':node.type == 'TMCPOINT','glyphicon-road':node.type == 'TMCLINE','glyphicon-globe':node.type == 'TMCAREA'}"></span>
                {{node.name}}
            </treecontrol>
        </div>
    </div>
</div>
