
<style>
    div {
        -webkit-font-smoothing: antialiased;
        line-height: 1.42857143;
        color: #58666e;
        /*background-color: transparent;*/
        margin-right: 0px;
    }
    .list-group-item {
        position: relative;
        display: block;
        padding: 1px 15px;
        margin-bottom: -1px;
        /*background-color: #000;*/
        /*border: 1px solid #ddd;*/
        border: 0;
    }

    #speedDiv {
        /*background-color: #000;*/
        opacity: 1;
        padding: 10px 5px;
        width: 100%;
        z-index: 20;
    }

    #speedDiv ul {
        /*background-color: #000;*/
        list-style: none;
        /*padding:5px;*/
        overflow: hidden;
        width: 97%;
        float: left;
        margin: 5px;
        border-radius: 4px;
    }

    #speedDiv ul > li {
        background-color: #555;
    }

    #speedDiv ul > li > div > input {
        color: #F3F6FA;
        border: 1px solid #FFFFFF;
        border-style: ridge;
        background-color: #333;
    }

    #speedDiv ul > li > div > select {
        color: #F3F6FA;
        margin-left: -3px;
        border: 1px solid #FFFFFF;
        border-style: ridge;
        background-color: #333;
    }

    #speedDiv ul > li > div:first-child {
        display: inline-block;
        width: 150px;
    }

    #speedDiv ul > li > label {
        color: #F3F6FA;
        font-weight: normal;
    }

    #speedDiv ul > li > div > label {
        color: #F3F6FA;
        font-weight: normal;
    }
    .m-b-none {
        margin-bottom: 0 !important;
    }
    .list-name{
        color:#FFF;
        margin:5px 0;
    }
    .list-line{
        border-bottom: 1px solid #9E9E9E;
        margin: 0 -15px;
    }
</style>
<div id="speedDiv" ng-controller="speedController">
    <ul class="list-group list-group-lg m-b-none" >
        <li class="list-group-item">
            <div class="list-name">
                <a ng-click="addoridinarySpeed()" style="cursor: pointer;color:#FFF;">普通限速</a>
            </div>
            <div class="list-line"></div>
        </li>
        <li class="list-group-item" ng-repeat="item in rticData.speedlimits">
            <div ng-if="item.speedType==0" ng-click="showOridinarySpeedInfo(item)" style="cursor: pointer;padding-left: 15px;"><label style="padding-top: 5px;cursor: pointer;" class="control-label">普通</label>
                <!--<span id="oridinarySpeedSpan{{$index}}" class="glyphicon glyphicon-remove-sign" style="padding-top:7px;float: right;color: darkgray;float: right;cursor:pointer;" ng-mouseover="changeColor($index,1)" ng-mouseleave="backColor($index,1)" ng-click="minusoridinarySpeed($index)"></span>-->
            </div>
        </li>
    </ul>

    <ul class="list-group list-group-lg m-b-none" >
        <li class="list-group-item">
            <div class="list-name">
                <a ng-click="addspeedLimit()" style="cursor: pointer;color:#FFF;">条件限速</a>
            </div>
            <div class="list-line"></div>
        </li>
        <li class="list-group-item" ng-repeat="cItem in linkData.speedlimits">
            <div ng-if="cItem.speedType==3" ng-click="showspeedlimitInfo(cItem)" style="cursor: pointer;"><label style="padding-top: 5px;cursor: pointer;" class="control-label">{{$index}}</label>
                <span id="speedLimitSpan{{$index}}" class="glyphicon glyphicon-remove-sign" style="padding-top:7px;float: right;color: darkgray;float: right;cursor:pointer;" ng-mouseover="changeColor($index,2)" ng-mouseleave="backColor($index,2)" ng-click="minusspeedLimit($index)"></span>
            </div>
        </li>
    </ul>
</div>
