
<div ng-controller="conditionSpeedController" id="conditionSpeedDiv">
    <form name="conditForm">
    <ul class="list-group list-group-lg m-b-none"  ng-if="oridiData.speedType===3">
        <li class="list-group-item">
            <div><label class="control-label">限速类型</label></div>
            <div class="inline">
                <select ng-model="oridiData.speedType"
                        ng-options="value.id as value.label for value in speedTypeOption" disabled="disabled">
                    <option>--</option>
                </select>
                <!--<span id="minusSpan{{$index}}" class="glyphicon glyphicon-remove-sign"-->
                         <!--style="float: right;color: darkgray;right: 0px;margin-top: 5px;position: absolute;cursor:pointer;"-->
                         <!--ng-click="minusSpeedlimit($index)"  ng-mouseover="changeColor($index)" ng-mouseleave="backColor($index)"></span>-->
                 <!--<span class="glyphicon glyphicon-remove-sign"-->
                       <!--style="float: left;color: darkgray;left: 0px;display:none;margin-top: 5px;position: absolute"-->
                       <!--ng-click="changeSpeedAndDirect(roadlinkData.direct,oridiData.rowid)"></span>-->
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">限速条件</label></div>
            <div class="inline">
                <select ng-model="oridiData.speedDependent"
                        ng-options="value.id as value.label for value in speedDependentOption">
                    <option>--</option>

                </select>
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">顺向速度</label></div>
            <div class="inline">
                <input type="text"
                       placeholder="0530" id="{{oridiData.rowid}}fromSpeedLimit" ng-change="changeClass(oridiData,2)" ng-blur="hideDirect()" ng-focus="showDirect(2)"
                       ng-model="oridiData.fromSpeedLimit" ng-disabled="rticDir ==3">
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">逆向速度</label></div>
            <div class="inline">
                <input type="text"
                       placeholder="0530" id="{{item.rowid}}toSpeedLimit" ng-change="changeClass(oridiData,3)" ng-blur="hideDirect()" ng-focus="showDirect(3)"
                       ng-model="oridiData.toSpeedLimit" ng-disabled="rticDir ==2">
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">顺向来源</label></div>
            <div class="inline">
                <select ng-model="oridiData.fromLimitSrc"
                        ng-options="value.id as value.label for value in fromLimitSrcOption" ng-disabled="rticDir ==3">
                    <option>--</option>
                </select>
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">逆向来源</label></div>
            <div class="inline">
                <select ng-model="oridiData.toLimitSrc"
                        ng-options="value.id as value.label for value in fromLimitSrcOption" ng-disabled="rticDir ==2">
                    <option>--</option>
                </select>
            </div>
        </li>
        <li class="list-group-item">
            <div ng-include="dateURL" class="muti-date" date-str='{{oridiData.timeDomain}}' style="width:100%;padding: 5px;"></div>
        </li>
        <!--<li class="list-group-item">
            <div><label class="control-label">限速等级</label></div>
            <div class="inline">
                <select ng-model="oridiData.speedClass" ng-change="changeClassWork(oridiData)"
                        ng-options="value.id as value.label for value in speedClassOption">
                    &lt;!&ndash;<option>&#45;&#45;</option>&ndash;&gt;
                </select>
            </div>
        </li>-->
    </ul>
    </form>
</div>