<style>
    form[name=addLaneConnexityForm] ul.fm-ul-form > li > div{
        width: inherit;
    }
</style>

<div ng-controller="addLaneConnexityController" class="panel panel-default"
     oncontextmenu="self.event.returnValue=false">
    <form name="addLaneConnexityForm">
    <ul class="fm-ul fm-ul-form">
        <li >
            <label class="control-label" style="font-size: 12px;width: 100%">创建车信</label>
        </li>
        <li >
            <label class="control-label" style="font-size: 10px;width: 100%">提示：点击车道可增加公交车道</label>
        </li>
        <li>
            <div style="width: auto;min-width: 0px;margin-top: 15px;" ng-repeat="item in directData.showNormalData">
                <div>
                    <span style=" float: right;font-size: 12px;top: 5px;margin-top: -10px;color: #fff;cursor: pointer;"
                          class="glyphicon glyphicon-remove-sign"
                          ng-click="minusNormalData(item,$index,$event)"></span>
                    <img class="lanePic"
                         ng-if="item.type===0"
                         ng-src="../../../images/road/1301/1301_0_{{item.flag}}.svg"
                         ng-click="addTransitData(item,$index)"
                         title="{{item.flag}}">
                    <img class="lanePic" ng-if="item.type===2"
                         ng-click="addTransitData(item,$index)"
                         ng-src="../../../images/road/1301/1301_2_{{item.flag}}.svg"
                         title="{{item.flag}}">
                </div>

            </div>

        </li>
        <li >
            <div style="padding-top: 15px;width: auto;min-width: 0px"
                 ng-repeat="busItem in directData.showTransitData track by $index">
                <div style="width:37px;height:35px;">
                       <span ng-if="busItem.flag!=='test'"
                             style=" float: right;font-size: 12px;top: 0px;margin-top: -10px;
                                     color: #fff;cursor: pointer;"
                             class="glyphicon glyphicon-remove-sign"
                             ng-click="minusTransitData(busItem,$index)"></span>
                 <span ng-if="busItem.flag==='test'"
                       style=" float: right;font-size: 12px;top: 0px;margin-top: -10px;
                               color: #fff;cursor: pointer;">

                 </span>
                    <img
                            class="lanePic"
                            ng-if="items.flag!=='test'"
                            ng-src="../../../images/road/1301/1301_1_{{busItem.flag}}.svg"
                            title="{{items}}">
                    <img    class="lanePic"
                            ng-if="items.flag==='test'"
                            ng-src="../../../images/road/1301/1301_1_test.svg">
                </div>

            </div>
        </li>

    </ul>
        </form>
</div>