<style>

    div {
        -webkit-font-smoothing: antialiased;
        line-height: 1.42857143;
        color: #58666e;
        /*background-color: transparent;*/
        margin-right: 0px;
    }

    .list-group-item {
        position: relative;
        display: block;
        padding: 1px 15px;
        margin-bottom: -1px;
        border: 0;
    }

    #laneConneexityDiv {
        opacity: 1;
        width: 100%;
    }

    #laneConneexityDiv ul {
        background-color: #303030;
        list-style: none;
        overflow: hidden;
    }

    #laneConneexityDiv ul > li {
        background-color: #303030;
    }

    #laneConneexityDiv ul > li > label {
        color: #F3F6FA;
        font-weight: normal;
    }

    .inline {
        display: inline-block !important;
        text-align: left;
    }

    .m-b-none {
        margin-bottom: 0 !important;
    }

    .show-img-normal {
        cursor: pointer;
        width: auto;
        margin-bottom: 10px;
        transition: all 0.5s;
    }

    .show-img-transit {
        cursor: pointer;
        width: auto;
        margin-bottom: 10px;
        transition: all 0.5s;
    }

    .img-describe {
        background-color: #777;
        color: #fff;
        font-size: 11px;
        text-align: center;
    }
</style>

<div ng-controller="addLaneConnexityController" class="panel panel-default" id="laneConneexityDiv"
     oncontextmenu="self.event.returnValue=false" style="margin-top: 27px;border: 0;">
    <ul class="fm-ul fm-ul-form">
        <li >
            <label class="control-label" style="font-size: 12px;width: 100%">创建车信</label>
        </li>
        <li >
            <label class="control-label" style="font-size: 10px;width: 100%">提示：点击车道可增加公交车道</label>
        </li>
        <li>
            <div style="width: auto;min-width: 0px;margin-top: 15px;" ng-repeat="item in directData.showNormalData">
                <div>
                    <span style=" float: right;font-size: 12px;top: 5px;margin-top: -10px;color: #fff;cursor: pointer;"
                          class="glyphicon glyphicon-remove-sign"
                          ng-click="minusNormalData(item,$index,$event)"></span>
                    <img class="lanePic"
                         ng-if="item.type===0"
                         ng-src="../../../images/road/1301/1301_0_{{item.flag}}.svg"
                         ng-click="addTransitData(item,$index)"
                         title="{{item.flag}}">
                    <img class="lanePic" ng-if="item.type===2"
                         ng-click="addTransitData(item,$index)"
                         ng-src="../../../images/road/1301/1301_2_{{item.flag}}.svg"
                         title="{{item.flag}}">
                </div>

            </div>

        </li>
        <li >
            <div style="padding-top: 15px;width: auto;min-width: 0px"
                 ng-repeat="busItem in directData.showTransitData track by $index">
                <div style="width:37px;height:35px;">
                       <span ng-if="busItem.flag!=='test'"
                             style=" float: right;font-size: 12px;top: 0px;margin-top: -10px;
                                     margin-left:-5px;color: #fff;cursor: pointer;"
                             class="glyphicon glyphicon-remove-sign"
                             ng-click="minusTransitData(busItem,$index)"></span>
                 <span ng-if="busItem.flag==='test'"
                       style=" float: right;font-size: 12px;top: 0px;margin-top: -10px;
                               margin-left:-5px;color: #fff;cursor: pointer;">

                 </span>
                    <img
                            class="lanePic"
                            ng-if="items.flag!=='test'"
                            ng-src="../../../images/road/1301/1301_1_{{busItem.flag}}.svg"
                            title="{{items}}">
                    <img    class="lanePic"
                            ng-if="items.flag==='test'"
                            ng-src="../../../images/road/1301/1301_1_test.svg">
                </div>

            </div>
        </li>

    </ul>
</div>