<style>
    form[name=addLaneConnexityForm] ul.fm-ul-form > li > div{
        width: inherit;
    }
</style>
<div ng-controller="addLaneConnexityController" class="fm-component" oncontextmenu="self.event.returnValue=false">
    <div class="content scroll-styled dark" style="height:90%;">
        <div class="fm-panel">
            <div class="title">
                创建车信
                <span class='pull-right'>（提示：点击箭头图可创建公交车道）</span>
            </div>
            <div class="content">
                <div style="display: block; overflow: auto;min-height: 45px;">
                    <div class="lane-direct-img-container" ng-repeat="item in directData.showNormalData">
                        <span class="glyphicon glyphicon-remove-sign remove"
                        ng-click="minusNormalData(item,$index,$event)"></span>
                        <img class="lanePic"
                        ng-if="item.type===0"
                        ng-src="../../../images/road/1301/1301_0_{{item.flag}}.svg"
                        ng-click="addTransitData(item,$index)"
                        title="{{item.flag}}">
                        <img class="lanePic" ng-if="item.type===2"
                        ng-click="addTransitData(item,$index)"
                        ng-src="../../../images/road/1301/1301_2_{{item.flag}}.svg"
                        title="{{item.flag}}">
                    </div>
                </div>
                <div style="display: block; overflow: auto;min-height: 45px;">
                    <div class="lane-direct-img-container"
                        ng-repeat="busItem in directData.showTransitData track by $index">
                        <span ng-if="busItem.flag!=='test'" class="glyphicon glyphicon-remove-sign remove"
                        ng-click="minusTransitData(busItem,$index)"></span>
                        <span ng-if="busItem.flag==='test'" class="remove" style="width:12px;height: 14px;">
                        </span>
                        <img class="lanePic"
                        ng-if="items.flag!=='test'"
                        ng-src="../../../images/road/1301/1301_1_{{busItem.flag}}.svg"
                        title="{{items}}">
                        <img class="lanePic"
                        ng-if="items.flag==='test'"
                        ng-src="../../../images/road/1301/1301_1_test.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>