

<div  ng-controller="normalController" id="traffiLimitedDiv" oncontextmenu=self.event.returnValue=false>
    <div style="height:50px">
        <form class="form-horizontal" method="get">
            <div class="panel panel-default " style="background-color: transparent;border:0;">
                <div class="panel-heading font-bold" style=" border:0;height: 100%; background-color: transparent;color:#FFF;padding: 10px 15px;">
                    普通交限
                    <span ng-if="brigeLinkArrays==null" class="label label-info" >{{rdRestrictData.pid}}</span>
                </div>
            </div>
        </form>
    </div>
    <form name="restricOrdinaryForm">
    <ul  class="list-group list-group-lg m-b-none">
        <li class="list-group-item">
            <div ng-repeat="item in rdRestrictData.details" class="inline">
                <img ng-if="item.flag===1" ng-src="../../images/road/1302/1302_1_{{item.restricInfo}}.svg" class="show-tips" data-index="{{$index}}" ng-class="{'active':$index==0}" ng-click="showTips(item,$event,$index)" ng-mousedown="deleteDirect(item,$event)">
                <img  ng-if="item.flag===2||item.flag===0" ng-src="../../images/road/1302/1302_2_{{item.restricInfo}}.svg" data-index="{{$index}}" ng-class="{'active':$index==0}" class="show-tips" ng-click="showTips(item,$event,$index)" ng-mousedown="deleteDirect(item,$event)">

            </div>
            <div class="inline">
                <span style="float:right;font-size: 20px;position:absolute;right:0px;top: 20px;cursor: pointer" class="glyphicon glyphicon-plus" ng-click="showAddDirectTepl()"></span>
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">进入</label></div>
            <div class="inline"><input type="text" ng-model="rdRestrictData.inLinkPid" readonly/></div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">退出</label></div>
            <div class="inline"><input type="text" ng-click="changeOutLink(rdSubRestrictData)" ng-model="rdSubRestrictData.outLinkPid" readonly/></div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">交限标志</label></div>
            <div class="radio inline" style="text-align: left">
                <label>
                    <input type="radio" name="theoryOrActual" value=0 ng-model="rdSubRestrictData.flag" ng-click="changeType(rdSubRestrictData)">
                    未验证
                </label>
                <label>
                    <input type="radio" name="theoryOrActual" value=1 ng-model="rdSubRestrictData.flag" ng-click="changeType(rdSubRestrictData)">
                    实地
                </label>
                <label>
                    <input type="radio" name="theoryOrActual" value=2 ng-model="rdSubRestrictData.flag" ng-click="changeType(rdSubRestrictData)">
                    理论
                </label>
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">关系类型</label></div>
            <div class="radio inline" style="text-align: left">
                <label>
                    <input type="radio" name="crossingOrLine" value=1 ng-model="rdSubRestrictData.relationshipType">
                    路口
                </label>
                <label>
                    <input type="radio" name="crossingOrLine" value=2 ng-model="rdSubRestrictData.relationshipType">
                    线线
                </label>
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">限制类型</label></div>
            <div class="radio inline">
                <label ng-click="changeLimitType(0);">
                    <input type="radio" name="researchOrLimited" value=0 ng-model="rdSubRestrictData.type">
                    未调查

                </label>
                <label ng-click="changeLimitType(1);">
                    <input type="radio" name="researchOrLimited" value=1 ng-model="rdSubRestrictData.type">
                    禁入驶入

                </label>
                <label ng-click="changeLimitType(2);">
                    <input type="radio" name="researchOrLimited" value=2 ng-model="rdSubRestrictData.type" title="时间段禁止" ng-disabled="rdSubRestrictData.flag == 2">
                   时间段禁止
                </label>
            </div>
        </li>
        <li class="list-group-item" style="padding:7px;" ng-if="rdSubRestrictData.type==='2'||rdSubRestrictData.type===2">
            <div ng-include="dateURL" class="muti-date" data-type="1" date-str='{{rdSubRestrictData["conditions"][0]["timeDomain"]}}' style="width:100%;padding: 5px;"></div>
        </li>

    </ul>
    </form>
</div>