body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:897px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:380px;
  top:37px;
  width:517px;
  height:83px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:83px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:404px;
  top:229px;
  width:240px;
  height:10px;
  -webkit-transform:rotate(352deg);
  -moz-transform:rotate(352deg);
  -ms-transform:rotate(352deg);
  transform:rotate(352deg);
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u3 {
  position:absolute;
  left:641px;
  top:230px;
  width:210px;
  height:10px;
  -webkit-transform:rotate(10deg);
  -moz-transform:rotate(10deg);
  -ms-transform:rotate(10deg);
  transform:rotate(10deg);
}
#u3_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:193px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:5px;
  width:210px;
  height:1px;
}
#u4 {
  position:absolute;
  left:512px;
  top:206px;
  width:30px;
  height:20px;
  -webkit-transform:rotate(351deg);
  -moz-transform:rotate(351deg);
  -ms-transform:rotate(351deg);
  transform:rotate(351deg);
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:490px;
  top:361px;
  width:30px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:450px;
  top:361px;
  width:30px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:480px;
  top:203px;
  width:30px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:40px;
  top:30px;
  width:269px;
  height:361px;
}
#u12_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:279px;
  height:371px;
}
#u13 {
  position:absolute;
  left:2px;
  top:172px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:46px;
  top:278px;
  width:248px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:50px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:40px;
  top:65px;
  width:269px;
  height:44px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:44px;
}
#u17 {
  position:absolute;
  left:2px;
  top:14px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:66px;
  top:72px;
  width:70px;
  height:28px;
  font-size:12px;
  color:#1E1E1E;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
}
#u19 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:289px;
  top:32px;
  width:18px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:54px;
  top:38px;
  width:94px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:26px;
}
#u23 {
  position:absolute;
  left:0px;
  top:5px;
  width:94px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:44px;
  top:312px;
  width:260px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:243px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:260px;
  height:1px;
}
#u25 {
  position:absolute;
  left:218px;
  top:38px;
  width:76px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u26 {
  position:absolute;
  left:0px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:54px;
  top:117px;
  width:240px;
  height:26px;
  font-size:14px;
  color:#000000;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:26px;
}
#u28 {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:51px;
  top:143px;
  width:253px;
  height:25px;
  color:#000000;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:25px;
}
#u30 {
  position:absolute;
  left:0px;
  top:4px;
  width:253px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:51px;
  top:169px;
  width:253px;
  height:21px;
  color:#000000;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:21px;
}
#u32 {
  position:absolute;
  left:0px;
  top:2px;
  width:253px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:51px;
  top:196px;
  width:253px;
  height:21px;
  color:#000000;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:21px;
}
#u34 {
  position:absolute;
  left:0px;
  top:2px;
  width:253px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:51px;
  top:217px;
  width:253px;
  height:31px;
  color:#000000;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:31px;
}
#u36 {
  position:absolute;
  left:0px;
  top:8px;
  width:253px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:208px;
  top:325px;
  width:50px;
  height:50px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u38 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:81px;
  top:327px;
  width:50px;
  height:50px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u40 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:59px;
  top:341px;
  width:12px;
  height:18px;
  color:#999999;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:18px;
}
#u42 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:139px;
  top:342px;
  width:12px;
  height:18px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:18px;
}
#u44 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  word-wrap:break-word;
}
