<style>

    div {
        -webkit-font-smoothing: antialiased;
        line-height: 1.42857143;
        color: #58666e;
        /*background-color: transparent;*/
        margin-right: 0px;

    }

    .list-group-item {
        position: relative;
        display: block;
        padding: 1px 5px;
        margin-bottom: -1px;
        /*border: 1px solid #ddd;*/
        border: 0;
    }

    #zoneProperDiv {
        opacity: 1;
        width: 100%;
        font-size: 12px;
    }

    #zoneProperDiv ul {
        list-style: none;
        overflow: hidden;
        width: 100%;
        margin: 5px;
        border-radius: 4px;

    }

    #zoneProperDiv ul > li {
        background-color: #555;
        border-right: none;
        border-left: none;
    }

    #zoneProperDiv ul > li > div > input[type='text'] {
        color: #F3F6FA;
        width: 160px;
        padding-left: 5px;
        border-radius: 4px;
        margin-top: 5px;
        border: 1px solid #FFFFFF;
        border-style: ridge;
        background-color: #333;
    }

    #zoneProperDiv ul > li > div > select {
        color: #F3F6FA;
        margin-left: -3px;
        width: 170px;
        border-radius: 4px;
        margin-top: 5px;
        border: 1px ridge #FFFFFF;
        background-color: #333;
    }

    #zoneProperDiv ul > li > div:first-child {
        display: inline-block;
        width: 80px;
        padding-top: 4px;
    }

    #zoneProperDiv ul > li > label {
        color: #F3F6FA;
        font-weight: normal;
    }

    #zoneProperDiv ul > li > div > label {
        color: #F3F6FA;
        font-weight: normal;
    }

    .m-b-none {
        margin-bottom: 0 !important;
    }

    .inline {
        display: inline-block !important;
        /*width:100px;*/
        text-align: left;
    }

    .radio {
        margin-bottom: 0px;
        margin-top: 0px;
    }

</style>
<div id="zoneProperDiv" ng-controller="zonePeopertyController">
    <ul class="list-group list-group-lg m-b-none">
        <li class="list-group-item">
            <div><label class="control-label">开发状态</label></div>
            <div class="radio inline" style="text-align: left">
                <label>
                    <input type="radio" name="developStateRadio" value="0" ng-model="zoneData.developState">
                    非详细
                </label>
                <label>
                    <input type="radio" name="developStateRadio" value="1" ng-model="zoneData.developState">
                    详细
                </label>
                <label>
                    <input type="radio" name="developStateRadio" value="2" ng-model="zoneData.developState">
                    未验证
                </label>
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">城市道路</label></div>

            <div class="radio inline" style="text-align: left">
                <label>
                    <input type="radio" name="urbanRadio" value="0" ng-model="zoneData.urban">
                    否
                </label>
                <label>
                    <input type="radio" name="urbanRadio" value="1" ng-model="zoneData.urban">
                    是
                </label>
            </div>
        </li>

        <li class="list-group-item">
            <div><label class="control-label">左区划号码</label></div>

            <div class="inline" style="text-align: left">
                <input type="text" placeholder="0530" ng-model="zoneData.leftRegionId">
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">右区划号码</label></div>

            <div class="inline" style="text-align: left">
                <input type="text" placeholder="0530" ng-model="zoneData.rightRegionId">
            </div>
        </li>
    </ul>


    <ul class="list-group list-group-lg m-b-none">
        <li class="list-group-item">
            <div class="inline" style="text-align: left;width: 120px;">
                <a style="cursor: pointer;color:#FFF;">zone（共<span
                        ng-if="zoneData!=undefined">{{zoneData.zones.length}}</span>条）</a>
            </div>
        </li>
    </ul>
    <ul class="list-group list-group-lg m-b-none" ng-repeat="item in zoneData.zones">
        <li class="list-group-item">
            <div><label class="control-label">区划号码</label></div>
            <div class="inline">
                <input type="number" placeholder="0" ng-model="item.regionId">
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">Zone类型</label></div>
            <div class="inline">
                <select ng-model="item.type" ng-options="value.id as value.label for value in typeoption">
                    <option>--</option>
                </select>
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">Link左右</label></div>
            <div class="radio inline" style="text-align: left">
                <label>
                    <input type="radio" name="sideRadio" value="0"
                           ng-model="item.side">
                    左
                </label>
                <label>
                    <input type="radio" name="sideRadio" value="1"
                           ng-model="item.side">
                    右
                </label>
            </div>
        </li>
    </ul>
</div>