<style>
    .list-group-item {
        position: relative;
        display: block;
        padding: 1px 15px;
        margin-bottom: -1px;
        /*background-color: #000;*/
        /*border: 1px solid #ddd;*/
        border: 0;
    }

    #oridinaryLimitDiv {
        opacity: 1;
        width: 100%;
        font-size: 12px;
    }

    #oridinaryLimitDiv ul {
        list-style: none;
        overflow: hidden;
        width: 100%;
        margin: 5px;
        border-radius: 4px;
        height: 600px;
    }

    #oridinaryLimitDiv ul > li {
        background-color: #555;
    }

    #oridinaryLimitDiv ul > li > div > input {
        color: #F3F6FA;
        width:170px;
        margin-left: -3px;
        padding-left: 5px;
        border-radius: 4px;
        margin-top: 5px;
        border: 1px solid #FFFFFF;
        border-style: ridge;
        background-color: #333;
    }

    #oridinaryLimitDiv ul > li > div > select {
        color: #F3F6FA;
        margin-left: -3px;
        width:170px;
        border-radius: 4px;
        border: 1px ridge #FFFFFF;
        background-color: #333;
    }

    #oridinaryLimitDiv ul > li > div:first-child {
        display:inline-block;
        width: 80px;
    }

    #oridinaryLimitDiv ul > li > label {
        color: #F3F6FA;
        font-weight: normal;
    }

    #oridinaryLimitDiv ul > li > div > label {
        color: #F3F6FA;
        font-weight: normal;
    }

    .inline {
        display: inline-block !important;
        /*width: 70%;*/
        text-align: left;
    }

    .m-b-none {
        margin-bottom: 0 !important;
    }

    .form-horizontal .control-label {
        text-align: center;
    }

    .radio {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .checkboxThree:after {
        content: '否';
        position: absolute;
        top: 3px;
        left: 50px;
        height: 2px;
        color: #ddd;
        font-size: 16px;
    }

    .checkboxThree label {
        display: block;
        width: 32px;
        height: 20px;
        border-radius: 50px;

        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        -ms-transition: all .5s ease;
        transition: all .5s ease;
        cursor: pointer;
        position: absolute;
        top: 3px;
        z-index: 5;
        left: 3px;
        background: #ddd;
    }

    /**
     * Create the checkbox event for the label
     */
    .checkboxThree input[type=checkbox]:checked + label {
        left: 50px;
        background: #26ca28;
    }

    .checkboxli {
        /*background-color: #e4e4e4;*/
        border: 1px solid #aaa;
        border-radius: 4px;
        cursor: default;
        float: left;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
        padding: 0 5px;
    }

    .popover {
        width: 100%;
        background-color: #555;
    }
    .popover-content {
        overflow-y: auto;
        height: 150px;
        padding: 9px 10px;
        color: white;
        font-size: 12px;
    }
    .popover-content::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background: transparent;
    }
    .popover-content::-webkit-scrollbar:hover {
        background: transparent;
    }
    .popover-content::-webkit-scrollbar-track {
        background: none;
    }
    .popover-content::-webkit-scrollbar-thumb {
        background: rgba(0,0,0,.18);
        border-color: transparent;
        width: 6px;
        border-radius: 3px;
    }
    .popover-content::-webkit-scrollbar-thumb:hover {
        background: rgba(0,0,0,.25);
    }
    .popover-content::-webkit-scrollbar-track:hover {
        background: transparent;
    }
    .dark .popover-content::-webkit-scrollbar,
    .dark.popover-content::-webkit-scrollbar {
        width: 6px;
        background: transparent;
    }
    .dark .popover-content::-webkit-scrollbar-thumb,
    .dark.popover-content::-webkit-scrollbar-thumb {
        background: rgba(255,255,255,.18);
        border-color: transparent;
    }
    .dark .popover-content::-webkit-scrollbar-thumb:hover,
    .dark.popover-content::-webkit-scrollbar-thumb:hover {
        background: rgba(255,255,255,.25);
    }
    .dark .popover-content::-webkit-scrollbar:hover,
    .dark.popover-content::-webkit-scrollbar:hover {
        background: transparent;
    }
    .dark .rounded-toggle {
        background: rgba(0,0,0,.25);
    }
    .popover-title{
        padding: 8px 14px;
        margin: 0;
        font-size: 12px;
        background-color: #555;
        border-bottom: 1px solid #ebebeb;
        border-radius: 5px 5px 0 0;
        color: white;
    }

    input:disabled,select:disabled{
        cursor: not-allowed;
    }

</style>
<div ng-controller="ordinaryLimitController" id="oridinaryLimitDiv" style="font-size: 12px">
    <ul class="list-group list-group-lg m-b-none">
        <li class="list-group-item">
            <div><label class="control-label" >供用信息</label></div>
            <div class="inline">
                <select  ng-model="linkData.appInfo"
                        ng-options="value.id as value.label for value in appInfoOptions">
                    <option>--</option>
                </select>
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label" >限制类型</label></div>
            <div class="inline">
                <select ng-change="limitTypeChange()" ng-model="oridiData.type"
                        ng-options="value.id as value.label for value in typeOptions">
                    <option>--</option>
                </select>
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label" >限制方向</label></div>
            <div class="inline">
                <select  ng-model="oridiData.limitDir" ng-disabled="oridiData.type==0||oridiData.type==2||oridiData.type==3||oridiData.type==4"
                        ng-options="value.id as value.label for value in limitDirOptions"  ng-change="changeDirect(oridiData.limitDir)">
                    <option>--</option>
                </select>
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label" >收费类型</label></div>
            <div class="inline">
                <select  ng-model="oridiData.tollType" ng-disabled="oridiData.type!=6"
                        ng-options="value.id as value.label for value in tollTypeOptions">
                </select>
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label" >天气条件</label></div>
            <div class="inline">
                <select  ng-model="oridiData.weather"
                        ng-options="value.id as value.label for value in weatherOptions">
                    <option>--</option>
                </select>
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">录入时间</label></div>
            <div class="inline"><input type="text" ng-disabled="oridiData.type==0||oridiData.type==4" ng-model="oridiData.inputTime"/></div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">赋值方式</label></div>
            <div class="radio inline" style="text-align: left">
                <label>
                    <input type="radio" ng-disabled="oridiData.type==0||oridiData.type==1||oridiData.type==2||oridiData.type==4||oridiData.type==5||oridiData.type==6||oridiData.type==7" name="processFlagRadio" value=0 ng-model="oridiData.processFlag">
                    默认
                </label>
                <label>
                    <input type="radio" ng-disabled="oridiData.type==0||oridiData.type==1||oridiData.type==2||oridiData.type==4||oridiData.type==5||oridiData.type==6||oridiData.type==7" name="processFlagRadio" value=1 ng-model="oridiData.processFlag">
                    外业
                </label>
                <label>
                    <input type="radio" ng-disabled="oridiData.type==0||oridiData.type==1||oridiData.type==2||oridiData.type==4||oridiData.type==5||oridiData.type==6||oridiData.type==7" name="processFlagRadio" value=2 ng-model="oridiData.processFlag">
                    未验证
                </label>
            </div>
        </li>
        <li class="list-group-item">
            <div ng-include="dateURL" class="muti-date" date-str='{{oridiData.timeDomain}}' style="width:100%;padding: 5px;"></div>
        </li>
        <!--<li class="list-group-item">-->
            <!--<div ng-include="dateURL" class="muti-date" date-str='{{item.timeDomain}}'></div>-->
        <!--</li>-->
        <li class="list-group-item">
            <div ng-include="carPopoverURL"  style="width:100%;padding: 5px;"></div>
            <!--<div class="inline" style="width:100%;">-->
                <!--<div style="text-align: center;"><a style="cursor: pointer;"  ng-click="showPopover($index,item.vehicle)">添加</a><input  type="checkbox" id="checkallow" ng-checked="checkValue" ng-click="checkViche()" ng-model="checkValue">允许</div>-->

                <!--<div  id="vehicleExpressiondiv"-->
                      <!--style="min-width:60px; min-heigth:60px;list-style: none;border:1px solid #58666e; height:40%;float:left; width:100%;overflow-y:auto;word-break: break-all;word-wrap: break-word;"-->
                      <!--tabindex="0" role="button" data-toggle="popover"  title="车辆类型">-->
                <!--</div>-->
            <!--</div>-->
        </li>
    </ul>

</div>