<style>
    div {
        -webkit-font-smoothing: antialiased;
        line-height: 1.42857143;
        color: #58666e;
        /*background-color: transparent;*/
        margin-right: 0px;
    }
    .list-group-item {
        position: relative;
        display: block;
        padding: 1px 15px;
        margin-bottom: -1px;
        /*background-color: #000;*/
        /*border: 1px solid #ddd;*/
        font-size: 12px;
        border: 0;
    }

    #oridinaryRticsDiv {
        opacity: 1;
        width: 100%;
    }

    #oridinaryRticsDiv ul {
        list-style: none;
        overflow: hidden;
        width: 97%;
        float: left;
        margin: 5px;
        border-radius: 4px;
    }

    #oridinaryRticsDiv ul > li {
        background-color: #555;
    }

    #oridinaryRticsDiv ul > li > div > input {
        color: #F3F6FA;
        border-radius: 4px;
        margin-left: -3px;
        padding-left: 5px;
        border: 1px ridge #FFFFFF;
        background-color: #333;
    }

    #oridinaryRticsDiv ul > li > div > select {
        color: #F3F6FA;
        margin-left: -3px;
        width: 170px;
        border-radius: 4px;
        border: 1px ridge #FFFFFF;
        background-color: #333;
    }

    #oridinaryRticsDiv ul > li > div:first-child {
        display: inline-block;
        width: 80px;
        padding-top: 3px;
    }

    #oridinaryRticsDiv ul > li > label {
        color: #F3F6FA;
        font-weight: normal;
    }

    #oridinaryRticsDiv ul > li > div > label {
        color: #F3F6FA;
        font-weight: normal;
    }

    .inline {
        display: inline-block !important;
        text-align: left;
        padding-top: 5px;
    }

    .m-b-none {
        margin-bottom: 0 !important;
    }

    .radio {
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .checkboxThree:after {
        content: '否';
        position: absolute;
        top: 3px;
        left: 50px;
        height: 2px;
        color: #ddd;
        font-size: 16px;
    }

    .checkboxThree label {
        display: block;
        width: 32px;
        height: 20px;
        border-radius: 50px;

        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        -ms-transition: all .5s ease;
        transition: all .5s ease;
        cursor: pointer;
        position: absolute;
        top: 3px;
        z-index: 5;
        left: 3px;
        background: #ddd;
    }

    /**
     * Create the checkbox event for the label
     */
    .checkboxThree input[type=checkbox]:checked + label {
        left: 50px;
        background: #26ca28;
    }

</style>
<div ng-controller="oridinaryRticsController" id="oridinaryRticsDiv">
    <ul class="list-group list-group-lg m-b-none">
        <li class="list-group-item">
            <div><label class="control-label">RTIC代码</label></div>
            <div class="inline"><input style="width:148px;" type="text" ng-model="oridiData.code"/>
                    <span ng-click="addRticCode()"  class="glyphicon glyphicon-plus" style="cursor: pointer;margin-left: 3px;color:#FFF;"></span>
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label" >RTIC等级</label></div>
            <div class="inline">
                <select  ng-model="oridiData.rank"
                         ng-options="value.id as value.label for value in rankoption" ng-change="changeRank()">
                    <option>--</option>
                </select>
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label" >RTIC方向</label></div>
            <div class="inline">
                <select  ng-model="oridiData.rticDr"
                         ng-options="value.id as value.label for value in rticDroption" ng-change="changeDirect(oridiData.rticDr)">
                    <option>--</option>
                </select>
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">上下行 标识</label></div>
            <div class="radio inline" style="text-align: left">
                <label>
                    <input type="radio" name="updownFlagRadio" value=0 ng-model="oridiData.updownFlag">
                    上行
                </label>
                <label>
                    <input type="radio" name="updownFlagRadio" value=1 ng-model="oridiData.updownFlag">
                    下行
                </label>
            </div>
        </li>

        <li class="list-group-item">
            <div><label class="control-label">RTIC域类型</label></div>
            <div class="radio inline" style="text-align: left">
                <label>
                    <input type="radio" name="processFlagRadio" value=0 ng-model="oridiData.rangeType">
                    未调查
                </label>
                <label>
                    <input type="radio" name="processFlagRadio" value=1 ng-model="oridiData.rangeType">
                    上坡
                </label>
                <label>
                    <input type="radio" name="processFlagRadio" value=2 ng-model="oridiData.rangeType">
                    下坡
                </label>
            </div>
        </li>
    </ul>
</div>