html,
body {
    width: 100%;
    height: 100%;
    min-height: 300px;
    min-width: 400px;
    font-family: "Microsoft Yahei", Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: rgb(244, 244, 244);
}
/******************************************导航**************************************************/






















/********************************************************************************/


/************新的界面风格********************************************************/


/********************************************************************************/

.fm-top {
    position: absolute;
    border-bottom: 1px solid #acacac;
    background-color: #ffffff;
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
    z-index: 2
}

.fm-top-btn {
    display: inline-block;
    height: 26px;
    width: 26px;
    line-height: 26px;
    border: none;
    border-radius: 5px;
    margin: 7px 4px;
    padding: 0px;
    background: #ffffff;
    vertical-align: top;
    font-size: 12px;
    text-align: center;
}

.fm-top-btn.blank {
    color: #8f9acc;
    background: url("../../images/main/btn-icon/blank.png") no-repeat center center;
}

.fm-top-btn.blank:hover, .fm-top-btn.blank:focus, .fm-top-btn.blank.active {
    color: #ffffff;
    background: #5896ff;
}

.fm-top-btn.blank:focus, .fm-top-btn.blank.active {
    color: #5896ff;
    /*background: #ffffff;*/
    /*border: 1px solid #5896ff;*/
    background: url("../../images/main/btn-icon/blank.png") no-repeat center center;
    vertical-align: top;
}

.fm-top-btn.select-node-ft {
    background: url("../../images/main/btn-icon/select-node-ft.png") no-repeat center center;
}

.fm-top-btn.select-node {
    background: url("../../images/main/btn-icon/select-node.png") no-repeat center center;
}

.fm-top-btn.select-path {
    background: url("../../images/main/btn-icon/select-path.png") no-repeat center center;
}

.fm-top-btn.select-face {
    background: url("../../images/main/btn-icon/select-face.png") no-repeat center center;
}

.fm-top-btn.more {
    background: url("../../images/main/btn-icon/more-btn.png") no-repeat center center;
}

.fm-top-btn.more:hover {
    background: url("../../images/main/btn-icon/more-btn-hover.png") no-repeat center center;
}

.fm-top-btn.more.active, .fm-top-btn.more:focus {
    background: url("../../images/main/btn-icon/more-btn-active.png") no-repeat center center;
}

.fm-top-btn.split {
    background: url("../../images/main/btn-icon/split.png") no-repeat center center;
}

.fm-top-btn-group {
    display: inline-block;
}

.fm-top-right-btn {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: none;
    margin: 5px 15px;
    padding: 0px;
    background: #ffffff;
    vertical-align: top;
    font-size: 12px;
    text-align: center;
}

.fm-top-right-btn.profile {
    background: url("../../images/main/btn-icon/profile.png") no-repeat center center;
}

.fm-top-right-btn.notice {
    background: url("../../images/main/btn-icon/notice.png") no-repeat center center;
}

.fm-top-right-btn.logout {
    background: url("../../images/main/btn-icon/logout.png") no-repeat center center;
}

