<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>FastMap设施编辑系统</title>
        <link href="../../../favicon.ico" rel="icon" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/bootstrap-3.3.5/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/bootstrap-3.3.5/css/bootstrap-theme.css"/>
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/ui-layout/ui-layout.css">
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/leaflet-0.7.3/leaflet.css">
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/sweet-alert/css/sweet-alert.css">
        <link rel="stylesheet" type="text/css" href="../../../scripts/libs/angular-chosen/chosen.css"/>
        <link rel="stylesheet" type="text/css" href="../../../styles/poi/poiEditor.css">
        <script src="../../../scripts/libs/leaflet-0.7.3/leaflet-src.js"></script>
        <script type="text/javascript" src="../Application.js"></script>
        <script type="text/javascript" src="../../../scripts/fastmap/fastmap.js"></script>
        <script type="text/javascript" src="../../../scripts/fastmap/fastmap-util.js"></script>
        <script type="text/javascript" src="../../../scripts/dataApi/dataModel-poi-new.js"></script>
        <script src="loadMapApi.js"></script>
        <script src="loadUikit.js"></script>
        <script src="loadCanvasFeature.js"></script>
    </head>
    <body ng-controller="PoiEditorCtl">
        <div ui-layout="{flow:'column',dividerSize:'0'}" ui-layout-loaded>
            <div ui-layout-container class="fm-banner" size="50px">
                <div class="banner-top"><a><strong>FM</strong></a></div>
                <div class="banner-center">
                    <div ng-class="{1:'selected'}[selectedTool]" ng-click="changeEditTool('tipsPanel')">
                        <a><i title="成果" class="glyphicon glyphicon-home"></i></a>
                    </div>
                    <div ng-class="{2:'selected'}[selectedTool]" ng-click="changeEditTool('scenePanel')">
                        <a><i title="场景" class="glyphicon glyphicon-facetime-video"></i></a>
                    </div>
                    <div ng-class="{3:'selected'}[selectedTool]" ng-click="changeEditTool('layerPanel')">
                        <a><i title="图层" class="glyphicon glyphicon-tasks"></i></a>
                    </div>
                    <div ng-class="{3:'selected'}[selectedTool]" ng-click="changeEditTool('layerPanel')">
                        <a href="../../roadnet/editor.html"><i title="道路编辑" class="glyphicon glyphicon-pencil"></i></a>
                    </div>
                </div>
                <div class="banner-bottom">
                    <div><a><i title="用户" class="glyphicon glyphicon-user"></i></a></div>
                    <div><a><i title="退出" class="glyphicon glyphicon-log-out"></i></a></div>
                </div>
            </div>
            <div ui-layout-container>
                <div ui-layout="{flow:'column',dividerSize:'0',disableToggle:true}">
                    <div class="fm-container fm-col" ui-layout-container size="250px" min-size="250px">
                        <div class="title"><i class="glyphicon glyphicon-list"></i> POI数据</div>
                        <div class="fm-tabs">
                            <a href="#" ng-class="{'tab': true, 'active': dataListType == 1}" ng-click="changeDataList(1)">待作业</a>
                            <a href="#" ng-class="{'tab': true, 'active': dataListType == 2}" ng-click="changeDataList(2)">待提交</a>
                            <a href="#" ng-class="{'tab': true, 'active': dataListType == 3}" ng-click="changeDataList(3)">已提交</a>
                        </div>
                        <div class="content">
                            <div class="table-toolbar">
                                <div class="table-search fm-inline">
                                    <button>名称</button><input class="fm-ctl" placeholder="搜索">
                                </div>
                            </div>
                            <table class="table table-bordered table-condensed" style="color:#fff;margin-top:8px;margin-bottom:0px;">
                                <thead>
                                    <td>序号</td>
                                    <td>名称</td>
                                    <td>分类</td>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in poiList" ng-click="selectData(item)" style="cursor:pointer;">
                                        <td>{{$index + 1}}</td>
                                        <td>{{item.name}}</td>
                                        <td>{{item.kindCode}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <nav>
                                <ul class="pagination" style="margin:8px 0px 0px;">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div ui-layout-container>
                        <div ui-layout="{flow:'row',dividerSize:'0'}">
                            <div ui-layout-container id="map" style="background-color:#FFF;width: 100%;height: 100%;position: absolute;"></div>
                            <div id="toolsDiv" style="left:5px;top:5px;height: 40px;position: absolute;z-index:1;background-color: transparent">
                                <div class="btn-toolbar" style="margin-left: 0px">
                                    <div ng-include="selectShapeURL" style="float: left"></div>
                                    <div ng-include="addShapeURL" style="float: left;"></div>
                                    <div ng-include="modifyToolURL" style="float: left"></div>
                                </div>
                            </div>
                        </div>
                        <div ng-include="generalBaseTpl"></div>
                        <div ng-include="consoleDeskTpl"></div>
                        <div class="popoverTips" ng-class="tips_show">
                            <div class="tipsPanel">
                                <div ng-include="" style="width:100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" data-main="poiEditor-require" src="../../../scripts/libs/require/require.js"></script>
    </body>
</html>