<style>
    .clearfix .btn-ls{
        background-color: #000;
        border: 1px solid #ccc;
    }
    .fm-tabs a.tab{
        border-bottom: 1px solid #000;
    }
    /*进度条样式*/
    .progressWrap{
        width: 300px;
        height: 20px;
        display: inline-block;
        position: relative;
        top: 10px;
    }
    .progressWrap .progress{
        margin-bottom: 0px;
    }
    .customEditSet{
        top: 10px;
        font-size: 20px;
        cursor: pointer
    }

</style>
<div style="padding: 15px 0;color: white" ng-controller="photoEngNameCtrl">
    <div ng-show="isQuery" class="queryPart">
        <!--待作业和待提交tabs页切换-->
        <div class="fm-tabs clearfix">
            <a href="#" class="tab col-sm-1	 active" ng-class="{'stagnatedWork':'active'}[currentTabIndex]" ng-click="changeTaskStatus('stagnatedWork')"><i class="fa fa-tasks" aria-hidden="true"></i> 待作业</a>
            <a href="#" class="tab col-sm-1" ng-class="{'stagnatedSubmit':'active'}[currentTabIndex]" ng-click="changeTaskStatus('stagnatedSubmit')"><i class="fa fa-upload" aria-hidden="true"></i> 待提交</a>
        </div>
        <!--表格表头操作控制-->
        <div class="clearfix" style="padding: 10px">
            <!--自定义条数的template-->
            <script type="text/ng-template" id="myPopoverTemplate.html">
                <form role="form">
                    <div class="form-group" ng-repeat="item in costomWorkNumEum">
                        <div class="radio">
                            <label>
                                <input type="radio" name="selectNum" id="optionsRadios1" ng-checked="selectedNum==item.num" ng-click="selectNum(item)"> <span ng-bind="item.desc"></span>
                            </label>
                        </div>
                        <!--自定义输入框部分-->
                        <div ng-if="(selectedNum==item.num)&&$last" class="input-group">
                            <input class="form-control selectNumInput" ng-model="item.num" type="text" >
                                <span class="input-group-btn">
                                    <button ng-click="setInputValue(item.num)" class="btn btn-default" type="button">确认</button>
                                </span>
                        </div>
                    </div>
                </form>
            </script>
            <!--自定义条数的template-->
            <div class="pull-left">
                <span style="position: relative;top: 4px;padding: 2px 6px;" class="label label-primary">5条数据</span>
                <button type="button" class="btn btn-shape btn-ls" ng-click="batchWork()">批量作业</button>
                <button type="button" class="btn btn-shape btn-ls" ng-click="startOnlineCheck()">在线检查</button>
                <button ng-if="currentTabIndex=='stagnatedSubmit'" type="button" class="btn btn-shape btn-ls" ng-click="">提交数据</button>
                <!--自定义编辑条数控制-->
                <span role="button" popover-is-open="popoverIsOpen" popover-placement="bottom" uib-popover-template="customPopoverUrl" popover-title="每次作业条数:" class="glyphicon glyphicon-cog customEditSet"></span>
                <!--进度条控件-->
                <div class="progressWrap">
                    <uib-progressbar ng-if="onlineCheck" class="progress-striped active" value="progressValue" max="100"><i>{{progressValue}}%</i></uib-progressbar>
                </div>
            </div>
            <div class="pull-right">
                <div class="input-group" style="width: 280px">
                    <input style="background-color: #000;height: 30px;" type="text" class="form-control" placeholder="搜索">
                    <div class="input-group-btn">
                        <button type="button" style="background-color: #000;background-image: none;padding: 4px 12px;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i style="color: white;text-shadow: none;" class="glyphicon glyphicon-th icon-th"></i>&nbsp;<span style="color: white;" class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right fm-dropdown-menu">
                            <li ng-repeat="col in view.cols">
                                <label class="checkbox-inline">
                                    <input type="checkbox" ng-model-options="{getterSetter: true}" ng-model="col.show"/> {{col.title}}
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--查询主表格部分-->
        <div class="content">
            <div class="dark scroll-styled" style="color: white;padding: 5px 10px 0px 10px;max-height: 500px">
                <script type="text/ng-template" id="headerCheckboxId">
                    <input type="checkbox" ng-model="checkboxes.checked" class="select-all" value="" />
                </script>
                <table ng-table-dynamic="tableParams with view.cols" class="table table-condensed table-bordered clearfix">
                    <colgroup>
                        <col ng-repeat="col in view.cols | filter:{show: true}"  width="{{col.width || '400'}}"/>
                    </colgroup>

                    <tr ng-repeat="row in $data" ng-class="{true:'tr-backcolor',flase:''}[row.checked]">
                        <td ng-repeat="col in $columns" ng-dblclick="selectData(row,$index)" ng-switch="col.field">
                            <input ng-switch-when="selector" type="checkbox" ng-model="row[col.field]" />
                            <span ng-hide="col.field=='selector'" ng-bind-html="col.getValue?col.getValue(this,row):row[col.field]"></span>
                        </td>
                    </tr>
                    <tr class="text-center" ng-show="!$data.length"><td colspan="{{(view.cols | filter: {show: true}).length}}" ng-bind="loadTableDataMsg"></td></tr>
                </table>
            </div>
            <!--批处理弹框-->
            <div ng-show="batchWorkIsOpen">
                <div class="div-float" style="top:80px;left:120px;border-radius:5px;">
                    <button type="button" class="close" style="padding:0px 4px;font-size:28px;color:white;opacity:1;" ng-click="closeBatchModal()"><span>&times;</span></button>
                    <div class="fm-panel" style="margin:0px;width:330px;">
                        <div class="fm-tabs" style="padding:0px;margin: 0px;">
                            <a href="#" class="tab" ng-class="{1:'active'}[batchFlag]" ng-click="batchTabs(1)">替换</a>
                            <a href="#" class="tab" ng-class="{2:'active'}[batchFlag]" ng-click="batchTabs(2)">高级搜索</a>
                        </div>
                        <div class="bacthContent">
                            <div style="height:200px;">
                                <ul class="fm-ul fm-ul-form">
                                    <li>
                                        <label>字段:</label>
                                        <div>
                                            <select class="fm-control"  style="width:200px;" ng-model="batchParam.batchField"
                                                    placeholder_text_single="'--请选择--'"
                                                    ng-options="value.id as value.label for value in batchOpt"
                                                    ng-change="changeField($event, this)">
                                            </select>
                                        </div>
                                    </li>
                                    <li>
                                        <label>搜索:</label>
                                        <div>
                                            <input type="text" class="fm-control" style="width:200px;" ng-model="batchParam.value">
                                        </div>
                                    </li>
                                    <li ng-show="extractEle">
                                        <label>替换为:</label>
                                        <div>
                                            <input type="text" class="fm-control" style="width:200px;" ng-model="admin">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div style="border-bottom: 1px solid #ddd;"></div>
                        <div style="text-align:right;">
                            <button type="button" class="btn btn-main" ng-click="cancle()" style="margin:6px 8px">取消</button>
                            <button type="button" class="btn btn-main" ng-show="extractEle" ng-click="extractData()" style="margin:6px 8px">提取数据</button>
                            <button type="button" class="btn btn-main" ng-show="searchBtn" ng-click="searchWork()" style="margin:6px 8px">搜索作业</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 编辑界面 -->
    <div ng-show="!isQuery" class="editPart" style="padding: 0 10px">
        <div class="fm-panel">
            <div class="title">
                <span style="cursor: pointer">照片录入英文名称</span>
                <button type="button" class="close" ng-click="closeEditPanel()" style="color: white;opacity: 1;margin: -4px 0px;"><span>&times;</span></button>
            </div>
            <div class="clearfix">
                <div class="fm-fitsize dark scroll-styled tablePosition" style="top:50px;color: white;padding: 0 10px">
                    <table ng-table-dynamic="editorTable with editor.editorCols" class="table table-condensed table-bordered poi-list">
                        <colgroup>
                            <col ng-repeat="col in editor.editorCols | filter:{show: true}"  width="{{col.width || '50'}}"/>
                        </colgroup>
                        <tr ng-repeat="row in $data">
                            <td ng-repeat="col in $columns">
                                <span ng-if="!col.html" ng-bind-html="col.getValue?col.getValue(this,row):row[col.field]"></span>
                                <span ng-if="col.html" fm-bind-compiled-html="col.getValue(this, row)"></span>
                            </td>
                        </tr>
                        <tr class="text-center" ng-show="!$data.length"><td colspan="{{(editor.editorCols | filter: {show: true}).length}}" ng-bind="loadTableDataMsg"></td></tr>
                    </table>
                </div>
            </div>
            <div class="footer footerPotistion" >
                <button type="button" class="btn btn-shape btn-ls" ng-click="saveData();">保  存</button>
            </div>
        </div>
        <!-- 编辑界面弹出层 -->
        <div class="div-float" ng-show="showImgInfoo" drag style="height: 400px;width: 700px;">
            <div class="fm-panel"  >
                <div class="title">
                    <span style="cursor: pointer">详细信息</span>
					<span class="toolRight">
						<i class="fa fa-arrows" drag-handle></i>
						<i class="fa fa-close" ng-click="closeView()"></i>
					</span>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8" style="position: relative">
                            <div style="height: 305px">
                                <div id="Carousel" class="carousel slide">
                                    <ol class="carousel-indicators">
                                        <li data-target="Carousel" data-slide-to="0" class="active"></li>
                                        <li data-target="Carousel" data-slide-to="1"></li>
                                        <li data-target="Carousel" data-slide-to="2"></li>
                                    </ol>
                                    <div class="carousel-inner" style="height: 305px;">
                                        <div class="item active" style="height: 305px;">
                                            <img src="../../../images/poi/main/test.png" class="img-responsive">
                                        </div>
                                        <div class="item" style="height: 305px;">
                                            <img src="../../../images/poi/main/test.png" class="img-responsive">
                                        </div>
                                        <div class="item" style="height: 305px;">
                                            <img src="../../../images/poi/main/test.png" class="img-responsive">
                                        </div>
                                    </div>
                                    <a class="left carousel-control" href="#Carousel" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="#Carousel" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <table class="table">
                                <tr>
                                    <td style="width: 25%;">PID:</td>
                                    <td>12345678</td>
                                </tr>
                                <tr>
                                    <td>作业员:</td>
                                    <td>张三</td>
                                </tr>
                                <tr>
                                    <td>FID:</td>
                                    <td>1111111111111</td>
                                </tr>
                                <tr>
                                    <td>地域:</td>
                                    <td>北京凉山彝族自治州会理县</td>
                                </tr>
                                <tr>
                                    <td>图符号:</td>
                                    <td>898989</td>
                                </tr>
                                <tr>
                                    <td>图片:</td>
                                    <td>0张</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!---->

</div>