
<div ng-controller="addDirectOfConnexityController" id="addDirectOfConnexityDiv">
    <ul class="list-group list-group-lg m-b-none">
        <li class="list-group-item">
            <div><label class="control-label" style="color: #fff">修改车信</label></div>
        </li>
        <li class="list-group-item">
            <div  class="trafficPic">
                <img  ng-repeat="addItem in addRdLancdData"
                      ng-src="../../images/road/1301/1301_0_{{addItem.id}}.svg"
                      ng-click="selectLaneInfo(addItem,$index)">
            </div>
        </li>

    </ul>


</div>