<style>
    form[name=rdLaneConnexityForm] ul.fm-ul-form > li > div{
        width: inherit;
    }
    .lane-pic-container {
        display:inline-block;
        width:50px;
        height:90px;
        vertical-align:top;
        border: 1px solid gray;
        margin: 5px;
    }
</style>
<div ng-controller="rdLaneConnexityController" class="fm-component" oncontextmenu="self.event.returnValue=false">
    <div class="title">
        车信PID
        <span class="label label-info" title="点击显示整个车信" style="cursor: pointer;" ng-click="showMe()">{{CurrentObject.pid}}</span>
        <div style="display:inline-block;float:right;font-size: 20px;cursor: pointer" >
            <span title="增加车道" class="glyphicon glyphicon-plus" ng-click="addLane()"></span>
        </div>
    </div>
    <div class="content scroll-styled dark">
        <div class="fm-panel">
            <div class="content" style="min-height: 110px;">
                <div ng-repeat="item in CurrentObject.lanes track by $index" class="lane-pic-container">
                    <div class="lane-direct-img-container">
                        <img class="lanePic"
                        ng-src="../../../images/road/1301/1301_{{item.adt == 0?0:2}}_{{item.dir.flag}}.svg"
                        ng-mousedown="clickLane(item, $index, $event)">
                        <span class="glyphicon glyphicon-remove-sign remove"
                        ng-click="deleteLane(item, $index)"></span>
                    </div>
                    <div ng-if="item.busDir" class="lane-direct-img-container">
                        <img class="lanePic"
                        ng-src="../../../images/road/1301/1301_1_{{item.busDir.flag}}.svg"
                        ng-click="changeBusLaneDir(item, $index, $event)">
                        <span class="glyphicon glyphicon-remove-sign remove"
                        ng-click="deleteBusLane(item, $index)"></span>
                    </div>
                </div>
            </div>
        </div>
        <form name="rdLaneConnexityForm">
            <div class="fm-panel">
                <div class="content">
                    <ul class="fm-ul fm-ul-form">
                        <li>
                            <label class="control-label">进入线</label>
                            <div>
                                <input type="text" class="chosen-disabled" readonly disabled ng-model="CurrentObject.inLinkPid">
                            </div>
                        </li>
                        <li>
                            <label class="control-label">车道总数</label>
                            <div>
                                <input type="text" class="chosen-disabled" readonly disabled ng-model="CurrentObject.lanes.length"/>
                            </div>
                        </li>
                        <li>
                            <label class="control-label">附加车道</label>
                            <div>
                                <label for="leftAddtionalLane">左</label>
                                <input id="leftAddtionalLane" disabled class="chosen-disabled" type="text" style="width: 49px"
                                ng-value="CurrentObject.leftExtend">
                                <label for="rightAddtionalLane">右</label>
                                <input id="rightAddtionalLane" disabled class="chosen-disabled" type="text" style="width: 49px"
                                ng-value="CurrentObject.rightExtend">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>