<style>
    form[name=rdLaneConnexityForm] ul.fm-ul-form > li > div{
        width: inherit;
    }
</style>
<div ng-controller="rdLaneConnexityController" class="fm-component" oncontextmenu="self.event.returnValue=false">
    <div class="title">
        车信PID
        <span class="label label-info">{{lanesData.pid}}</span>
    </div>
    <div class="content scroll-styled dark" style="height:90%;">

        <form name="rdLaneConnexityForm">
            <!--<div style="width: 20px;text-align: right;margin-bottom: 10px;"><span-->
                    <!--style="float:left;font-size: 14px;color: #FFF;" class="glyphicon glyphicon-plus"-->
                    <!--ng-click="addLane()" title="增加车道"></span></div>-->
            <div class="fm-panel">
                <div class="content">
                    <div style="display: block; overflow: auto;">
                        <div style="display:inline-block;margin:5px 10px;" ng-repeat="item in showNormalData track by $index"
                             ng-if="showNormalData.length!==0">
                            <span style=" float:right;font-size:12px;margin-top:-5px;color:#fff;cursor:pointer;"
                                  class="glyphicon glyphicon-remove-sign" ng-click="minusLane($index)"></span>
                            <img class="lanePic" ng-if="item.type===0"
                                 ng-click="showLanesInfo(item,$index,$event)"
                                 ng-mousedown="changeDirect(item,$event,$index)"
                                 ng-src="../../../images/road/1301/1301_0_{{item.flag}}.svg"
                                 title="{{item}}">
                            <img class="lanePic" ng-if="item.type===2"
                                 ng-click="showLanesInfo(item,$index,$event)"
                                 ng-mousedown="changeDirect(item,$event,$index)"
                                 ng-src="../../../images/road/1301/1301_2_{{item.flag}}.svg"
                                 title="{{item}}">
                        </div>
                        <div class="inline">
                            <span style="float:right;font-size: 20px;position:absolute;right:0px;top: 20px;cursor: pointer" title="增加车道"
                                  class="glyphicon glyphicon-plus" ng-click="addLane()"></span>
                        </div>
                    </div>
                    <ul class="fm-ul fm-ul-form">
                        <li>
                            <label class="control-label">进入线</label>
                            <div><input type="text" class="chosen-disabled" readonly ng-model="lanesData.inLinkPid"
                                        disabled/></div>
                        </li>
                        <li>
                            <label class="control-label">车道总数</label>
                            <div><input type="text" readonly ng-model="lanesData.laneNum"/></div>
                        </li>
                        <li>
                            <label class="control-label">附加车道</label>
                            <div>
                                <label for="leftAddtionalLane">左</label>
                                <input id="leftAddtionalLane" type="text" style="width: 49px"
                                       ng-model="lanesData.leftExtend"/>
                                <label for="rightAddtionalLane">右</label>
                                <input id="rightAddtionalLane" type="text" style="width: 49px"
                                       ng-model="lanesData.rightExtend"/>

                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>
