body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:220px;
  width:1240px;
  height:650px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:650px;
}
#u1 {
  position:absolute;
  left:2px;
  top:317px;
  width:1236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:61px;
  top:295px;
  width:260px;
  height:559px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:559px;
}
#u3 {
  position:absolute;
  left:2px;
  top:272px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:120px;
  top:315px;
  width:111px;
  height:26px;
  font-size:22px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:80px;
  top:312px;
  width:30px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:136px;
  top:357px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:136px;
  top:390px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:50px;
  top:220px;
  width:1240px;
  height:62px;
  font-size:28px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:62px;
}
#u13 {
  position:absolute;
  left:2px;
  top:14px;
  width:1236px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1209px;
  top:242px;
  width:22px;
  height:26px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#00CCFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:26px;
}
#u15 {
  position:absolute;
  left:0px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1126px;
  top:242px;
  width:19px;
  height:26px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#00CCFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:26px;
}
#u17 {
  position:absolute;
  left:0px;
  top:5px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1151px;
  top:248px;
  width:53px;
  height:16px;
  color:#1E1E1E;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:1233px;
  top:246px;
  width:27px;
  height:16px;
  color:#1E1E1E;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:50px;
  top:150px;
  width:1240px;
  height:70px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:70px;
}
#u23 {
  position:absolute;
  left:2px;
  top:27px;
  width:1236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:259px;
  top:358px;
  width:30px;
  height:16px;
}
#u25 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26 {
  position:absolute;
  left:259px;
  top:392px;
  width:30px;
  height:16px;
}
#u27 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u28 {
  position:absolute;
  left:50px;
  top:20px;
  width:500px;
  height:100px;
  text-align:left;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:100px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:496px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:120px;
  top:503px;
  width:89px;
  height:26px;
  font-size:22px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:80px;
  top:500px;
  width:30px;
  height:30px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:136px;
  top:550px;
  width:108px;
  height:19px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:136px;
  top:581px;
  width:124px;
  height:19px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:19px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
