<div ng-controller="baseInfoCtl">
    <div class="fm-container fm-col fm-lvl1" style="right:0px;width:300px;">
        <div class="title"><i class="glyphicon glyphicon-edit"></i> POI属性</div>
        <div class="fm-tabs">
            <a href="#" ng-class="{'tab': true, 'active': propertyType == 'base'}" ng-click="changeProperty('base')">基本属性</a>
            <a href="#" ng-class="{'tab': true, 'active': propertyType == 'deep'}" ng-click="changeProperty('deep')">深度信息</a>
            <a href="#" ng-class="{'tab': true, 'active': propertyType == 'relate'}" ng-click="changeProperty('relate')">父子关系</a>
            <a href="#" ng-class="{'tab': true, 'active': propertyType == 'file'}" ng-click="changeProperty('file')">文件上传</a>
        </div>
        <div ng-show="propertyType=='base'">
            <div class="fm-panel" >
                <div class="content">
                    <ul class="fm-ul fm-ul-form">
                        <li>
                            <label>名 称</label>
                            <div><input type="text" class="fm-control" ng-model="selectedPoi.name"/></div>
                        </li>
                        <li>
                            <label>地 址</label>
                            <div><input type="text" class="fm-control" ng-model="selectedPoi.address"/></div>
                        </li>
                        <li>
                            <label>邮政编码</label>
                            <div><input type="text" class="fm-control" ng-model="selectedPoi.zipCode"/></div>
                        </li>
                        <li>
                            <label>种 别</label>
                            <div>
                                <select class="fm-control">
                                    <option>&#45;&#45;</option>
                                    <option>停车场</option>
                                    <option>中餐馆</option>
                                    <option>学校</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <label>品 牌</label>
                            <div>
                                <select class="fm-control">
                                    <option>&#45;&#45;</option>
                                    <option>肯德基</option>
                                    <option>麦当劳</option>
                                    <option>德克士</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <label>等 级</label>
                            <div>
                                <label>
                                    <input type="radio" name="level" value="A" ng-model="selectedPoi.level"> A
                                </label>
                                <label>
                                    <input type="radio" name="level" value="B" ng-model="selectedPoi.level"> B
                                </label>
                                <label>
                                    <input type="radio" name="level" value="C" ng-model="selectedPoi.level"> C
                                </label>
                            </div>
                        </li>
                        <li>
                            <label class="control-label">24小时</label>
                            <div>
                                <label>
                                    <input type="radio" name="24h" value="0" ng-model="selectedPoi.h24">
                                    是
                                </label>
                                <label>
                                    <input type="radio" name="24h" value="1" ng-model="selectedPoi.h24">
                                    否
                                </label>
                            </div>
                        </li>
                        <li>
                            <label class="control-label">室内POI</label>
                            <div>
                                <label>
                                    <input type="radio" name="indoor" value="0" ng-model="selectedPoi.indoor">
                                    是
                                </label>
                                <label>
                                    <input type="radio" name="indoor" value="1" ng-model="selectedPoi.indoor">
                                    否
                                </label>
                            </div>
                        </li>
                        <li>
                            <label class="control-label">备 注</label>
                            <div class="inline">
                                <textarea class="fm-control"></textarea>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="fm-panel">
                <div class="title"><a href="javascript:void(0);" title="点击添加电话" ng-click="addContact()">联系电话 &nbsp;&nbsp;<i class="glyphicon glyphicon-plus-sign"></i></a>
                    <span style="float:right;">共 <span ng-bind="selectedPoi.contacts.length"></span> 条</span>
                </div>
                <div class="content" style="max-height: 300px;">
                    <ul class="fm-ul fm-ul-list">
                        <li ng-repeat="item in selectedPoi.contacts">
                            <div>
                                <input type='text' class="fm-control tel-code" maxlength="5" ng-model="item.code" ng-show="item.type==1">
                                <span ng-show="item.type==1"> - </span>
                                <input type='text' ng-class="{'fm-control': true, 'tel-number': item.type == 1, 'tel-cellphone': item.type == 2}" maxlength="11" ng-model="item.number">
                            </div>
                            <div>
                                <a href="javascript:void(0);" ng-click="deleteContact($index);"><i class="glyphicon glyphicon-remove-sign"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-show="propertyType=='deep'">
            <div class="fm-panel" >
                <div class="title">停车场</div>
                <div class="content">
                    <ul class="fm-ul fm-ul-form">
                        <li>
                            <label>类 型</label>
                            <div>
                                <label>
                                    <input type="radio" name="parkingType" value="A"> 室内
                                </label>
                                <label>
                                    <input type="radio" name="parkingType" value="B"> 室内地上
                                </label>
                                <label>
                                    <input type="radio" name="parkingType" value="C"> 室外
                                </label>
                                <label>
                                    <input type="radio" name="parkingType" value="D"> 占道
                                </label>
                            </div>
                        </li>
                        <li>
                            <label>收费标准</label>
                            <div>
                                <label ng-repeat="(key, value) in parkingFee">
                                    <input type="checkbox" value="{{key}}" ng-model="selectedPoi.parkingFee[key]" ng-change="changeParkingFee(key)"> {{value}}
                                </label>
                            </div>
                        </li>
                        <li>
                            <label>收费方式</label>
                            <div>
                                <label>
                                    <input type="checkbox" name="parkingFeeType" value="A"> 人工收费
                                </label>
                                <label>
                                    <input type="checkbox" name="parkingFeeType" value="B"> 电子收费
                                </label>
                                <label>
                                    <input type="checkbox" name="parkingFeeType" value="C"> 自助缴费
                                </label>
                            </div>
                        </li>
                        <li>
                            <label>收费备注</label>
                            <div>
                                <select class="fm-control">
                                    <option>&#45;&#45;</option>
                                    <option>停车场</option>
                                    <option>中餐馆</option>
                                    <option>学校</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <label>车位数</label>
                            <div>
                                <input type="text" class="fm-control"/>
                            </div>
                        </li>
                        <li>
                            <label>营业时间</label>
                            <div>
                                <textarea></textarea>
                            </div>
                        </li>
                        <li>
                            <label>收费描述</label>
                            <div>
                                <textarea></textarea>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-show="propertyType=='relate'">
            <div class="fm-panel">
                <div class="title">父POI</div>
                <div class="content">
                    <ul class="fm-ul fm-ul-list">
                        <li>
                            <label>
                                父POI的名称
                            </label>
                            <div>
                                <a href="javascript:void(0);"><i class="glyphicon glyphicon-link"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="fm-panel">
                <div class="title">子POI <span style="float:right;">共 </span><span ng-bind="selectedPoi.relatedChildren.length">4</span> 条</div>
                <div class="content">
                    <ul class="fm-ul fm-ul-list">
                        <li>
                            <label>
                                子POI的名称
                            </label>
                            <div>
                                <a href="javascript:void(0);"><i class="glyphicon glyphicon-link"></i></a>
                            </div>
                        </li>
                        <li>
                            <label>
                                子POI的名称
                            </label>
                            <div>
                                <a href="javascript:void(0);"><i class="glyphicon glyphicon-link"></i></a>
                            </div>
                        </li>
                        <li>
                            <label>
                                子POI的名称
                            </label>
                            <div>
                                <a href="javascript:void(0);"><i class="glyphicon glyphicon-link"></i></a>
                            </div>
                        </li>
                        <li>
                            <label>
                                子POI的名称
                            </label>
                            <div>
                                <a href="javascript:void(0);"><i class="glyphicon glyphicon-link"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-show="propertyType=='file'">
            <div ng-include="fileUploadTpl"></div>
        </div>
    </div>
</div>

