<div ng-controller="generalBaseCtl">
    <div class="fm-container fm-col fm-lvl1" style="right:0px;width:300px;">
        <div class="title"><i class="glyphicon glyphicon-edit"></i> POI属性</div>
        <div class="fm-tabs">
            <a href="#" ng-class="{'tab': true, 'active': propertyType == 'base'}" ng-click="changeProperty('base')">基本属性</a>
            <a href="#" ng-class="{'tab': true, 'active': propertyType == 'deep'}" ng-click="changeProperty('deep')">深度信息</a>
            <a href="#" ng-class="{'tab': true, 'active': propertyType == 'relate'}" ng-click="changeProperty('relate')">父子关系</a>
            <a href="#" ng-class="{'tab': true, 'active': propertyType == 'file'}" ng-click="changeProperty('file')">文件上传</a>
        </div>
        <div ng-show="propertyType=='base'">
            <div ng-include="baseInfoTpl"></div>
        </div>
        <div ng-show="propertyType=='deep'">
            <div ng-include="deepInfoTpl"></div>
        </div>
        <div ng-show="propertyType=='relate'">
            <div ng-include="relationInfoTpl"></div>
        </div>
        <div ng-show="propertyType=='file'">
            <div ng-include="fileUploadTpl"></div>
        </div>
        <div style="bottom: 0px;position:absolute;margin: 0px 10px;">
            <div class="btn-group btn-group-justified">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-xs fm-btn" ng-click="save()">
                        <i class="glyphicon glyphicon-floppy-disk"></i> 保 存
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-xs fm-btn" ng-click="delete()">
                        <i class="glyphicon glyphicon-trash"></i> 删 除
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-xs fm-btn" ng-click="cancel()">
                        <i class="glyphicon glyphicon-floppy-remove"></i> 取 消
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

