body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:403px;
  top:205px;
  width:240px;
  height:10px;
  -webkit-transform:rotate(352deg);
  -moz-transform:rotate(352deg);
  -ms-transform:rotate(352deg);
  transform:rotate(352deg);
}
#u0_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u1 {
  position:absolute;
  left:640px;
  top:206px;
  width:210px;
  height:10px;
  -webkit-transform:rotate(10deg);
  -moz-transform:rotate(10deg);
  -ms-transform:rotate(10deg);
  transform:rotate(10deg);
}
#u1_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u1_end {
  position:absolute;
  left:193px;
  top:-5px;
  width:18px;
  height:20px;
}
#u1_line {
  position:absolute;
  left:0px;
  top:5px;
  width:210px;
  height:1px;
}
#u2 {
  position:absolute;
  left:403px;
  top:37px;
  width:517px;
  height:83px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:83px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:500px;
  top:156px;
  width:20px;
  height:32px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:32px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:511px;
  top:176px;
  width:30px;
  height:20px;
  -webkit-transform:rotate(351deg);
  -moz-transform:rotate(351deg);
  -ms-transform:rotate(351deg);
  transform:rotate(351deg);
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:40px;
  top:30px;
  width:269px;
  height:350px;
}
#u8_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:279px;
  height:360px;
}
#u9 {
  position:absolute;
  left:2px;
  top:167px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:46px;
  top:270px;
  width:248px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:48px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:40px;
  top:64px;
  width:269px;
  height:43px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:43px;
}
#u13 {
  position:absolute;
  left:2px;
  top:14px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:66px;
  top:72px;
  width:70px;
  height:28px;
  font-size:12px;
  color:#1E1E1E;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
}
#u15 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:54px;
  top:38px;
  width:106px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:26px;
}
#u17 {
  position:absolute;
  left:0px;
  top:5px;
  width:106px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:44px;
  top:312px;
  width:260px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:243px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:260px;
  height:1px;
}
#u19 {
  position:absolute;
  left:218px;
  top:38px;
  width:76px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u20 {
  position:absolute;
  left:0px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:54px;
  top:117px;
  width:240px;
  height:26px;
  font-size:14px;
  color:#000000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:26px;
}
#u22 {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:54px;
  top:144px;
  width:253px;
  height:31px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:31px;
}
#u24 {
  position:absolute;
  left:0px;
  top:8px;
  width:253px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:54px;
  top:181px;
  width:253px;
  height:45px;
  color:#000000;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:45px;
}
#u26 {
  position:absolute;
  left:0px;
  top:-2px;
  width:253px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:208px;
  top:323px;
  width:50px;
  height:50px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u28 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:81px;
  top:325px;
  width:50px;
  height:50px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u30 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:59px;
  top:339px;
  width:12px;
  height:18px;
  color:#999999;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:18px;
}
#u32 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:139px;
  top:340px;
  width:12px;
  height:18px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:18px;
}
#u34 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:290px;
  top:33px;
  width:18px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
