<style>

    div {
        -webkit-font-smoothing: antialiased;
        line-height: 1.42857143;
        color: #58666e;
        /*background-color: transparent;*/
        margin-right: 0px;
    }

    .list-group-item {
        position: relative;
        display: block;
        padding: 1px 15px;
        margin-bottom: -1px;
        border: 0;
    }

    #laneConneexityDiv {
        opacity: 1;
        width: 100%;
    }

    #laneConneexityDiv ul {
        background-color: #303030;
        list-style: none;
        overflow: hidden;
    }

    #laneConneexityDiv ul > li {
        background-color: #303030;
    }

    #laneConneexityDiv ul > li > label {
        color: #F3F6FA;
        font-weight: normal;
    }

    .inline {
        display: inline-block !important;
        text-align: left;
    }

    .m-b-none {
        margin-bottom: 0 !important;
    }

    .show-img-normal {
        cursor: pointer;
        width: 25px;
        margin-bottom: 10px;
        transition: all 0.5s;
    }

    .show-img-transit {
        cursor: pointer;
        width: 25px;
        margin-bottom: 10px;
        transition: all 0.5s;
    }

    .img-describe {
        background-color: #777;
        color: #fff;
        font-size: 11px;
        text-align: center;
    }
</style>

<div ng-controller="addRdRestrictionController" class="panel panel-default" id="laneConneexityDiv"
     oncontextmenu=self.event.returnValue=false>
    <ul class="list-group list-group-lg m-b-none">
        <li class="list-group-item">
            <div><label class="control-label">创建交限</label></div>
        </li>
        <li class="list-group-item">
            <div class="inline" ng-repeat="item in directData.showNormalData">
                <div>
                    <span style="float: right;font-size: 12px;top: 0px;margin-top: -5px;
                                 margin-left:-5px;color: #fff;cursor: pointer;"
                          class="glyphicon glyphicon-remove-sign"
                          ng-click="minusNormalData(item,$index,$event)" ></span>
                    <img ng-if="item.flag===false" ng-src="../../../images/road/1302/1302_1_{{item.id}}.svg"
                         class="show-tips" data-index="{{$index}}" ng-class="{'active':$index==0}" style="width: 30px;margin-left: 10px;"
                        >
                    <img  ng-if="item.flag===true" ng-src="../../../images/road/1302/1302_2_{{item.id}}.svg"
                          data-index="{{$index}}" ng-class="{'active':$index==0}" class="show-tips" style="width: 30px;margin-left: 10px;"
                        >
                   <!-- <img class="show-img-normal"
                         ng-if="item.type===0"
                         ng-src="../../images/road/1301/1301_0_{{item.flag}}.svg"
                         ng-click="addTransitData(item,$index)"
                         title="{{item.flag}}">
                    <img class="show-img-normal" ng-if="item.type===2"
                         ng-click="addTransitData(item,$index)"
                         ng-src="../../images/road/1301/1301_2_{{item.flag}}.svg"
                         title="{{item.flag}}">-->
                </div>

            </div>

        </li>
    </ul>
</div>