<div class="fm-component" ng-controller="lcFaceCtrl">
    <div class="title">
        土地覆盖面
        <span class="label label-info">{{lcFaceData.pid}}</span>
    </div>
    <div class="content scroll-styled dark" style="height:90%;">
        <form name="lcFaceForm">
            <div class="fm-panel">
                <div class="content">
                    <ul class="fm-ul fm-ul-form">
                        <li>
                            <label>FACE种别</label>
                            <div>
                                <select ng-model="lcFaceData.kind"
                                        ng-options="value.id as value.label for value in kind" ng-change="kindChange($event, this)">
                                </select>
                            </div>
                        </li>
                        <li>
                            <label>FACE形态</label>
                            <div>
                                <select ng-model="lcFaceData.form"
                                        ng-options="value.id as value.label for value in form">
                                </select>
                            </div>
                        </li>
                        <li>
                            <label>显示等级</label>
                            <div>
                                <select ng-model="lcFaceData.displayClass"
                                        ng-options="value.id as value.label for value in displayClass">
                                </select>
                            </div>
                        </li>
                        <li>
                            <label>比例尺</label>
                            <div>
                                <select ng-model="lcFaceData.scale"
                                        ng-options="value.id as value.label for value in scale">
                                </select>
                            </div>
                        </li>
                        <li>
                            <label>区域标识</label>
                            <div>
                                <select ng-model="lcFaceData.detailFlag"
                                        ng-options="value.id as value.label for value in detailFlag">
                                </select>
                            </div>
                        </li>
                        <li>
                            <label>FACE面积</label>
                            <div>
                                <input type="text" class="fm-control chosen-disabled" ng-model="lcFaceData.area" disabled>
                            </div>
                        </li>
                        <li>
                            <label>FACE周长</label>
                            <div>
                                <input type="text" class="fm-control chosen-disabled" ng-model="lcFaceData.perimeter" disabled>
                            </div>
                        </li>
                        <li>
                            <label>图幅号</label>
                            <div>
                                <input type="text" class="fm-control chosen-disabled" ng-model="lcFaceData.meshId" disabled>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="fm-panel">
                <div class="content">
                    <ul class="list-group list-group-lg m-b-none">
                        <li class="list-group-item">
                            <div class="list-name">
                                <a ng-click="addItem('name')" class="fm-cursor">名称（共 {{nameGroup.length}} 组）</a>
                            </div>
                            <div class="list-add-icon" ng-click="addItem('name');">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                            </div>
                            <div class="list-line"></div>
                        </li>
                        <li class="list-group-item">
                            <ul ng-repeat="namesItem in nameGroup | orderBy:'nameGrouppid'" class="list-group child-list-ul list-group-lg m-b-none">
                                <li class="list-group-item" ng-repeat="item in namesItem  | orderBy:'pid'">
                                    <label class="control-label fm-cursor" ng-click="showDetail($index ,namesItem,item.nameGroupid);" ng-bind="item.name"></label>
                                    <i class="glyphicon glyphicon-remove-circle" ng-click="removeItem($index,item)"></i>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
        <!--begin 名称组-->
	    <!-- <div class="module-box show-detail-title" ng-click="showDetail();">
	        <div class="box-head font-bold">
	            名称信息（共<span ng-bind="lcFaceData.names.length"></span> 条）
	        </div>
	    </div> -->
    	<!--end 名称组-->
    </div>
</div>