<style>
    div {
        -webkit-font-smoothing: antialiased;
        line-height: 1.42857143;
        background-color: transparent;
        margin-right: 0px;
    }
    input[type="text"] {
        border: 1px ridge #FFFFFF;
        color: #fff;
        background-color: #333;
    }
    input[type="text"].ng-dirty {
        border: 1px ridge #FFFFFF;
        color: #fff;
        background-color: #307BA3;
    }

    select.ng-dirty {
        border: 1px ridge #FFFFFF;
        color: #fff;
        background-color: #307BA3;
    }

    label {
        font-weight: normal;
    }
.panel-body{
    padding: 0px 15px;
    background-color: #404040;
    color: #fff;
}
.panel{
    margin-bottom: 0px;
}
    #rdBranchDiv {
        /*border: 1px solid #FBFBFB;*/
        width: 100%;
        height: 100%;
        min-height: 300px;
        /*overflow-y: scroll;*/
        /* opacity: .8;
        background-color: #404040; */
        
    }

    .line-dashed {
        background-color: transparent;
        border-style: dashed !important;
        border-width: 0;
    }

    .line-lg {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .pull-in {
        margin-left: -15px;
        margin-right: -15px;
    }

    .col-centered {
        float: none;
        margin: 0 auto;
    }
    .form-horizontal .control-label{
        text-align: center;
    }
    .glyphicon-chevron-down{
        cursor: pointer;
    }
    .info-group{
        margin-right: 0 !important;
    }
    .info-remove{
        top: -10px;
        cursor: pointer;
        background-color: #fff;
        right: -102%;
        transition:all 0.5s;
        color: darkgray;
        font-size: 20px;
    }
    .info-remove:hover{
        color: #CC0000 !important
    }
    /*输入查询图片*/
    .pic-show{
        position: absolute;
        border: 1px solid #fff;
        z-index: 999;
        border-radius: 4px;
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 7px;
        background-color: #333;
        display: none;
        box-shadow: 4px 4px 7px 0px #777;    
        min-width: 70%;
        min-height: 193px;
    }
    .pic-show-well{
        min-width: 100%;
        min-height: 246px;
    }
    .img-well{
        float: left;
        padding: 3px;
        border: 1px solid #fff;
        border-radius: 4px;
        margin: 4px;
        cursor: pointer;
    }
    .show-img{
        width: 65px;
        height: 55px;
    }
    .num-well{
        margin-left:5px;
    }
    .pic-show-btn{
        margin-right: 5px;
    }
    .option-hide{
        position: absolute;
        right: -10px;
        background-color: #fff;
        border-radius: 50%;
        top: -13px;
    }
    .pic-loading{
        min-height: 270px;
        position: absolute;
        top: -1px;
        left: 1px;
        transition: all 0.5s;
        z-index: 9999999;
        background-color: rgba(0, 0, 0, 0.52);
        min-width: 100%;
        cursor: not-allowed;
        text-align: center;
        color: #fff;
        padding-top: 60%;
    }
    .img-describe{
        background-color: #777;
        color: #fff;
        font-size: 11px;
        text-align: center;
    }
    .glyphicon-chevron-down{
        color: #fff;
    }
    .module-box{
        border: 1px solid #FFF;
        padding: 10px;
        width: 97%;
        float: left;
        margin: 5px;
        border-radius: 4px;
        background-color: #555;
        /*opacity: 0.8;*/
    }
    .module-fix-box{
        padding: 10px;
        width: 97%;
        float: left;
        margin: 5px;
        border-radius: 4px;
        background-color: #555;
    }
    .box-head{
        color: #fff;
    }
    .d-name{
        float: left;
        width: 30%;
        text-align: right;
        color: #fff;
    }
    .d-value{
        float: left;
        width: 69%;
        color: #fff;
    }
    .d-input{
        border: 1px solid #FFFFFF;
        border-style: ridge;
        background-color: #333;
        width: 100%;
        border-radius: 3px;
        color: #fff;
    }
    .d-group{
        margin-top:3px;
        float: left;
        width: 100%;
    }
    .d-title{
        float: left;
    }
    .d-radio-btn>label{
        height: 20px !important;
        line-height: 8px !important;
        border: 1px solid #FFF !important;
        padding-top: 4px;
    }
    .show-detail-title{
        cursor: pointer; 
        transition: all 0.3s; 
        padding: 3px;
    }
    .show-detail-title:hover{
       background-color: #333;
    }
    /*高速分歧map上图片显示*/
    #picMapShow {
        width: 192px;
        border: 1px solid #fff;
        height: 160px;
        float: left;
        border-radius: 4px;
        margin-left: 51px;
    }
    #picMapImg {
         width: 192px;
        position: absolute;
        height: 160px;
        z-index: 99;
        top: 50px;
    }
    #picModalImg{
        width: 192px;
        top: 50px;
        height: 160px;
        position: absolute;
        z-index: 9;
    }
    #picMapDesc {
        color: #fff;
        width: 100%;
        text-align: center;
    }
    .show-val{
        color: #fff;
    }
</style>
<div id="nameOfBraDiv" ng-controller="namesOfBranchCtrl">
   <!--<div class="panel-heading font-bold" style="text-align: center;top: 0px;z-index: 999;width: 100%;height: 40px;opacity: .8;background-color: #404040;color: #fff;">-->
        <!--分歧-->
        <!--<div class="btn-group d-radio-btn" data-toggle="buttons">-->
          <!--<label ng-class="{'active':$index==0,'btn btn-primary btn-xs':true}" ng-bind="branchPid">-->
          <!--</label>-->
        <!--</div>-->
    <!--</div>-->
    <div style="height:50px">
        <form class="form-horizontal" method="get">
            <div class="panel panel-default " style="background-color: transparent;border:0;">
                <div class="panel-heading font-bold" style=" border:0;height: 100%; background-color: transparent;color:#FFF;">
                    分歧
                    <label ng-class="{'active':$index==0,'btn btn-primary btn-xs':true}" ng-bind="branchPid">
                    </label>
                </div>
            </div>
        </form>
    </div>

    <div id="picMapShow">
        <img id="picMapImg">
        <img id="picModalImg" alt="无此模式图">
        <div id="picMapDesc"></div>
    </div>
    <form name="nameBranchForm">
    <!--begin 模式图信息-->
    <div class="module-fix-box">
        <div id="detailChart" class="panel-collapse col-sm-12 collapse in" aria-expanded="true">
            <div class="d-group">
                <div class="d-name">进入线：</div>
                <div class="d-value">
                    <input type="text" class="d-input rounded" placeholder="入" ng-model="diverObj.inLinkPid">
                </div> 
            </div>
            <div class="d-group">
                <div class="d-name">退出线：</div>
                <div class="d-value">
                    <input type="text" class="d-input rounded" placeholder="出" ng-model="diverObj.outLinkPid">
                </div> 
            </div>
            <div class="d-group info-group">
                <div class="d-name">关系类型：</div>
                <div class="d-value">
                    <div class="btn-group d-radio-btn" data-toggle="buttons" style="z-index:0">
                      <label ng-class="{'btn-primary':item.code==diverObj.relationshipType,'btn-default':item.code!=diverObj.relationshipType,'btn btn-sm relation-type':true}" ng-repeat="item in relationType" ng-click="switchRelType(item.code)">
                        <input type="radio" name="relationType" value="{{item.code}}" autocomplete="off" data-relation-type="{{item.code}}">{{item.label}}
                      </label>
                    </div>
                </div> 
            </div>
            <div class="d-group">
                <div class="d-name">分歧类型：</div>
                <div class="d-value">
                    <select class="rounded d-input" ng-change="changeBranchType(diverObj.details[0].branchType);" ng-model="diverObj.details[0].branchType" ng-options="value.id as value.label for value in branchTypeOptions" ></select>
                </div> 
            </div>
            <div class="d-group">
                <div class="d-name">箭头图号：</div>
                <div class="d-value">
                    <div ng-show="diverObj.details[0].branchType != 3">
                        <input type="text" class="rounded d-input form-pic-input" placeholder="箭头图代码" ng-model="diverObj.details[0].arrowCode" ng-keydown="showPicSelect()">
                    </div>
                    <div ng-show="diverObj.details[0].branchType == 3">
                        <input type="text" class="rounded d-input form-pic-input" placeholder="箭头图代码" ng-model="diverObj.details[0].arrowCode" ng-keydown="showPicSelect()" data-toggle="tooltip" data-placement="top" title="3D分歧箭头图号必须e或c开头">
                    </div>
                    <div class="pic-show">
                        <div class="option-hide">
                            <button type="button" class="close" aria-label="Close" ng-click="hidePicSelect($event)">
                                <span aria-hidden="true" class="glyphicon glyphicon-remove-sign"></span>
                            </button>
                        </div>
                        <div class="pic-show-well">
                            <div class="img-well" ng-repeat="picture in pictures" ng-click="selectPicCode(picture.fileName,picture.fileContent)">
                                <img class="show-img" ng-src="{{picture.fileContent}}" title="{{picture.fileName}}">
                                <div class="img-describe">{{picture.fileName}}</div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="pull-left num-well">
                            第 <span class="pic-num" ng-bind="picNowNum">1</span> 页 |
                            共 <span class="pic-total" ng-bind="picTotal">1</span> 页
                        </div>
                        <div class="pic-show-btn pull-right">
                            <div class="pull-right btn-group">
                                <button class="btn btn-default btn-xs pic-pre" ng-click="picPre()" disabled><<</button>
                                <button class="btn btn-default btn-xs pic-next" ng-click="picNext()">>></button>
                            </div>
                        </div>
                        <div class="pic-loading" ng-bind="loadText">loading...</div>
                    </div>
                </div>
            </div>
            <div class="d-group">
                <div class="d-name">模式图号：</div>
                <div class="d-value">
                    <div ng-show="diverObj.details[0].branchType != 3">
                        <div ng-bind="diverObj.details[0].patternCode" class="show-val"></div>
                    </div>
                    <div ng-show="diverObj.details[0].branchType == 3">
                        <input type="text" class="d-input" placeholder="模式图号" ng-model="diverObj.details[0].patternCode" ng-change="changePatternCode()" data-toggle="tooltip" data-placement="top" title="3D分歧模式图号必须5或8开头"/>
                    </div>
                </div>
            </div>
            <div class="d-group">
                <div class="d-name">出口编号：</div>
                <div class="d-value">
                    <input type="text" class="d-input rounded" placeholder="出口编号" ng-model="diverObj.details[0].exitNum">
                </div> 
            </div>
            <div class="d-group">
                <div class="d-name">箭头标志：</div>
                <div class="d-value">
                    <div class="btn-group d-radio-btn" data-toggle="buttons" style="z-index:0">
                      <label ng-class="{'btn-primary':item.code==diverObj.details[0].arrowFlag,'btn-default':item.code!=diverObj.details[0].arrowFlag,'btn btn-sm arrow-pic-flag':true}" ng-repeat="item in arrowPicFlag" ng-click="switchArrowType(item.code)">
                        <input type="radio" name="arrowPicFlag" autocomplete="off" data-relation-type="{{item.code}}">{{item.label}}
                      </label>
                    </div>
                </div> 
            </div>
            <div class="d-group">
                <div class="d-name">设施类型：</div>
                <div class="d-value">
                    <select class="rounded d-input"  ng-model="diverObj.details[0].estabType" ng-options="value.id as value.label for value in estabTypeOptions" ></select>
                </div> 
            </div>
            <div class="d-group">
                <div class="d-name">名称种别：</div>
                <div class="d-value">
                    <select class="d-input" ng-model="diverObj.details[0].nameKind" ng-options="value.id as value.label for value in nameKindOptions" >
                    </select>
                </div> 
            </div>
            <div class="d-group">
                <div class="d-name">声音方向：</div>
                <div class="d-value">
                    <select class="d-input" ng-model="diverObj.details[0].voiceDir" ng-options="value.id as value.label for value in voiceDirOptions" >
                    </select>
                </div> 
            </div>
            <div class="d-group">
                <div class="d-name">向导代码：</div>
                <div class="d-value">
                    <select class="d-input" ng-model="diverObj.details[0].guideCode" ng-options="value.id as value.label for value in guideCodeOptions" >
                    </select>
                </div> 
            </div>
        </div>
    </div>
    </form>
    <!--end 模式图信息-->
    <!--begin 名称信息-->
    <div ng-if="diverObj.details[0].branchType != 3">
        <div class="module-box show-detail-title" ng-click="showDetail(0);">
            <div class="box-head font-bold">
                名称信息（共 <span ng-bind="diverObj.details[0].names.length"></span> 条）
            </div>
        </div>
    </div>
    <!--end 名称信息-->
    <!--begin 经过线-->
    <div class="module-box show-detail-title" ng-click="showDetail(1);">
        <div class="box-head font-bold">
             经过线 （共 <span ng-bind="diverObj.vias.length"></span> 条）
        </div>
    </div>
    <!--end 经过线-->
</div>