
<div id="zoneProperDiv" ng-controller="zonePeopertyController">
    <ul class="list-group list-group-lg m-b-none">
        <!--<li class="list-group-item">
            <div><label class="control-label">开发状态</label></div>
            <div class="radio inline" style="text-align: left">
                <label>
                    <input type="radio" name="developStateRadio" value="0" ng-model="zoneData.developState">
                    非详细
                </label>
                <label>
                    <input type="radio" name="developStateRadio" value="1" ng-model="zoneData.developState">
                    详细
                </label>
                <label>
                    <input type="radio" name="developStateRadio" value="2" ng-model="zoneData.developState">
                    未验证
                </label>
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">城市道路</label></div>

            <div class="radio inline" style="text-align: left">
                <label>
                    <input type="radio" name="urbanRadio" value="0" ng-model="zoneData.urban">
                    否
                </label>
                <label>
                    <input type="radio" name="urbanRadio" value="1" ng-model="zoneData.urban">
                    是
                </label>
            </div>
        </li>-->

        <!--<li class="list-group-item">
            <div><label class="control-label">左区划号码</label></div>

            <div class="inline" style="text-align: left">
                <input type="text" placeholder="0530" ng-model="zoneData.leftRegionId">
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">右区划号码</label></div>

            <div class="inline" style="text-align: left">
                <input type="text" placeholder="0530" ng-model="zoneData.rightRegionId">
            </div>
        </li>-->
    </ul>


<div style="width:100%;padding-top: 3px;">
    <ul class="list-group list-group-lg m-b-none" style="margin-top: 0px;" ng-repeat="item in zoneData.zones">
        <li class="list-group-item">
            <div><label class="control-label">区划号码</label></div>
            <div class="inline">
                <input type="number" placeholder="0" ng-model="item.regionId">
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">Zone类型</label></div>
            <div class="inline">
                <select ng-model="item.type" ng-options="value.id as value.label for value in typeoption">
                    <option>--</option>
                </select>
            </div>
        </li>
        <li class="list-group-item">
            <div><label class="control-label">Link左右</label></div>
            <div class="radio inline" style="text-align: left">
                <label>
                    <input type="radio" name="sideRadio" value="0"
                           ng-model="item.side">
                    左
                </label>
                <label>
                    <input type="radio" name="sideRadio" value="1"
                           ng-model="item.side">
                    右
                </label>
            </div>
        </li>
        <div class="line line-dashed b-b line-lg pull-in" style="height:2px;background-color: white;"></div>
    </ul>
</div>

</div>