
<div id="rdNameDiv" ng-controller="nameController" >
    <ul class="list-group list-group-lg m-b-none" >
        <li class="list-group-item">
            <div class="list-name">
                <a ng-click="addRdName()" style="cursor: pointer;color:#FFF;">道路名（共<span ng-if="linkData.names!=undefined">{{linkData.names.length}}</span>条）</a>
            </div>
            <div class='list-line'></div>
        </li>
        <li class="list-group-item" ng-repeat="cItem in linkData.names" style="padding-left: 30px">
            <div ng-click="showNames(cItem)" style="cursor: pointer;">
                <label ng-if="cItem.name!=''" style="padding-top: 5px;cursor: pointer;" class="control-label">{{cItem.name}}
                    <label ng-if="cItem.nameClass== 1">(官方)</label>
                    <label ng-if="cItem.nameClass== 2">(别名)</label>
                    <label ng-if="cItem.nameClass== 3">(曾用名)</label>
                </label>
                <label ng-if="cItem.name==''" style="padding-top: 5px;cursor: pointer;" class="control-label">{{cItem.nameGroupid}}</label>
                <span id="nameSpan{{$index}}" class="glyphicon glyphicon-remove-sign" style="padding-top:7px;float: right;color: darkgray;float: right;cursor:pointer;" ng-mouseover="changeColor($index)" ng-mouseleave="backColor($index)" ng-click="minusName($index)"></span>
            </div>
        </li>
    </ul>
</div>
