<div ng-controller="addShapeController" class="btn-group btn-group-sm dropdown" style="width: 100%;">
    <button type="button" class="btn btn-default" ng-click="testHello()">node+</button>
    <button type="button" class="btn btn-default" ng-click="addShape('link')">link+</button>
    <button type="button" class="btn btn-default dropdown-toggle"
            data-toggle="dropdown">
        关系＋ <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
     <div  class="btn-group btn-group-sm">
         <button  type="button" class="btn btn-default"  ng-click="addShape('tips')">交限</button>
         <button  type="button" class="btn btn-default" >车信</button>
         <button  type="button" class="btn btn-default" >分歧</button>
         <button  type="button" class="btn btn-default" >限速</button>
     </div>


    </ul>
</div>
