<style>
    div {
        -webkit-font-smoothing: antialiased;
        line-height: 1.42857143;
        color: #58666e;
        background-color: transparent;
        margin-right: 0px;
    }

    label {
        font-weight: normal;
    }
    .form-group {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #currentObjectDiv{
        border: 1px solid #FBFBFB;
        width:100%;
        height: 100%;
    }

    .line-dashed {
        background-color: transparent;
        border-style: dashed !important;
        border-width: 0;
    }

    .b-b {
        border-bottom: 1px solid #dee5e7;
    }

    .line-lg {
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .pull-in {
        margin-left: 0px;
        margin-right: 0px;
    }

    .col-centered {
        float: none;
        margin: 0 auto;
    }
    .form-horizontal .control-label{
        text-align: center;
    }
</style>
<div id="currentObjectDiv" ng-controller="linkObjectCtroller">
    <div style="height:7%">
        <form class="form-horizontal" method="get">
     <div class="panel panel-default ">
         <div class="panel-heading font-bold" style=" text-align: center;height: 100%;">
             道路线

             <span ng-if="brigeLinkArrays==null" class="label label-info" >{{linkData.pid}}</span>
             <span ng-if="brigeLinkArrays!=null" ng-class="{'active':$index==brigeIndex,'btn btn-primary btn-xs':true}" ng-repeat="item in brigeLinkArrays"  >
                  <label ng-click="changeLink($index,item.id)">{{item.id}}</label>
             </span>
         </div>
     </div>
        </form>
    </div>
    <div style="height: 10%">
        <form class="form-horizontal" method="get">

            <div class="form-group">
                <div class="col-sm-12 ">
                    <div class="btn-group" style="width:100%;" >
                        <button type="button" style="width: 33%;border-radius: 5px;" id="basicModule" ng-click="changeModule('basicModule')" class="btn btn-default">基础属性</button>
                        <button type="button" style="width: 33%;border-radius: 5px;" id="limitedModule" ng-click="changeModule('limitedModule')" class="btn btn-default">限制信息</button>
                        <button type="button" style="width: 34%;border-radius: 5px;" id="paginationModule"  ng-click="changeModule('paginationModule')" class="btn btn-default">行人导航</button>
                    </div>
                </div>

                <div class="col-sm-12" >
                    <div class="btn-group" style="width: 100%;">
                        <button type="button" style="width: 33%;border-radius: 5px;" id="realtimeModule" ng-click="changeModule('realtimeModule')" class="btn btn-default">实时交通</button>
                        <button type="button" style="width: 33%;border-radius: 5px;" id="zoneModule" ng-click="changeModule('zoneModule')" class="btn btn-default">区域属性</button>
                        <button type="button" style="width: 34%;border-radius: 5px;" id="otherModule"  class="btn btn-default" ng-click="changeModule('otherModule')">其他属性</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div style=" height: 100%; width: 100%;">
        <div ng-include="currentURL" ></div></div>
</div>