<style>
    div {
        -webkit-font-smoothing: antialiased;
        line-height: 1.42857143;
        color: #58666e;
        background-color: transparent;
        margin-right: 0px;
    }

    label {
        font-weight: normal;
    }
    .form-group {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #currentObjectDiv{
        width:100%;
        height: 100%;
    }

    .line-dashed {
        background-color: transparent;
        border-style: dashed !important;
        border-width: 0;
    }

    .b-b {
        border-bottom: 1px solid #dee5e7;
    }

    .line-lg {
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .pull-in {
        margin-left: 0px;
        margin-right: 0px;
    }

    .col-centered {
        float: none;
        margin: 0 auto;
    }
    .form-horizontal .control-label{
        text-align: center;
    }
    .btnclass{
        background-color:#404040;
        border-radius: 5px;
    }
    .btnDefultclass{
        /*background-color:#fff;*/
        border-color: #ccc;
    }

    .currentUl{
        width: 100%;
        padding: 0;
    }
    .currentLi {
        display:inline;
        width: 40px;
        padding: 1px;
    }
    .currentLi >button{
        width:40px;
        padding: 2px;
    }

    .list-group-item{
        border-left: none;
        border-right: none;
    }

    #fm-link-tabControl{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    #fm-link-tabControl>a{
        float: none;
        background-color: #555;
        margin-right: 1px;
        color: rgba(255,255,255,.5);
    }

    #fm-link-tabControl>a:hover{
        color:#FFF;
        background-color: rgba(255,255,255,0.25);
    }

    #fm-link-tabControl>a.selected{
        color:#FFF;
        background-color: rgba(255,255,255,0.25);
    }
</style>
<div id="currentObjectDiv" ng-controller="linkObjectCtroller">
    <div style="height:50px">
        <form class="form-horizontal" method="get">
     <div class="panel panel-default " style="background-color: transparent;border:0;">
         <div class="panel-heading font-bold" style=" border:0;height: 100%; background-color: transparent;color:#FFF;padding: 10px 11px;">
             道路线

             <span ng-if="brigeLinkArrays==null" class="label label-info" >{{linkData.pid}}</span>
             <span ng-if="brigeLinkArrays!=null" ng-class="{'active':$index==brigeIndex,'btn btn-primary btn-xs':true}" ng-repeat="item in brigeLinkArrays"  >
                  <label class="brige-line" ng-click="changeLink($index,item.id)">{{item.id}}</label>
             </span>
         </div>
     </div>
        </form>
    </div>
    <div id="fm-link-tabControl" class="btn-group" role="group" aria-label="...">
        <a title="基础属性" class="btn glyphicon glyphicon-star selected"  ng-click="changeModule('basicModule',0)"></a>
        <a title="其他属性" class="btn glyphicon glyphicon-tag" ng-click="changeModule('otherModule',1)"></a>
        <a title="区域属性" class="btn glyphicon glyphicon-dashboard" ng-click="changeModule('zoneModule',2)"></a>
        <a title="限制信息" class="btn glyphicon glyphicon-ban-circle" ng-click="changeModule('limitedModule',3)"></a>
        <a title="实时交通" class="btn glyphicon glyphicon-road" ng-click="changeModule('realtimeModule',4)"></a>
        <a title="行人导航" class="btn glyphicon glyphicon-send" ng-click="changeModule('paginationModule',5)"></a>
    </div>

    <div style="width: 100%;">
        <div ng-include="currentURL" ></div></div>
</div>