
<style>


    .num-well{
        margin-left:5px;
    }
    .pic-show-btn{
        margin-right: 5px;
    }
    .pic-show-btn{
        margin-right: 5px;
    }
</style>
<div ng-controller="errorCheckController" style="height:150px;overflow-y: auto">
    <table st-table="rowCollection" class="table table-striped" >
        <thead >
        <tr>
            <th st-sort="idd">编号</th>
            <th st-sort="ruleId">检查规则号</th>
            <th st-sort="situation">类型</th>
            <th st-sort="rank">错误等级</th>
            <th st-sort="targets">错误对象</th>
            <th st-sort="information">错误信息</th>
            <th st-sort="geometry">错误定位</th>
            <th st-sort="createDate">检查时间</th>
            <th st-sort="worker">作业员</th>
            <th st-sort="balance5">检查结果管理</th>
        </tr>
        </thead>
        <tbody style="height: 100px">
        <tr ng-repeat="row in rowCollection">
            <td>{{row.id}}</td>
            <td>{{row.ruleId}}</td>
            <td>{{row.situation}}</td>
            <td>{{row.rank}}</td>
            <td>{{row.targets }}</td>
            <td>{{row.information}}</td>
            <td>{{row.geometry}}</td>
            <td>{{row.createDate}}</td>
            <td>{{row.worker}}</td>
            <td>
                <select class="form-control" style="padding: 0px" ng-model-options="initType" ng-change="changeType(initType,row.id)">
                <option value=0>未修改</option>
                <option value=1>例外</option>
                <option value=2>确认不修改</option>
                <option value=3>确认已修改</option>
            </select></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <!--<td colspan="5" class="text-center">-->
                <!--<div st-pagination="" st-items-by-page="itemsByPage"-->
                     <!--st-displayed-pages="5"></div>-->
            <!--</td>-->
            <!--<td class="num-well" colspan="4">-->
                <!--第 <span class="pic-num" ng-bind="itemsByPage">1</span> 页 |-->
                <!--共 <span class="pic-total" ng-bind="checkTotal">1</span> 页-->
            <!--</td>-->
            <!--<td class="pic-show-btn pull-right" colspan="5">-->
                <!--<div class="pull-right btn-group">-->
                    <!--<button class="btn btn-default btn-xs pic-pre" ng-click="picPre()" disabled><<</button>-->
                    <!--<button class="btn btn-default btn-xs pic-next" ng-click="picNext()">>></button>-->
                <!--</div>-->
            <!--</td>-->
        </tr>
        </tfoot>
    </table>


</div>
