<style>
    .nav > li > a {
        padding: 3px;
    }

    .item-detail {
        padding: 0 !important
    }

    .item-detail > .table {
        margin-bottom: 0
    }

    #myTabContent #dataList {
        list-style-type: none;
        padding-left: 10px;
    }

    #myTabContent #dataList > li {
        list-style-type: none;
        margin-bottom: 10px;
    }

    #myTabContent #dataList > li > ul {
        display: none;
    }

    #myTabContent #dataList > li.selected > ul {
        display: block;
    }

    #myTabContent #dataList > li > div > img {
        margin-right: 10px;
    }

    #myTabContent #dataList > li > div > label {
        color: #FFF;
        cursor: pointer;
        margin-right: 10px;
    }

    #myTabContent #dataList > li > div > i {
        color: #FFF;
    }

    #myTabContent #dataList > li > ul {
        list-style-type: none;
    }

    #myTabContent #dataList > li > ul > li {
        color: #FFF;
        list-style-type: none;
    }

    #myTabContent #dataList > li > ul > li:hover {
        color: #FAA645;
    }

    #myTabContent #dataList > li > ul > li.selected {
        color: #FAA645;
    }

    #myTabContent #dataList > li > ul > li > label {
        cursor: pointer;
    }
    /********************待处理的样式****************************************/
    #myTabContent #dataListOfPending {
        list-style-type: none;
        padding-left: 10px;
    }

    #myTabContent #dataListOfPending > li {
        list-style-type: none;
        margin-bottom: 10px;
    }

    #myTabContent #dataListOfPending > li > ul {
        display: none;
    }

    #myTabContent #dataListOfPending > li.selected > ul {
        display: block;
    }

    #myTabContent #dataListOfPending > li > div > img {
        margin-right: 10px;
    }

    #myTabContent #dataListOfPending > li > div > label {
        color: #FFF;
        cursor: pointer;
        margin-right: 10px;
    }

    #myTabContent #dataListOfPending > li > div > i {
        color: #FFF;
    }

    #myTabContent #dataListOfPending > li > ul {
        list-style-type: none;
    }

    #myTabContent #dataListOfPending > li > ul > li {
        color: #FFF;
        list-style-type: none;
    }

    #myTabContent #dataListOfPending > li > ul > li:hover {
        color: #FAA645;
    }

    #myTabContent #dataListOfPending > li > ul > li.selected {
        color: #FAA645;
    }

    #myTabContent #dataListOfPending > li > ul > li > label {
        cursor: pointer;
    }
</style>
<div ng-controller="fieldsResultController" class="nav-tabs-alt">
    <ul id="myTab" class="nav nav-tabs nav-justified">
        <li class="active">
            <a href="#allTaskers" data-toggle="tab" ng-click="changeList([1,3])" style="font-size: 10px">
                全部
            </a>
        </li>
        <li><a href="#pendingTaskers" data-toggle="tab" ng-click="changeList([1])" style="font-size: 10px">待处理</a></li>
        <li><a href="#solvedTaskers" data-toggle="tab" ng-click="changeList([3])" style="font-size: 10px">已处理</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="allTaskers">
            <div>
                <span>共{{items.total}}个</span>
            </div>
            <div style="width:100%;">
                <ul id="dataList">
                    <li ng-repeat="pItem in items" id="{{pItem.id}}">
                        <div ng-click="showContent(pItem,[1,3],0,$event)"><i
                                class="glyphicon glyphicon-triangle-right" style="float:left"></i>
                            <input style="float:left;" type="checkbox"
                                   ng-checked="pItem.flag"
                                   ng-click="showLayers(pItem,$event)"/>
                            <label>{{pItem.name}}({{pItem.total}})</label>
                        </div>
                        <ul ng-repeat="aItem in allSubItems">
                            <li ng-if="aItem.i!=''||aItem.i!=null||aItem.i!=' '"
                                ng-click="showTab(aItem,$event,pItem.id)">
                                <label>{{pItem.name}}Tips{{$index+1}}</label>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-pane fade" id="pendingTaskers">
            <div>
                <span>共{{items.total}}个</span>
                <!--<span style="float:right">显示</span>-->
            </div>
            <div  style="width:100%;">
                <ul id="dataListOfPending">
                    <li ng-repeat="pendItem in items " id="{{pendItem.id}}Pending">
                        <div ng-click="showContent(pendItem,[1],1,$event)"><i
                                class="glyphicon glyphicon-triangle-right" style="float:left"></i>
                            <input style="float:left;" type="checkbox"
                                   ng-checked="pendItem.flag"
                                   ng-click="showLayers(pendItem,$event)"/>
                            <label>{{pendItem.name}}({{pendItem.total}})</label>
                        </div>
                        <ul ng-repeat="pendSubItem in pendSubItems">
                            <li ng-if="pendSubItem.i!=''||pendSubItem.i!=null||pendSubItem.i!=' '"
                                ng-click="showTab(pendSubItem,$event,pendSubItem.id)">
                                <label>{{pendSubItem.name}}Tips{{$index+1}}</label>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!--<div ng-if="!pendItem.show">-->
                    <!--<div class="panel-group" style="margin-bottom: 0px;">-->
                        <!--<div class="panel panel-default">-->
                            <!--<div class="panel-heading" style="background-color: #F6F8F8">-->
                                <!--<h4 class="panel-title">-->
                                    <!--<a data-toggle="collapse" data-parent="#accordion"-->
                                       <!--href="#{{pendItem.id}}show" ng-click="showContent(pendItem,[1],1)">-->
                                        <!--<span class="glyphicon glyphicon-chevron-down" style="float: left"></span>-->
                                    <!--</a>-->
                                <!--</h4>-->

                                <!--<div style="background-color: #710909;margin:5px;width: 10px;height: 10px;float: left;"></div>-->
                                <!--<div>-->
                                    <!--<span style="font-size: 15px">{{pendItem.name}}</span>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div id="{{pendItem.id}}show" class="panel-collapse collapse">-->
                                <!--<div class="panel-body item-detail">-->
                                    <!--<table class="table">-->
                                        <!--<tr ng-repeat="pendSubItem in pendSubItems">-->
                                            <!--<div ng-if="pendSubItem.i!=''||pendSubItem.i!=null||pendSubItem.i!=' '">-->
                                                <!--<td ng-click="showTab(pendSubItem,$event,pItem.id)">交限Tips{{$index+1}}-->
                                                <!--</td>-->
                                            <!--</div>-->

                                        <!--</tr>-->
                                    <!--</table>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <div class="tab-pane fade" id="solvedTaskers">
            <div>
                <span>共{{items.total}}个</span>
                <!--<span style="float:right">显示</span>-->
            </div>
            <div ng-repeat="solveItem in items">
                <div class="panel-group" style="margin-bottom: 0px;">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color: #F6F8F8">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#{{solveItem.id}}unshow" ng-click="showContent(solveItem,[3],3)">
                                    <span class="glyphicon glyphicon-chevron-down" style="float: left"></span>
                                </a>
                            </h4>

                            <div style="background-color: #710909;margin:5px;width: 10px;height: 10px;float: left;"></div>
                            <div>
                                <span style="font-size: 15px">{{solveItem.name}}</span>
                            </div>
                        </div>
                        <div id="{{solveItem.id}}unshow" class="panel-collapse collapse">
                            <div class="panel-body item-detail">
                                <table class="table">
                                    <tr ng-repeat="solvedItem in solvedSubItems">
                                        <div ng-if="solvedItem.i!=''||solvedItem.i!=null||solvedItem.i!=' '">
                                            <td ng-click="showTab(solvedItem,$event,pItem.id)">交限Tips{{$index+1}}</td>
                                        </div>

                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>