<style>
    .nav > li > a {
        padding: 3px;
    }

    .item-detail {
        padding: 0 !important
    }

    .item-detail > .table {
        margin-bottom: 0
    }

    #fm-dataList-btnGroup>div>button{
         background: rgba(138,138,203,0.7);
        color:#FFF;
    }
    #fm-dataList-btnGroup>div>button>a{
        color: #FFF;
    }

    #fm-dataList-btnGroup>div>button:hover{
        background: rgba(164,164,229,1);
    }

    #fm-dataList-btnGroup>div>button.active{
        background: rgba(164,164,229,1);
    }

    #fm-dataList-btnGroup>div>button:focus{
        border: none;
        box-shadow:none
    }


    #myTabContent #dataList {
        list-style-type: none;
        padding-left: 10px;
    }

    #myTabContent #dataList > li {
        list-style-type: none;
        margin-bottom: 10px;
    }

    #myTabContent #dataList > li > ul {
        display: none;
    }

    #myTabContent #dataList > li.selected > ul {
        display: block;
    }

    #myTabContent #dataList > li > div > img {
    }

    #myTabContent #dataList > li > div > label {
        color: #FFF;
        cursor: pointer;
    }
    #myTabContent #dataList > li > div > label:hover {
        color: rgba(255,255,255,0.5);
    }

    #myTabContent #dataList > li > div > i {
        cursor: pointer;
        color: #FFF;
    }

    #myTabContent #dataList > li > ul {
        list-style-type: none;
    }

    #myTabContent #dataList > li > ul > li {
        color: #FFF;
        list-style-type: none;
    }

    #myTabContent #dataList > li > ul > li:hover {
        color: rgba(255,255,255,0.5);
    }

    #myTabContent #dataList > li > ul > li.selected {
        color: #FAA645;
    }

    #myTabContent #dataList > li > ul > li > label {
        cursor: pointer;
    }
    /********************待处理的样式****************************************/
    #myTabContent #dataListOfPending {
        list-style-type: none;
        padding-left: 10px;
    }

    #myTabContent #dataListOfPending > li {
        list-style-type: none;
        margin-bottom: 10px;
    }

    #myTabContent #dataListOfPending > li > ul {
        display: none;
    }

    #myTabContent #dataListOfPending > li.selected > ul {
        display: block;
    }

    #myTabContent #dataListOfPending > li > div > img {
         vertical-align: top;
    }

    #myTabContent #dataListOfPending > li > div > label {
        color: #FFF;
        cursor: pointer;
        vertical-align: top;
    }

    #myTabContent #dataListOfPending > li > div > label:hover {
        color: rgba(255,255,255,0.5);
        cursor: pointer;
    }

    #myTabContent #dataListOfPending > li > div > i {
        cursor: pointer;
        color: #FFF;
        vertical-align: top;
    }

    #myTabContent #dataListOfPending > li > ul {
        list-style-type: none;
    }

    #myTabContent #dataListOfPending > li > ul > li {
        color: #FFF;
        list-style-type: none;
    }

    #myTabContent #dataListOfPending > li > ul > li:hover {
        color: #FAA645;
    }

    #myTabContent #dataListOfPending > li > ul > li.selected {
        color: #FAA645;
    }

    #myTabContent #dataListOfPending > li > ul > li > label {
        cursor: pointer;
        margin-bottom: 0px;
    }
    /******************已处理的样式****************************************/
    #myTabContent #dataListOfPended {
        list-style-type: none;
        padding-left: 10px;
    }

    #myTabContent #dataListOfPended > li {
        list-style-type: none;
        margin-bottom: 10px;
    }

    #myTabContent #dataListOfPended > li > ul {
        display: none;
    }

    #myTabContent #dataListOfPended > li.selected > ul {
        display: block;
    }

    #myTabContent #dataListOfPended > li > div > img {
        vertical-align: top;
    }

    #myTabContent #dataListOfPended > li > div > label {
        color: #FFF;
        cursor: pointer;
        vertical-align: top;
    }

    #myTabContent #dataListOfPended > li > div > i {
        cursor: pointer;
        color: #FFF;
        vertical-align: top;
    }

    #myTabContent #dataListOfPended > li > ul {
        list-style-type: none;
    }

    #myTabContent #dataListOfPended > li > ul > li {
        color: #FFF;
        list-style-type: none;
    }

    #myTabContent #dataListOfPended > li > ul > li:hover {
        color: rgba(255,255,255,0.5);
    }

    #myTabContent #dataListOfPended > li > ul > li.selected {
        color: #FAA645;
    }

    #myTabContent #dataListOfPended > li > ul > li > label {
        cursor: pointer;
    }

    #myTabContent #dataListOfPended > li > div > label:hover {
        color: rgba(255,255,255,0.5);
        cursor: pointer;
    }

    #fm-dataSelectContainer>a{
        color:rgba(255,255,255,0.5);
    }

    #fm-dataSelectContainer>a:hover{
        color:rgba(255,255,255,0.8);
    }

    #fm-dataSelectContainer>input{
        border-radius: 4px;
        background-color: rgba(0,0,0,0.3);
        border-width: 0;
        height: 30px;
        padding-left: 3px;
    }
</style>
<div ng-controller="fieldsResultController" >
    <div id="fm-dataSelectContainer" style="">
        <a href="#" class="btn glyphicon glyphicon-edit" style="font-size: 20px" ></a>
        <input type="text" style="vertical-align: top;margin-top: 10px;width:180px;padding-right:30px" placeholder="搜索..." />
        <a href="#" class="btn glyphicon glyphicon-search" style="margin-left: -40px" ></a>
    </div>
    <div id="fm-dataList-btnGroup" class="btn-group btn-group-justified" style="margin-top: 10px;" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-xs"><a href="#allTaskers" data-toggle="tab" ng-click="changeList([1,3])" style="font-size: 10px;">全 部</a></button>
        </div>
        <div class="btn-group" role="group" style="border-left: 1px solid #404040;border-right: 1px solid #404040">
            <button type="button" class="btn btn-xs"><a href="#pendingTaskers" data-toggle="tab" ng-click="changeList([1])" style="font-size: 10px;">待处理</a></button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-xs"><a href="#solvedTaskers" data-toggle="tab" ng-click="changeList([3])" style="font-size: 10px;">已处理</a></button>
        </div>
    </div>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="allTaskers">
            <div style="padding:2px 5px;text-align: right;color: #FFF;border-bottom: 1px solid darkgray;margin-bottom: 5px">
                <span>共{{items.total}}个</span>
            </div>
            <div style="width:100%;">
                <ul id="dataList">
                    <li ng-repeat="pItem in items" id="{{pItem.id}}">
                        <div ng-click="showContent(pItem,[1,3],0,$event)"><i
                                class="glyphicon glyphicon-folder-close"></i>
                            <input  type="checkbox" style="margin-top: 2px;vertical-align: top"
                                   ng-checked="pItem.flag"
                                   ng-click="showLayers(pItem,$event)"/>
                            <label>{{pItem.name}}({{pItem.total}})</label>
                        </div>
                        <ul ng-repeat="aItem in allSubItems">
                            <li ng-if="aItem.i!=''||aItem.i!=null||aItem.i!=' '"
                                ng-click="showTab(aItem,$event,pItem.id)">
                                <label title="{{aItem.m.f|date:'yyyy-MM-dd hh:mm:ss'}}">{{aItem.m.e}}</label>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-pane fade" id="pendingTaskers">
            <div style="padding:2px 5px;text-align: right;color: #FFF;border-bottom: 1px solid darkgray;margin-bottom: 5px">
                <span>共{{items.total}}个</span>
                <!--<span style="float:right">显示</span>-->
            </div>
            <div  style="width:100%;">
                <ul id="dataListOfPending">
                    <li ng-repeat="pendItem in items " id="{{pendItem.id}}Pending">
                        <div ng-click="showContent(pendItem,[1],1,$event)"><i
                                class="glyphicon glyphicon-folder-close" style=""></i>
                            <input  type="checkbox"  style="margin-top: 2px;vertical-align: top;"
                                   ng-checked="pendItem.flag"
                                   ng-click="showLayers(pendItem,$event)"/>
                            <label>{{pendItem.name}}({{pendItem.total}})</label>
                        </div>
                        <ul ng-repeat="pendSubItem in pendSubItems">
                            <li ng-if="pendSubItem.i!=''||pendSubItem.i!=null||pendSubItem.i!=' '"
                                ng-click="showTab(pendSubItem,$event,pendItem.id)">
                                <label>{{pendSubItem.m.e|date:'yyyy-MM-dd hh:mm:ss'}}</label>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
        <div class="tab-pane fade" id="solvedTaskers">
            <div style="padding:2px 5px;text-align: right;color: #FFF;border-bottom: 1px solid darkgray;margin-bottom: 5px">
                <span>共{{items.total}}个</span>
            </div>
            <div style="width:100%;">
                <ul id="dataListOfPended">
                    <li ng-repeat="solveItem in items" id="{{solveItem.id}}Pended">
                        <div ng-click="showContent(solveItem,[3],3,$event)"><i
                                class="glyphicon glyphicon-folder-close" style=""></i>
                            <input  type="checkbox"  style="margin-top: 2px;vertical-align: top"
                                   ng-checked="solveItem.flag"
                                   ng-click="showLayers(solveItem,$event)"/>
                            <label>{{solveItem.name}}({{solveItem.total}})</label>
                        </div>
                        <ul ng-repeat="solveSubItem in solvedSubItems">
                            <li ng-if="solveSubItem.i!=''||solveSubItem.i!=null||solveSubItem.i!=' '"
                                ng-click="showTab(solveSubItem,$event,solveItem.id)">
                                <label>{{solveSubItem.m.e|date:'yyyy-MM-dd hh:mm:ss'}}</label>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>