<style>
    .nav > li > a {
        padding: 3px;
    }

    .item-detail {
        padding: 0 !important
    }

    .item-detail > .table {
        margin-bottom: 0
    }

    #fm-dataList-btnGroup>div>button{
         background: rgba(138,138,203,0.7);
        color:#FFF;
    }
    #fm-dataList-btnGroup>div>button>a{
        color: #FFF;
    }

    #fm-dataList-btnGroup>div>button:hover{
        background: rgba(164,164,229,0.9);
    }

    #fm-dataList-btnGroup>div>button.active{
        background: rgba(164,164,229,0.9);
    }

    #fm-dataList-btnGroup>div>button:focus{
        border: none;
        box-shadow:none
    }


    #tipsTabContent #dataList {
        list-style-type: none;
        padding-left: 10px;
    }

    #tipsTabContent #dataList > li {
        list-style-type: none;
        margin-bottom: 10px;
    }

    #tipsTabContent #dataList > li>div:hover>a {
        color: rgba(255,255,255,0.5);
    }

    #tipsTabContent #dataList > li>div:hover>i{
        color: rgba(255,255,255,0.5);
    }

    #tipsTabContent #dataList > li > ul {
        display: none;
    }

    #tipsTabContent #dataList > li.selected > ul {
        display: block;
    }

    #tipsTabContent #dataList > li > div > img {
    }

    #tipsTabContent #dataList > li > div > label {
        color: #FFF;
        cursor: pointer;
        font-weight: bold;
    }

    #tipsTabContent #dataList > li > div > label>span{
        color:rgba(255,255,255,0.5);
        font-size: 10px;
        margin-left: 5px;
    }

    #tipsTabContent #dataList > li > div:hover > label>span{
        color:#FFF;
    }


    #tipsTabContent #dataList > li > div > label:hover {
        color: rgba(255,255,255,0.5);
    }

    #tipsTabContent #dataList > li > div > i {
        cursor: pointer;
        color: #FFF;
    }

    #tipsTabContent #dataList > li > ul {
        list-style-type: none;
    }

    #tipsTabContent #dataList > li > ul > li {
        color: #FFF;
        list-style-type: none;
    }

    #tipsTabContent #dataList > li > ul > li:hover {
        color: rgba(255,255,255,0.5);
    }

    #tipsTabContent #dataList > li > ul > li.selected {
        color: #FAA645;
    }

    #tipsTabContent #dataList > li > ul > li > label {
        cursor: pointer;
        font-weight: bold;
    }
    /********************待处理的样式****************************************/
    #tipsTabContent #dataListOfPending {
        list-style-type: none;
        padding-left: 10px;
    }

    #tipsTabContent #dataListOfPending > li {
        list-style-type: none;
        margin-bottom: 10px;
    }

    #tipsTabContent #dataListOfPending > li>div:hover>a {
        color: rgba(255,255,255,0.5);
    }

    #tipsTabContent #dataListOfPending > li>div:hover>i{
        color: rgba(255,255,255,0.5);
    }

    #tipsTabContent #dataListOfPending > li > ul {
        display: none;
    }

    #tipsTabContent #dataListOfPending > li.selected > ul {
        display: block;
    }

    #tipsTabContent #dataListOfPending > li > div > img {
         vertical-align: top;
    }

    #tipsTabContent #dataListOfPending > li > div > label {
        color: #FFF;
        cursor: pointer;
        vertical-align: top;
    }

    #tipsTabContent #dataListOfPending > li > div > label>span{
        color:rgba(255,255,255,0.5);
        font-size: 10px;
        margin-left: 5px;
    }

    #tipsTabContent #dataListOfPending > li > div:hover > label>span{
        color:#FFF;
    }

    #tipsTabContent #dataListOfPending > li > div > label:hover {
        color: rgba(255,255,255,0.5);
        cursor: pointer;
    }

    #tipsTabContent #dataListOfPending > li > div > i {
        cursor: pointer;
        color: #FFF;
        vertical-align: top;
    }

    #tipsTabContent #dataListOfPending > li > ul {
        list-style-type: none;
    }

    #tipsTabContent #dataListOfPending > li > ul > li {
        color: #FFF;
        list-style-type: none;
    }

    #tipsTabContent #dataListOfPending > li > ul > li:hover {
        color: #FAA645;
    }

    #tipsTabContent #dataListOfPending > li > ul > li.selected {
        color: #FAA645;
    }

    #tipsTabContent #dataListOfPending > li > ul > li > label {
        cursor: pointer;
        margin-bottom: 0px;
    }
    /******************已处理的样式****************************************/
    #tipsTabContent #dataListOfPended {
        list-style-type: none;
        padding-left: 10px;
    }

    #tipsTabContent #dataListOfPended > li {
        list-style-type: none;
        margin-bottom: 10px;
    }

    #tipsTabContent #dataListOfPended > li>div:hover>a {
        color: rgba(255,255,255,0.5);
    }

    #tipsTabContent #dataListOfPended > li>div:hover>i{
        color: rgba(255,255,255,0.5);
    }

    #tipsTabContent #dataListOfPended > li > ul {
        display: none;
    }

    #tipsTabContent #dataListOfPended > li.selected > ul {
        display: block;
    }

    #tipsTabContent #dataListOfPended > li > div > img {
        vertical-align: top;
    }

    #tipsTabContent #dataListOfPended > li > div > label {
        color: #FFF;
        cursor: pointer;
        vertical-align: top;
    }

    #tipsTabContent #dataListOfPended > li > div > label>span{
        color:rgba(255,255,255,0.5);
        font-size: 10px;
        margin-left: 5px;
    }

    #tipsTabContent #dataListOfPended > li > div:hover > label>span{
        color:#FFF;
    }

    #tipsTabContent #dataListOfPended > li > div > i {
        cursor: pointer;
        color: #FFF;
        vertical-align: top;
    }

    #tipsTabContent #dataListOfPended > li > ul {
        list-style-type: none;
    }

    #tipsTabContent #dataListOfPended > li > ul > li {
        color: #FFF;
        list-style-type: none;
    }

    #tipsTabContent #dataListOfPended > li > ul > li:hover {
        color: rgba(255,255,255,0.5);
    }

    #tipsTabContent #dataListOfPended > li > ul > li.selected {
        color: #FAA645;
    }

    #tipsTabContent #dataListOfPended > li > ul > li > label {
        cursor: pointer;
    }

    #tipsTabContent #dataListOfPended > li > div > label:hover {
        color: rgba(255,255,255,0.5);
        cursor: pointer;
    }

    #fm-dataSelectContainer>a{
        color:rgba(255,255,255,0.5);
    }

    #fm-dataList-btnGroup button{
        outline-color: rgba(164,164,229,1);
    }

    #fm-dataSelectContainer>a{
        color: #FFF;
        cursor: pointer;
    }

    #fm-dataSelectContainer>a:hover{
        color:rgba(255,255,255,0.5);
    }

    #fm-dataSelectContainer>input{
        border-radius: 4px;
        background-color: rgba(0,0,0,0.3);
        border-width: 0;
        padding-left: 3px;
    }

    #dataList a{
        color:#FFF;
        text-decoration: none;
    }

    #dataList>li>div>a{
        margin-left: 5px;
        margin-right: 5px;
    }

    #dataListOfPending a{
        color:#FFF;
        text-decoration: none;
    }

    #dataListOfPending>li>div>a{
        margin-left: 5px;
        margin-right: 5px;
    }

    #dataListOfPended a{
        color:#FFF;
        text-decoration: none;
    }

    #dataListOfPended>li>div>a{
        margin-left: 5px;
        margin-right: 5px;
    }
</style>
<div ng-controller="fieldsResultController" >
    <div style="background-color: rgb(64,64,64);padding: 2px 5px;">
        <div id="fm-dataSelectContainer">
            <a href="#" title="框选" class="btn glyphicon glyphicon-edit" style="font-size: 14px;" ></a>
            <input type="text" style="vertical-align: top;color:#fff;margin-top: 10px;width:130px;padding-right:30px;height: 20px;" placeholder="搜索..." />
            <a href="#" title="搜索" class="btn glyphicon glyphicon-search" style="margin-left: -33px;" ></a>
            <a href="#" title="刷新" class="btn glyphicon glyphicon-refresh" style="padding:6px 12px;font-size:14px;"></a>
        </div>
        <div id="fm-dataList-btnGroup" class="btn-group btn-group-justified" style="margin-top: 10px;" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-xs active"><i class="glyphicon glyphicon-th-large"></i> <a href="#allTaskers" data-toggle="tab" ng-click="changeList([1,3])" style="font-size: 10px;text-decoration: none;font-weight:bold">全 部</a></button>
            </div>
            <div class="btn-group" role="group" style="border-left: 1px solid #404040;border-right: 1px solid #404040">
                <button type="button" class="btn btn-xs"><i class="glyphicon glyphicon-list-alt"></i> <a href="#pendingTaskers" data-toggle="tab" ng-click="changeList([1])" style="font-size: 10px;text-decoration: none;font-weight:bold">待 处 理</a></button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-xs"><i class="glyphicon glyphicon-th-list"></i> <a href="#solvedTaskers" data-toggle="tab" ng-click="changeList([3])" style="font-size: 10px;text-decoration: none;font-weight:bold">已 处 理</a></button>
            </div>
        </div>
    </div>

    <div id=tipsTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="allTaskers">
            <div style="background-color:rgb(64,64,64);padding:2px 5px;text-align: right;color: #FFF;border-bottom: 1px solid darkgray;margin-bottom: 5px">
                <span>共{{items.total}}个</span>
            </div>
            <div style="width:100%;">
                <ul id="dataList">
                    <li ng-repeat="pItem in items" id="{{pItem.id}}">
                        <div ng-click="showContent(pItem,[1,3],0,$event)">
                            <i class="glyphicon glyphicon-folder-close"></i>
                            <a class="glyphicon" ng-class="{true:'glyphicon-check',false:'glyphicon-unchecked'}[pItem.flag]" ng-click="showLayers(pItem,$event)"></a>
                            <label>{{pItem.name}} <span>{{pItem.total}}</span></label>
                        </div>
                        <ul ng-repeat="aItem in allSubItems">
                            <li ng-if="aItem.i!=''||aItem.i!=null||aItem.i!=' '"
                                ng-click="showTab(aItem,$event,pItem.id,$index)" ng-class="{true:'selected'}[allStyleArr[$index]]">
                                <label  title="{{aItem.m.f|date:'yyyy-MM-dd HH:mm:ss'}}">{{aItem.m.e}}</label>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-pane fade" id="pendingTaskers">
            <div style="padding:2px 5px;text-align: right;color: #FFF;border-bottom: 1px solid darkgray;margin-bottom: 5px">
                <span>共{{items.total}}个</span>
                <!--<span style="float:right">显示</span>-->
            </div>
            <div  style="width:100%;">
                <ul id="dataListOfPending">
                    <li ng-repeat="pendItem in items " id="{{pendItem.id}}Pending">
                        <div ng-click="showContent(pendItem,[1],1,$event)"><i
                                class="glyphicon glyphicon-folder-close" style=""></i>
                            <a class="glyphicon" ng-class="{true:'glyphicon-check',false:'glyphicon-unchecked'}[pendItem.flag]" ng-click="showLayers(pendItem,$event)"></a>
                            <label>{{pendItem.name}} <span>{{pendItem.total}}</span></label>
                        </div>
                        <ul ng-repeat="pendSubItem in pendSubItems">
                            <li ng-if="pendSubItem.i!=''||pendSubItem.i!=null||pendSubItem.i!=' '"
                                ng-click="showTab(pendSubItem,$event,pendItem.id,$index)" ng-class="{true:'selected'}[pendingStyleArr[$index]]">
                                <label>{{pendSubItem.m.e|date:'yyyy-MM-dd HH:mm:ss'}}</label>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
        <div class="tab-pane fade" id="solvedTaskers">
            <div style="padding:2px 5px;text-align: right;color: #FFF;border-bottom: 1px solid darkgray;margin-bottom: 5px">
                <span>共{{items.total}}个</span>
            </div>
            <div style="width:100%;">
                <ul id="dataListOfPended">
                    <li ng-repeat="solveItem in items" id="{{solveItem.id}}Pended">
                        <div ng-click="showContent(solveItem,[3],3,$event)"><i  class="glyphicon glyphicon-folder-close" style=""></i>
                            <a class="glyphicon" ng-class="{true:'glyphicon-check',false:'glyphicon-unchecked'}[solveItem.flag]" ng-click="showLayers(solveItem,$event)"></a>
                            <label>{{solveItem.name}}  <span>{{solveItem.total}}</span></label>
                        </div>
                        <ul ng-repeat="solveSubItem in solvedSubItems">
                            <li ng-if="solveSubItem.i!=''||solveSubItem.i!=null||solveSubItem.i!=' '"
                                ng-click="showTab(solveSubItem,$event,solveItem.id,$index)"
                                ng-class="{true:'selected'}[solvedStyleArr[$index]]">
                                <label>{{solveSubItem.m.e|date:'yyyy-MM-dd HH:mm:ss'}}</label>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>