<div ng-controller="modifyToolController" class="btn-group btn-group-sm">
    <button type="button" class="btn btn-default" ng-click="modifyShape('insertDot')">插入形状点</button>
    <button type="button" class="btn btn-default" ng-click="modifyShape('deleteDot')">删除形状点</button>
    <button type="button" class="btn btn-default" ng-click="modifyShape('moveDot')">移动形状点</button>
    <button type="button" class="btn btn-default" disabled>复制link</button>
    <button type="button" class="btn btn-default" disabled>平移link</button>
    <button type="button" class="btn btn-default" disabled ng-click="modifyShape('extendDot')">延长link</button>
    <button type="button" class="btn btn-default"  ng-click="modifyShape('pathBreak')">打断link</button>
</div>