<meta charset="UTF-8">
<link rel="stylesheet" href="../lib/bootstrap-3.3.5/css/bootstrap.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css" type="text/css">
<script src="../lib/jquery/2.1.1/jquery-2.1.1.js"></script>
<script src="../lib/bootstrap-3.3.5/js/bootstrap.js"></script>
<script src="../lib/angularjs/1.4.4/angular.js"></script>

<style>
    div {
        -webkit-font-smoothing: antialiased;
        line-height: 1.42857143;
        color: #58666e;
        background-color: transparent;
        margin-right: 0px;
    }

    label {
        font-weight: normal;
    }

    #rdBranchDiv {
        border: 1px solid #FBFBFB;
        width: 100%;
        height: 630px;
        min-height: 300px;
        overflow-y: scroll;
    }

    .line-dashed {
        background-color: transparent;
        border-style: dashed !important;
        border-width: 0;
    }

    .b-b {
        border-bottom: 1px solid #dee5e7;
    }

    .line-lg {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .pull-in {
        margin-left: -15px;
        margin-right: -15px;
    }

    .col-centered {
        float: none;
        margin: 0 auto;
    }
    .form-horizontal .control-label{
        text-align: center;
    }


</style>

<div ng-app="rdBanchApp" ng-controller="rdBranchController" class="panel panel-default" id="rdBranchDiv">
    <div class="panel-heading font-bold" style=" text-align: center;height: 7%">
        分歧
        <span class="label label-info">{{rdRestrictData.pid}}</span>
    </div>
    <div class="panel-body" style="height: 95%;">
        <form class="form-horizontal" method="get">
            <div class="form-group">
                <label class="col-sm-3 control-label">入</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control rounded" placeholder="link编号" ng-model="rdRestrictData.inLinkPid">
                </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">出</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control rounded" placeholder="link编号" ng-model="rdRestrictData.inLinkPid">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">关系类型</label>
                <div class="col-sm-9">
                    <div id="rdrelationshipTypediv" class="btn-group" style="border-radius: 10px;border: 1px solid #2aabd2;">
                        <button class="btn btn-default" style="border-radius: 15px; width: 60px;height: 20px; font-size: 10px; padding: 0px;border: 0px;outline: none;" id="rdrelationshipTypebtn1" ng-click="checkrdrelationshipType(1,rdSubRestrictData)" ng-model="rdSubRestrictData.relationshipType">路口</button>
                        <button class="btn btn-default" style="border-radius: 15px;width: 60px;height: 20px;font-size: 10px;padding: 0px;border: 0px;outline: none;" id="rdrelationshipTypebtn2" ng-click="checkrdrelationshipType(2,rdSubRestrictData)" ng-model="rdSubRestrictData.relationshipType">线线</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold">
                        模式图信息（共  条）
                        <span class="glyphicon glyphicon-plus"
                                                     style="float: right;color: darkgray;font-size: 20px"
                                                     ng-click="addTime()"></span>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" method="get">
                            <div >
                                <div class="form-group">
                                    <div class="col-sm-2"></div>
                                    <table class="col-sm-8" style="border: 1px solid #1b6d85; float:left; ">
                                        <tr>
                                            <td ></td>
                                            <td style="border: 1px solid #1b6d85;"><label class="col-sm-4 control-label">分歧类型</label></td>
                                            <td style="border: 1px solid #1b6d85;"><label class="col-sm-4 control-label">箭头图代码</label></td>
                                            <td style="border: 1px solid #1b6d85;"><label class="col-sm-4 control-label">底图代码</label></td>
                                        </tr>
                                        <!--<tr ng-repeat="">-->
                                        <tr>
                                            <td> <label class="col-sm-10 control-label">展开按钮</label></td>
                                            <td style="border: 1px solid #1b6d85;">
                                                <select class="form-control rounded"  ng-model="branchType" ng-options="value.id as value.label for value in branchTypeOptions" ></select>
                                            </td>
                                            <td style="border: 1px solid #1b6d85;"><input type="text" class="form-control rounded" placeholder="箭头图代码" ng-model="arrowCode"></td>
                                            <td style="border: 1px solid #1b6d85;"><input type="text" class="form-control rounded" placeholder="底图代码" ng-model="code"></td>
                                        </tr>
                                    </table>


                                    <div class="col-sm-1" ><span class="glyphicon glyphicon-remove-sign" style="color: darkgray;font-size: 20px;" ng-click="minusTime($index)"></span></div>
                                </div>

                            </div>


                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul id="myTab" class="nav nav-tabs nav-justified" >
                            <li class="active">
                                <a href="#allInfo" data-toggle="tab"  style="font-size: 10px">
                                    详细信息
                                </a>
                            </li>
                            <li><a href="#nameInfo" data-toggle="tab"  style="font-size: 10px">名称信息</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="allInfo">
                                <form class="form-horizontal" method="get">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">出口编号</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control rounded" placeholder="出口编号" ng-model="rdRestrictData.inLinkPid">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">箭头图标志</label>
                                        <div class="col-sm-9">
                                            <div id="arrowFlagdiv" class="btn-group" style="border-radius: 10px;border: 1px solid #2aabd2;">
                                                <button class="btn btn-default" style="border-radius: 15px; width: 75px;height: 20px; font-size: 10px; padding: 0px;border: 0px;outline: none;" id="arrowFlagbtn0" ng-click="checkarrowFlag(0)" ng-model="rdSubRestrictData.arrowFlag">无</button>
                                                <button class="btn btn-default" style="border-radius: 15px;width: 75px;height: 20px;font-size: 10px;padding: 0px;border: 0px;outline: none;" id="arrowFlagbtn1" ng-click="checkarrowFlag(1)" ng-model="rdSubRestrictData.arrowFlag">直行箭头标志</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">设施类型</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" ng-model="arrowFlag" ng-options="value.id as value.label for value in estabTypeOptions" >
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">名称种别</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" ng-model="nameKind" ng-options="value.id as value.label for value in nameKindOptions" >
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">声音方向</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" ng-model="voiceDir" ng-options="value.id as value.label for value in voiceDirOptions" >
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">向导代码</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" ng-model="guideCode" ng-options="value.id as value.label for value in guideCodeOptions" >
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="nameInfo">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            名称信息(共<span ng-if="linkData!=undefined">{{linkData.names.length}}</span>组)
                                            <a data-toggle="collapse" data-parent="#accordion"
                                               href="#loadPropertyDiv">
                                                <span class="glyphicon glyphicon-chevron-down" style="float: left"></span>
                                            </a>
                    <span class="glyphicon glyphicon-plus" style="float: right;color: darkgray;"
                          ng-click="addRoadName()"></span>
                                        </h4>
                                    </div>
                                    <div id="loadPropertyDiv" class="panel-collapse collapse in">
                                        <div class="panel-body ">
                                            <div >
                                                <div class="panel-group" >
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">

                                        <span class="glyphicon glyphicon-remove-sign"
                                              style="float: right;color: darkgray;"
                                              ng-click="minusRoadName($index)"></span>
                                                            </h4>
                                                        </div>
                                                        <div id="" class="panel-collapse collapse in">
                                                            <div class="panel-body ">
                                                                <div class="panel-body"
                                                                     style="min-height: 100px;height:300px;overflow-y: auto;">
                                                                    <form class="form-horizontal" method="get">
                                                                        <div class="form-group">
                                                                            <label class="col-sm-3 control-label">名称组号</label>

                                                                            <div class="col-sm-9">
                                                                                <input type="text" class="form-control" placeholder="0"
                                                                                       ng-model="nameGroupid">
                                                                            </div>
                                                                        </div>
                                                                        <div class="line line-dashed b-b line-lg pull-in"></div>
                                                                        <div class="form-group">

                                                                            <label class="col-sm-3 control-label">语言代码</label>

                                                                            <div class="col-sm-9">
                                                                                <input type="text" class="form-control" placeholder="0"
                                                                                       ng-model="nameGroupid">
                                                                            </div>
                                                                        </div>

                                                                        <div class="line line-dashed b-b line-lg pull-in"></div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-3 control-label">分歧名称</label>

                                                                            <div class="col-sm-4">
                                                                                <input type="text" class="form-control" placeholder="0"
                                                                                       ng-model="name">
                                                                            </div>
                                                                        </div>
                                                                        <div class="line line-dashed b-b line-lg pull-in"></div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-3 control-label">名称发音</label>

                                                                            <div class="col-sm-4">
                                                                                <input type="text" class="form-control" placeholder="名称发音"
                                                                                       ng-model="seqNum">
                                                                            </div>
                                                                        </div>
                                                                        <div class="line line-dashed b-b line-lg pull-in"></div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-3 control-label">名称语音</label>

                                                                            <div class="col-sm-4">
                                                                                <input type="text" class="form-control" placeholder="名称语音"
                                                                                       ng-model="seqNum">
                                                                            </div>
                                                                        </div>
                                                                        <div class="line line-dashed b-b line-lg pull-in"></div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-3 control-label">名称分类</label>

                                                                            <div class="col-sm-9">
                                                                                <div id="nameClassdiv{{$index}}" class="btn-group" style="border-radius: 10px;border: 1px solid #2aabd2;">
                                                                                    <button class="btn btn-default" style="border-radius: 15px; width: 60px;height: 20px; font-size: 10px; padding: 0px;border: 0px;outline: none;" id="nameClassbtn0_{{$index}}" ng-click="checknameClass(0,item,$index)" ng-model="nameClass">方向</button>
                                                                                    <button class="btn btn-default" style="border-radius: 15px;width: 60px;height: 20px;font-size: 10px;padding: 0px;border: 0px;outline: none;" id="nameClassbtn1_{{$index}}" ng-click="checknameClass(1,item,$index)" ng-model="nameClass">出口</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="line line-dashed b-b line-lg pull-in"></div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-3 control-label">编号类型</label>

                                                                            <div class="col-sm-4">
                                                                                <select class="form-control" ng-model="codeType"
                                                                                        ng-options="value.id as value.label for value in codeTypeOptions" >
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="line line-dashed b-b line-lg pull-in"></div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-3 control-label">名称来源</label>

                                                                            <div class="col-sm-4">
                                                                                <input type="text" class="form-control" placeholder="内容显示">
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="../ctrl/rdBanchCtrl.js"></script>