<style>
    div {
        -webkit-font-smoothing: antialiased;
        line-height: 1.42857143;
        color: #58666e;
        background-color: transparent;
        margin-right: 0px;
    }

    label {
        font-weight: normal;
    }

    #traffiLimitedDiv {
        border: 1px solid #FBFBFB;
        width: 100%;
        height: 530px;
        min-height: 300px;
        overflow-y: scroll;
    }

    .line-dashed {
        background-color: transparent;
        border-style: dashed !important;
        border-width: 0;
    }

    .b-b {
        border-bottom: 1px solid #dee5e7;
    }

    .line-lg {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .pull-in {
        margin-left: -15px;
        margin-right: -15px;
    }

    .col-centered {
        float: none;
        margin: 0 auto;
    }
    .form-horizontal .control-label{
        text-align: center;
    }
    .checkboxli {
        background-color: #e4e4e4;
        border: 1px solid #aaa;
        border-radius: 4px;
        cursor: default;
        float: left;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
        padding: 0 5px;
    }

    .popover {
        width: 100%;
    }

    .popover-content {
        overflow-y: auto;
        height: 200px;
    }
</style>
<div id="rdNodediv"  ng-controller="rdNodeFromController" class="panel panel-default" >
    <div class="panel-heading font-bold" style=" text-align: center;height: 7%">
        道路点
        <span class="label label-info">{{rdNodeData.pid}}</span>
    </div>
    <div class="panel-body" style="height: 95%;">
        <form class="form-horizontal" method="get">
            <div class="form-group">
                <label class="col-sm-3 control-label">NODE种别</label>

                <div class="col-sm-9">
                    <select class="form-control" ng-model="rdNodeData.kind"
                            ng-options="value.id as value.label for value in kindOptions" >
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">差分产品ID</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="rdNodeData.difGroupid">
                </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">数据来源</label>
                <div class="col-sm-9">
                    <select class="form-control" ng-model="rdNodeData.srcFlag"
                            ng-options="value.id as value.label for value in srcFlagOptions" >
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">精度级别</label>

                <div class="col-sm-9">
                    <select class="form-control" ng-model="rdNodeData.digitalLevel"
                            ng-options="value.id as value.label for value in digitalLeveOptions" >
                    </select>
                </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <div class="panel panel-default" style="margin: 5px">
                    <!-- <div class="form-group">
                        <label class="col-sm-3 control-label">Node形态</label>
                    
                        <div class="col-sm-9">
                            <select class="form-control" ng-model="formOfWay"
                                    ng-options="value.id as value.label for value in fromOfWayOption" >
                            </select>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Node形态</label>
                        <a class="col-sm-6 control-label" ng-click="showPopover()">添加</a>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-11" style="float:right;">
                            <div id="fromOfWRoaddiv"
                                 style="list-style: none;border-radius:5px;border:1px solid #58666e; height:40%;float:left; width:93%;word-break: break-all;word-wrap: break-word;"
                                 tabindex="0" role="button" data-toggle="popover" title="Node形态">
                            </div>
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-12 control-label">-->
                            <!--<label class="col-sm-4 control-label" ng-repeat="item in newFromOfWayDate track by $index">-->
                                <!--<span class="text-primary">{{item.name}}</span><span class="glyphicon glyphicon-remove" style="color: darkgray;" ng-click="deleteroadtype($index)"></span>-->
                            <!--</label>-->
                        <!--</label>-->
                    <!--</div>-->
                    <!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog"-->
                         <!--aria-labelledby="myModalLabel" aria-hidden="true" >-->
                        <!--<div class="modal-dialog" style="width:400px;">-->
                            <!--<div class="modal-content">-->
                                <!--<div class="modal-header">-->
                                    <!--<button type="button" class="close"-->
                                            <!--data-dismiss="modal" aria-hidden="true">-->
                                        <!--&times;-->
                                    <!--</button>-->
                                    <!--<h4 class="modal-title" id="myModalLabel">-->
                                        <!--NODE形态添加-->
                                    <!--</h4>-->
                                <!--</div>-->
                                <!--<div class="modal-body" >-->
                                    <!--名称-->
                                    <!--<select class="form-control" id="roadtypename">-->
                                        <!--<option value="0">未调查</option>-->
                                        <!--<option value="1">无属性</option>-->
                                        <!--<option value="2">图廓点</option>-->
                                        <!--<option value="3">CRF Info点</option>-->
                                        <!--<option value="4">收费站</option>-->
                                        <!--<option value="5">Hihgway起点</option>-->
                                        <!--<option value="6">Highway终点</option>-->
                                        <!--<option value="10">IC</option>-->
                                        <!--<option value="11">JCT</option>-->
                                        <!--<option value="12">桥</option>-->
                                        <!--<option value="13">隧道</option>-->
                                        <!--<option value="14">车站</option>-->
                                        <!--<option value="15">障碍物</option>-->
                                        <!--<option value="16">门牌号码点</option>-->
                                        <!--<option value="20">幅宽变化点</option>-->
                                        <!--<option value="21">种别变化点</option>-->
                                        <!--<option value="22">车道变化点</option>-->
                                        <!--<option value="23">分隔带变化点</option>-->
                                        <!--<option value="30">铁道道口</option>-->
                                        <!--<option value="31">有人看守铁道道口</option>-->
                                        <!--<option value="32">无人看守铁道道口</option>-->
                                        <!--<option value="41">KDZone与道路交点</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                                <!--<div class="modal-footer">-->
                                    <!--<button type="button" class="btn btn-default"-->
                                            <!--data-dismiss="modal">关闭-->
                                    <!--</button>-->
                                    <!--<button type="button" class="btn btn-primary" ng-click="saveroadtype()">-->
                                        <!--保存-->
                                    <!--</button>-->
                                <!--</div>-->
                            <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
                        <!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->
                    <!--</div>-->
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">辅助标志</label>

                <div class="col-sm-9">
                    <select class="form-control" ng-model="auxiFlag"
                            ng-options="value.id as value.label for value in auxiFlagOptions" >
                    </select>
                </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">图幅号码</label>
                <div class="col-sm-9">
                    <div ng-repeat="mitem in rdNodeData.meshes">
                        <input type="text" class="form-control" ng-model="mitem.meshId">
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>