<div ng-controller="referenceLayersController" >
    <div class="panel-group" id="accordion" >
        <div class="panel panel-default">
            <ul id="myTab" class="nav nav-tabs" style="background-color: #D4D4D4;height: 25px;">
                <li class="active" style="margin-left: 3px;">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#refereOne" style="cursor: pointer; height: 25px; padding-top: 0px;">
                        参考图层
                    </a>
                </li>
            </ul>
            <div id="refereOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="table-responsive"
                         style="width:100%;overflow: auto">
                        <table class="table">
                            <tr ng-repeat="item in items">
                                <td>{{item.options.layername}}</td>
                                <td><input type="checkbox" ng-click="showLayers(item)" ng-checked="item.options.visible"></td>
                            </tr>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>