<style>
    div {
        -webkit-font-smoothing: antialiased;
        line-height: 1.42857143;
        color: #58666e;
        background-color: transparent;
        margin-right: 0px;
    }

    label {
        font-weight: normal;
    }

    .title {
        height: 20%;
        width: 70%;
        background-color: #FFFFFF;
        border: 1px solid #eeeeee;
    }

    .middle {
        float: left;
        margin: auto;
        height: 70%;
        width: 70%;
    }

    .left {
        float: left;
        clear: right;
        height: 94%;
        width: 100%;
        background-color: #eeefff;
        border: 1px solid #eeeeee;
    }

    .right {

        float: left;
        clear: right;
        height: 60%;
        width: 30%;
        background-color: #FFFFFF;
    }

    .both {
        clear: both;
        height: 20%;
        width: 100%;
        background-color: #666999;
    }

    .footer {
        height: 10%;
        margin: 0 auto;
        width: 100%;
        clear: both;
        background-color: #eeeeee;
    }

    #sceneSpeedLimitDiv {
        width: 350px;
        height: 330px;
    }

    .line-dashed {
        background-color: transparent;
        border-style: dashed !important;
        border-width: 0;
    }

    .b-b {
        border-bottom: 1px solid #dee5e7;
    }

    .line-lg {
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .pull-in {
        margin-left: 0px;
        margin-right: -15px;
    }
    .form-horizontal .control-label{
        text-align: center;
    }
</style>
<div ng-controller="sceneSpeedLimitController" id="sceneSpeedLimitDiv">
    <div class="title" >
        <div class="col-sm-12"   style="display: inline; cursor: pointer; padding-top: 2px; padding-left: 1px;">
            <img  ng-src="" width="60px" height="60px" >
        </div>
    </div>
    <div class="middle">
        <div class="left"  >
                <div class="panel panel-default">
                    <div class="panel-body" style="padding-top: 0px; padding-bottom: 0px;">
                        <form class="form-horizontal" method="get">
                            <div class="form-group" style="height: 8%;margin-bottom: 3px;margin-top: 0px;">
                                <label class="col-sm-4 control-label" >状态:</label>

                                <div class="col-sm-8" style="padding-top: 2px">
                                    <span  class="label label-info" ></span>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"
                                 style="margin-top: 1px;margin-bottom: 1px"></div>
                            <div class="form-group" style="height: 8%;margin-top: 0px;">
                                <label class="col-sm-4 control-label">关联道路ID:</label>

                                <div class="col-sm-8" style="padding-top: 2px">
                                    <span class="label label-default" >{{speedLimitData.f.id}}</span>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"
                                 style="margin-top: 1px;margin-bottom: 1px"></div>
                            <div class="form-group" style="height: 8%;margin-bottom: 3px;margin-top: 0px;">
                                <label class="col-sm-4 control-label">限速方向:</label>

                                <div class="col-sm-8" style="padding-top: 5px">
                                    <span class="label label-default" >{{rdDir}}</span>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"
                                 style="margin-top: 1px;margin-bottom: 1px"></div>
                            <div class="form-group" style="height: 8%;margin-bottom: 3px;margin-top: 0px;">
                                <label class="col-sm-4 control-label">限速时速:</label>
                                <div class="col-sm-8" style="padding-top: 5px">
                                        <span class="label label-default" >{{speedLimitData.value}}</span>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"
                                 style="margin-top: 1px;margin-bottom: 1px"></div>
                            <div class="form-group" style="height: 8%;margin-bottom: 3px;margin-top: 0px;">
                                <label class="col-sm-4 control-label">限速标志:</label>
                                <div class="col-sm-8" style="padding-top: 2px">
                                    <span ng-if="speedLimitData.se==0" class="label label-default" >限速开始</span>
                                    <span ng-if="speedLimitData.se==1" class="label label-default" >解除限速</span>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"
                                 style="margin-top: 1px;margin-bottom: 1px"></div>
                            <div class="form-group" style="height: 8%;margin-bottom: 3px;margin-top: 0px;">
                                <label class="col-sm-4 control-label">采集标志:</label>
                                <div class="col-sm-8" style="padding-top: 2px">
                                    <span ng-if="speedLimitData.flag==0" class="label label-default" >现场采集</span>
                                    <span ng-if="speedLimitData.flag==1" class="label label-default" >理论判断</span>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"
                                 style="margin-top: 1px;margin-bottom: 1px"></div>
                            <div class="form-group" style="height: 8%;margin-top: 0px;">
                                <label class="col-sm-4 control-label">限速来源:</label>
                                <div class="col-sm-8" style="padding-top: 2px">
                                    <span class="label label-default" >{{limitSrc}}</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
        <div class="both">
            <div class="panel panel-default" >
                <div class="panel-body" style="padding-bottom: 0px; padding-top: 3px; ">
                    <form class="form-horizontal" method="get" style="text-align:left ;">
                        <div class="form-group" style="height: 60%;margin-bottom: 3px;margin-top: 0px;">
                            <label class="col-sm-3 control-label"> 备注：</label>

                            <div class="col-sm-8">

                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"
                             style="margin-top: 1px;margin-bottom: 1px"></div>
                        <div class="form-group" style="height:10%; width:100%; margin:auto; ">

                            <div class="col-sm-4" >
                                <button type="button" class="btn " style="background-color: #F6F6F6; border-color: #EBEBEB;margin-left: 3px; border-radius: 5px; " >增加
                                </button>
                            </div>
                            <div class="col-sm-4" >
                                <button type="button" class="btn " style="background-color: #F6F6F6; border-color: #EBEBEB;margin-left: 3px; border-radius: 5px;" >转换</button>
                            </div>
                            <div class="col-sm-4" >
                                <button type="button" class="btn " style="background-color: #F6F6F6; border-color: #EBEBEB;margin-left: 3px; border-radius: 5px;"  >关闭
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>