<style>
    #sceneLayerPanel ul{
        list-style-type: none;
    }

    #sceneLayerPanel ul>li{
        list-style-type: none;
        margin-top: 10px;;
    }

    #sceneLayerPanel ul>li{
        margin-left: 10px;
    }

    #sceneLayerPanel ul>li label {
        color: #FFF;
    }

    #sceneLayerPanel ul>li input{
        cursor: pointer;
    }

    #sceneLayerPanel ul>li>div>a{
        color:#FFF;
        cursor: pointer;;
    }

    #sceneLayerPanel ul>li:hover>div>a{
        color:rgba(255,255,255,0.5);
    }

    #sceneLayerPanel ul>li:hover>div>label{
        color:rgba(255,255,255,0.5);
    }
</style>
<div ng-controller="sceneLayersController" id="sceneLayerPanel">
    <div style="background-color: rgb(64,64,64);padding: 5px 10px;">
        <label style="font-size:18px;color:#FFF;">场景设置</label>
    </div>
    <ul style="padding-left: 10px">
        <li ng-repeat="item in items">
            <div ng-if="item.options.singleselect===true">
                <a style="float:right;margin-right: 10px" class="glyphicon" ng-class="{true:'glyphicon-ok-circle',false:'glyphicon-remove-circle'}[item.options.visible]" ng-click="showLayers(item,$event)"></a>
                <label style="font-weight: bold;">{{item.options.layername}}</label>
            </div>
            <div ng-if="item.options.singleselect!==true">
                <a style="float:right;margin-right: 10px" class="glyphicon" ng-class="{true:'glyphicon-check',false:'glyphicon-unchecked'}[item.options.visible]" ng-click="showLayers(item,$event)"></a>
                <label style="font-weight: bold;">{{item.options.layername}}</label>
            </div>
        </li>
    </ul>
</div>