<style>
    div {
        -webkit-font-smoothing: antialiased;
        line-height: 1.42857143;
        color: #58666e;
        margin-right: 0px;
    }

    label {
        font-weight: normal;
    }

    .topTitle{
        height: 30px;
        width: 100%;
        /*border: 1px solid #eeeeee;*/
        border-radius: 4px;
        color: #FFF;
        margin-bottom: 3px;
        font-size: 12px;
    }
    .title {
        height: 70px;
        width: 100%;
        /*border: 1px solid #eeeeee;*/
        border-radius: 4px;
    }

    .middle {
        float: left;
        margin: auto;
        height: 100%;
        width: 100%;
        margin-top: 5px;
    }

    .left {
        /*float: left;*/
        /*clear: right;*/
        /*height: 100%;*/
        width: 95%;
        /*overflow-y: auto;*/
        /*overflow-x: hidden;*/
        padding: 10px 0px 10px 10px ;

    }

    .right {

        float: left;
        clear: right;
        height: 70%;
        width: 30%;

    }

    .both {
        width: 91%;
        margin-top: 5px;
        margin-left: 10px;
    }

    .footer {
        height: 10%;
        margin: 0 auto;
        width: 100%;
        clear: both;

    }

    #sceneRoadTipsDiv {
        width: 350px;
        height: 330px;
    }

    .line-dashed {
        background-color: transparent;
        border-style: dashed !important;
        border-width: 0;
    }

    .b-b {
        border-bottom: 1px solid #dee5e7;
    }

    .line-lg {
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .pull-in {
        margin-left: 0px;
        margin-right: -15px;
    }

    .form-horizontal .control-label {
        text-align: center;
    }

    /*输入查询图片*/
    .pic-show-tips {
        /*position: absolute;*/
        /*border: 1px solid #ddd;*/
        z-index: 999;
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 7px;
        background-color: #fff;
        opacity: 0.9;
        /*box-shadow: 4px 4px 7px 0px #777;*/
        min-width: 100%;
    }

    .pic-show-well-normal-tips {
        min-width: 100%;
        min-height: 40px;
    }

    .pic-show-well-transit-tips {
        min-width: 100%;
        min-height: 40px;
    }

    .img-well-tips {
        float: left;
        padding: 3px;
        /*border: 1px solid #ddd;*/
        margin: 4px;
        cursor: pointer;
    }

    .show-img {
        width: 60px;
        height: 49px;
    }

    .show-img-normal-tips {
        /*width: 20px;*/
        /*height: 15px;*/
    }

    .show-img-transit-tips {
        /*width: 20px;*/
        /*height: 15px;*/
    }

    .img-describe-tips {
        background-color: #777;
        color: #fff;
        font-size: 11px;
        text-align: center;
    }

    #tipsBtnsDiv>div>button{
        width:75px;
        background-color: rgba(255,255,255,0.3);
    }

    #tipsBtnsDiv>div>button:hover{
        background-color: rgba(255,255,255,0.7);
    }

    #tipsBtnsDiv>div>button:hover>a {
        color:rgba(0,0,0,0.5);
    }
    #tipsBtnsDiv>div>button>a{
        color:#FFF;
        text-decoration: none;
        cursor: pointer;
    }

    #sceneHightSpeedDiv div.panel-default{
        border: none;
        border-radius: 4px;
    }
    #sceneHightSpeedDiv div.left{
        border: none;
        border-radius: 4px;
    }
    #sceneHightSpeedDiv img:not(:last-child){
        border-right: none;
    }
    #sceneHightSpeedDiv img{
        border:1px solid rgba(255,255,255,0.3);
    }

</style>
<div ng-controller="sceneHightSpeedDiverTeplCtrl" id="sceneHightSpeedDiv" style="width:100%;height: 100%;">
    <div class="topTitle">
        <label class="col-sm-12 control-label"  style="padding: 7px;">Tips--高速分歧</label>
    </div>
    <div class="title" >
        <div class="col-sm-12"   style="display: inline; cursor: pointer; padding-top: 2px; padding-left: 9px;">
            <img ng-repeat="phitem in photos track by $index  " ng-src="{{phitem}}" width="60px" height="60px" ng-click="openOrigin($index)">
        </div>
    </div>
    <div class="middle">
        <div class="left">
            <div class="panel panel-default" style="margin-bottom: 0px;background-color: #555;width: 100%;">
                <div class="panel-body" style="border-radius: 4px;background-color: #555;">
                    <form class="form-horizontal" method="get" style="padding: 0px 3px 0px 3px;">
                        <div class="form-group" style="height: 10%;margin-bottom: 3px;margin-top:3px;color:#fff;border-radius:4px;">
                            <label class="col-sm-5 control-label" style="padding: 4px">状 态:</label>

                            <div class="col-sm-7" style="padding: 3px">
                                <span  class="label label-info" ng-bind="showContent"></span>
                            </div>
                        </div>
                        <div class="form-group" style="height: 10%;margin-bottom: 3px;margin-top:3px;color:#fff;border-radius:4px;">
                            <label class="col-sm-5 control-label" style="padding: 4px">进 入:</label>

                            <div class="col-sm-7" style="padding: 3px">
                                <span class="label label-default" ng-bind="sceneEnty"></span>
                            </div>
                        </div>

                        <div class="form-group" style="height: 10%;margin-bottom: 3px;margin-top:3px;color:#fff;border-radius:4px;">
                            <label class="col-sm-5 control-label" style="padding: 4px">模式图:</label>

                            <div class="col-sm-7" style="padding: 3px">
                                <span class="label label-default" ng-bind="schemaNo"></span>
                            </div>
                        </div>
                        <div class="form-group" style="height: 10%;margin-bottom: 3px;margin-top:3px;color:#fff;border-radius:4px;">
                            <label class="col-sm-5 control-label" style="padding: 4px">名 称:</label>

                            <div class="col-sm-7" style="padding: 3px">
                                <span class="label label-default" ng-bind="scheName"></span>
                            </div>
                        </div>
                        <div class="form-group" style="height: 10%;margin-bottom: 3px;margin-top:3px;color:#fff;border-radius:4px;">
                            <label class="col-sm-5 control-label" style="padding: 4px">退 出:</label>

                            <div class="col-sm-7" style="padding: 3px" ng-repeat="item in sceneExit">
                                <span class="label label-default" ng-bind="item"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="both">
            <div class="panel panel-default" style="height: 100%;background-color: #555;border:0;width: 100%;">
                <div class="panel-body" style="padding-bottom: 0px;padding-top: 5px;background-color: transparent; ">
                    <form class="form-horizontal" method="get" style="text-align:left ;">
                        <div class="form-group" style="height: 60%;margin-bottom: 3px;margin-top:3px;color:#fff;border-radius:4px;">
                            <label class="col-sm-5 control-label" style="padding: 4px"> 备注：</label>

                            <div class="col-sm-7" ng-bind="remarksContent" style="padding: 4px">

                            </div>
                        </div>


                    </form>
                </div>
            </div>
            <div id="tipsBtnsDiv" class="form-group" style="height:10%; width:100%; margin-top: 10px;float:right;">
                <div class="col-sm-4" >

                </div>
                <div class="col-sm-4" >
                    <button type="button" class="btn btn-xs ">
                        <a href="#" data-toggle="tab" ng-click="upBridgeStatus($event)" style="font-size: 10px;"><i class="glyphicon glyphicon-saved"></i> 改 状 态</a>
                    </button>
                </div>
                <div class="col-sm-4" >
                    <button type="button" class="btn btn-xs " ng-click="closeBridge()" style="color:#fff;font-size: 10px;"><i class="glyphicon glyphicon-remove-circle"></i> 关 闭
                    </button>
                </div>
            </div>
        </div>


    <!--<div class="footer">-->
    <!--<form class="form-horizontal" method="get" style="margin-bottom: 0px;">-->

    <!--</form>-->
    <!--</div>-->
</div>