<div ng-controller="selectShapeController" class="btn-group btn-group-sm" style="width: 100%;">
    <button type="button" class="btn btn-default" disabled ng-click="selectShape('node')">node</button>
    <button type="button" class="btn btn-default" id="link" ng-click="selectShape('link')">link</button>
    <button type="button" class="btn btn-default" id="relation" ng-click="selectShape('relation')">关系</button>
    <button type="button" class="btn btn-default" id="tips" ng-click="selectShape('tips')">Tips</button>
</div>