<style>
    #node{
        background: url('css/button/dot.png') no-repeat;
        width: 32px;
        height: 32px;
    }
    #node:visited{
        background: url('css/button/dot_selected.png') no-repeat;
        width: 32px;
        height: 32px;
    }
    #node:active{
        background: url('css/button/dot_selected.png') no-repeat;
        width: 32px;
        height: 32px;
    }
    #link{
        background: url('css/button/line.png') no-repeat;
        width: 32px;
        height: 32px;
    }
    #link:visited{
        background: url('css/button/line_selected.png') no-repeat;
        width: 32px;
        height: 32px;
    }
    #relation{
        background: url('css/button/relation.png') no-repeat;
        width: 32px;
        height: 32px;
    }
    #relation:visited{
        background: url('css/button/relation_selected.png') no-repeat;
        width: 32px;
        height: 32px;
    }
    #tips{
        background: url('css/button/tips.png') no-repeat;
        width: 32px;
        height: 32px;
    }
    #tips:visited{
        background: url('css/button/tips_selected.png') no-repeat;
        width: 32px;
        height: 32px;
    }

</style>
<div ng-controller="selectShapeController" class="btn-group btn-group-sm" style="width: 100%;">
    <button type="button" class="btn btn-default"  id="node"disabled ng-click="selectShape('node')" title="node"></button>
    <button type="button" class="btn btn-default" id="link" ng-click="selectShape('link')" title="link"></button>
    <button type="button" class="btn btn-default" id="relation" ng-click="selectShape('relation')" title="关系"></button>
    <button type="button" class="btn btn-default" id="tips" ng-click="selectShape('tips')" title="tips"></button>
</div>