<style>
    div {
        -webkit-font-smoothing: antialiased;
        line-height: 1.42857143;
        /*color: #0f096e;*/
        color: #58666e;
        background-color: transparent;
        margin-right: 0px;
    }

    .list-group-item {
        position: relative;
        display: block;
        padding: 1px 15px;
        margin-bottom: -1px;
        background-color: #000;
        border: 1px solid #ddd;
    }

    #speedlimitTeplDiv {
        background-color: #000;
        opacity:1;
        width: 100%;
    }

    #speedlimitTeplDiv ul {
        background-color: #000;
        list-style: none;
        /*padding:5px;*/
        overflow: hidden;
    }

    #speedlimitTeplDiv ul > li {
        background-color: #000;
    }

    #speedlimitTeplDiv ul > li > div>input {
        color: #F3F6FA;
        background-color: #000;
        border:none;
    }

    #speedlimitTeplDiv ul > li >div> select {
        color: #F3F6FA;
        background-color: #000;
        margin-left: -3px;
        border: 1px none;
    }

    #speedlimitTeplDiv ul > li > div:first-child {
        display: inline-block;
        width: 80px;
    }

    #speedlimitTeplDiv ul > li > label {
        color: #F3F6FA;
        font-weight: normal;
    }

    #speedlimitTeplDiv ul > li > div > label {
        color: #F3F6FA;
        font-weight: normal;
    }

    .inline {
        display: inline-block !important;
        /*width: 70%;*/
        text-align: left;
    }

    .m-b-none {
        margin-bottom: 0 !important;
    }

    .form-horizontal .control-label {
        text-align: center;
    }

    .radio {
        margin-bottom: 0px;
        margin-top: 0px;
    }
</style>
<div id="speedlimitTeplDiv" ng-controller="speedlimitTeplController" style="overflow-y: auto">
    <ul class="list-group list-group-lg m-b-none">
        <li class="list-group-item">
            <div><label class="control-label">限速PID</label>
            </div>
            <div class="inline">
                <input type="text" readonly ng-model="speedLimitData.pid"/>
            </div>

        </li>
        <li class="list-group-item">
            <div><label>限速值</label></div>
            <div class="inline">
                <input type="text" ng-model="speedLimitData.speedValue"/>
            </div>
        </li>
        <li class="list-group-item">
            <div><label>限速类型</label></div>
            <div class="inline">
                <select ng-model="speedLimitData.speedType"
                        ng-options="value.id as value.label for value in speedTypeOptions">
                </select>
            </div>

        </li>
        <li class="list-group-item">
            <div>
                <label>限速标志</label>
            </div>

            <div class="radio inline" style="text-align: left">
                <label>
                    <input type="radio" name="speedStartOrEnd" value=0 ng-model="speedLimitData.speedFlag">
                    限速开始
                </label>
                <label>
                    <input type="radio" name="speedStartOrEnd" value=1 ng-model="speedLimitData.speedFlag">
                    解除限速
                </label>
            </div>
        </li>
        <li class="list-group-item">
            <div><label>作用方向</label></div>
            <div class="inline">
                <select ng-model="speedLimitData.direct"
                        ng-options="value.id as value.label for value in speedDirectTypeOptions">
                </select>
            </div>

        </li>
        <li class="list-group-item">
            <div>
                <label>限速条件</label>
            </div>
            <div class="inline">
                <select ng-model="speedLimitData.speedDependent"
                        ng-options="value.id as value.label for value in speedDependentOption">
                    <option>--</option>
                </select>
            </div>

        </li>
        <li class="list-group-item">
            <div>
                <label>限速来源</label>
            </div>
            <div class="inline">
                <select ng-model="speedLimitData.limitSrc"
                        ng-options="value.id as value.label for value in limitSrcOption">
                    <option>--</option>
                </select>
            </div>

        </li>
        <li class="list-group-item">
            <div>
                <label>采集标志</label>
            </div>

            <div class="radio  inline" style="text-align: left">
                <label>
                    <input type="radio" name="secneOrTheory" value=0 ng-model="speedLimitData.captureFlag">
                    现场采集
                </label>
                <label>
                    <input type="radio" name="secneOrTheory" value=1 ng-model="speedLimitData.captureFlag">
                    理论判断
                </label>
            </div>
        </li>
        <!--<li class="list-group-item">-->
            <!--<div ng-include="dateURL"></div>-->
        <!--</li>-->
        <li class="list-group-item">
            <div><label>收费站前</label></div>
            <div class="radio  inline" style="text-align: left">
                <label>
                    <input type="radio" name="beforeOrAfter" value=0 ng-model="speedLimitData.tollgateFlag">
                    是
                </label>
                <label>
                    <input type="radio" name="beforeOrAfter" value=1 ng-model="speedLimitData.tollgateFlag">
                    否
                </label>
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <label>标牌坐标</label>
            </div>
            <div class="inline ">
                <input type="text" ng-model="speedLimitGeometryData.coordinates">
            </div>

        </li>
        <li class="list-group-item">
            <div><label>关联Link</label></div>
            <div class="inline ">
                <input type="text" ng-model="speedLimitData.linkPid">
            </div>


        </li>

    </ul>

</div>