<style>
    div {
        -webkit-font-smoothing: antialiased;
        line-height: 1.42857143;
        color: #58666e;
        background-color: transparent;
        margin-right: 0px;
    }

    label {
        font-weight: normal;
    }

    #traffiLimitedDiv {
        border: 1px solid #FBFBFB;
        width: 100%;
        height: 530px;
        min-height: 300px;
        overflow-y: scroll;
    }

    .line-dashed {
        background-color: transparent;
        border-style: dashed !important;
        border-width: 0;
    }

    .b-b {
        border-bottom: 1px solid #dee5e7;
    }

    .line-lg {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .pull-in {
        margin-left: -15px;
        margin-right: -15px;
    }

    .col-centered {
        float: none;
        margin: 0 auto;
    }
    .form-horizontal .control-label{
        text-align: center;
    }
</style>
<div  ng-controller="normalController" class="panel panel-default" id="traffiLimitedDiv">
    <div class="panel-heading font-bold" style=" text-align: center;height: 7%">
        普通交限
        <span class="label label-info">{{rdRestrictData.pid}}</span>
    </div>
    <div class="panel-body" style="height: 95%;">
        <form class="form-horizontal" method="get">

            <div class="form-group">
                <label class="col-sm-3 control-label">进入</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control rounded" placeholder="link编号" ng-model="rdRestrictData.inLinkPid">
                </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <div class="col-sm-3" ng-repeat="item in rdRestrictData.details">
                    <div ng-if="item.flag===1">
                        <img ng-src="./css/limit/{{item.restricInfo}}.png" ng-click="showTips(item)" ng-dblclick="test(item)">
                    </div>
                    <div ng-if="item.flag===2||item.flag===0">
                        <img ng-src="./css/limit/{{item.restricInfo}}{{item.restricInfo}}.png" ng-click="showTips(item)" ng-dblclick="test(item)">
                    </div>

                </div>
                    <span style="float:right;font-size: 20px" class="glyphicon glyphicon-plus" data-toggle="modal"
                          data-target="#myModal"></span>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">退出</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control rounded" placeholder="link编号" ng-model="rdSubRestrictData.outLinkPid">
                </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">交限标志</label>
                <div class="col-sm-9">
                    <div id="rdSubRestrictflagdiv" class="btn-group" style="border-radius: 10px;border: 1px solid #2aabd2;">
                        <button class="btn btn-default" style="border-radius: 15px; width: 60px;height: 20px; font-size: 10px; padding: 0px;border: 0px;outline: none;" id="rdSubRestrictflagbtn0" ng-click="checkrdSubRestrictflag(0,rdSubRestrictData)" ng-model="rdSubRestrictData.flag">未验证</button>
                        <button class="btn btn-default" style="border-radius: 15px;width: 60px;height: 20px;font-size: 10px;padding: 0px;border: 0px;outline: none;" id="rdSubRestrictflagbtn1" ng-click="checkrdSubRestrictflag(1,rdSubRestrictData)" ng-model="rdSubRestrictData.flag">实际</button>
                        <button class="btn btn-default" style="border-radius: 15px;width: 60px;height: 20px;font-size: 10px;padding: 0px;border: 0px;outline: none;" id="rdSubRestrictflagbtn2" ng-click="checkrdSubRestrictflag(2,rdSubRestrictData)" ng-model="rdSubRestrictData.flag">理论</button>
                    </div>
                    <!--<div class="radio">-->
                        <!--<label>-->
                            <!--<input type="radio" name="theoryOrActual" value=0 ng-model="rdSubRestrictData.flag">-->
                            <!--未验证-->
                        <!--</label>-->
                        <!--<label>-->
                            <!--<input type="radio" name="theoryOrActual" value=1 ng-model="rdSubRestrictData.flag">-->
                            <!--实际-->
                        <!--</label> <label>-->
                        <!--<input type="radio" name="theoryOrActual" value=2 ng-model="rdSubRestrictData.flag">-->
                        <!--理论-->
                    <!--</label>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">关系类型</label>
                <div class="col-sm-9">

                    <div id="rdrelationshipTypediv" class="btn-group" style="border-radius: 10px;border: 1px solid #2aabd2;">
                        <button class="btn btn-default" style="border-radius: 15px; width: 60px;height: 20px; font-size: 10px; padding: 0px;border: 0px;outline: none;" id="rdrelationshipTypebtn1" ng-click="checkrdrelationshipType(1,rdSubRestrictData)" ng-model="rdSubRestrictData.relationshipType">路口</button>
                        <button class="btn btn-default" style="border-radius: 15px;width: 60px;height: 20px;font-size: 10px;padding: 0px;border: 0px;outline: none;" id="rdrelationshipTypebtn2" ng-click="checkrdrelationshipType(2,rdSubRestrictData)" ng-model="rdSubRestrictData.relationshipType">线线</button>
                    </div>
                    <!--<div class="radio">-->
                        <!--<label>-->
                            <!--<input type="radio" name="crossingOrLine" value=1 ng-model="rdSubRestrictData.relationshipType">-->
                            <!--路口-->
                        <!--</label>-->
                        <!--<label>-->
                            <!--<input type="radio" name="crossingOrLine" value=2 ng-model="rdSubRestrictData.relationshipType">-->
                            <!--线线-->
                        <!--</label>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">限制类型</label>

                <div class="col-sm-9">
                    <div id="rdtypediv" class="btn-group" style="border-radius: 10px;border: 1px solid #2aabd2;">
                        <button class="btn btn-default" style="border-radius: 15px; width: 60px;height: 20px; font-size: 10px; padding: 0px;border: 0px;outline: none;" id="rdtypebtn0" ng-click="checkrdtype(0,rdSubRestrictData)" ng-model="rdSubRestrictData.type">未调查</button>
                        <button class="btn btn-default" style="border-radius: 15px;width: 60px;height: 20px;font-size: 10px;padding: 0px;border: 0px;outline: none;" id="rdtypebtn1" ng-click="checkrdtype(1,rdSubRestrictData)" ng-model="rdSubRestrictData.type">禁止驶入</button>
                        <button class="btn btn-default" style="border-radius: 15px;width: 60px;height: 20px;font-size: 10px;padding: 0px;border: 0px;outline: none;" id="rdtypebtn2" ng-click="checkrdtype(2,rdSubRestrictData)" ng-model="rdSubRestrictData.type">时间段禁止</button>
                    </div>
                    <!--<div class="radio">-->
                        <!--<label>-->
                            <!--<input type="radio" name="researchOrLimited" value=0-->
                                   <!--ng-model="rdSubRestrictData.type">-->
                            <!--未调查-->
                        <!--</label>-->
                        <!--<label>-->
                            <!--<input type="radio" name="researchOrLimited" value=1 ng-model="rdSubRestrictData.type">-->
                            <!--禁止驶入-->
                        <!--</label><label>-->
                        <!--<input type="radio" name="researchOrLimited" value=2 ng-model="rdSubRestrictData.type">-->
                        <!--时间段禁止-->
                    <!--</label>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="form-group">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold">
                        时间段
                        <span class="glyphicon glyphicon-plus-sign"
                              style="float: right;color: rgb(192,192,192);font-size: 20px"
                              ng-click="addTime()"></span>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" method="get">
                            <div ng-repeat="item in rdSubRestrictData.time">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">限时</label>

                                    <div class="input-group m-b col-sm-10">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <input class="form-control" type="text" ng-model="item.startTime">
                                            </div>
                                            <div class="col-sm-5">
                                                <input class="form-control" type="text" ng-model="item.endTime">
                                            </div>
                                            <div class="col-sm-2">
                                                      <span
                                                              class="glyphicon glyphicon-minus-sign"
                                                              style="color: rgb(192,192,192);font-size: 20px"
                                                              ng-click="minusTime($index)"></span>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg pull-in"></div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">车辆类型</label>

                                <div class="col-sm-8">

                                    <select class="form-control" ng-model="rdSubRestrictData.vehicleExpression"
                                            ng-options="value.id as value.label for value in vehicleOptions" >


                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        增加交限
                    </h4>
                </div>
                <div class="modal-body"  style="height:70px">
                    <div class="col-sm-1" ng-repeat="addItem in addLimitedData" >
                        <img ng-src="./css/limitM/{{addItem.id}}.png" ng-click="selectTip(addItem)">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="addTips()">
                        增加
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
</div>