<meta charset="UTF-8">
<link rel="stylesheet" href="../lib/bootstrap-3.3.5/css/bootstrap.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css" type="text/css">
<script src="../lib/jquery/2.1.1/jquery-2.1.1.js"></script>
<script src="../lib/bootstrap-3.3.5/js/bootstrap.js"></script>
<script src="../lib/angularjs/1.4.4/angular.js"></script>
<script src="data.js"></script>
<style>
    div {
        font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        -webkit-font-smoothing: antialiased;
        line-height: 1.42857143;
        color: #58666e;
        background-color: transparent;
        margin-right: 0px;
    }

    label {
        font-weight: normal;
    }

    #traffiLimitedDiv {
        border: 1px solid #FBFBFB;
        width: 30%;
        height: 100%;
    }

    .line-dashed {
        background-color: transparent;
        border-style: dashed !important;
        border-width: 0;
    }

    .b-b {
        border-bottom: 1px solid #dee5e7;
    }

    .line-lg {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .pull-in {
        margin-left: -15px;
        margin-right: -15px;
    }

    .col-centered {
        float: none;
        margin: 0 auto;
    }
</style>
<div ng-app="normalApp" ng-controller="normalController" class="panel panel-default" id="traffiLimitedDiv">
    <div class="panel-heading font-bold" style=" text-align: center;">
        普通交限
        <span>({{data.pid}})</span>


    </div>
    <div class="panel-body">
        <form class="form-horizontal" method="get">

            <div class="form-group">
                <label class="col-sm-2 control-label">入</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control rounded" placeholder="link编号" ng-model="data.exitNode">
                </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <div class="col-sm-2" ng-repeat="item in data.info">
                    <img src="../../css/limit/{{item.flag}}.png" ng-click="showTips('item.flag')">
                </div>
                    <span style="float:right;font-size: 20px" class="glyphicon glyphicon-plus" data-toggle="modal"
                          data-target="#myModal"></span>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">出</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control rounded" placeholder="link编号" ng-model="data.exitNode">
                </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="radio">
                        <label>
                            <input type="radio" name="theoryOrActual" value="0" ng-model="data.theory">
                            理论
                        </label>
                        <label>
                            <input type="radio" name="theoryOrActual" value="1" ng-model="data.theory">
                            实际
                        </label> <label>
                        <input type="radio" name="theoryOrActual" value="2" ng-model="data.theory">
                        未验证
                    </label>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="radio">
                        <label>
                            <input type="radio" name="crossingOrLine" value="0" ng-model="data.crossing">
                            路口
                        </label>
                        <label>
                            <input type="radio" name="crossingOrLine" value="1" ng-model="data.crossing">
                            线线
                        </label>
                    </div>
                </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">限制类型</label>

                <div class="col-sm-9">
                    <div class="radio">
                        <label>
                            <input type="radio" name="researchOrLimited" value="0"
                                   ng-model="data.researched">
                            未调查
                        </label>
                        <label>
                            <input type="radio" name="researchOrLimited" value="1" ng-model="data.researched">
                            禁止驶入
                        </label><label>
                        <input type="radio" name="researchOrLimited" value="2"
                               ng-model="data.researched">
                        时间段禁止
                    </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold">
                        时间段
                        <span style="float: right;">添加</span>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" method="get">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">限时</label>

                                <div class="input-group m-b col-sm-10">
                                    <input type="text" class="form-control" ng-model="data.time1">
                                    <span class="input-group-btn">
                                   <button class="btn btn-default" type="button"> <span
                                           class="glyphicon glyphicon-minus-sign"
                                           style="color: rgb(255, 0, 0);font-size: 20px"></span></button>
                                        </span>

                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">限时</label>

                                <div class="input-group m-b col-sm-10">
                                    <input type="text" class="form-control" ng-model="data.time2">
                                    <span class="input-group-btn">
                                   <button class="btn btn-default" type="button"> <span
                                           class="glyphicon glyphicon-minus-sign"
                                           style="color: rgb(255, 0, 0);font-size: 20px"></span></button>
                                        </span>

                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">车辆类型</label>

                                <div class="col-sm-10">
                                    <select class="form-control" ng-model="data.selected">
                                        <option value="0">客车(小汽车)</option>
                                        <option value="1">配送卡车</option>
                                        <option value="2">运输卡车</option>
                                        <option value="3">步行车</option>
                                        <option value="4">自行车</option>
                                        <option value="5">摩托车</option>
                                        <option value="6">机动脚踏两用车</option>
                                        <option value="7">急救车</option>
                                        <option value="8">出租车</option>
                                        <option value="9">公交车</option>
                                        <option value="10">工程车</option>
                                        <option value="11">本地车辆</option>
                                        <option value="12">自用车辆</option>
                                        <option value="13">多人乘坐车辆</option>
                                        <option value="14">军车</option>
                                        <option value="15">有拖车的车</option>
                                        <option value="16">私营公共汽车</option>
                                        <option value="17">农用车</option>
                                        <option value="18">载有易爆品的车辆</option>
                                        <option value="19">载有水污染品的车辆</option>
                                        <option value="20">载有其他污染品的车辆</option>
                                        <option value="21">电车</option>
                                        <option value="22">轻轨</option>
                                        <option value="23">校车</option>
                                        <option value="24">四轮驱动车</option>
                                        <option value="25">装有防雪链的车</option>
                                        <option value="26">邮政车</option>
                                        <option value="27">槽罐车</option>
                                        <option value="28">残疾人车</option>
                                        <option value="29">预留</option>
                                        <option value="30">预留</option>
                                        <option value="31">标志位,禁止/允许(0/1)</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        增加交限
                    </h4>
                </div>
                <div class="modal-body">
                    <div><img src="../../css/limit/5.png" ng-click="selectTip('5')"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary"  ng-click="addTips()">
                        增加
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
</div>

<script>
    var normalApp = angular.module("normalApp", []);
    normalApp.controller("normalController", function ($scope) {
        $scope.data = test;
        $scope.showTips = function (id) {
            alert(id);
        };
        $scope.selectTip = function (id) {
            $scope.tipsId = id;
        };
        $scope.addTips = function () {
            if($scope.tipsId===null||$scope.tipsId===undefined) {
                alert("请先选择tips");
                return;
            }
            var tipsObj = $scope.data.info;
            for (var i = 0, len = tipsObj.length; i < len; i++) {
                if (tipsObj[i].flag === $scope.tipsId) {
                    alert("重复");
                    return;
                }
            }
            $scope.data.info.push({flag: $scope.tipsId});

        }
    });

</script>