<div class="fm-component" ng-controller="trafficSignalCtl">
    <div class="title">
        信号灯PID
        <span class="label label-info"></span>
    </div>
    <div class="content scroll-styled dark" style="height:90%;">
        <form name="rdGscForm">
            <div class="fm-panel">
                <div class="content">
                    <ul class="fm-ul fm-ul-form">
                        <li>
                            <label class="control-label">关联线</label>
                            <div>
                                <input type="text" ng-model="item.linkPid"/>
                            </div>
                        </li>
                        <li>
                            <label class="control-label">关联点</label>
                            <div>
                                <input type="text" ng-model="item.linkPid"/>
                            </div>
                        </li>
                        <li>
                            <label class="control-label">灯类型</label>
                            <div>
                                <select ng-model="reGscData.type"
                                        ng-options="value.id as value.label for value in lampType">
                                </select>
                            </div>
                        </li>
                        <li>
                            <label class="control-label">控制标志</label>
                            <div>
                                <label>
                                    <input type="radio" value=0 ng-model="item.startEnd">
                                    不受控
                                </label>
                                <label>
                                    <input type="radio" value=1 ng-model="item.startEnd">
                                    受控
                                </label>
                                <label>
                                    <input type="radio" value=2 ng-model="item.startEnd">
                                    无
                                </label>
                            </div>
                        </li>
                        <li>
                            <label class="control-label">KG 标志</label>
                            <div>
                                <label>
                                    <input type="radio" value=0 ng-model="item.startEnd">
                                    KG 公用
                                </label>
                                <label>
                                    <input type="radio" value=1 ng-model="item.startEnd">
                                    K 专用
                                </label>
                                <label>
                                    <input type="radio" value=2 ng-model="item.startEnd">
                                    G 专用
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>
