
<div ng-app="truckApp" ng-controller="truckController" class="panel panel-default" id="truckLimitDiv">
    <div class="panel-heading font-bold" style=" text-align: center;">
        卡车交限
        <span>({{data.pid}})</span>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" method="get">
            <div class="form-group">
                <label class="col-sm-2 control-label">入</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control rounded" placeholder="link编号" ng-model="data.inLinkPid">
                </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <div class="col-sm-2" ng-repeat="item in data.info">
                    <img src="../../css/limit/{{item.flag}}.png" ng-click="showTips('item.flag')">
                </div>
                    <span style="float:right;font-size: 20px" class="glyphicon glyphicon-plus" data-toggle="modal"
                          data-target="#myModal"></span>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">出</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control rounded" placeholder="link编号" ng-model="data.outLinkPid">
                </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="radio">
                        <label>
                            <input type="radio" name="crossingOrLine" value="1" ng-model="data.relationShip">
                            路口
                        </label>
                        <label>
                            <input type="radio" name="crossingOrLine" value="2" ng-model="data.relationShip">
                            线线
                        </label>
                    </div>
                </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">限制类型</label>

                <div class="col-sm-9">
                    <div class="radio">
                        <label>
                            <input type="radio" name="researchOrLimited" value="0"
                                   ng-model="data.type">
                            未调查
                        </label>
                        <label>
                            <input type="radio" name="researchOrLimited" value="1"
                                   ng-model="data.type">
                            禁止驶入
                        </label><label>
                        <input type="radio" name="researchOrLimited" value="2"
                               ng-model="data.type">
                        时间段禁止
                    </label>
                    </div>
                </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="radio">
                        <label>
                            <input type="radio" name="resOrOut" value="0" ng-model="data.resOut">
                            限本埠
                        </label>
                        <label>
                            <input type="radio" name="resOrOut" value="1" ng-model="data.resOut">
                            限外埠
                        </label>
                        <label>
                            <input type="radio" name="resOrOut" value="2" ng-model="data.resOut">
                            不应用
                        </label>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading font-bold">
                    卡车限制
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" method="get">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">拖挂车</label>

                            <div class="col-sm-9">
                                <label class="i-switch i-switch-md bg-info m-t-xs m-r">
                                    <input type="checkbox" ng-model="data.resTrailer"
                                           ng-click="checkTrailer(data.resTrailer)">
                                    <i></i>
                                </label>
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">限重</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control rounded" placeholder="0"
                                       ng-model="data.resWeigh">
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">轴重</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control rounded" placeholder="0"
                                       ng-model="data.resAxleLoad">
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">轴数</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control rounded" placeholder="0"
                                       ng-model="data.resAxleCount">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading font-bold">
                    时间段
                  <span class="glyphicon glyphicon-plus"
                        style="float: right;color: darkgray;font-size: 20px"
                        ng-click="addTruckTime()"></span>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" method="get">
                        <div ng-repeat="item in data.time">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">限时</label>

                                <div class="input-group m-b col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <input class="form-control" type="text" ng-model="item.startTime">
                                        </div>
                                        <div class="col-sm-5">
                                            <input class="form-control" type="text" ng-model="item.endTime">
                                        </div>
                                        <div class="col-sm-2">
                                                      <span
                                                              class="glyphicon glyphicon-remove-sign"
                                                              style="color:darkgray;font-size: 20px"
                                                              ng-click="minusTruckTime($index)"></span>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                        </div>
                    </form>
                </div>
            </div>
        </form>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        增加交限
                    </h4>
                </div>
                <div class="modal-body">
                    <div><img src="../../../css/limit/5.png" ng-click="selectTip('5')"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="addTips()">
                        增加
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
</div>