<div ng-controller="ChinaAddressCtl">
	<script type="text/ng-template" id="headerCheckboxId">
		<input type="checkbox" ng-model="tableParams.data.checkedAll" ng-click="_test();" class="select-all" />选择
	</script>
	<div>
		<div class="fm-tabs" style="padding:0px;margin: 0px;">
			<a href="#" class="tab col-sm-1" ng-class="{1:'active'}[workedFlag]" ng-click="chageTabs(1)">待作业</a>
			<a href="#" class="tab col-sm-1" ng-class="{2:'active'}[workedFlag]" ng-click="chageTabs(2)">待提交</a>
		</div>
		<div class="content">
			<div style="clear: both;">
				<div style="padding: 2px;" class="pull-left">
					<button type="button" class="btn btn-shape btn-ls" ng-click="openSubModal('search')">查询</button>
					<button type="button" class="btn btn-shape btn-ls" ng-click="openSubModal('add')">选择</button>
					<button type="button" class="btn btn-shape btn-ls" ng-click="openSubModal('split')">在线检查</button>
					<button type="button" class="btn btn-shape btn-ls" ng-click="openSubModal('check')">批量作业</button>
					<button type="button" class="btn btn-shape btn-ls" ng-click="openSubModal('check')">提交数据</button>
				</div>
				<div class="pull-right">
					<input class="fm-search-control" type="text" ng-model="filters[searchType]" placeholder="搜索"/>
					<div class="btn-group dropdown" uib-dropdown on-toggle="toggled(open)" auto-close="outsideClick">
						<button type="button" class="btn dropdown-toggle btn-xs fm-xs-btn" uib-dropdown-toggle aria-haspopup="true" aria-expanded="true">
							<i class="glyphicon glyphicon-th icon-th"></i> <span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right fm-dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
							<li ng-repeat="col in cols">
								<label class="checkbox-inline">
									<input type="checkbox" ng-model-options="{getterSetter: true}" ng-model="col.show"/> {{col.title}}
								</label>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="fm-table-content fm-fitsize dark scroll-styled" style="top:64px;color: white;">
				<table ng-table-dynamic="tableParams with cols" class="table table-condensed table-bordered">
					<colgroup>
						<col ng-repeat="col in cols | filter:{show: true}"  width="{{col.width || '400'}}"/>
					</colgroup>
					<tr ng-repeat="row in $data" ng-class="{true:'tr-backcolor',flase:''}[row.checked]">
						<td ng-repeat="col in $columns" ng-dblclick="selectData(row,$index)" ng-switch="col.field">
							<input ng-switch-when="selector" type="checkbox" ng-model="row.checked" />
							<!--<span ng-if="col.getValue" fm-bind-compiled-html="col.getValue(this, row)"></span>-->
							<span ng-bind-html="col.getValue?col.getValue(this,row):row[col.field]"></span>
						</td>
					</tr>
					<tr class="text-center" ng-show="!$data.length"><td colspan="{{(cols | filter: {show: true}).length}}" ng-bind="loadTableDataMsg"></td></tr>
				</table>
			</div>
		</div>
	</div>
	<!-- 编辑界面 -->
	<div ng-class="{true:'testView',false:'testViewHiden'}[editPanelIsOpen]">
		<div class="fm-panel">
			<div class="title">
				<span>地址作业</span>
				<button type="button" class="close" ng-click="closeEditPanel()" style="color: white;opacity: 1;margin: -4px 0px;"><span>&times;</span></button>
			</div>
			<div style="">
				<div class="fm-fitsize dark scroll-styled tablePosition" style="top:30px;color: white;">
					<table ng-table-dynamic="editorTable with editor.editorCols" class="table table-condensed table-bordered">
						<colgroup>
							<col ng-repeat="col in editor.editorCols | filter:{show: true}"  width="{{col.width || '50'}}"/>
						</colgroup>
						<tr ng-repeat="row in $data">
							<td ng-repeat="col in $columns">
								<span ng-bind-html="col.getValue?col.getValue(this,row):row[col.field]"></span>
							</td>
						</tr>
						<tr class="text-center" ng-show="!$data.length"><td colspan="{{(editor.editorCols | filter: {show: true}).length}}" ng-bind="loadTableDataMsg"></td></tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>