<div ng-controller="ChinaAddressCtl">
	<script type="text/ng-template" id="headerCheckboxId">
		<input type="checkbox" ng-model="tableParams.data.checkedAll" ng-click="_test();" class="select-all" />
	</script>
	<div style="padding: 2px;">
		<button type="button" class="btn  btn-shape" ng-click="openSubModal('search')">查询</button>
		<button type="button" class="btn  btn-shape" ng-click="openSubModal('add')">选择</button>
		<button type="button" class="btn  btn-shape" ng-click="openSubModal('split')">在线检查</button>
		<button type="button" class="btn  btn-shape" ng-click="openSubModal('check')">批量作业</button>
		<button type="button" class="btn  btn-shape" ng-click="openSubModal('check')">提交数据</button>
	</div>
	<div class="fm-tabs" style="padding:0px;margin: 0px;">
		<a href="#" class="tab col-sm-1" ng-class="{1:'active'}[workedFlag]" ng-click="chageTabs(1)">待作业</a>
		<a href="#" class="tab col-sm-1" ng-class="{2:'active'}[workedFlag]" ng-click="chageTabs(2)">待提交</a>
	</div>
	<div class="content" class="fm-table-content fm-fitsize scroll-styled" style="top:0px;bottom: 70px;color: white;">
		<div class="table-header">
			<div class="pull-right">
				<div class="btn-group dropdown" uib-dropdown on-toggle="toggled(open)" auto-close="outsideClick">
					<button type="button" class="btn dropdown-toggle btn-xs fm-xs-btn" uib-dropdown-toggle aria-haspopup="true" aria-expanded="true">
						<i class="glyphicon glyphicon-th icon-th"></i> <span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right fm-dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
						<li ng-repeat="col in cols">
							<label class="checkbox-inline">
								<input type="checkbox" ng-model-options="{getterSetter: true}" ng-model="col.show"/> {{col.title}}
							</label>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<table ng-table-dynamic="tableParams with cols" class="table table-condensed table-bordered">
			<colgroup>
				<col ng-repeat="col in cols | filter:{show: true}" width="{{col.width || '100'}}"/>
			</colgroup>
			<tr ng-repeat="row in $data" ng-class="{true:'tr-backcolor',flase:''}[row.checked]">
				<td ng-repeat="col in $columns" ng-switch="col.field">
					<input ng-switch-when="selector" type="checkbox" ng-model="row.checked" />
					<span ng-if="col.getValue" fm-bind-compiled-html="col.getValue(this, row)"></span>
					<span ng-if="!col.getValue" ng-bind-html="row[col.field]"></span>
				</td>
			</tr>
			<tr class="text-center" ng-show="!$data.length"><td colspan="{{(cols | filter: {show: true}).length}}" ng-bind="loadTableDataMsg"></td></tr>
		</table>
	</div>
</div>